[2015-12-22 15:24] LeandroBraier commented on #231
Lo recibiste Fede??

Te lo mandé por mail recién y te lo sumo acá.

[Plugins-Addon.zip](https://github.com/LeandroBraier/Klaukol/files/69819/Plugins-Addon.zip)

[2015-12-22 15:51] FAAREIA commented on #204
Ahi le estuve dando al diseño definitivo:
http://faareia.com/areas/index.html

Faltan un par de cosas y le digo a marce que meta mano.

[2015-12-22 19:07] LeandroBraier commented on #204
Gracias Fede! Espero versión final y te doy feedback.

Vamos bien, pero tendría que verlo final para pensar como queda dentro del diseño de la página entera. Me da la sensación de que no va a tener marco de contención, no? Van a quedar los botones sueltos sobre un enorme fondo blanco.

[2015-12-22 19:23] FAAREIA commented on #231
Todavía faltan, era 1 behavior lo adicional del zip adjunto.

[2015-12-22 19:32] LeandroBraier commented on #231
Yo creo que son 3. FIjate:

<img width="942" alt="captura de pantalla 2015-12-22 a las 4 49 04 p m" src="https://cloud.githubusercontent.com/assets/6719872/11964024/87b5c8dc-a8c9-11e5-856e-d8805262b973.png">

[2015-12-22 20:01] FAAREIA commented on #231
Si son 3, antes eran 2 Todavía faltan 4, la verdad que el tipo no explica demasiado.

[2015-12-22 20:03] LeandroBraier commented on #231
SI, es medio despiolado. Le podrías volver a pedir al tipo por la misma
plataforma? Yo le daría el detalle de exactamente lo que falta, así lo
resuelve más rápido.

Y pasale tu mail también o el mio, como prefieras, así no dependemos de
pedirle a Eze que reciba su mail.

abrazo

2015-12-22 17:01 GMT-03:00 Federico Arena notifications@github.com:

[2015-12-22 20:04] FAAREIA commented on #231
Ya le puse el detalle antes, ahora le mandé más detalle (autores del behavior). El tema de poner el mail ahi es el spam que podría llegar a llegarnos. Es un sitio muy visitado.

[2015-12-22 20:12] LeandroBraier commented on #231
Entiendo. Ok, esperemos entonces. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2015-12-22 17:04 GMT-03:00 Federico Arena notifications@github.com:

[2015-12-24 13:06] LeandroBraier commented on #219
Buen día @braulio-evangelisti !! Necesito que me armes la versión de diciembre de este mailing que dice que faltan 3 días. Lo necesito para el lunes 28 bien temprano a la mañana.

@mkreyness esto deberíamos enviarlo así:

1) A todos los que ya tienen tickets en el sorteo del mes, con el subject "Aprovechá! Te quedan 3 días para seguir sumando puntos para el Gran Premio del Año en la Comunidad de V

[2015-12-24 19:33] braulio-evangelisti commented on #219
Sería igual pero en vez de noviembre sobre el premio va diciembre? o también cambia el premio?

[2015-12-27 15:31] LeandroBraier commented on #219
El premio sería el de diciembre, Brau, el que ya maquetaste acá:

http://parexklaukol.com.ar/_mailing/vendedores-premio-fin-anio/premio-fin-anio.html

Llegás a armarlos mañana a la mañana así lo empezamos a enviar?

Aparte: Yo estoy en Venado si podés en la semana nos juntamos a tomar un café.

[2015-12-27 18:57] braulio-evangelisti commented on #219
Ese lo maqueto Fede, ahi le pedi que me mande el psd con el premio asi mañana temprano armo la de Diciembre.

Dale arreglemos, yo al final viajo el miercoles a Venado, te mando un mensaje y me decis si podes por esos dias.

[2015-12-28 12:30] FAAREIA commented on #219
http://parexklaukol.com.ar/_mailing/vendedores-premio-anio-nuevo/vendedores-premio-anio-nuevo.html

Fijate si esta bien Lea!

Abrazo

[2015-12-28 12:36] LeandroBraier commented on #219
Está perfecto Brau! Gracias!

Solo cambiale lo siguiente:

Donde dice:

"Hemos recibido tus datos personales y con ellos pudimos crear un acceso especial.
Hacé click acá para logearte automaticamente."

Debe decir simplemente:

"Hacé click acá para logearte automaticamente."

@mkreyness podremos empezar a enviar esto hoy apenas Brau corrija este detalle?

http://parexklaukol.com.ar/_mailing/vended

[2015-12-28 12:40] mkreyness commented on #219
ok, voy preparando esas 3 variantes y cuando Braulio avise te mando prueba de c/u antes de largarlo.
Otra cosa: los mando en ese orden (1,2,3) ? Porque simultaneo obviamente no puedo.

[2015-12-28 12:45] LeandroBraier commented on #219
Claro, por supuesto.. Si en ese orden perfecto. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2015-12-28 9:40 GMT-03:00 mkreyness notifications@github.com:

[2015-12-28 13:50] FAAREIA commented on #219
Hecho

[2015-12-28 13:54] mkreyness commented on #219
Te mando las 3 pruebas, @LeandroBraier .

[2015-12-28 13:54] LeandroBraier commented on #219
Excelente! Gracias a los dos!

[2015-12-28 14:16] LeandroBraier commented on #219
Recibí los mails de prueba @mkreyness

Están OK. Solo te pido un pequeño agregado al subject 2)

"¿Qué esperás para sumar puntos? Faltan 3 días para el sorteo del Gran Premio del Año en la Comunidad de Vendedores ParexKlaukol y todavía estás a tiempo de participar"

Con esa corrección en el subject envíen tomás. Está todo perfecto.

abrazo

[2015-12-28 14:21] mkreyness commented on #219
cambio hecho. Ahora largo 1 que es cortito (80 mails), despues 2 (232 mails, va a llevar hora y media), y a la tarde mando el 3 que va a llevar todo el resto del dia habil (1080 mails).

[2015-12-28 14:32] LeandroBraier commented on #219
Excelente MK! Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2015-12-28 11:21 GMT-03:00 mkreyness notifications@github.com:

[2015-12-29 13:19] FAAREIA commented on #204
http://faareia.com/areas/index.html
Denle F5.

Algunos detalles:
- Cada paso trae variables diferentes. Osea que Dependiendo del estado del proyecto elegido, te va a traer X productos y lo mismo para colores y texturas.
- Las texturas pueden no estar. El color rojo es el único que abre texturas.
- Habría que ir teniendo el listado de colores y texturas asi lo vamos cargando.
- El código actual te

[2015-12-29 22:06] mkreyness commented on #219
acabo de controlar el ultimo envio y por razones que desconozco me cortaron el acceso a la base de datos cuando apenas iban 300 de los 1080 que tenia que mandar. Mando el resto ahora y lo controlo mas seguido, ok ?

[2015-12-29 22:17] LeandroBraier commented on #219
Dale. Porfa. Gracias por revisar!
El dic. 29, 2015 7:06 PM, "mkreyness" notifications@github.com escribió:

[2015-12-29 22:28] mkreyness commented on #219
ahi estoy mandando el resto. Fue muy raro, despues de esos primeros 300 que pudo hacer, no tuvo acceso a la base de datos durante unos 700 mas, pero los ultimos 80 pudo hacerlos.

[2015-12-30 13:09] mkreyness commented on #219
ahi si ya terminaron de salir todos bien.

[2015-12-30 13:54] LeandroBraier commented on #219
Gracias MK!

[2016-01-04 21:58] LeandroBraier opened #240 "Mailing Premios Semestrales"
Brau, te paso los datos a incluir y comunicar:

INFORMACIÓN A INCLUIR

Torneo de Potenciados

¡Ya tenemos los ganadores semestrales!

1º Puesto: Matercon S.A.

Ganó un viaje al Caribe*

Sus vendedores ganaron $50.000

También su representante comercial y asistente técnico Klaukol ganaron un viaje al Caribe.

2º al 15º puesto**

Ganaron grandes descuentos en productos Klaukol

(letra chica)
- El pr

[2016-01-05 11:56] LeandroBraier commented on #240
Buen día @braulio-evangelisti ! Otra vez muchas gracias por el esfuerzo de ayer!

Aquí te copio las 6 imágenes para los mails a enviar a los 6 grupos. Dale prioridad apenas arranques hoy.

Porfa a todos agregales abajo el footer que veníamos incluyendo en los mails, que es este (te paso captura, vos usá el que ya tenés maquetado):

<img width="644" alt="captura de pantalla 2016-01-05 a las 9 02 24

[2016-01-05 13:16] LeandroBraier commented on #240
@braulio-evangelisti hay detalles de texto a corregir en imágenes y textos alt. Cuando los tenga confirmados te los mando finales pero vayamos avanzando.

[2016-01-05 13:18] braulio-evangelisti commented on #240
http://parexklaukol.com.ar/_mailing/torneo-ganadores-semestrales/torneo-ganadores-a.html
http://parexklaukol.com.ar/_mailing/torneo-ganadores-semestrales/torneo-ganadores-b.html
http://parexklaukol.com.ar/_mailing/torneo-ganadores-semestrales/torneo-ganadores-c.html
http://parexklaukol.com.ar/_mailing/torneo-ganadores-semestrales/torneo-ganadores-d.html
http://parexklaukol.com.ar/_mailing/torneo-g

[2016-01-05 15:39] LeandroBraier commented on #240
Están perfectos Brau! Muchas gracias!

Te voy pasando las imágenes y correcciones de texto alt finales.

Solo te pido que la imagen tenga el vínculo que lleva al login automático. El mismo que ponemos siempre en el botón "Ingresar" Creo que es este:

http://www.parexklaukol.com.ar/cgi-bin/torneo-con-slide.pl?usuario=%3C!--usuario--%3E&clave=%3C!--clave--%3E

IMAGEN FINAL GRUPO A

![ganadores-semes

[2016-01-05 16:16] LeandroBraier commented on #240
Ojo que cambié IMAGEN y Texto Alt de GRUPO C. Solo eso. Avisame porfa cuando lo tengas. TOmate las imagenes y textos actuales que te pasé en la entrada previa a este texto.

abrazo

[2016-01-05 16:53] braulio-evangelisti commented on #240
No me la carga a la imagen C, si podes subila de nuevo por favor

Asi me aparece

IMAGEN FINAL GRUPO C

[Uploading Ganadores-Semestrales-Grupo-C.png…]()

[2016-01-05 17:11] LeandroBraier commented on #240
Ahi la resubí Brau. Gracias!!

[2016-01-05 17:53] braulio-evangelisti commented on #240
Ya estan las nuevas fotos con sus respectivos "alt's" Lea

Abrazo

[2016-01-05 18:18] LeandroBraier commented on #240
Gracias Brau!
El ene. 5, 2016 2:54 PM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-01-05 18:24] mkreyness commented on #240
Ya se puede mandar o falta alguna aprobacion ?

Enviado desde mi iPhone

[2016-01-05 18:42] LeandroBraier commented on #240
Gracias Brau! Están perfectos! Ahora te pido algo en ticket aparte.

[2016-01-05 18:50] LeandroBraier commented on #240
Están OK pero aún no lo quieren enviar porque quieren que hagamos unos
ajustes en la página del Torneo antes de enviarlo. Yo te aviso.

Los ajustes van en ticket aparte para Braulio pero te copio a vos por las
dudas si podés facilitarle algo.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-05 15:24 GMT-03:00 mkr

[2016-01-05 18:51] LeandroBraier opened #241 "Página de Ganadores Torneo de Potenciados"
@braulio-evangelisti necesitaría que replicaras la página de ganadores de la Comunidad de Vendedores pero en el Torneo de Potenciados.
1.  Que yo pueda cargar texto y fotos chicas y grandes desde el CMS como en la de Ganadores de la Comunidad. (para esto lo copio a @mkreyness
2. Cambiando a la estética del Torneo de Potenciados.
3. Que en vez de los meses diga:

Premios Primer Trimestre

Premios S

[2016-01-05 19:02] mkreyness commented on #241
Braulio: trata de basarte en el template que ya existe en /templates/parexklaukol/vendedores/ganadoresT.html
Lo de los meses (que aca cambia por otros textos) es algo que pongo yo por programa, no te preocupes, para vos es un titulo nada mas.

[2016-01-05 21:45] braulio-evangelisti commented on #241
@mkreyness Ahi subi un "ganadoresT.html" de prueba en **/public_html/templates/parexklaukol/torneos** basado en el template de vendedores pero no se donde tengo que ir para probarlo a ver si agarro bien

[2016-01-05 21:49] mkreyness commented on #241
todavia no hay nada para probarlo, ahora lo armo en base a esto y vemos.

[2016-01-05 21:50] LeandroBraier commented on #241
Gracias a los dos!! Avisenme cuando lo puedo ver así les doy feedback.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-05 18:49 GMT-03:00 mkreyness notifications@github.com:

[2016-01-06 03:51] mkreyness commented on #241
Listo, tuve que hacer bastantes adaptaciones, pero ya podes verlo aca:

http://www.parexklaukol.com.ar/cgi-bin/ganadorestorneo.pl?usuario=XXXXX&clave=XXXXXX

ponele un usuario y clave que sepas, NO "XXXXXX", pongo asi para evitar lo de google.

En el CMS esta dentro de Torneos->Ganadores.
Para que figure como "Grandes Premios Semestrales" ponele trimestre 3 (los normales poneles 1 y 2).
Le puse qu

[2016-01-06 12:17] LeandroBraier commented on #241
Buen día @mkreyness ! Gracias!

Pongo un usuario y contraseña pero aún así no encuentra la página. Me lleva al login, puede ser?

[2016-01-06 12:28] mkreyness commented on #241
yo uso esto y anda:
usuario=gilli-faudin&clave=127839

sacale donde dice XXXXXX, estoy poniendo asi para que no indexe Google

[2016-01-06 12:39] LeandroBraier commented on #241
@mkreyness Lo se, pero yo puse otros nombres de usuarios y no funcionó.
Probá con usuario=norbertocastello&clave=parexklaukol

@braulio-evangelisti ahora que lo veo te paso pequeño feedback del diseño:

1) Porfa reemplazá el texto GANADORES DEL TORNEO DE POTENCIADOS por TODOS LOS GANADORES

2) Centrá ese texto.

abrazo

[2016-01-06 12:43] mkreyness commented on #241
Estas usando un corredor y no un corralon. Creo que no anda con corredores, ahora lo agrego.
Ojo Braulio que el template esta recontratocado de lo que vos tenes, usa siempre lo que esta en el servidor por favor. Ese texto lo cambie yo porque decia "ganadores de la comunidad"

[2016-01-06 12:46] braulio-evangelisti commented on #241
Si lo acabo de bajar al template recien para modificarlo :+1:

[2016-01-06 12:49] mkreyness commented on #241
ya anda con corredores, @LeandroBraier

[2016-01-06 12:53] braulio-evangelisti commented on #241
Listo los cambios del título

[2016-01-06 13:07] LeandroBraier commented on #241
Ahora si perfecto!! Gracias a los dos!!

Les aviso cualquier cosa pero quedó resuelto.

abrazo

[2016-01-06 14:02] mkreyness commented on #241
avisame cuando mandar los mails.

[2016-01-06 14:10] LeandroBraier commented on #241
Dale MK. Yo te aviso, despreocupate.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Jan 6, 2016 at 11:02 AM, mkreyness notifications@github.com wrote:

[2016-01-06 20:07] LeandroBraier commented on #241
@braulio-evangelisti estoy viendo que el título de la página de Ganadores del Torneo de Potenciados sigue diciendo Comunidad de Vendedores. El titulo debería ser "Ganadores Torneo de Potenciados".

Porfa lo modificás?

[2016-01-06 20:14] mkreyness commented on #241
no estaras mirando algo viejo ? El actual dice "TODOS LOS GANADORES".

[2016-01-06 20:21] LeandroBraier commented on #241
Me refiero al titulo de la página HTML, en la barra de arriba. Paso captura:

<img width="239" alt="captura de pantalla 2016-01-06 a las 5 38 27 p m" src="https://cloud.githubusercontent.com/assets/6719872/12153664/d815bc3e-b499-11e5-9ae2-13e1a4419036.png">

[2016-01-06 20:27] mkreyness commented on #241
Pero el titulo de la pagina no es ese actualmente.
Es "Ganadores Torneo de Potenciados". Probaste dar F5 ?

[2016-01-06 20:40] LeandroBraier commented on #241
Ahora si. Me confirmó Brau que lo corrigió. Gracias a los dos!!

abrazo

[2016-01-06 20:40] #241 closed, assigned to braulio-evangelisti

[2016-01-06 20:42] LeandroBraier commented on #240
@braulio-evangelisti va otro cambio de imagenes pedido por el cliente. No te preocupes que si a vos te están volviendo loco a mi ni te cuento.

GRUPO A

![ganadores-semestrales-grupo-a](https://cloud.githubusercontent.com/assets/6719872/12154149/ac502c76-b49c-11e5-8259-6938ae74c7d5.png)

Texto Alt= ¡Felicitaciones a los ganadores del Torneo de Potenciados! 1º Puesto: Zeramiko ganó un viaje al Cari

[2016-01-06 20:50] mkreyness commented on #240
ojo @braulio-evangelisti tambien yo hice cambios en los mailings para que los links apunten a /cgi-bin/ganadorestorneo.pl en vez de a torneo-con-slide.pl, si podes usa las versiones que estan online, si eso te complica mucho y trabajas sobre las tuyas, fijate de ponerle a todos  "ganadorestorneo" donde dice "torneo-con-slide"

[2016-01-06 20:54] braulio-evangelisti commented on #240
no hay problema, en un rato bajo los online y reemplazo ahi

[2016-01-06 22:23] braulio-evangelisti commented on #240
Ahi subi los cambios

[2016-01-06 22:27] LeandroBraier commented on #240
Gracias Brau!!!

[2016-01-06 22:27] LeandroBraier commented on #240
abrazo grande a los dos y hasta mañana! Les aviso cuando tengo el ok para los mailings. Supongo que será mañana.

[2016-01-06 22:49] LeandroBraier opened #242 "Bug en Trivia Comunidad de Vendedores. PARA 07/01"
@mkreyness fijate a ver si desentrañás qué pasa acá:

1) La foto se ve gigante, siendo que la subí en el mismo tamaño que en las últimas trivias.

2) El primer recuadrito (que generalmente dice video y ahora no lo dice) no debería aparecer porque no hay video para visualizar:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=30&usuario=LeanBraier&clave=parex

Esto se publica mañana, así que pued

[2016-01-06 22:58] mkreyness commented on #242
A la mañana no estoy asi que tengo que hacerlo esta noche si o si.
El problema es el TIPO de juego que le definis, el tipo que tiene ahora asume que lo que va ahi es un video, no una foto. Los tipos que llevan foto, no tienen trivia. Tengo que armarte un template que sea un mix de las dos cosas.

[2016-01-07 02:29] mkreyness commented on #242
listo
http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=30&usuario=LeanBraier&clave=parex
Le saque lo que habias cargado en video, ahora si no hay un juego video, no aparece el icono, y lo que toma es siempre la imagen.
El problema es que se pegotea la parte de documentacion. Si te parece que hay que arreglarlo habria que pedirle a @FAAREIA que toque el template juegosinvideoT.html

[2016-01-07 02:45] LeandroBraier commented on #242
Muchas gracias @mkreyness ! Quedó perfecto ahora.

Tal cual, se pega la parte de documentación. @FAAREIA si podés dejarlo arreglado dentro de la mañana a eso ya estamos bien.

abrazo

[2016-01-07 14:38] FAAREIA commented on #242
HECHO

[2016-01-07 15:54] LeandroBraier commented on #242
Gracias @FAAREIA !!

[2016-01-07 15:54] #242 closed, assigned to FAAREIA

[2016-01-08 17:59] FAAREIA commented on #204
Hola Lea, te escribo lo que hoy hablabamos de la casa interactiva:
http://parexklaukol.com.ar/aplicaciones/casa-interactiva.html

Habría que cambiar o preparar una foto para la casa interactiva de 984px de ancho porque la actual:
1. es chica
2. hay partes sin lógica: El garaje no es garaje, el ascensor es una columna, la terraza no se ve y el tanque de agua esta como escondido

[2016-01-08 19:59] LeandroBraier commented on #240
@braulio-evangelisti andás por ahi?

Me llegó el mailing de prueba del Torneo de Potenciados. Dos cosas:

1) El link debería llevar a la página del Torneo, no a la página de Ganadores. Es decir, a la Home del Torneo:

www.parexklaukol.com.ar/cgi-bin/torneo-con-slide.pl?usuario=XXXXXXX&clave=XXXXXX

2) El footer se corta al medio en celulares. El corner de Parex Group queda abajo, no en la misma lí

[2016-01-08 20:08] mkreyness commented on #240
Eso de que vaya a la pagina de ganadores lo hice yo, pense que iba asi, porque no habia forma de acceder si no a los premios. Despues me entere que lo pusiste como slide.
Reponele entonces el torneo-con-slide.pl, no va XXXXXXX sino `` y `` como siempre.

[2016-01-08 20:43] braulio-evangelisti commented on #240
Ahora los bajo y acomodo

[2016-01-08 21:00] braulio-evangelisti commented on #240
Hecho

[2016-01-08 21:02] LeandroBraier commented on #240
Gtaciaa Brau!
El ene. 8, 2016 6:00 PM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-01-08 23:15] LeandroBraier commented on #204
@FAAREIA te respondo así avanzamos.
1. Te la paso en la máxima resolución que tengo. Te sirve así:

http://www.hausjournal.net/wp-content/uploads/Einfamilienhaus-%E2%80%93-Fertighaus-oder-Massivhaus.jpg
1. Mantengamos eso como está. El garage es garage subterráneo y lo aclara la app. El ascensor está adentro de esa columna (en teoría) porque supongo que viene desde el garage subterráneo, que es me

[2016-01-08 23:16] LeandroBraier commented on #204
@braulio-evangelisti y @mkreyness creen que podemos llegar a tener estos HTML5 para fin de enero?

[2016-01-11 14:19] braulio-evangelisti commented on #204
Lea las fotos de baño y living las tenes tambien?

[2016-01-11 14:25] LeandroBraier commented on #204
Te las busco y te las paso.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Jan 11, 2016 at 11:19 AM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-01-11 18:30] LeandroBraier opened #243 "Ajustes en la Web ParexKlaukol. 04/02"
@FAAREIA para tu regreso de vacaciones te paso este pedido de revisión del sitio de Parex para ver qué podemos perfeccionar. La fuente es un informe enviado por Duplika. La mayoría está muy muy bien, pero estos son los puntos flojos y quiizá los podemos perfeccionar.

<img width="1037" alt="captura de pantalla 2016-01-11 a las 10 26 58 a m" src="https://cloud.githubusercontent.com/assets/6719872/1

[2016-01-11 20:41] #240 closed, assigned to nobody

[2016-01-12 00:29] LeandroBraier commented on #204
Aquí van:

Living Comedor
http://rightathomeredesigns.com/wp-content/uploads/2015/02/7413510_ml_website1.jpg

Baño
http://kvartiraposutochno.com/wp-content/uploads/2012/09/bathroom-interior-001.jpg

abrazo

[2016-01-12 11:57] LeandroBraier opened #244 "Extracto de Actividades Club de Colocadores"
Buen día @mkreyness ! Tenés la posibilidad de enviarme un excel con el extracto de actividad del Club de Colocadores? O no queda registrada?

[2016-01-12 12:11] mkreyness commented on #244
Ahi agregue la opcion "Actividad de Colocadores" en el CMS, lo podes sacar de ahi.

[2016-01-12 12:24] LeandroBraier commented on #244
Gracias MK!! Mil gracias!!

Ya que estás podrás agregar la otra que tenemos en vendedores? La que es Actividad + Datos del Vendedor de cada actividad, etc? Sino no hay problema.

[2016-01-12 12:29] mkreyness commented on #244
Ahora ya no tengo como, hasta las 4 de la tarde que nos vemos voy a estar completamente desconectado.

[2016-01-12 12:50] LeandroBraier commented on #244
Ok, no problem. Muchisimas gracias igual!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-12 9:29 GMT-03:00 mkreyness notifications@github.com:

[2016-01-12 15:07] braulio-evangelisti commented on #204
:+1:

[2016-01-13 14:54] LeandroBraier commented on #67
Buen día @braulio-evangelisti o @FAAREIA necesitaría que actualizaran una vez más este legajo impositivo.

[Legajo Impositivo 2016.pdf](https://github.com/LeandroBraier/Klaukol/files/88962/Legajo.Impositivo.2016.pdf)

Porfa avisenme cuando esté online.

[2016-01-13 17:18] FAAREIA commented on #67
Hecho

[2016-01-13 19:07] LeandroBraier commented on #67
Gracias @FAAREIA !

[2016-01-13 22:24] #244 closed, assigned to mkreyness

[2016-01-18 22:38] braulio-evangelisti commented on #204
Lea subi aca un primer boceto de casa interactiva.

http://parexklaukol.com.ar/_casa-interactiva/casa-interactiva.html

Le falta pulido en general al diseño de la pagina, los sectores resaltados al pasar el mouse los tengo que refinar mas ya que pisan otros objetos como vidrios y plantas por ejemplo, pero queria que haya al menos un ejemplo funcionando en cada ambiente para asegurar que todo ande

[2016-01-18 22:54] mkreyness commented on #204
Está espectacular !

[2016-01-19 00:25] LeandroBraier commented on #204
Muy bueno Brau!!!

Cargale los productos que van y ya estamos!

abrazo

[2016-01-20 14:35] LeandroBraier opened #245 "Actualizar Hojas de Seguridad de la mayoría de los productos. 21/01"
@braulio-evangelisti necesitaría actualizar estas hojas de seguridad de la mayoría de los productos en el sitio de ParexKlaukol para mañana.

[Hoja de Seguridad 01-2016.zip](https://github.com/LeandroBraier/Klaukol/files/97547/Hoja.de.Seguridad.01-2016.zip)

Confirmame porfa.

abrazo

[2016-01-20 16:42] braulio-evangelisti commented on #245
Dale lea esta tarde los cambio

[2016-01-20 18:08] LeandroBraier commented on #245
Genial! Gracias.
El ene. 20, 2016 1:42 PM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-01-20 20:15] LeandroBraier opened #246 "Averiguar Browser que corra HTML5 en Raspi"
O hay que cambiar a Mini android PC?

[2016-01-20 20:17] LeandroBraier opened #247 "Averiguar Donde conseguir Acrílico para Magic Mirror"

[2016-01-20 20:17] LeandroBraier commented on #246
Averiguar cuanto sale un Mini Android PC aca y en Chile.

[2016-01-20 20:24] mkreyness commented on #246
perdon que me meta, pero los browsers que corren en Raspi SON todos HTML5, pero no sirven para correr video, porque no aprovechan la GPU. Diego ya hizo toda esta investigacion.

[2016-01-20 20:34] braulio-evangelisti commented on #245
Lea este a cual de los productos pertenece?

**Hoja de seguridad Mestik.pdf**

Esta dentro de la carpeta Parex pero no encontre el producto con ese nombre

[2016-01-20 20:35] LeandroBraier commented on #246
jajaja Mirá que lo estuvimos probando recién con La Casa Interactiva y el
video embebido en la home de ParexKlaukol y de Benteveo y se ven bien.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-20 17:24 GMT-03:00 mkreyness notifications@github.com:

[2016-01-20 20:37] LeandroBraier commented on #245
Es de Klaukol, pero va con Z, por eso no lo encontrabas.

Te paso el link:

http://parexklaukol.com.ar/klaukol/mortero-multiproposito-klaukol-meztik.html

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-20 17:34 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2016-01-20 20:42] LeandroBraier opened #248 "Chequear monitores para terminales"

[2016-01-20 20:50] braulio-evangelisti commented on #245
Gracias.
Bueno creo que ahi estan todos actualizados. Si podes en algun momento pegale una revisada porque es la primera vez que hago este trabajo y estaban como divididos en dos carpetas diferentes las hojas de seguridad.

[2016-01-20 21:01] LeandroBraier commented on #245
Las veo bien en principio. Les acortaste los nombres a los PDF puede ser?

El que se llamaba Hoja de Seguridad Klaukol Impermeable-Potenciado.pdf
ahora se llama HS-Klaukol-Impermeable Potenciado.pdf

Vos lo modificaste o estoy viendo aún los archivos viejos?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-20 17:50 GMT-0

[2016-01-20 21:42] braulio-evangelisti commented on #245
Los cambie yo, les puse el mismo nombre de los que estaban online para reemplazar los que estaban y que los links tomen ese archivo directamente
Para que queden con los nombres tal cual me los pasaste tendria que, en algun lado como un campo en el gestor donde podes modificar todos los datos de cada producto, poder modificar los nombres de los pdf a mano para que los actualice en la base de datos

[2016-01-20 21:53] LeandroBraier commented on #245
No, esta perfecto lo que hiciste, Brau. Solo chequeaba. Gracias!
El ene. 20, 2016 6:42 PM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-01-21 19:19] LeandroBraier commented on #245
@braulio-evangelisti un detalle: actualizaste esto también para Paraguay y Uruguay?

Porfa confirmame.

Además, te pido que actualices la ficha técnica y hoja de seguridad del producto Lanko 453. Aquí te las paso. Confirmame cuando esté todo porfa

[Ficha Técnica LANKO 753_POTENCIADOR.pdf](https://github.com/LeandroBraier/Klaukol/files/99725/Ficha.Tecnica.LANKO.753_POTENCIADOR.pdf)
[Hoja de segur

[2016-01-22 12:19] braulio-evangelisti commented on #245
Buen dia Lea.
Ahora actualizo estos dos.

Solamente Argentina habia actualizado, subo los mismos para los otros dos paises?

[2016-01-22 13:30] LeandroBraier commented on #245
Buen dia Brau. Si, todas estas actualizaciones son para todos los países.
Gracias
El ene. 22, 2016 9:19 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-01-22 14:20] braulio-evangelisti commented on #245
Perfecto, ya subi estas dos ultimas en ARG, apenas haya reemplazado en los otros dos paises te aviso.

[2016-01-22 14:22] braulio-evangelisti commented on #204
Por favor confirmenme que esta va a ser todo contenido estatico y lleno todos los popups a mano.

[2016-01-22 16:15] LeandroBraier commented on #204
Va a ser estático, pero en caso de alguna corrección debería poder hacerse, no?

[2016-01-22 18:51] braulio-evangelisti commented on #204
si por supuesto, mi pregunta era solamente por el tiempo que llevar cargar a mano todos los productos de todos los sectores de la casa, que si luego iban a cargarse por cms por ejemplo era perder tiempo nomas.

apenas este te aviso.

[2016-01-22 18:55] LeandroBraier commented on #204
Pará @braulio-evangelisti ! En teoría no se modifican demasiado pero en la práctica si está por CMS es lo mejor. @mkreyness podemos cargar estos datos y productos por CMS o es un lio fenomenal?

Recordá que estos desarrollos en HTML5 no son solo para la web sino también para las terminales interactivas.

[2016-01-22 18:58] mkreyness commented on #204
No son datos que de alguna manera ya estan en el CMS  actual ?

[2016-01-22 18:59] LeandroBraier commented on #204
Sip. Los productos si. Además cada texto de ese pop linkea a una pagina de
producto de la web.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Jan 22, 2016 at 3:58 PM, mkreyness notifications@github.com wrote:

[2016-01-22 19:05] mkreyness commented on #204
Ok, entonces lo que yo haria es darle un ID a cada sectores/objetos de la casa y asociarlos a los productos que corresponda, entonces hacemos un ajax muy simple que traiga la lista de productos y links. En un rato miro el HTML asi veo bien que elementos se necesitan y preparo el ajax.

[2016-01-22 19:15] braulio-evangelisti commented on #204
cada sector tiene un atributo **data-modal** que es unico, lo use para relacionarlo con cada popup, tal vez se puede usar como categoria para imprimir dentro de cada popup los productos correspondientes a su sector

[2016-01-22 20:19] mkreyness commented on #204
Perfecto, si podes pasame la lista de valores y un nombre descriptivo para asociar a c/u asi ya lo cargo como una tabla en el CMS

[2016-01-22 20:51] LeandroBraier commented on #204
Me decís a mi MK? O a Brau?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Jan 22, 2016 at 5:19 PM, mkreyness notifications@github.com wrote:

[2016-01-22 21:14] braulio-evangelisti commented on #204
Aca te paso, en negrita esta el atributo de cada sector con los productos que carga su popup:

Exterior

**techos**
Lanko 228 (debajo de cerámicos)
Lanko 180 (techos y paredes)
Lanko 453 (techos y paredes)

**terrazas**
Lanko 228 (debajo de cerámicos)
Lanko 180 (techos y paredes)
Lanko 453 (techos y paredes)
Parex Nivel (pisos)
Klaukol Flex (pisos)
Pastina Alta Performance (juntas de pisos)

**fac

[2016-01-22 21:25] mkreyness commented on #204
Buenisimo, veo que hay un texto entre parentesis adicional al nombre del producto, lo voy a agregar en el CMS.
Bueno yo voy a cargar algunos de estos de prueba pero la carga completa te la cedo gentilmente, @LeandroBraier :)

[2016-01-22 21:26] mkreyness commented on #204
Igual para programarlo tengo que conseguir que Duplika resetee el SSH, porque evidentemente algo se les colgó. Lo de que me andaba desde casa era porque tenia una sesion abierta, pero apenas la cerre no pude entrar nunca mas.

[2016-01-22 21:36] LeandroBraier commented on #204
Ok, obvio. No hay problema, yo cargo los productos. Necesito familiarizarme
con ellos más, soñar con ellos jeje

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Jan 22, 2016 at 6:26 PM, mkreyness notifications@github.com wrote:

[2016-01-22 21:46] mkreyness commented on #204
El lugar donde hacerlo ya esta, es en el CMS -> Productos -> Superficies. Ahi va un registro por cada superficie, y c/u tiene la lista de productos asociados.
Ojo cuando elijas cada producto aparece capaz hasta 3 veces porque estan las versiones ar/py/uy (ya que existen productos que son propios de cada pais, los que van en los 3 estan 3 veces). No se si esto va a ir en los 3 paises entonces habri

[2016-01-22 22:34] LeandroBraier commented on #245
Brau, avisame porfa cuando quede hecho esto.

abrazo

[2016-01-22 22:35] LeandroBraier commented on #204
Si, hay diferencias en algunas cosas. Desconozco por qué pero las pasó el
cliente. Dale, el lunes yo cargo todo.

Muchas gracias a los dos! abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-22 18:46 GMT-03:00 mkreyness notifications@github.com:

[2016-01-22 23:03] braulio-evangelisti commented on #245
Listo Lea

Me llevo tiempo porque tuve que ir rastreando en cada producto de cada marca por país como se llama el pdf en cada caso porque tienen diferentes nombres en cada uno. Por gestor no hay manera de modificar estos archivos?

[2016-01-22 23:06] LeandroBraier commented on #245
Hasta ahora no. Fede me pidió que le pidiera eso a MK en cuanto tuviera un
hueco pero pobre MK no tiene un hueco hace mucho. Calculo que es la última
vez que lo tenés que hacer, no te preocupes y muchas gracias!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-22 20:03 GMT-03:00 Braulio Evangelisti notifications@

[2016-01-23 14:45] mkreyness commented on #204
listo muchachos:

http://parexklaukol.com.ar/_casa-interactiva/casa-interactiva-mk.html

ya tiene el codigo que toma para cada sector lo que haya en el CMS.
Hay cargados ejemplos para "techos", "terrazas" y "living-chimenea".

El de "terrazas" no abre, pero tampoco lo hacia en el original, y al desplegable de "techos" no le anda el close, pero tampoco andaba en el original.

[2016-01-23 15:01] LeandroBraier commented on #204
Excelente chicos!!! Corrijamos esos dos detalles, yo el lunes cargo el CMS
y les paso la foto para poner arriba y que ya quede final La Casa
Interactiva.

Así seguimos con Calculador y Simulador y finiquitamos el tema. Muchas
gracias y buen finde!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-23 11:45 GMT-03:00 mkreyn

[2016-01-25 13:23] braulio-evangelisti commented on #204
- Con **La foto para poner arriba** te referís a la de fondo en el titulo no?
- Ya esta arreglado el botón de cerrar los popups, era un detalle de CSS.
- Ya agregué todos los popups, había puesto 3 como ejemplo nomas porque no sabía si iban a estar de entrada en la maqueta o se iban a imprimir cuando carga la página, faltaría cargarle la info que muestran nomas.
- Ahora estoy refinando los sectore

[2016-01-25 13:42] LeandroBraier commented on #204
Excelente @braulio-evangelisti !! Si, me refería a esa foto. Por la tardecita voy a tener subido todo en el CMS y voy a pasarles la foto. Así que puede ser para mañana el cambio no problem.

abrazo

[2016-01-25 22:28] braulio-evangelisti commented on #204
Listo ahi pulí un poco los bordes de las superficies, no se nota mucho el cambio al anterior pero me parece que le da un poco mas de calidad visual.

http://parexklaukol.com.ar/_casa-interactiva/casa-interactiva.html

[2016-01-25 22:40] mkreyness commented on #204
la "X" de los popups sigue sin cerrarlos. Si hago click en cualquier otro lado (afuera) se cierra, pero justo haciendo click ahi, no.

[2016-01-25 22:53] #245 closed, assigned to braulio-evangelisti

[2016-01-25 22:59] braulio-evangelisti commented on #204
Si haces click justo alrededor de la **X** dentro de la barra de titulo te lo cierra? si es asi esta la posibilidad que no te haya actualizado el css en el naveador, probaste vaciando la cache de firefox?

[2016-01-25 23:56] mkreyness commented on #204
Uso Chrome. Pero ok, debe ser eso del cache, ahora me anduvo bien.

[2016-01-26 15:10] LeandroBraier commented on #231
@mkreyness necesito subir este juego hoy. Como venimos?

[2016-01-26 16:10] mkreyness commented on #231
Nunca tuve cuando ponerme a ver si todo eso que dicen anda. Para hoy no puedo prometerte nada, lo empiezo a ver a la tarde y despues te digo si funciona.

[2016-01-26 16:11] LeandroBraier commented on #231
Dale, decime hoy pr lo menos para cuando puede estar.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Jan 26, 2016 at 1:10 PM, mkreyness notifications@github.com wrote:

[2016-01-26 16:12] mkreyness commented on #231
Es que esto o anda, o no anda. Si no anda, no es cuestion de tiempo.

[2016-01-26 18:09] LeandroBraier commented on #231
Entiendo. Con mas razón confirmame cuánto antes.

Abrazo
El ene. 26, 2016 1:12 PM, "mkreyness" notifications@github.com escribió:

[2016-01-26 22:03] mkreyness commented on #231
me recuerdan como diablos se llamaba este juego ? Ya no esta disponible el transfer y no lo encuentro en mi maquina porque Construct2 nunca lo pudo abrir, asi que no esta en la lista.
Lo tengo, pero no se ni como se llama.

[2016-01-26 22:05] mkreyness commented on #231
ah ya vi, Block Puzzle. Es que todos se llaman "Block" algo...

[2016-01-26 22:11] LeandroBraier commented on #231
Genial. Pudiste abrirlo?

Fijate que necesités tener el resto de los elementos que juntó Fede pidiendoselos al creador para abrirlo.

[2016-01-26 22:13] mkreyness commented on #231
no, todavia no lo encontre, pero por lo menos se como se llama.

[2016-01-26 22:17] LeandroBraier commented on #231
Igual no te preocupes, ya hablé con el cliente y recién lo necesitaríamos para Febrero. De todas formas sería ideal ya dejarlo resuelto esta semana si puede ser.

abrazo

[2016-01-26 22:18] mkreyness commented on #231
Solo encuentro archivos cuyo nombre empieza con un puntito (como se ve en la PC cuando copias una carpeta de la Mac), pero nada de lo real.
Tenes forma de remandarme el wetransfer original ?

[2016-01-26 22:21] LeandroBraier commented on #231
Acá te subo todos los materiales que pude recompilar a lo largo de todo el proceso. Creería que está todo.

[Juego Colocá los cerámicos en línea.zip](https://github.com/LeandroBraier/Klaukol/files/105769/Juego.Coloca.los.ceramicos.en.linea.zip)

[2016-01-26 22:23] mkreyness commented on #231
genial gracias.

[2016-01-26 22:28] mkreyness commented on #231
igual se me descomprime todo raro, hay carpetas comprimidas dentro de carpetas comprimidas con el mismo nombre... Es totalmente desorganizado. Espero poder reconstruirlo de los mails de Fede.

[2016-01-26 22:30] LeandroBraier commented on #231
Fue así el proceso MK. El primer archivo es Block Puzzle V1, probá abrirlo y te va a pedir el resto de los archivos que le fuimos pidiendo uno a uno al desarrollador. @FAAREIA nos ayudó con eso.

[2016-01-26 22:32] mkreyness commented on #231
Si, ya se, pero no se donde "poner" lo que dice que falta.
Por eso tengo que seguir todo lo que fue diciendome Fede y yo fui no dandole bola porque estaba con lo de Paty a full.

[2016-01-26 22:34] LeandroBraier commented on #231
Ok, fijate eso porfa.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Jan 26, 2016 at 7:32 PM, mkreyness notifications@github.com wrote:

[2016-01-27 12:54] mkreyness commented on #231
ya lo tengo andando, tenes los materiales que habria que cambiar ?

[2016-01-27 15:28] LeandroBraier commented on #231
Buenisimo MK! Lo estoy viendo por arriba y según estimo, lo único que haría falta es:
1. agregar con el nombre del juego y el logo de Klaukol a la derecha en la sección de donde se sacan las piezas.
2. Aparte de esto, tendríamos que cambiar la gama de colores para que sea la de Klaukol. Se podrá hacer eso?
3. Los mensajes de win, game over, etc que haya dando vueltas. Esos me los tendrías que pasa

[2016-01-27 18:33] mkreyness commented on #231
los colores son simplemente unos png que se llaman "particles1.png", "particles2.png" ,etc.
Pero son 8, muchos para la gama de Klaukol creo.
Hay un "gamelael-sheet0.png" que dice "BLOCK PUZZLE C2V1"
Hay un "levelfailed-sheet0.png" que dice "Game Over", y una serie de texto raros en imagenes que no creo que se usen que dicen "flat color", "flat icon", "noel"
Tenerlos los tenes todos porque estan se

[2016-01-27 18:39] LeandroBraier commented on #231
Entiendo, perfecto. Acá las tengo. Te las paso más tarde así ya podemos
dejar subido el juego para febrero.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-27 15:33 GMT-03:00 mkreyness notifications@github.com:

[2016-01-27 22:48] LeandroBraier opened #249 "Bug en Ganadores de Comunidad de Vendedores"
@mkreyness fijate, no aparece la imagen del thumbnail ni la imagen grande del ganador de diciembre Qué puede ser?

http://www.parexklaukol.com.ar/cgi-bin/ganadores.pl?usuario=leanbraier&clave=parex

abrazo

[2016-01-28 02:50] mkreyness commented on #249
ya anda github.
Arreglado.

[2016-01-28 11:39] LeandroBraier opened #250 "Mailing de Bienvenida Genérico Comunidad de Vendedores"
@braulio-evangelisti necesito una adaptación de este mailing sin la imagen de arriba:

http://www.parexklaukol.com.ar/_mailing/vendedores-bienvenida/vendedores-bienvenida-jul.html

Este mailing quedaría como mailing de bienvenida genérico para nuevos inscriptos hasta tanto no tengamos un premio definido. Cuando lo tengas listo le avisás a @mkreyness ?

Abrazo

[2016-01-28 11:43] #249 closed, assigned to mkreyness

[2016-01-28 11:44] LeandroBraier commented on #248
Buen día @valentinsabbath Cómo quedó esto al final? Pudiste encontrarle la vuelta?

[2016-01-28 13:10] braulio-evangelisti commented on #250
algo así Lea?

http://www.parexklaukol.com.ar/_mailing/vendedores-bienvenida/vendedores-bienvenida.html

[2016-01-28 13:44] LeandroBraier commented on #250
Está perfecto Brau!

@mkreyness apenas tengas un hueco hacé el envío de mails porfa.

abrazo

[2016-01-28 14:35] LeandroBraier opened #251 "Despublicar Torneo de Potenciados"
@braulio-evangelisti y @mkreyness necesitaría que lo antes posible den de baja el sitio del Torneo de Potenciados. Me avisan cuando está?

[2016-01-28 16:35] braulio-evangelisti commented on #251
Ahi le saque el link del footer en http://parexklaukol.com.ar, la verdad nose si se puede acceder desde otro lugar dentro del sitio general porque los agrego Fede a los links cuando se sumó lo del torneo, si te acordás donde hay otro link (si es que hay) avisame y lo saco también.

Lo de la baja general de la sección a lo mejor se podría renombrar el directorio, o armar una redirección por si se v

[2016-01-28 16:50] LeandroBraier commented on #251
Claro, tendrían que redireccionar la URL del Torneo de Potenciados a la web principal de ParexKlaukol.

[2016-01-28 17:27] mkreyness commented on #251
Yo hasta las 4 no me conecto, el acceso siempre fue por los mails, tendría que hacer que si entran por ahí los redireccione a la home de Klaukol?

Enviado desde mi iPhone

[2016-01-28 18:04] mkreyness commented on #251
Listo.

[2016-01-28 18:04] mkreyness commented on #250
ahora te mando uno de prueba y si esta ok arranco con todos

[2016-01-28 18:13] LeandroBraier commented on #251
En realidad necesitaria que el dominio en general redireccione
directamente. /torneo-de-potenciados/

A su vez todas las demas urls, claro.
El ene. 28, 2016 2:27 PM, "mkreyness" notifications@github.com escribió:

[2016-01-28 18:20] ghost commented on #248
Lean! Me llevé el monitor a mi casa con la raspi y le encontré la vuelta.
Asi que mañana vuelvo a la ofi  y los testeo a todos

2016-01-28 8:44 GMT-03:00 LeandroBraier notifications@github.com:

##

_Atte. Valentín Gavela._

[2016-01-28 18:22] mkreyness commented on #251
listo /torneo-de-potenciados/

No creo que haya mas URLs que estas, el acceso siempre fue por torneo-con-slide.pl que ya lleva a la home, y del ultimo mailng ganadorestorneo.pl, que tambien hice ahora que redireccione a la home.

[2016-01-28 18:28] LeandroBraier commented on #248
Buenisimo Valen. Gracias! Qué bueno que lo resolviste!
El ene. 28, 2016 3:20 PM, "valentinsabbath" notifications@github.com
escribió:

[2016-01-28 18:43] mkreyness commented on #250
Recibiste ? Largo ?

[2016-01-28 18:49] LeandroBraier commented on #250
Si, largalo nomás @mkreyness  Lo veo OK.

@braulio-evangelisti acordate cuando vuelva @FAAREIA  tenemos que revisar estos mailings para hacerlos lo más amigables posibles al mobile. Me parece que no está muy lejos hoy, pero se puede mejorar.

abrazo

[2016-01-28 18:49] #250 closed, assigned to braulio-evangelisti

[2016-01-28 18:53] mkreyness commented on #250
saliendo

[2016-01-28 19:13] LeandroBraier commented on #251
Gracias a los dos!!

[2016-01-28 19:13] #251 closed, assigned to braulio-evangelisti

[2016-01-29 15:20] LeandroBraier commented on #219
@braulio-evangelisti necesito una versión de este mailing sin el fragmento del premio.

http://parexklaukol.com.ar/_mailing/vendedores-premio-anio-nuevo/vendedores-premio-anio-nuevo.html

Es para enviar hoy mismo. Me confirmás si llegamos?

@mkreyness la idea sería que apenas llegues a las 16 hs lo envies a todos los usuarios menos los nuevos a los que ya les enviaste mailing esta semana.

[2016-01-29 15:36] #248 closed, assigned to nobody

[2016-01-29 16:04] LeandroBraier opened #252 "Base de subscriptos a newsletter a través de la web"
@mkreyness donde puedo ver esto?

[2016-01-29 17:42] mkreyness commented on #252
CMS
   Novedades -> Suscripciones

[2016-01-29 17:43] mkreyness commented on #219
ok, si ya esta armado hago una prueba y lo mandamos, pero ojo que es mucha gente, va a tardar una bocha.

[2016-01-29 18:00] LeandroBraier commented on #219
No hay problema. @braulio-evangelisti pudiste ver esto?

[2016-01-29 18:02] LeandroBraier commented on #252
Perfecto, gracias!

Consulta: Me suscribí y no me llegó Mail de confirmación. Puede ser?

[2016-01-29 18:02] LeandroBraier commented on #252
Todos en la lista aparecen como pendientes

[2016-01-29 18:27] mkreyness commented on #252
Ni me acuerdo como era, pero seguro que no podemos mandar nada masiva mente, mas hoy que hay que sacar ese otro mailing. Te encontraste en la lista?

[2016-01-29 18:29] mkreyness commented on #252
Cual es el mail de confirmación? Capaz nunca me llego un html para eso y quedo eternamente postergado

[2016-01-29 18:34] LeandroBraier commented on #252
Este es el mail:

http://parexklaukol.com.ar/_mailing/confirmacion_newsletter/confirmacion.html

Me acuerdo de haberlo testeado con vos.

[2016-01-29 18:41] braulio-evangelisti commented on #219
Recien lo veo lea estuve con el de VIE TUR.

Algo asi te sirve?

http://parexklaukol.com.ar/_mailing/vendedores-premio-anio-nuevo/vendedores-premio-anio-nuevo-sin-premio.html

[2016-01-29 18:43] LeandroBraier commented on #219
Está perfecto Brau!! Gracias!!

@mkreyness ponelo a enviar nomás porfa.

abrazo

[2016-01-29 18:55] mkreyness commented on #219
Con que asunto ?

[2016-01-29 19:03] LeandroBraier commented on #219
Igual que el mes pasado pero levemente modificado:

1) A todos los que ya tienen tickets en el sorteo del mes, con el subject "Aprovechá! Te quedan 3 días para seguir sumando puntos para el Premio de Enero en la Comunidad de Vendedores ParexKlauko!"

2) A todos los que todavía no tienen tickets en el sorteo del mes, pero otros meses sí los tuvieron, con el subject "¿Qué esperás? Faltan 3 días para

[2016-01-29 19:47] mkreyness commented on #219
che no estan saliendo los mails de Klaukol.
Ya probe varias veces y no me llega nada.

[2016-01-29 19:48] LeandroBraier commented on #219
Oh thats the question! Que puede ser?
El ene. 29, 2016 4:47 PM, "mkreyness" notifications@github.com escribió:

[2016-01-29 19:49] mkreyness commented on #219
Ahi probe de mandarte uno de estos mailings a vos. Fijate si te llega.

[2016-01-30 16:53] mkreyness commented on #219
Ahi probe de nuevo a mi cuenta Fibertel y me llego bien. Te mande ahora a vos a GMail.
Confirmame si te llego y largo todo (aunque ya no faltan 3 dias...)

[2016-02-01 12:16] FAAREIA commented on #243
Buen dia Lea, cómo andan? Ahi estuve hablando con Brau y me actualizó el estado de todo.
Con respecto a este issue, por ahora esta resuelto:
- Resolver www
- Robots.txt

Lo de "Resolver www" es que `http://parexklaukol.com.ar` redirige a `http://www.parexklaukol.com.ar`
En el robots.txt puse que el unico directorio a no inspeccionar es `/cgi-bin/`

Aclaro también que el código para la redirección

[2016-02-01 12:48] LeandroBraier commented on #243
Buen día @FAAREIA !! Welcome back!! Espero que hayas tenido unas excelentes vacaciones!!

Por suerte con @braulio-evangelisti estuvimos laburando de 10 y nos ayudó muchísimo a cubrirte. Tengamos en cuenta que recupere horas estas semanas próximas ya que creo que estuvo laburando horas de más durantes tus vacas.

Excelente esto que mandás. Espero confirmación de @mkreyness para cerrar el ticket.

[2016-02-01 12:51] mkreyness commented on #243
Si, esta todo bien.

[2016-02-01 12:54] LeandroBraier commented on #243
Gracias a los dos!!

[2016-02-01 13:21] FAAREIA commented on #243
Lo reabro que quedaron algunos puntos pendientes que van a llevar un tiempo

[2016-02-01 13:31] LeandroBraier commented on #243
Ah, ok, no problem. Avisen nomás!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Feb 1, 2016 at 10:21 AM, Federico Arena notifications@github.com
wrote:

[2016-02-01 20:43] LeandroBraier commented on #252
@mkreyness ahora que anda de vuelta podemos enviar los mails de confirmación o chequear qué pasó con esto?

Deberían enviarse automáticos los mails de confirmación apenas alguien se suscribe, no?

[2016-02-01 20:53] mkreyness commented on #252
No se mandan en el momento que el tipo da "Enviar", entran en una bolsa (la que ves en el CMS) y hay un programa preparado como para mandar cada tanto pero nunca lo pusimos a andar automatico el envio, seguramente porque no podria coexistir con los envios masivos que hacemos manualmente (no habria forma de coordinarlos).
Puedo poner a mandar lo acumulado, que es muchisimo, mientras no tengamos otr

[2016-02-01 21:05] mkreyness commented on #127
Aca esta el problema, se cerro por algo pendiente de Fede, pero quedo todo lo mio pendiente igual y nadie mas se acordo del tema hasta ahora.

[2016-02-01 21:05] LeandroBraier commented on #252
Si, claro. Cómo hacemos? Me tendrías que armar el template y yo lo mando,
no hay drama.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-01 17:53 GMT-03:00 mkreyness notifications@github.com:

[2016-02-01 21:06] LeandroBraier commented on #127
Ok, entiendo. Resolvamoslo igual ya en el otro ticket.

[2016-02-01 21:09] mkreyness commented on #252
hay que hacer 2 cosas: el template y la base de datos con el email y link de confirmacion.
Esta noche te armo todo y te aviso.
Igual el pegado de la base es totalmente manual.
Capaz sacado el grueso que es esto podamos poner una cuota diaria de mandar ponele 50 por noche automatico.

[2016-02-01 21:11] LeandroBraier commented on #252
Claro, no te preocupes que Maichimp permite programar los envíos. Es re
fácil.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-01 18:09 GMT-03:00 mkreyness notifications@github.com:

[2016-02-01 21:45] mkreyness commented on #252
Eso Ok para el monstruo pendiente, pero digo para los que vayan entrando nuevos, no te vas a poner a exportar a mano todos los dias

[2016-02-01 21:53] LeandroBraier commented on #252
Pero en esos casos sí conviene que sea automático. No es tanta la cantidad
de suscriptos por día la verdad. De última cuando enviemos mails de parex
lo frenamos, no?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-01 18:45 GMT-03:00 mkreyness notifications@github.com:

[2016-02-01 22:42] mkreyness commented on #252
Exacto, a eso me referia

Enviado desde mi iPhone

[2016-02-02 06:32] mkreyness commented on #252
No pude hacer nada esta noche, llegue a casa retarde de una reunion y encima me tuve que poner a transcribir todo lo hablado. A la mañana te armo lo de MailChimp.

[2016-02-02 11:29] mkreyness commented on #252
Uh, se me vencio el acceso. Ahi le pedi a Ezequiel que me pase un authenticator

[2016-02-02 12:17] mkreyness commented on #252
che ahi arme todo pero estoy viendo que los suscriptos hasta ahora son 80 nada mas, los podria mandar perfectamente desde el servidor de Klaukol y listo.

[2016-02-02 12:21] LeandroBraier commented on #252
Jaja buenisimo. Adelante nomas. De ultima queda armado para un futuro igual
no te preocupes. Gracias!
El feb. 2, 2016 9:17 AM, "mkreyness" notifications@github.com escribió:

[2016-02-02 12:26] mkreyness commented on #252
ok, ahi lo largue y despues cuando termine lo dejo automatico.

[2016-02-02 12:28] LeandroBraier commented on #252
Gracias Marce!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Feb 2, 2016 at 9:26 AM, mkreyness notifications@github.com wrote:

[2016-02-02 12:29] LeandroBraier commented on #219
@mkreyness esto no se podrá dejar automático también, siempre 3 días antes del sorteo?

[2016-02-02 16:42] mkreyness commented on #219
No se, a mi me dio tantas veces que se desconectaba la base...
No va  a cambiar nada de un mes a otro ? Ni el HTML, ni el subject ?
Las categorias 1 y 2 no habria problema, pero la 3 es muy larga y habria que controlarla manualmente cada tanto (y ni que hablar que mientras no se puede mandar otra cosa).

[2016-02-02 18:32] LeandroBraier commented on #219
Ok. La lista 3 no la hagamos automática.

Respecto del mailing el actual es atemporal, no habla de premios. Vamos con
ese.
El feb. 2, 2016 1:42 PM, "mkreyness" notifications@github.com escribió:

[2016-02-02 18:46] mkreyness commented on #219
ok, entonces: en febrero (este febrero) correria el dia 26, los meses de 30 el dia 27 y los meses de 31 el dia 28, ok ?

[2016-02-02 20:00] LeandroBraier commented on #219
Exacto.
El feb. 2, 2016 3:46 PM, "mkreyness" notifications@github.com escribió:

[2016-02-04 15:16] FAAREIA commented on #204
http://www.parexklaukol.com.ar/calculador_muestra.html
http://www.parexklaukol.com.ar/simulador_muestra.html

El calculador ahora tiene la animación que baja cuando muestra los resultados.

El simulador tiene lo que le faltaba. Faltaría pulir la primer aparición del contenido. Lo principal es definir si las fotos del simulador van a ser las mismas que antes ya que al agrandarlas se rompen un poco

[2016-02-04 20:42] LeandroBraier opened #253 "Adueñarnos del Dominio parexgroup.com.ar"
@mkreyness y @FAAREIA tengo una consulta: tengo a la persona dueña del dominio y quiero que esa página deje de existir y el dominio redirecciona a nuestra web: www.parexklaukol.com.ar

Me darían los DNS con los instrucciones de lo que tiene que hacer esta persona en Nic.Ar para hacerlo?

[2016-02-04 20:59] mkreyness commented on #253
Para que ese dominio apunte al servidor de Duplika tenes que decirle que ponga los nameservers de duplika: ns1.duplika.com y ns2.duplika.com
Y tenemos nosotros que agregarlo en el panel de control de duplika para que apunte a la home parexklaukol.com.ar
Pero eso no te hace dueño del dominio, el dueño del dominio es el que figure registrado en nic.ar

[2016-02-04 21:19] LeandroBraier commented on #253
Entiendo eso MK. Era una forma de decir.

Entonces no necesito los IP de ambas direcciones. Según las las instrucciones que da NIC.AR para esto sería así:

**En nuestro sistema, la Delegación es muy sencilla:
Ingresá a la sección "Mis dominios" desde tu Panel de Control. Seleccioná el/los dominio/s tildando el casillero de cada uno y hacé clic en la opción "Delegar". A partir de ahí, podés cargar

[2016-02-04 21:27] mkreyness commented on #253
Los IPs solo son necesarios para cosas como mandar el MX (registro del mail) a otro servidor, porque es algo que se carga en el DNS, pero nunca para delegar el dominio directamente desde el NIC.

[2016-02-04 21:34] LeandroBraier commented on #253
Gracias @mkreyness !!

Dejo para la próxima link a los instructivos de NIC

https://nic.ar/preguntas-frecuentes.xhtml#

https://www.youtube.com/watch?feature=player_embedded&v=RWs_BbHJg7E

abrazo

[2016-02-05 01:05] LeandroBraier opened #254 "Nuevo Sitio Revear con Template. 27/04"
@FAAREIA necesitaría como siempre 3 propuestas para el nuevo sitio de Revear.

Tené en cuenta que sea bien moderno, lo más posible manteniendo lo minimalista y la predominancia de la imagen sobre el texto. Y además un detalle: la gente va a elegir al entrar a la web si es Profesional o Consumidor Final y, en función de eso, va a haber leves diferentes en lo que vea en la web.

Consultame cualqueir

[2016-02-05 11:22] FAAREIA commented on #253
En el issue no dice que se necesita hacer. ¿Qué dominio hay que delegar a donde?

[2016-02-05 12:07] LeandroBraier commented on #253
Buen día @FAAREIA ! Te faltó leer el título del issue y mi primer thread:

*_Adueñarnos del Dominio parexgroup.com.ar *_

@mkreyness y @FAAREIA tengo una consulta: tengo a la persona dueña del dominio y quiero que esa página deje de existir y el dominio redireccione a nuestra web: www.parexklaukol.com.ar

[2016-02-05 13:04] FAAREIA commented on #253
Pero hay algo que no entiendo, la persona que tiene parexklaukol es la misma que parexgroup, cuando el haga el cambio de DNS o nos pase los datos para hacerlo, que nos avise y al toque agregamos el dominio nuevo al panel de control del hosting asi se acepta la redirección

[2016-02-05 13:13] LeandroBraier commented on #253
CLaro, eso estoy esperando. Pero antes de eso no se puede ir haciendo?

[2016-02-05 13:21] LeandroBraier commented on #204
Buenisimo @FAAREIA ! Me encantá como quedaron.

CALCULADOR
Quedó buenisimo! Ya está entregable no?

1) Solo 1 detalle: existe la posibilidad de que el enter en la última celda activar el "Calcular"? Porque cuando hago "Enter" (me sale automático porque casi todas las aplicaciones de este tipo funcionan así, como elbuscador de google) no solo no calcula sino que me borra todo lo seleccionado.

SIMU

[2016-02-05 13:57] FAAREIA commented on #253
Ahi ya le puse para que funcione la redirección. Habría que probarlo cuando ya se haga terminado la delegación

[2016-02-05 13:58] LeandroBraier commented on #253
Excelente. Gracias Fede!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-05 10:57 GMT-03:00 Federico Arena notifications@github.com:

[2016-02-05 20:53] LeandroBraier opened #255 "Equipo Klaukol linkeado en la web de ParexKlaukol"
@FAAREIA necesito para mañana subir el logo del Equipo Klaukol de esta manera:

![mock-up-sitio-web](https://cloud.githubusercontent.com/assets/6719872/12858832/2adfae1c-cc31-11e5-9865-52cdf4727173.png)

Linkeando a esta playlist:

https://www.youtube.com/playlist?list=PLlOciJKjCRsb2khN-hcH6lDJxMbDx8CmL

Me confirmás si llegamos?

El logo es este:

![logo-equipo-klaukol](https://cloud.githubuserco

[2016-02-05 23:54] LeandroBraier opened #256 "Fotos Privadas que Facebook levanta de Comunidad de Vendedores y Club Colocadores"
@FAAREIA lo antes posible fijate por favor que Facebook está levantando las fotos privadas como preview en redes.

<img width="447" alt="captura de pantalla 2016-02-05 a las 9 12 24 p m" src="https://cloud.githubusercontent.com/assets/6719872/12862463/a2db80ee-cc4a-11e5-80b1-63fc7147a588.png">

Sabés cómo modificar eso? las fotos privadas son privadas digamos, no puede verse ahi.

[2016-02-06 01:20] LeandroBraier commented on #255
@FAAREIA te paso acá lo que iría la imagen que iría en el pop up y llevaría al mismo link del logo de Equipo Klaukol.

![posteo-equipo-klaukol-lanzamiento-1](https://cloud.githubusercontent.com/assets/6719872/12863499/924f4cb4-cc55-11e5-97de-80c81b6a2829.png)

Si necesitás achicalo a 600x600.

abrazo y buen finde!

[2016-02-06 12:28] FAAREIA commented on #254
Con respecto a productos, no encontré nada que nos sirva. Lo que si hay son ecommerce pero tampoco nos sirve porque no es tanto, yo diría que con la estética definida y los mil ejemplos de todo que trae cada theme armemos productos, lo cual debería ser fácil.
Recuerden que cada theme puede tener alternativas de la página que mando, chequeenlas si quieren.

http://newthemes.themeple.co/ausart_html/

[2016-02-06 13:21] FAAREIA commented on #255
Todo hecho

[2016-02-06 13:56] LeandroBraier commented on #255
Gracias @FAAREIA !!  Quedó todo muy bien, pero fijate no sé por qué la X del pop up no cierra.

Uno puede salir haciendo clic fuera del mismo, pero igual molesta. Se podrá arreglar eso?

abrazo

[2016-02-06 14:24] FAAREIA commented on #256
Ahi esta solucionado.
@mkreyness
https://developers.facebook.com/tools/debug/og/object/
En esa url pongan http://www.parexklaukol.com.ar/colocadores/ y vean que tira unos errores, alguna idea? A pesar de eso, la data sale bien ahora.

[2016-02-06 14:31] mkreyness commented on #256
El index de colocadores es un redirect a maincolo.pl y a Facebook no le gusta, tiene que ser asi porque el contenido de la main es dinamico. Si fuera a un login estatico, no les molestaria, pero es menos atractivo para enganchar gente.

[2016-02-06 14:31] mkreyness commented on #256
Y probablemente no pueda ejecutarlo porque prohibiste cgi-bin en robots.txt ?

[2016-02-06 14:34] FAAREIA commented on #255
Hecho, era un bug de webkit

[2016-02-06 14:37] mkreyness commented on #256
y como dije alguna otra vez, en los metatags no hay que usar utf-8, eso no solo rompe cualquier intento de usar el sharer.php (cuando esta como titulo), sino que se ve horrible en los textos.
Hay que encodear las letras acentuadas, enies y signos de puntuacion no-ascii (abre pregunta, abre exclamacion) en html entities.

[2016-02-06 15:00] FAAREIA commented on #256
No creo que sea lo del robots.txt, ese archivo lo respeta el que quiere.
Lo del UTF habría que verlo, hay que definir un charset si o si creo. Todos los otros sitios estan también con lo de UTF-8

[2016-02-06 15:58] mkreyness commented on #256
Lo de UTF-8 yo tuve que irlo corrigiendo en los templates de las paginas que tuvieran botones de share, si no se rompia el URL directamente y daba error facebook.

[2016-02-06 16:02] LeandroBraier commented on #255
Buenisimo, muchas gracias!

[2016-02-06 16:02] #255 closed, assigned to FAAREIA

[2016-02-06 16:05] LeandroBraier commented on #254
Muchas gracias Fede!!! Están muy buenas todas!! Las vamos a ver con Eze el miércoles y te damos feedback.

abrazo grande

[2016-02-09 13:45] mkreyness commented on #204
Muchachos: MS tiene una chica programadora (Amalia Garcia) que quiere tirarle alguna tarea (suficientemente encapsulada como para que no afecte/requiera de otras cosas) a ver como resulta. Yo no tengo nada en curso en este momento, pero me imagino que este tema de los datos de simulador de fachadas y calculador de adhesivos en algun momento me va a llegar al punto de tener que llenar con contenido

[2016-02-10 11:21] LeandroBraier commented on #204
Buenisimo @mkreyness ! Sumamos alguien más al equipo. Bienvenida Amalia!

Paso el status de estas aplicaciones, que @FAAREIA y @braulio-evangelisti confirmen por las dudas si me equivoco en algo.

CASA INTERACTIVA: Ya está maquetada y conectada al CMS. Quedó de mi parte cargar productos via CMS. **Status: Data entry final.**

CALCULADOR DE ADHESIVOS: Ya está maquetada y funcional aparentemente. So

[2016-02-10 11:51] FAAREIA commented on #256
Ahi le saqué el UTF-8 y sigue tirando esos caracteres fallados. Raro

[2016-02-10 12:02] mkreyness commented on #256
hay que esperara a que Facebook haga un refresh de los datos que tiene cacheados, o forzarlo desde el tool.

[2016-02-10 12:49] LeandroBraier opened #257 "Mailing Lanzamiento Equipo Klaukol"
Buen día @FAAREIA y @braulio-evangelisti ! Le envío a Braulio por WeTransfer un PSD editable para con el keyvisual para que lo adapten a un mailing.

Si logran hacerlo, estaría buenísimo agregar en alguna parte un GIF animado, tomado de los videos publicados:

https://www.youtube.com/watch?v=ZOyJSqcidRo&list=PLlOciJKjCRsb2khN-hcH6lDJxMbDx8CmL&index=2

Fijense como hacerlo, si necesitan ayuda con e

[2016-02-10 13:39] FAAREIA commented on #204
Va el detalle:

# Calculador
- http://www.parexklaukol.com.ar/aplicaciones/calculador.html
- http://www.parexklaukol.com.ar/calculador_muestra.html
- Falta definir la imagen del encabezado
- La data que aparece cuando se apreta "Calcular" es estática, habría que generarla en base a las opciones elegidas en el formulario.

# Casa interactiva
- http://www.parexklaukol.com.ar/aplicaciones/casa-intera

[2016-02-10 13:49] LeandroBraier opened #258 "/EquipoKlaukol"
@FAAREIA podrás poner que la url:

www.parexklaukol.com.ar/equipoklaukol

redirija a esta URL:

https://www.youtube.com/watch?v=JdbcpV8ALMY&index=1&list=PLlOciJKjCRsb2khN-hcH6lDJxMbDx8CmL

Avisame para qué hora podrías estar hecho.

Gracias!

[2016-02-10 13:54] LeandroBraier commented on #257
Les paso el link a WeTransfer por las dudas:

https://www.wetransfer.com/downloads/2c9755d7c9503dcedeef7d62911c865320160210124643/0709ae

[2016-02-10 13:54] braulio-evangelisti commented on #257
Perfecto. A mi me llego por mail, ya casi esta terminando de descargarse.

[2016-02-10 13:55] LeandroBraier commented on #257
Buenisimo Brau! Me avisás para qué hora podríamos tener el mailing listo?

[2016-02-10 15:35] LeandroBraier commented on #258
@FAAREIA porfa esto con prioridad lo antes posible.

[2016-02-10 15:37] braulio-evangelisti commented on #257
Lea me esta pidiendo 5 fuentes. Me las pasas?

[2016-02-10 15:47] LeandroBraier commented on #257
Si, no problem. Aquí van:

[exo_2.zip](https://github.com/LeandroBraier/Klaukol/files/125019/exo_2.zip)

[fingbanger.zip](https://github.com/LeandroBraier/Klaukol/files/125017/fingbanger.zip)

[frutiger-lt-std.zip](https://github.com/LeandroBraier/Klaukol/files/125012/frutiger-lt-std.zip)

Decime si falta alguna.

abrazo

[2016-02-10 17:24] braulio-evangelisti commented on #257
http://www.parexklaukol.com.ar/_mailing/equipo/equipo.html

Lea el tema de los gif capas se pueden poner en los dos thumbs.
Necesitaria los videos originales, o que me pasen los frames en buena calidad ya que el gif comprime bastante las imagenes y van a quedar mejor si partimos de los originales que de los videos de youtube.

[2016-02-10 17:33] mkreyness commented on #204
La idea seria tirarle a esta chica para que programe consultas sobre la base a la cual le lleguen los argumentos necesarios y responda resultados.
La LOGICA de eso (parametros que se seleccionan por pantalla y tipos de resultados a traer) donde la puedo ver ?

[2016-02-10 18:03] FAAREIA commented on #204
En la urls originales esta todo el funcionamiento de cada uno.

[2016-02-10 18:07] FAAREIA commented on #258
Hecho, la declaración en el .htaccess fue:

[2016-02-10 19:01] LeandroBraier commented on #257
Está buena la idea, pero por un tema de tiempos vamos a salir sin GIFs por ahora. El problema que tengo con esta versión son las fuentes.

1) Necesito que pongas los textos como imagen y con texto en "alt" porque el cliente se va a quejar de que no es la tipografía que elegimos.

2) Necesito que el cartel de "Mirá los episodios" diga "Mirá los episodios en" y que la url sea "parexklaukol.com.ar/Eq

[2016-02-10 20:20] LeandroBraier commented on #254
@FAAREIA ya elegimos con Eze y nos quedamos con estos dos:

http://codeless.co/tower/default/

http://demo.linethemes.com/hnk/

Lo que necesitamos es armar un mock con cada uno de estos aplicando Logo y estética más Revear. Es solo un mock up en JPG de cada uno para mostrarle al cliente. Lo ves posible para el viernes?

[2016-02-10 20:32] mkreyness commented on #204
Si, eso ya se, pero no hay algo armado que pueda pasarle como la tabla de los calculos y saber de qué campos del HTML nuevo salen los valores a tomar en cuenta ?

Lo mismo para los desplegables del simulador de fachadas, yo tendria que hacer que de la base se lean los contenidos que corresponden a una seleccion previa, ya tenes puestos "data-algo" que los identifican, como en el de la casa interac

[2016-02-11 00:37] LeandroBraier commented on #258
Gracias!!!

[2016-02-11 00:37] #258 closed, assigned to FAAREIA

[2016-02-11 11:16] FAAREIA commented on #204
El relevamiento de toda la data no esta hecho, al menos por nuestra parte. Por ejemplo en el simulador desconozco si tal color tiene textura o no.
En el simulador si estan puesto los "data-algo", que los uso para poner color al svg y para que abajo te diga que color usaste en tal parte.

[2016-02-11 11:28] FAAREIA commented on #254
Para el viernes se puede llegar pero capas que lo terminado no es tan bueno. Yo diría de esperar al menos hasta el lunes.

[2016-02-11 11:30] LeandroBraier commented on #254
Ok hagamos uno por lo menos para el viernes. El segundo haganlo hasta donde
puedan y yo los ayudo a terminarlo.

Abrazo
El feb. 11, 2016 8:28 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-11 12:23] LeandroBraier commented on #257
Buen día @braulio-evangelisti ! Cómo venís con esto? lo necesito lo antes posible.

abrazo

[2016-02-11 12:29] braulio-evangelisti commented on #257
ya casi lo tengo, me falta el gif nomas que lo estoy probando pero queda muy trabado.

otra cosa es que al pasar el texto de "mira los episodios" mas arriba, el footer queda solamente con el bloque de fondo blanco a la derecha y vacio a la izquierda. Que otros datos puedo poner en ese lugar?

[2016-02-11 12:35] braulio-evangelisti commented on #257
Fijate ahi la esquina inferior izquierda:

http://www.parexklaukol.com.ar/_mailing/equipo/equipo-2.html

Lo del gif quedaba medio raro.

[2016-02-11 12:46] LeandroBraier commented on #257
Está muy bien Brau. Lástima lo del GIF no funcionó. Abajo en el footer reemplazá la parte repetida de la izquierda por el mismo footer de los newsletters habituales:

<img width="643" alt="captura de pantalla 2016-02-11 a las 10 04 38 a m" src="https://cloud.githubusercontent.com/assets/6719872/12976620/451a4c34-d0a4-11e5-85f0-4e19cfcd8a08.png">

Con eso estamos.

abrazo

[2016-02-11 12:52] braulio-evangelisti commented on #257
Hecho!

[2016-02-11 12:53] LeandroBraier commented on #257
Gracias @braulio-evangelisti ! Lo envio al cliente para aprobar.

[2016-02-11 13:09] FAAREIA commented on #254
Solo home no?

[2016-02-11 13:18] LeandroBraier commented on #254
Si, tal cual. Solo HOme para que digan cuál les gusta más de los dos
templates. Recordá que es solo JPG. Con Photoshop directamente hacelo.

On Thu, Feb 11, 2016 at 10:09 AM, Federico Arena notifications@github.com
wrote:

[2016-02-11 14:58] LeandroBraier commented on #253
@FAAREIA el cliente ya hizo el cambio. Hay algo más para hacer o solo nos queda esperar que la delegación se realice sola?

A parte de esto el cliente tiene en su poder el dominio www.clubdecolocadores.com.ar

Me pasarías los DNS que tendría que poner para que redirija a parexklaukol.com.ar/colocadores/ ?

abrazo

[2016-02-11 16:10] LeandroBraier opened #259 "Bug en Video Comunidad de Vendedores. PARA HOY"
@mkreyness necesito subir un video a la Comunidad de Vendedores solo para que sea compartido. Este tipo de "tema" está ya habilitado en el Club de Colocadores, donde lo pude subir sin problemas, pero no en la Comunidad de Vendedores. Te paso el link del ejemplo:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34&usuario=LeandroBraier&clave=parexklaukol

Avisame porfa cuando ya está habilitado

[2016-02-11 17:16] mkreyness commented on #259
Pasame un link de ejemplo en el de COLOCADORES asi veo como lo habia implementado.

[2016-02-11 17:20] LeandroBraier commented on #259
Aquí va!

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=13

abrazo

[2016-02-11 18:01] mkreyness commented on #259
Pero no es lo mismo, el que me pasaste de colocadores no tiene share, es un video pelado.
Tiene que ser un tema que tenga un juego de tipo share cargado.

[2016-02-11 18:03] LeandroBraier commented on #259
AH, entonces no. Porque colocadores no tiene puesto eso (que debería
tenerlo ya que estamos jeje)

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Feb 11, 2016 at 3:01 PM, mkreyness notifications@github.com wrote:

[2016-02-11 18:06] mkreyness commented on #259
Justamente ese template para SOLO VIDEO sin nada es lo que se elige cuando no hay NINGUN juego asociado al tema. Si le pones el juego va a tratar de poner una foto y no un video.
Resolvamos eso despues.
Entonces lo que hace falta es algo que ME parece que no hay armado en ningun lado, video + share.

[2016-02-11 18:07] LeandroBraier commented on #259
Exacto. Si obvio. La prioridad es Vendedores. Colocadores está bien así sin
apuro.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-11 15:06 GMT-03:00 mkreyness notifications@github.com:

[2016-02-11 18:11] mkreyness commented on #259
ok, te aviso en un rato.

[2016-02-11 20:03] mkreyness commented on #259
listo, fijate

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?usuario=leandrobraier&clave=parexklaukol&id=34

[2016-02-11 20:38] LeandroBraier commented on #259
Perfecto MK! Gracias!

A partir de ahora ya sale solo este template o yo le tengo que seleccionar
el template en el cms?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Feb 11, 2016 at 5:03 PM, mkreyness notifications@github.com wrote:

[2016-02-11 20:41] mkreyness commented on #259
Toda vez que pongas un tema en Vendedores que solo tenga un juego de tipo "Compartir", te va a tomar este template.
Lo ideal en realidad seria que hubiera otro para cuando solo es foto.

[2016-02-11 21:06] LeandroBraier commented on #259
De acuerdo MK. Cuando puedas anotate para hacerlo. Lo mismo en el Club de Colcoadores, asi no te jodo de apuro más adelante.

Gracias @mkreyness !

[2016-02-11 21:06] #259 closed, assigned to mkreyness

[2016-02-11 21:34] mkreyness commented on #259
En el de colocadores de alguna manera ya esta funcionando esa parte con fotos, lo que pasa es que no cuando es video (no vi si tienen el juego share, pero en la pagina NO aparece el boton de share).

[2016-02-11 21:54] LeandroBraier commented on #257
@braulio-evangelisti el cliente respondió. Le gustó, pero dice que en mobile no se ven las fotos chicas ni el texto. Entonces:

1) Agrandá los textos rojo y azul a un tamaño de fuente igual a la frase "Mira sus episodios en"

2) Agrandá las 2 fotos lo más posible.

3) Achicá el footer lo más posible. Dice que el corner de ParexGroup lo ve enorme y no tienen necesidad de que sea tan grande. Achical

[2016-02-11 21:57] LeandroBraier commented on #256
Ya está resuelto ese tema en Colocadores! Gracias!

Solo fijense que lo de UTF8 sigue estando raro con los tildes:

<img width="497" alt="captura de pantalla 2016-02-11 a las 7 15 01 p m" src="https://cloud.githubusercontent.com/assets/6719872/12992120/59916394-d0f1-11e5-9eef-8732b041d9e5.png">

En Vendedores aún no lo veo resuelto.

[2016-02-11 22:16] mkreyness commented on #256
la scraped information sigue NO levantando de ahi el texto.
Vean lo que muestra esto:

https://developers.facebook.com/tools/debug/og/echo?q=http%3A%2F%2Fwww.parexklaukol.com.ar%2Fcolocadores%2F

Debe estar sin cambiar en algun otro lado de donde lo esta levantando.

[2016-02-11 23:06] LeandroBraier commented on #256
Estoy viendo que nos pasa en todos los sitios esto. Los únicos que muestra una imagenes correctas ahora son Club de Colocadores y el Micrositio de Klaukol Impermeable Potenciado.

El resto muestra imágenes al azar:

http://www.parexklaukol.com.ar/
http://www.parexklaukol.com.ar/guia-corralones/
http://www.parexklaukol.com.ar/vendedores/
http://www.revear.com.ar

[2016-02-11 23:17] LeandroBraier opened #260 "Rediseñar Formulario de Inscripción de MailChimp"
@FAAREIA necesito que armen un diseño de este formulario en función de la estética del sitio web ParexKlaukol:

http://parexklaukol.us11.list-manage.com/subscribe?u=455b0cd079a287d15e307c9b7&id=eb5b99989b

Averigué y esto se puede hacer totalmente customizado e incluso con CSS a través del API de Mailchimp:

<img width="743" alt="captura de pantalla 2016-02-11 a las 8 34 51 p m" src="https://cloud

[2016-02-11 23:18] LeandroBraier commented on #260
Esto también debería incluir rediseñar este mailing en caso de ser necesario. Yo lo veo bastnate bien pero quizá se puede perfeccionar:

http://www.parexklaukol.com.ar/_mailing/sumarme/

[2016-02-12 00:34] LeandroBraier commented on #204
@FAAREIA necesitaría poder tener listas estas 3 aplicaciones a mediados de la semana que viene. Me confirmás si llegamos?

[2016-02-12 00:38] mkreyness commented on #256
el sitio de revear muestra basura abajo:

`/\=\s*([^'"\]]*)\s*\]/g`

[2016-02-12 03:05] LeandroBraier commented on #254
Fede, mañana a las 12 mandame lo que tengas hecho hasta esa hora así le
mando al cliente. Me pidió Eze que mandemos algo, aunque sea provisorio.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Feb 11, 2016 at 10:18 AM, Leandro Braier leandrobraier@gmail.com
wrote:

[2016-02-12 03:08] mkreyness commented on #204
Creo que ya no depende mucho de Fede.
Si ese es el apuro no podemos jugarnos usarlas como experimento con la chica nueva.
Hasta que primero yo entienda que hacer, se lo explique, le de los accesos, etc. ya se paso una semana entera como minimo.

[2016-02-12 11:24] FAAREIA commented on #254
Oka dale

[2016-02-12 11:26] FAAREIA commented on #204
Más allá de que se le de duro, no sería arriesgado? Habría que probarlas bastante, más el simulador que tiene PDF, impresion, facebook, twitter.

[2016-02-12 11:31] LeandroBraier commented on #204
Ok intento negociar para la otra semana la del 22. Ahi llegamos no?
El feb. 12, 2016 8:26 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-12 11:36] FAAREIA commented on #260
@braulio-evangelisti

[2016-02-12 11:42] FAAREIA commented on #253
Exacto, solo hay que esperar un máximo de 48hs para que finalice la delegación. A mi en telecentro ya me funciona bien.
Los DNS para colocadores son los mismos que antes. Ya agregué ese dominio para que cuando se finalice la delegación, que aún falta hacer, redireccione a la url actual de colocadores.

Abrazooo

[2016-02-12 12:08] braulio-evangelisti commented on #257
Fijate ahora Lea, fue lo maximo que me dio para agrandar fotos y texto

http://www.parexklaukol.com.ar/_mailing/equipo/equipo-2.html

[2016-02-12 13:04] LeandroBraier commented on #257
Lo veo mejor Brau pero me parece que esta muy chico para mobile. Tendriamos
que aumentar de tamaño todo ese texto por lo menos 2 puntos desde Mira sus
episodios...hasta maxima potencia en adhesivos.
Gracias
El feb. 12, 2016 9:08 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-02-12 13:05] braulio-evangelisti commented on #260
Este form es un embed form? De ser asi, si me pasan el codigo puedo empezar a trabajar directamente desde la maqueta y ver hasta donde se puede ir modificando.

[2016-02-12 13:34] LeandroBraier commented on #260
Chicos hablenlo con MK. El sabe como subir un html a mailchimp.
Brau ahora dale prioridad al mailing de equipo klaukol.
Abrazo
El feb. 12, 2016 10:05 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-02-12 13:45] braulio-evangelisti commented on #257
Fijate ahora

[2016-02-12 14:23] LeandroBraier commented on #257
Las fotos y textos estan bien pero:
1. El "Mira sus episodios..." sigue chiquito
2. La url dice EquipoKlukol

Con eso ajustado estamos.
El feb. 12, 2016 10:45 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-02-12 14:39] braulio-evangelisti commented on #257
jajaja se me escapo en la image

fijate ahora

[2016-02-12 14:44] LeandroBraier commented on #257
Ahora si perfecto! Gracias Brau!

[2016-02-12 14:55] LeandroBraier commented on #257
@braulio-evangelisti urgente! Ya lo mandé al cliente y me acabo de dar cuenta de que el link no funciona. Me parece que es por las mayúsculas. Tiene que ser todo en minúsculas. Porfa corregilo lo antes posible.

abrazo

[2016-02-12 15:16] LeandroBraier commented on #253
Perfecto Fede. Entonces le pido que delegue a esos DNS también.

abrazo

[2016-02-12 15:20] #253 closed, assigned to mkreyness

[2016-02-12 15:23] braulio-evangelisti commented on #257
Si eran las mayusculas. Ya lo corregí

[2016-02-12 15:26] LeandroBraier commented on #257
Gracias @braulio-evangelisti !

abrazo

[2016-02-12 15:29] #247 closed, assigned to nobody

[2016-02-12 15:29] #246 closed, assigned to nobody

[2016-02-12 15:30] FAAREIA commented on #254
Ahi va el beta. Se puede pulir mucho más, el tema sería ya elegir un template y redefinir algunos bloques de información. Sin los PSD hacer modificaciones sobre el screenshot cuesta un poco más.

Espero que guste como punto de partida.

![revear](https://cloud.githubusercontent.com/assets/6184969/13011164/39f52ea6-d184-11e5-81df-47af00456fbf.png)

[2016-02-12 15:32] LeandroBraier commented on #254
Buenisimo @FAAREIA ! Con esto le puedo ir mandando algo.

Sigamos trabajando el mock up entonces. La forma de mostrarle los 2 templates al cliente para que elija va a hacer a través de estos mock ups.

abrazo

[2016-02-12 15:32] FAAREIA commented on #254
También quería decir que la data que inclui fue a mi criterio nomás, se puede redefnir.
Mi idea fue poner los 2 links al calculador y distribuidores apenas se arranca. Luego 3 novedades con foto, lo cual contradice a lo actual que no tiene ni 1 foto. Luego el último producto o un producto destacado y debajo los logos de las certificaciones que tengan

[2016-02-12 15:33] FAAREIA commented on #254
Sigo con este o avanzo con el otro asi llegamos para el lunes?

[2016-02-12 15:36] LeandroBraier commented on #254
Gracias Fede!

Este está OK, solo agregale:

1) Las segundas líneas de texto que hay en el slideshow principal, que lo hacen verse más sofisticado.

2) Un Pop Up de Intro copado que permita elegir si el usuario es Profesional o Consumidor final (algo parecido a lo que proponemos en este slide de nuestra presentación)

![slide22](https://cloud.githubusercontent.com/assets/6719872/13011345/1676a9a4-

[2016-02-12 15:50] FAAREIA commented on #254
Ahi va el agregado de la segunda linea del slideshow:
Lo del otro es más una especie de landing, pop-up no podría ser ya que en base a la elección te cambia el contenido del sitio. Ahora veo que se me ocurre.

![revear](https://cloud.githubusercontent.com/assets/6184969/13011734/f92f7a22-d186-11e5-8980-d6978766a698.png)

[2016-02-12 15:53] LeandroBraier commented on #254
Buenisimo Fede! Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-12 12:50 GMT-03:00 Federico Arena notifications@github.com:

[2016-02-12 16:21] FAAREIA commented on #254
Ahi va la landing para la selección del tipo de usuario. Cuando este en HTML se va a ver bien el tema de la animación cuando se eliga una opción.

![tipo-usuario](https://cloud.githubusercontent.com/assets/6184969/13012798/7d96bb50-d18b-11e5-9104-173576e2a22a.png)

[2016-02-12 18:16] LeandroBraier commented on #254
Tendría que ser más grande y al frente lo de las opciones, como en la refe que te pasé. Si puede ser con foto mejor. Sino con icono está bien, pero recordá que el profesional es el arquitecto o el decorador, no el colocador en este caso.

La frase debería decir: "ELEGÍ UN TIPO DE USUARIO Profesional  / Particular " y debajo agregar: "Personalizaremos la información de este sitio especialmente para

[2016-02-12 18:57] mkreyness commented on #260
Ojo que esto no es el HTML de los templates con que yo trabaje.
El API propiamente dicho nunca lo usamos, lo que hicimos fue crear una lista de emails con campos custom.
Estos forms deben ser al reves, para GENERAR listas, pero siempre dentro de mailchimp, eso es lo que necesitan ? Porque un form con otro tipo de usos Mailchimp no lo va a permitir.

El modo "advanced" no es tan advanced como con l

[2016-02-12 19:16] LeandroBraier commented on #260
Ok, si me parece bien la propuesta MK.

Lo que quiere el cliente es que formulario tenga un diseño más atractivo (más en la línea de los mailings mismos) y que se entienda claro qué hay que hacer. Actualmente mucha gente no entiende qué es y lo cierra.

Para eso, lo que les pido es:

1) Que el título del formulario diga: "¿TODAVIA NO TE SUSCRIBISTE A NUESTRO NEWSLETTER?" y abajo diga: "Es muy simp

[2016-02-12 19:24] FAAREIA commented on #254
Ahi va otra vez Lea. Lo de las fotos para mi no va a ir, hoy en día es todo ícono, va a quedar viejo si ponemos foto de banco de imagen en donde podemos poner íconos para representar una palabra.

Con respecto al ícono le dejé el mismo pero sería ideal retocarlo. Por mi parte relaciono alguien con casco a alguien de obra, y los lentes en este caso son un plus, pero decime que es lo que te da a col

[2016-02-12 19:25] FAAREIA commented on #254
![reve-intro](https://cloud.githubusercontent.com/assets/6184969/13017793/1951db92-d1a5-11e5-9b83-d5d8b6d7d4b7.png)

[2016-02-12 19:32] mkreyness commented on #260
Pero tienen acceso para verlo en Mailchimp ?

[2016-02-12 19:33] LeandroBraier commented on #257
El mailing sigue vivo @braulio-evangelisti !! El cliente volvió a responder y quiere más.

Quiere lo siguiente:

Parte Superior) La imagen donde se presenta al equipo, e invitarlos a que vean sus episodios (tal como esta pero que clickeando en cualquier parte del mailing lo lleve al link).
Parte inferior) Luego de eso, una imagen en grande de cada uno los videos.
Que la gente cliquee en cualquiera

[2016-02-12 19:35] LeandroBraier commented on #254
Claro, entiendo.

Probemos alguien con casco y corbata, pero sin lentes, para el profesional. Y alguien que igual tenga pelos y caro en "particular".

[2016-02-12 19:37] LeandroBraier commented on #260
No, por eso decía que coordinen con vos. Igual vayan armando el diseño primero, porque ahora está a full Eze y en Chile como para pedirle el Google Authenticator. Avancemos con el diseño bajo las limitaciones que tenemos. Esto es para el lunes, no es urgente, no se preocupen.

[2016-02-12 19:42] braulio-evangelisti commented on #257
No voy a llegar para hoy Lean, en un toque ya me estoy yendo a cursar.

[2016-02-12 19:45] LeandroBraier commented on #257
Ok, no hay problema. Confirmame porfa si llegás para mañana, así la llegan a ver y dar feedback antes del lunes a la mañana que hay que enviarlo.

abrazo

[2016-02-12 19:46] LeandroBraier commented on #257
Recordá que todas las imágenes lleven al mismo link.

[2016-02-12 19:48] braulio-evangelisti commented on #257
si mañana no hay problema, abrazo

[2016-02-13 17:49] braulio-evangelisti commented on #257
http://www.parexklaukol.com.ar/_mailing/equipo/equipo-3.html

[2016-02-13 21:49] mkreyness commented on #204
@LeandroBraier vuelvo sobre el punto de siempre: NO tengo las formulas del calculador.
Ya se que alguna vez hace años me las pasaste, pero no las encuentro, ya revolvi todas mis casillas de mail. Podrias volvermelas a pasar ?

[2016-02-14 14:47] LeandroBraier commented on #257
Gracias Brau!!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Sat, Feb 13, 2016 at 2:49 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-02-15 11:58] braulio-evangelisti commented on #260
Lea hay alguna foto de las que armaron para klaukol que tenga que ver con novedades o algo por el estilo?

[2016-02-15 12:07] FAAREIA commented on #254
Hola Lea, decime que te parece ahora:
Al particular le puse ojos pero no quedaba bien. Cualquier cosa deicme y te muestro como quedaba.

![reve-intro](https://cloud.githubusercontent.com/assets/6184969/13048265/76930d42-d3c3-11e5-9d01-4b0e5aab9c55.png)

[2016-02-15 12:22] LeandroBraier commented on #254
Buen dia Fede! Me gustan asi. Lo unico que no me cierra es el circulo del
pop up. Hagamoslo cuadrado por el momento. Lo demas perfecto.

Abrazo
El feb. 15, 2016 9:07 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-15 12:23] LeandroBraier commented on #204
Buen dia MK! Ok. Lo busco y te lo vuelvo a pasar.  Creo que ya es como la
tercera vez pero todo bien. Lo trngo que buscar nomas.

Abrazo
El feb. 13, 2016 6:49 PM, "mkreyness" notifications@github.com escribió:

[2016-02-15 12:23] LeandroBraier commented on #260
Buen xia Brau! Decis para este formulario? Busco y te digo.

Abrazo
El feb. 15, 2016 8:58 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-02-15 12:30] braulio-evangelisti commented on #260
Si queria probar de usar una imagen de fondo para la parte del encabezado hasta antes que empiezan los campos a completar pero todas la fotos buenas son de colocadores y ese estilo y no tienen nada que ver con novedades, newsletter, etc

[2016-02-15 12:33] FAAREIA commented on #254
Ahi va con el cuadrado:

![reve-intro2](https://cloud.githubusercontent.com/assets/6184969/13048807/2fbf31c6-d3c7-11e5-8d3e-9de4c37c391a.png)

[2016-02-15 13:52] braulio-evangelisti commented on #260
Lea probé dos alternativas con cambios sutiles ya que no estoy seguro hasta donde te deja modificar el diseño si solo te da algunos id's para pisar la hoja de estilos que ya carga por defecto, uno con foto (tendria que ser una foto mas relacionada al tema puse una de colocadores de ejemplo) y el otro es casi igual pero le saque todas las esquinas redondeadas y lo lleve más para el lado de la págin

[2016-02-15 14:00] mkreyness commented on #204
Aca por github ni se como buscar, creo que siempre fue por github. En mails no lo tengo. Mandamelo en un adjunto por mail plis asi lo puedo guardar en mi maquina donde tengo todos las cosas archivadas por tema. Te aseguro que no soy de perder las cosas, es el método el problema.

[2016-02-15 14:09] LeandroBraier commented on #257
Buen dia Brau! Ahora me piden subir la frase roja de abajo para que quede
arriba de las 4 fotitos. Ya que estamos achica esa fuente a 25px. Porfa
avisame apenas lo tengas.
Abrazo
El feb. 14, 2016 11:46 AM, "Leandro Braier" leandrobraier@gmail.com
escribió:

[2016-02-15 14:57] braulio-evangelisti commented on #257
Hecho!

[2016-02-15 15:04] LeandroBraier commented on #257
Gracias Brau! Lo mando una vez más. Espero que esta vez quede final!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Feb 15, 2016 at 11:57 AM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-02-15 15:50] LeandroBraier commented on #254
Perfecto así @FAAREIA ! Nos quedaría el mock up del otro template y entregamos.

[2016-02-15 15:52] FAAREIA commented on #254
![revear2](https://cloud.githubusercontent.com/assets/6184969/13053360/dc25f7ae-d3e2-11e5-9eaa-9ac8829bbf5a.png)

Ahi va la segunda opción del home.
Con respecto a la intro del sitio, necesitan otra opción?

[2016-02-15 15:55] LeandroBraier commented on #260
Está mejor Brau, pero te pido lo siguiente:

HEADER

Logo de ParexGroup bien chico arriba al centro.

"¿TODAVÍA NO TE SUSCRIBISTE A NUESTRO NEWSLETTER? " en rojo y bien grande.
Tipografía de "Es muy simple. Hacelo completando tus datos aquí" más grande.
Agregar alguna imagen que refiera a Newsletter mejor. Lo que no se entiende es para que se está suscribiendo la gente. Lo que tiene que entender e

[2016-02-15 15:56] LeandroBraier commented on #254
Perfecta esta segunda también. El pop up de la intro la necesitaría aplicada sobre una nueva copia de cada mock up, para que el cliente entienda que va a ser la Intro de ambas versiones. Me parece que en este segundo mock up vas a tener que adaptar las fuentes de la intro no?

[2016-02-15 16:30] LeandroBraier commented on #204
MK, aparentemente nunca te lo mandé porque acabo de revisar todos mis mails de 2015 y no lo encuentro. El que sí encontré es el del Calculador de Consumo de Revear, pero este no.

Lo voy a reconstruir y te lo envío en un excel via mail asi te queda archivado.

abrazo

[2016-02-15 17:42] FAAREIA commented on #254
Hola Lea, ahi le cambié las fuentes. Según entendí la intro sería la misma para cualquier versión, solo que adaptada a los estilos de cada una (fuentes principalmente)

![revear-intro2](https://cloud.githubusercontent.com/assets/6184969/13056142/4f7582e2-d3f2-11e5-89d6-23c3784e9c0f.png)

[2016-02-15 17:49] mkreyness commented on #204
Por algo yo tampoco lo encontraba. Pero para mi lo pegaste en github en algun thread, lo que pasa es que hubo varias épocas de esto.

[2016-02-15 18:21] braulio-evangelisti commented on #260
Claro por eso te preguntaba si habia alguna foto de parex referida a novedades o newsletter. No hay no? busco alguna genérica para probar.

Respecto a la ultima pregunta, creo que todo depende de como hayan armado el form este, por lo que vi en mailchimp _(cuenta propia que arme para investigar)_ una de las maneras es "**EMBED FORM**", que segun entendí uno podria copiar el codigo de un formulario

[2016-02-15 18:29] mkreyness commented on #260
yo entiendo que la gracia es que todo este dentro de mailchimp porque asi se mandan los newsletter desde ahi, y si alguien no quiere seguir estando, se de de baja desde ahi, etc.
No tener que pasar por el server de parexklaukol. Lo correcto inclusive seria que el form actual (que no es un form, solo un campo para ingresar email) para suscribirse se cargara en la base de mailchimp y no tener que ha

[2016-02-15 18:32] LeandroBraier commented on #260
Me parece bien lo de unificar la base de newsletters con esto también.

Brau: No hay problema con el tema de la lista. Podemos crear una lista
nueva y armar un nuevo formulario de registro desde 0 en esa nueva lista si
es necesario, aunque creo que se puede reemplazar un formulario por otro en
la lista ya existente también.

Avancemos.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo

[2016-02-15 18:34] LeandroBraier commented on #257
@braulio-evangelisti recién te mandé un test mail de como sale de mailchimp.

El diseño está aprobado, pero fijate que (si bien en mailchimp se ve bien) en mi mail se ven de distinto tamaño las fotos:

<img width="504" alt="captura de pantalla 2016-02-15 a las 3 53 23 p m" src="https://cloud.githubusercontent.com/assets/6719872/13057236/89a34718-d3f9-11e5-9da7-82e2795e1955.png">

Te fijás qué pued

[2016-02-15 18:50] braulio-evangelisti commented on #257
A mi me llego tambien la prueba y lo veo bien en Gmail en Chrome. Me estoy fijando por las dudas, mientras proba de actualizar el navegador con ctrl+F5 o Shift+5

[2016-02-15 18:52] LeandroBraier commented on #257
sisi hice refresh. Supongo que tiene que ver con el cache. Probá cambiarle el nombre a esas 2 imagenes en el server y en el mailing. QUizá con eso ya está.

[2016-02-15 18:55] braulio-evangelisti commented on #257
Ahi le cambie los 4 nombres por las dudas

http://www.parexklaukol.com.ar/_mailing/equipo/equipo-3.html

[2016-02-15 19:08] LeandroBraier commented on #257
Ahora si. Perfecto, gracias!

[2016-02-15 19:08] #257 closed, assigned to FAAREIA

[2016-02-15 19:13] LeandroBraier commented on #254
Gracias @FAAREIA ! Entendiste perfecot.

Lo vemos con Eze y si está Ok ya lo mandamos al cliente para avanzar.

abrazo

[2016-02-15 19:47] LeandroBraier commented on #204
Bueno, aquí va el excel con las fórmulas de cada producto para el Calculador de Adhesivos y Pastinas Klaukol. Va por mail también. Me llevó mis horas de laburo, cuidalo bien ; ) jeje

[Formulas Calculador de Adhesivos y Pastinas.xlsx](https://github.com/LeandroBraier/Klaukol/files/131348/Formulas.Calculador.de.Adhesivos.y.Pastinas.xlsx)

abrazo

[2016-02-15 20:21] braulio-evangelisti commented on #260
![test-2](https://cloud.githubusercontent.com/assets/11272253/13059369/67db29fc-d408-11e5-8367-3552b4e3adb5.jpg)

[2016-02-15 21:08] LeandroBraier commented on #260
Está bueno el de la derecha. El de la foto no la veo, porque no se ve linda pero tampoco cumple el manual de marca.

Como segunda opción hacé algo con esta estética:

<img width="344" alt="captura de pantalla 2016-02-15 a las 6 27 24 p m" src="https://cloud.githubusercontent.com/assets/6719872/13060297/201c670a-d40f-11e5-9c77-2e790878adf1.png">

Un paralelogramo rojo y el texto blanco adentro + ic

[2016-02-16 11:17] braulio-evangelisti commented on #260
![test-3](https://cloud.githubusercontent.com/assets/11272253/13074810/ab8bbcde-d485-11e5-8e1e-c547b5a1e10d.jpg)

[2016-02-16 11:53] FAAREIA commented on #256
Bueno para resumir:
- El sitio de KIP tiene UTF-8 y facebook lo levanta bien. De hecho hay tildes sin pasarlas a un `&acute;` y se ven bien.
- El sitio de colocadores no tiene UTF-8 y facebook muestra en el código que lee que el sitio tiene UTF-8 (lo debe defaultear) y también lo muestra actualizado el html. Sin embargo el post generado no lo muestra actualizado. Por ejemplo ahora le agregué una "

[2016-02-16 12:12] LeandroBraier commented on #256
Ok, @FAAREIA avisenme si necesitan algo de mi para esto, pero trabajemos para resolverlo.

El que menos prioridad tiene es Revear porque igual lo vamos a hacer de vuelta en el corto plazo, pero recuerden esta cuestión para ya armar desde cero el sitio de Revear de esta manera porfa.

[2016-02-16 12:14] LeandroBraier commented on #260
Gracias! Está mejor @braulio-evangelisti

Solo fijate que la forma que usaste no es exactamente que la misma que en la web. El extremo izquierdo del paralelogramo rojo debe ser recto. Y hagamos dos versiones, una solo con ese cambio y otra en la cual:
1. El botón rojo de abajo tenga la misma forma
2. Aparezcan los 4 logos de las marcas en gris arriba de todo a la derecha del logo de ParexGroup.

a

[2016-02-16 13:21] braulio-evangelisti commented on #260
![test-4](https://cloud.githubusercontent.com/assets/11272253/13077327/e7eab02a-d496-11e5-8135-378381fb0df2.jpg)

[2016-02-16 13:25] FAAREIA commented on #256
Ya estan puestos y probados los Open Graph en:

http://www.parexklaukol.com.ar/
http://www.parexklaukol.com.ar/guia-corralones/
http://www.parexklaukol.com.ar/vendedores/
http://www.revear.com.ar
- Hay dos errores compartido en la url de colocadores y vendedores. "Circular Redirect Path" + "Could Not Follow Redirect"
- Al archivo "mainT.html" de Colocadores le cambié el encóding a UTF-8 y también

[2016-02-16 22:32] LeandroBraier commented on #260
Gracias @braulio-evangelisti ! La verdad no me termina de convencer pero no sé cómo decirte de mejorarlo. Siempre en uno de los dos mantené el otro ícono de news que me parece mejor.

Más allá de ese detalle, lo verías con @FAAREIA a ver si se le ocurre alguna otra idea para que quede mejor y en la línea estética de la web principal?

Perdón por las vueltas pero no lo veo bien todavía.

abrazo

[2016-02-17 12:40] LeandroBraier commented on #256
Gracias chicos!!!

Avisenme cuando resuelvan estos dos errores pero ya veo excelente todo en Facebook.

abrazo

[2016-02-17 13:47] FAAREIA commented on #260
Algo asi?
Ojo que el form habría que tocarlo y desconozco que tanto se puede. Es probable que el icono del botón azul no se puede incluir.
![news](https://cloud.githubusercontent.com/assets/6184969/13111299/c776e020-d563-11e5-8fef-406347a0047d.png)

[2016-02-17 18:29] LeandroBraier commented on #260
Este lo veo mejor. Solo acomodá el logo de ParexGroup y los de las marcas como estaban arriba, el ParexGroup a la izquierda y los demás a la derecha, como en la web.

Si me confirman que se puede hacer así el form lo hago aprobar con el cliente. Si el botón no se puede hacer azul hagamoslo rojo como antes está bien también.

abrazo

[2016-02-18 12:43] LeandroBraier commented on #260
@FAAREIA porfa espero que acomodes eso y me confirme si se puede hacer en MailChimp. COnsultalo con @mkreyness  por las dudas pero yo había entendido por lo que dijeron más arriba que:

"creo que todo depende de como hayan armado el form este, por lo que vi en mailchimp (cuenta propia que arme para investigar) una de las maneras es "EMBED FORM", que segun entendí uno podria copiar el codigo de un

[2016-02-18 14:05] braulio-evangelisti commented on #260
Armando un embed form, lo unico que estaria en el server de parex es el html con el form, pero ese formulario que te da MailChimp para que lo estilices esta apuntado a mailchimp (el action="") por lo que entiendo cargaría ese usuario en una lista de correo(db de MC, no de Parex), y ya gestionarias todo lo que concierne a newsletter desde mailchimp . No lo probé nunca a esto, es lo que entendí leye

[2016-02-18 14:09] LeandroBraier commented on #260
Perfecto @braulio-evangelisti , entiendo. De cualquiera de las dos formas entonces estamos OK para diseñarlo así. Solo faltaría que acomodes el logo de ParexGroup y los de las marcas como estaban arriba, el ParexGroup a la izquierda y los demás a la derecha, como en la web. Pasame lo antes que puedas esa versión así te la mando a aprobar porfa.

abrazo

[2016-02-18 14:20] braulio-evangelisti commented on #260
En teoria si. Nose si marcelo tiene algún dato mas de si es asi como funciona.

El diseño no lo tengo yo.

[2016-02-18 15:19] FAAREIA commented on #260
Ahi va, ahora voy a darle un vistaso a la doc a ver si no es tan complejo hacer algo asi.

![news](https://cloud.githubusercontent.com/assets/6184969/13147925/c19f6272-d639-11e5-8708-e7479a412606.png)

[2016-02-18 15:40] LeandroBraier commented on #260
Perfecto, gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Feb 18, 2016 at 12:19 PM, Federico Arena notifications@github.com
wrote:

[2016-02-18 16:22] mkreyness commented on #260
yo lo que digo es que la gran ventaja de que la base resida en mailchimp es que no hay que andar importando manualmente nada (ni dando de baja manualmente nada, es todo autogestion del suscripto).
Ahora, si esa misma base se va a usar para otra cosa, ya no se.

[2016-02-18 16:39] FAAREIA commented on #260
Aca hay un artículo interesante sobre personalizar un form. Lo dejo aca asi Brau y yo ya lo tenemos a mano
http://uhurunetwork.com/customizing-mailchimp-form-design/

[2016-02-18 17:07] FAAREIA commented on #256
Solucionado el tema tildes en Colocadores.
Lo de los errores creo que son inevitables y no influyen en nada del post generado por FB, por lo que los pasaría por alto, excepto que @mkreyness diga lo contrario.

Abrazo

[2016-02-18 17:37] LeandroBraier commented on #204
@FAAREIA para el Simulador de Fachadas, estamos muy lejos de poder hacer un menú así de los revestimientos si te consigo las fotos de cada producto?

http://floorstudio.esignserver1.com/pisosalemanes/gallery.do

[2016-02-18 17:40] mkreyness commented on #256
Esos errores son inherentes al hecho de que no son paginas estaticas, no creo que haya solucion.

[2016-02-18 17:53] LeandroBraier commented on #256
Perfecto entonces. Ya está terminado! Gracias chicos!!

[2016-02-18 17:53] #256 closed, assigned to FAAREIA

[2016-02-18 17:57] FAAREIA commented on #204
Eso esta asi, si te fijas la textura se nota en la última versión que había subido:
http://www.parexklaukol.com.ar/simulador_muestra.html

Lo de hacer un emergente para elegir color y textura, podría funcionar, el tema es que vamos a tener que agregar algo para que el tipo se de cuenta que tiene que pintar las áreas. Esta buena la idea igual.
También podríamos agregar un listado de áreas pintables

[2016-02-18 18:03] LeandroBraier commented on #204
Tenés razón, igual está bueno como lo hiciste. Lo que me gusta del FloorStudio es que es más intuitivo para el consumidor final, que no sabe los nombres de las etapas de la construcción y demás. Sería bueno que si no entiende nada de esa etapa igual pueda elegir por color y además tuviera un buscador por nombre de producto. Se podrá sumar eso? También serviría para la versión de las terminales int

[2016-02-18 18:58] LeandroBraier opened #261 "Pequeños Ajustes en Plataformas de Vendedores y Colocadores. 22-02"
@FAAREIA y @braulio-evangelisti  son pequeños detalles:

*_1) COMUNIDAD DE VENDEDORES
*_
En las bases y condiciones,

. ~~En la sección ORGANIZADOR cambiar "el promoción" por "la promoción"~~

. ~~En la sección de VIGENCIA cambiar "31 de diciembre de 2015" por "31 de diciembre de 2016"~~

. ~~En la sección EXCLUSIONES se repite el párrafo de la sección LOS PARTICIPANTES. Borrarlo.~~

. Quitar este

[2016-02-18 22:20] FAAREIA commented on #261
Hola Lea, ya esta actualizado. La parte que no taché, la de:

"Quitar la sección VENDEDORES entera. Sumar en su lugar este texto como parte de la sección anterior PREMIO MENSUAL POR SORTEO"

No la entendí porque no hay sección VENDEDORES

Abrazoo

[2016-02-18 22:24] LeandroBraier commented on #261
Gracias @FAAREIA ! Perdón, mala mia, ahi te lo redacté bien. Es reemplazar un párrafo por otro.

abrazo

[2016-02-18 23:52] LeandroBraier commented on #243
@FAAREIA
1. Estoy viendo que el pop up del Equipo Klaukol obstruye totalmente la versión mobile del Sitio de Parex. Lo mismo ocurre en Revear.

Como podemos evitar eso?
1. Los títulos con los nombres de los productos en sus propias páginas se ven demasiado grandes en la versión mobile con respecto a la tipografía del resto del texto. Podremos emparejar un poco eso? Si querés incluilo dentro del re

[2016-02-18 23:55] LeandroBraier commented on #204
@mkreyness respecto del tema de Llana, fijate en los resultados del Calculador lo que me apareció:

<img width="666" alt="captura de pantalla 2016-02-18 a las 9 13 21 p m" src="https://cloud.githubusercontent.com/assets/6719872/13162186/d6d06f04-d681-11e5-8466-dc7e43b79040.png">

El tamaño de la llana es un resultado del calculador, no un imput.

[2016-02-18 23:57] LeandroBraier opened #262 "Bug en Calculador de Adhesivos Actual"
@mkreyness no me está funcionando NINGUN link en el calculador que está online.

http://www.parexklaukol.com.ar/aplicaciones/calculador.html

Me aparecen los links sin el ".html" final. Me parece que tiene que ver con una intervención que vos hacías sobre el flash no?

abrazo

[2016-02-19 11:41] FAAREIA commented on #261
Job done

[2016-02-19 12:12] FAAREIA commented on #243
Hola Lea, lo de los banners del home ya esta solucionado.
Con respecto al tamaño de los títulos en la página de cada producto, queres que lo vaya retocando ahora mismo o esperamos al rediseño?

[2016-02-19 12:27] LeandroBraier commented on #243
Gracias Fede! SI se puede ahora mejor.

Abrazo
El feb. 19, 2016 9:12 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-19 12:54] FAAREIA commented on #243
Hecho

[2016-02-19 13:06] LeandroBraier commented on #243
Gracias Fede!!! Excelente quedó.

abrazo

[2016-02-19 13:06] #243 closed, assigned to FAAREIA

[2016-02-19 13:07] LeandroBraier commented on #261
Gracias Fede!!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Feb 19, 2016 at 8:41 AM, Federico Arena notifications@github.com
wrote:

[2016-02-19 13:35] #261 closed, assigned to nobody

[2016-02-19 14:13] FAAREIA commented on #260
Pregunta:
- ¿Donde puedo encontrar eso de los custom forms?
- ¿hay algun otro usuario con otros permisos en mailchimp?

[2016-02-19 14:43] LeandroBraier commented on #260
Veanlo con @braulio-evangelisti porfa. Este es el único usuario que tenemos.

abrazo

[2016-02-19 15:04] FAAREIA commented on #260
Ahi ya pude encontrarlo ^^

[2016-02-19 15:32] FAAREIA commented on #204
Esta bueno lo que decis, hacer un primer paso en donde se elija "soy profesional" o "no soy profesional". Las opciones actuales son para el que la tiene muy clara.
Lo que si me parece es que el usuario no profesional no va a tener idea de que producto buscar (no conocé los nombres) y también podría pintar con cualquier cosa no-aplicable para su etapa o material.
Me gusta la idea de simplificarlo u

[2016-02-22 12:03] LeandroBraier commented on #204
Buen día @FAAREIA y @mkreyness ! Necesito saber para cuando podríamos tener listas estas 3 aplicaciones para mostrar al cliente.

[2016-02-22 12:15] mkreyness commented on #204
Todo lo que digo aca es respecto del CALCULADOR DE ADHESIVOS:
Respecto de lo de la llana que decias hace unos dias (recien lo veo), si, yo siempre te dije que la llana era un dato de output. Pero no es un calculo, sale directo de la tabla que me pasaste. El asunto es que hay que CARGAR toda esa tabla por el CMS (yo solo cargue unos datos de prueba), y ademas ingresar todas las relaciones entre lug

[2016-02-22 12:16] mkreyness commented on #204
Respecto del SIMULADOR, ni entre en contacto todavia, pero IMAGINO que es parecido al de la Casa Interactiva, no ? Si es asi, deberia poderse resolver rapido y tenerlo para unos dias despues que el calculador.

[2016-02-22 12:25] FAAREIA commented on #204
La casa interactiva es algo simple, para mi ni necesita estar en un CMS ya que si hubiese una actualización de algo, solo sería agregar o sacar un link de un producto.
El simulador si es grande, muchisimo más que el resto

[2016-02-22 12:28] LeandroBraier commented on #204
Si, La Casa interactiva solo falta que yo cargue los datos en el CMS tengo
entendido.

MK, respecto de Calculador de Adhesivos no lo puede hacer Amalia a eso?
Definitivamente no es algo que tenés que hacer vos pero nosotros también
estamos con muchas cosas y ella es más junior, verdad?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 115871

[2016-02-22 12:33] FAAREIA commented on #204
No hay CMS en la casa interactiva, es solo maquetación. Si quieren hacerlo en CMS hay que prepararlo, a mi me parece que si tenemos en cuenta que casi nunca se agrega un producto nuevo, hacer que su contenido cambie via CMS por ahora no tiene importancia

[2016-02-22 12:44] FAAREIA commented on #204
Me retracto, según hablé con Brau la casa interactiva ya esta hecha

[2016-02-22 13:09] mkreyness commented on #204
se hizo hace rato via CMS y en dos patadas, porque solo era listar productos segun un data tag que venia en cada desplegable.
Lo que no estoy 100% seguro de que algo asi aplique aca, pero ESO fue muy simple de hacer.

[2016-02-22 14:00] FAAREIA commented on #260
Ya encontré el lugar en donde mailchimp te deja editar todo el código HTML del formulario, eso implica que no habría impedimento en cualquier estilización que se haga.

[2016-02-22 14:22] LeandroBraier opened #263 "Link a Bases y Condiciones Torneo de Potenciados"
@FAAREIA el sitio del Torneo sigue subido online no? Si bien no está linkeado en la url de siempre sigue estando no?

Lo que necesito es el link a bases y condiciones del torneo.

abrazo

[2016-02-22 14:51] FAAREIA commented on #263
Esta despublicado según veo:
http://www.parexklaukol.com.ar/torneo-con-slide.pl

Queres que te pase el HTML o el texto de esas bases y condiciones?

[2016-02-22 14:52] LeandroBraier commented on #263
Dale, con el texto estamos más que bien. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-22 11:51 GMT-03:00 Federico Arena notifications@github.com:

[2016-02-22 14:58] FAAREIA commented on #263
Ahi te subo un zip porque hay 8 variables de bases y condiciones y desconozco cual requeris. Abrite el html en el navegador y no vas a tener problema en ver el texto.

[bases-condiciones.zip](https://github.com/LeandroBraier/Klaukol/files/140785/bases-condiciones.zip)

Cualquier cosa decime
Abrazo

[2016-02-22 15:00] LeandroBraier commented on #263
Gracias Fede!! Si, son varias versiones. Ahi lo veo

Esta es la última versión verdad?

abrazo grande

[2016-02-22 15:22] #263 closed, assigned to FAAREIA

[2016-02-22 17:08] FAAREIA commented on #263
Si, es lo que baje del FTP

[2016-02-22 20:45] mkreyness commented on #204
@LeandroBraier vos decis que le pida a Amalia que cargue datos ? La verdad que no le di acceso al CMS ni nada de eso, ella no esta trabajando sobre el servidor, solo codificando programas.
Asi como puede cargar eso puede romper alguna otra cosa, primero habria que explicarle como se usa el CMS y no tengo la menor idea de cuan criteriosa sea.
Por otra parte, sigo esperando que me mande lo mas impor

[2016-02-22 21:05] LeandroBraier commented on #204
Ok, entiendo. Entonces veanlo con Brau, yo no tengo a nadie para que haga
ese proceso y me parece lo más indicado que lo hagan uds del lado de
programación/maquetación para mayor conocimiento del calculador. Desde ya
que vos no lo hagas, pero si lo puede hacer Brau me parece, que ya estuvo
bastante involucrado en el tema.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agenc

[2016-02-22 21:16] mkreyness commented on #204
@braulio-evangelisti  estas ahi ?
Te explico lo que habria que hacer:

mirando en
http://www.parexklaukol.com.ar/aplicaciones/calculador.html

hay que barrer todas las combinaciones de los desplegables y ver que productos trae como recomendacion.

En general siempre son los mismos productos.
No importan los datos de cantidades (eso surge de una formula) pero necesito que me armes un excel con la v

[2016-02-23 11:25] FAAREIA commented on #260
Lea, el mailing ya se puede ir maquetando?

[2016-02-23 11:44] LeandroBraier commented on #260
Hola Fede! No me dieron el OK aun pero si querés avanzá. A lo sumo va a haber alguna corrección minima de estética.

Si preferís esperar esperamos.

abrazo

[2016-02-23 14:08] braulio-evangelisti commented on #204
Te sirve asi?
[data-calculador.zip](https://github.com/LeandroBraier/Klaukol/files/142693/data-calculador.zip)

[2016-02-23 15:04] mkreyness commented on #204
perfecto, esta todo completo entonces, no ?

[2016-02-23 15:05] mkreyness commented on #204
@LeandroBraier ya Amalia me mando lo ultimo, todavia no lo revise pero si camina ya esta noche espero estar liquidando todo esto.

[2016-02-23 20:26] LeandroBraier commented on #204
Buenisimo MK! Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-23 12:05 GMT-03:00 mkreyness notifications@github.com:

[2016-02-23 22:06] mkreyness commented on #204
Duda: ahora que Braulio me paso la matriz completa, en el calculador aparece en muchos casos un producto adicional "Potenciador"  (adicionales al blanco, o al grandes piezas, etc.).
No tengo la menor idea de que producto de la base sea. De hecho cuando haces click el link da error.
Probalo en el simulador actual con
Fachadas y Piscinas
Hormigon
Traslucida
Media
10 x10
y vas a ver.

[2016-02-23 23:00] mkreyness commented on #204
Lo mismo encontre una incoherencia en la parte de adhesivos, pero no creo que tenga solucion.

![image](https://cloud.githubusercontent.com/assets/6135791/13269673/b7950e76-da67-11e5-9d2c-0d94680f7978.png)

A igual "tamaño grande" dan 3 posibilidades, pero en el calculador actual solo toman una (ya lo verifique). Lo mismo voy a hacer yo.

[2016-02-24 01:44] LeandroBraier commented on #204
Dale, me parece bien MK!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-23 20:00 GMT-03:00 mkreyness notifications@github.com:

[2016-02-24 06:28] mkreyness commented on #204
Funcionando:

http://www.parexklaukol.com.ar/calculadormk.html

me falta hacer la particion en estuches de la pastina, y tenemos que resolver como manejar lo del + POTENCIADOR, yo ya cargue eso como una observacion pero no se si ponerlo agregado en la descripcion de producto que se muestra o que hacer.

[2016-02-24 12:30] mkreyness commented on #204
Ah y me falta abrir las medidas que me paso Braulio en los posibles espesores y juntas, porque eso (no tengo idea como lo manejarian, para mi que ni lo manejaban) no aparece en el calculador viejo.
Voy a hacer un par de ejemplo para ver que funcione bien, y despues veo como hacerlo masivamente porque las combinaciones son tremendas.

[2016-02-24 12:35] LeandroBraier opened #264 "Server App Parex"
@mkreyness en esto solo necesito que me asesores para seguir los mismos pasos que hicieron para la app de Danica. Después el tema lo tomamos MS y yo.

Necesitamos un server para la app de Parex que estamos haciendo.

Lo que dicen los desarrolladores es lo siguiente:

abrazo

[2016-02-24 13:09] LeandroBraier commented on #260
Buen día @FAAREIA ! Me dieron feedback. De maquetación son detalles nomás, fijate qué pueden hacer.

<img width="658" alt="captura de pantalla 2016-02-24 a las 10 26 41 a m" src="https://cloud.githubusercontent.com/assets/6719872/13286212/7af33890-dade-11e5-9c2b-82e0232a7e35.png">

Son dos puntos: header y footer.

Respecto del footer, yo les dije esto:

Por algo me refiero a algún detalle de dise

[2016-02-24 13:22] mkreyness commented on #264
Es que lo de Danica no era REST sino SOAP, otro protocolo, asi que no aplican los mismos pasos.
REST es seguramente mucho mas sencillo, pero no aplica para info estructurada (la estructura de las recetas con ingredientes era bastante compleja), por eso yo usé SOAP.

Al desconocer yo de que se trata la aplicacion, no puedo saber si la info es compleja o no, por lo tanto no se si es bueno usar REST

[2016-02-24 13:30] LeandroBraier commented on #264
Los datos a almacenar según tengo entendido son:

Info de Usuarios (como en Vendedores)
Info de Productos (como en Calculador)

Solo esto. La App es idéntica a esta:

http://www.rubi.com/apps/easytiler/
https://www.youtube.com/watch?v=0N3qpUKK7jE
https://play.google.com/store/apps/details?id=com.rubi.easytiler&hl=en

Solo le quieren agregar el Calculador y algunos elementos del plano (inodoro, bid

[2016-02-24 13:46] mkreyness commented on #264
Ah, el app de Rubi, pero eso es complicadisimo y mas para KLAUKOL que para Parex.
Ubicame un poco en contexto por favor, por ahora para mi no es un problema tecnico, es un problema de definición de alcances y objetivos que no tengo para nada claro:

Entiendo que esto NO es Klaukol sino Parex, de lo cual no tenemos armado un "club". Esto implicaria primero tener un "club de colocadores parex" o alg

[2016-02-24 13:56] LeandroBraier commented on #264
Marce, tranquilo. La app ya la está programando un desarrollador externo como te comenté el lunes en la reunión. No hay ningún club ni nada.

La base de usuarios es de los que se registren en la app, nada más. Hay perfiles de usuarios porque pueden almacenar sus planos ahi y todo. Tienen un avatar, etc. Fijate en los links que te pasé. Pero la parte de desarrollo la hace un externo.

Decime qué ot

[2016-02-24 14:17] mkreyness commented on #264
Si esto va a ser TOTALMENTE separado (sin acceso al servidor de parexklaukol.com.ar para nada), y ellos van a gestionar el server, esta todo perfecto y las especificaciones te las tienen que pasar ellos, ni idea lo que necesitan, no se puede definir esto en forma generica.
Creales una cuenta en Duplika y pasales los datos de acceso. Lo mejor es que lo manejen todo directamente ellos y lo implement

[2016-02-24 14:18] LeandroBraier commented on #264
Perfecto MK. Entonces vuelvo a la pregunta inicial.

Qué server conviene contratar en base al pedido de ellos de usar REST?

2016-02-24 11:17 GMT-03:00 mkreyness notifications@github.com:

[2016-02-24 14:25] FAAREIA commented on #260
Voy a maquetar esto Lea, si esta aprobado buenisimo, sino después lo ajustamos sobre la marcha.
![news](https://cloud.githubusercontent.com/assets/6184969/13288105/3cefe092-dae9-11e5-95ec-dd25d888ae42.png)

[2016-02-24 15:00] LeandroBraier commented on #260
Perfecto. Adelante!!

Solo poneme © 2016 ParexKlaukol

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Feb 24, 2016 at 11:25 AM, Federico Arena notifications@github.com
wrote:

[2016-02-24 18:15] FAAREIA commented on #260
Ahi estuve haciendo e investigando un poco.
La realidad es que mailchimp me elimina los campos del formulario en la prueba que estoy haciendo, lo cual me parece raro porque [según lei](https://www.campaignmonitor.com/dev-resources/will-it-work/forms/) si se pueden mandar formularios en mailings aunque algunos clientes de correo no los aceptan o renderizan por completo.

El template de prueba se ll

[2016-02-24 21:08] LeandroBraier opened #265 "Bug URGENTE en Comunidad de Vendedores"
@mkreyness mirá como se ven las imagenes que subo para posteos a compartir:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=36

usuario=LeandroBraier
clave=parexklaukol

Lo corregís porfa? Creo que es parecido a lo que nos pasó hace unos días.

[2016-02-24 21:08] LeandroBraier opened #266 "Consulta Canje en Club de Colocadores"
@FAAREIA nos quedó algún html online donde podamos ver el sistema de canjes que tenía el Club y ocultamos?

[2016-02-24 21:12] mkreyness commented on #265
Esta usando un template de video. Cual asi de compartir FOTO anda bien ? Asi comparo el tipo de juego puesto.

[2016-02-24 21:14] LeandroBraier commented on #265
Todos los que antes se veían bien ahora se ven mal.

Por ejemplo:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=18

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=24

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=25

Suena a Duplika o algún cambio en algún template.

[2016-02-24 21:20] mkreyness commented on #265
mas bien a un cambio en el programa que no tuvo en cuenta esto.
Hicimos un cambio hace poco (11 feb) para incluir esto de poder compartir un video me parece.
Debe haber sido para algun juego reciente, lo que habria que verificar es que despues de arreglar esto, el otro juego siga bien, te acordas cual era ?

[2016-02-24 21:21] LeandroBraier commented on #260
Me parece que hubo una confusión. El formulario es online, no es un mailing
en sí. El mailing en sí es otro, es este:

http://www.parexklaukol.com.ar/_mailing/sumarme/

Se los pasé al principio de este ticket.

2016-02-24 15:15 GMT-03:00 Federico Arena notifications@github.com:

[2016-02-24 21:48] mkreyness commented on #265
Listo, ya puse que si lo que cargas en "URL Video" termina en png o jpg  use el template de fotos.
La verdad que en estos casos la imagen no tendria que estar en ese campo, sino en el de imagen.
Pero bueno, ya estaban todos los otros cargados asi, con lo que lo emparche para que ande.

[2016-02-24 23:17] LeandroBraier commented on #265
Gracias MK!! Ya revisé los que tenían template de video y se siguen viendo bien.

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34
http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=35

abrazo grande y gracias otra vez

[2016-02-24 23:17] #265 closed, assigned to mkreyness

[2016-02-25 00:25] mkreyness commented on #264
Cualquiera chico, no creo que tenga gran volumen de datos ni movimiento. Pero te insisto que depende mucho mas de lo que ellos vayan a necesitar instalar en el server, el termino "REST" realmente no implica usar un software en particular, es simplemente un determinado formateo de los datos que viajan.

[2016-02-25 00:28] mkreyness commented on #204
Esto al final cruce todo lo que habia en lo que me paso Braulio con lo que figuraba en el Excel de pastinas y gran parte de lo que el Excel de calculo permite NO figura implementado (por ejemplo, en el Excel de pastinas esta previsto Junta Ancha para medidas desde 20x20, eso no pasa nunca en el calculador). Asi que las pocas que habia que abrir por espesor y junta ya las abri, el resto las deje si

[2016-02-25 00:37] LeandroBraier commented on #264
Ok, pero cuál hosting usaron para la app de Danica! jajaja Quiero saber eso al menos! para poder averiguar en la página de ellos.

Con eso ya te dejo de hinchar. Gracias!

[2016-02-25 00:38] LeandroBraier commented on #204
Gracias MK! Avisame cuando quieras que lo pruebe final.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-24 21:28 GMT-03:00 mkreyness notifications@github.com:

[2016-02-25 00:48] mkreyness commented on #204
yo diria que aunque no sea final ya se puede ir verificando comparar lo que propone el calculador viejo y el nuevo a ver si salta alguna discrepancia.

[2016-02-25 01:17] LeandroBraier commented on #204
Dale, lo hago mañana y te confirmo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-24 21:48 GMT-03:00 mkreyness notifications@github.com:

[2016-02-25 01:30] mkreyness commented on #264
El mismo que el de Danica, no se hizo uno aparte.  Yo lo que hice fue un "SOAP webservice", que era simplemente un programa que se ejecutaba al acceder a un determinado URL dentro de la web de Danica el cual, con la debida autenticacion y usando protocolo SOAP, se ejecutaban las funciones de mi API.

Yo en este caso te digo de hacerlo en un server aparte simplemente para no mezclar la hacienda y e

[2016-02-25 01:48] LeandroBraier commented on #264
Gracias @mkreyness ! Creoq ue con esta info me arreglo.

abrazo

[2016-02-25 11:29] FAAREIA commented on #260
Ok perfecto, entonces el form de suscripción queda en mailing como enlace externo nomás.

[2016-02-25 11:35] FAAREIA commented on #266
¿Vos decis esto?

Comprá
Por cada compra de uno de nuestros productos acumulás puntos.

Canjeá
Con los puntos que acumules podés realizar canjes por distintas herramientas y accesorios del Kit Klaukol.

Ganá
Por participar del Club de Colocadores contás con un número en nuestros sorteos.

¿o decis esto?
http://www.parexklaukol.com.ar/colocadores-temp/usuario-compras.html

[2016-02-25 11:59] LeandroBraier commented on #260
Exacto Fede! Entonces ya está lista y funcional? Me confirmas porfa?
El feb. 25, 2016 8:29 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-25 12:26] LeandroBraier commented on #266
Esto exactamente. Gracias!!!

[2016-02-25 12:26] #266 closed, assigned to FAAREIA

[2016-02-25 13:07] LeandroBraier opened #267 "Nuevo Newsletter ParexKlaukol (nuevos contenidos y más mobile) 30/3"
Buen día @FAAREIA !

Te paso pedido de un mock up para un nuevo estilo de newsletter de ParexKlaukol. La idea es que sea más pro y más apuntado a arquitectos, tené en cuenta esto. Tiene que ser más fino el diseño y con mucha imagen.

La primer imagen debe ser un gif animado, aunque sea de 3 frames nomas que hacen loop, como el mailing de Comunidad VIE TUR.

Manteniendo los logos y demás del año pa

[2016-02-25 13:16] FAAREIA commented on #260
http://parexklaukol.us11.list-manage.com/subscribe?u=455b0cd079a287d15e307c9b7&id=d9d8502655
Ahi ya esta maquetado el formualrio de suscripción online hecho en mailchimp.
Lo que faltaría es que @mkreyness meta mano y haga funcionar las variables. El email, nombre y apellido vinieron de base, pero los checkbox los puse en base a otro formulario por lo que seguro tengas que tocar algo ahi en los nam

[2016-02-25 13:25] FAAREIA commented on #260
Para llegar ahi vayan a:
Lists >  Suscripción ParexGroup >  Suscripción ParexGroup > General forms > Signup form

[2016-02-26 02:27] LeandroBraier commented on #219
@mkreyness quedó automático este mailing al final? No te olvides que mañana tendría que salir el mailing.

abrazo

[2016-02-26 02:36] mkreyness commented on #219
No, de hecho el subject tiene que cambiar tambien, tengo que parametrizarle el nombre del mes y las fechas que analiza para ver si tuvo o no actividad, todo eso por ahora esta fijo.
Y está el problema de la "lista 3" (los que nunca se conectaron) que es muy grande y siempre se corta.
A la mañana temprano corro las listas  1 y 2 y si todo anda bien intento la 3, o ni vale la pena ?

[2016-02-26 02:48] LeandroBraier commented on #219
Genial MK! Si podes intentalo con la 3 pero si lleva mucho tiempo para vos
dejalo y listo. Les enviaremos otro mail mas adelante.

Abrazo
El feb. 25, 2016 11:36 PM, "mkreyness" notifications@github.com escribió:

[2016-02-26 02:54] mkreyness commented on #219
ya lo parametrice, mañana entonces lo pruebo y lo mando.

[2016-02-26 12:35] mkreyness commented on #219
ya termino de salir la 1, esta saliendo la 2 y me estoy yendo. Mas tarde me conecto y si veo que la 2 termino bien intento mandar la 3.

[2016-02-26 12:49] LeandroBraier commented on #219
Perfecto. Mil gracias MK!
El feb. 26, 2016 9:35 AM, "mkreyness" notifications@github.com escribió:

[2016-02-26 13:18] LeandroBraier commented on #260
@FAAREIA pequeño cambio en el footer. El cliente me pide aplicar la estética vieja en el footer, la de las curvas que ves acá. Incluyamoslo.

<img width="749" alt="captura de pantalla 2016-02-26 a las 10 36 39 a m" src="https://cloud.githubusercontent.com/assets/6719872/13353311/321aefd8-dc72-11e5-9495-4b20b2c21518.png">

Yo no estoy de acuerdo, porque no concuerda con la estética actual pero es u

[2016-02-26 15:30] mkreyness commented on #219
Ahi largue la 3.

[2016-02-26 15:58] FAAREIA commented on #260
Hecho

http://parexklaukol.us11.list-manage.com/subscribe?u=455b0cd079a287d15e307c9b7&id=d9d8502655

[2016-02-26 17:42] LeandroBraier commented on #260
Está perfecto Fede!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Feb 26, 2016 at 12:58 PM, Federico Arena notifications@github.com
wrote:

[2016-02-26 20:13] LeandroBraier opened #268 "Sumar Badges en Comunidad de Vendedores Potenciados"
@mkreyness necesito saber si podemos sumarle un Badge de Honor a los vendedores que superen los 2500 puntos y brindarles todos los meses 10 tickets extra solo por tenerle el Badge.

Lo que necesito saber es si es muy complejo nada más y cuántos días de laburo te llevaría.

@FAAREIA en cuanto a maquetación necesitaría que pienses como te parece de mostrarlo: si agregarle algo especial al avatar del

[2016-02-26 20:18] mkreyness commented on #268
la complejidad para mi depende mas que nada de como afecte a la estetica o como/donde se vaya a mostrar.
El dato es muy facil de obener y darle 10 tickets extra a mes vencido tambien es muy simple.

[2016-02-26 20:21] LeandroBraier opened #269 "Bug Mobile en Puntos de Comunidad de Vendedores"
@mkreyness el usuario MarielaMazzoni nos dice que intenta compartir distintas dinámicas desde su mobile y no le registra los puntos. Lo hace desde una pc y si lo hace. Se pueden fijar porfa con @valentinsabbath o con quien puedas qué está pasando?

Te digo las dinámicas que nos mencionó:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34
http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=35
ht

[2016-02-26 20:28] mkreyness commented on #269
Que mobile/navegador ? Necesitamos minimamente un poco de informacion para poder reproducirlo.
Puede ser que el API de facebook no lo soporte y en tal caso no podemos hacer nada.

[2016-02-26 20:33] LeandroBraier commented on #269
Ahi consulté con el usuario.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-26 17:28 GMT-03:00 mkreyness notifications@github.com:

[2016-02-26 20:51] LeandroBraier commented on #268
Entiendo MK. Entonces yo lo haría simple. Calcule que fuera agregar una coronita al avatar dentro del Top 5

<img width="327" alt="captura de pantalla 2016-02-26 a las 5 43 17 p m" src="https://cloud.githubusercontent.com/assets/6719872/13364484/cf87b8d8-dcad-11e5-9766-a0a0ad151b88.png">

y algo similar en la parte de "TU PERFIL" en la home.

<img width="331" alt="captura de pantalla 2016-02-26 a

[2016-02-26 20:51] LeandroBraier commented on #269
@mkreyness Me responde esto:

Mi tel. Es Samsung s5. Con Android.

[2016-02-26 20:52] LeandroBraier commented on #231
Esto queda cerrado hasta próximo aviso. El cliente lo olvidó y nos complica la vida. Cambiamos de juego.

abrazo

[2016-02-26 21:06] #231 closed, assigned to mkreyness

[2016-02-26 21:13] LeandroBraier opened #270 "Nuevos Juegos VIsuales para Vendedores"
@mkreyness estos son juegos para comprar también, son PHP.

http://codecanyon.net/item/50-quiz-pack-for-socioquiz-vol-2/11975240?s_rank=1

Los podemos utilizar o es mucho lio? Seria lo mismo que HTML5 solo que sin Construct no?

[2016-02-26 21:15] mkreyness commented on #269
Ah estos juegos ademas son de share, no de like, con lo que ni siquiera se usa el callback de facebook sino el hecho de apretar el boton.
No tengo nada Android para probar.
@valentinsabbath vos tenes ?
Te cuento como funciona: la pagina tiene un boton de share.

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34&usuario=marcelokreyness&clave=papa

vas a ver que al empezar la pagina se instala u

[2016-02-26 21:52] LeandroBraier commented on #219
Gracias @mkreyness ! Me anoto recordarte enviar esto de nuevo el próximo mes.

abrazo

[2016-02-26 21:52] #219 closed, assigned to FAAREIA

[2016-02-26 22:01] mkreyness commented on #270
Mmmm, no, nada que ver con HTML5, esto son paginas web comunes que corren en el servidor.
Son como nuestras trivias pero mostrando imagenes y donde no hay "respuestas correctas" sino un resultado predeterminado en funcion de cuantas veces contestaste la "a.", cuantas veces la "b." etc como en los tests de la revista "Para Ti" (que jamas he leido, pero me los imagino).

El asunto es como esto termi

[2016-02-26 22:03] mkreyness commented on #270
por otra parte, estan en ingles !  Si los datos estan en una base de datos, tenemos que ver como injertar esto y hacer un CMS, y si los datos estan en codigo, hay que editar montones de codigo para traducirlo, y asegurarse de no romper el codigo...

[2016-02-26 22:53] LeandroBraier commented on #270
Perfecto, MK. Entonces decime cuanto tiempo nos llevaría adaptar la trivia
a poner imágenes en las opciones y en el resultado una foto y un texto.

Te paso un ejemplo:

_¿A cuál de estos lugares preferirías ir de vacaciones?_

Opciones en imagen:

Playa 1

Montaña 2

Ciudad Europea 3

Turismo Aventura 4

_¿Cuál de estos productos te resultaría más interesante vender?_

Opciones en imagen:

Un celu

[2016-02-27 00:39] mkreyness commented on #270
Ponele una semana con toda la furia, pero en el medio necesito alguna remaquetacion de Fede o Braulio sobre las dos pantallas (la de pregunta+opciones y la de resultados) para que las fotos queden bien acomodadas.

[2016-02-29 12:36] FAAREIA commented on #268
Si, se puede poner en dorado (amarillo) su nombre y puntos y agregar alguna coronita o estrella

[2016-02-29 13:02] LeandroBraier commented on #268
Exacto, estrella me parece mejor. Gracias Fede!!

Vayamos avanzando entonces con la maquetación de esto para mañana o el
miércoles, puede ser? Necesitaría poder comunicar esto el jueves o viernes
y ya poder aplicarlo ese mismo día a todos los que tengan más de esa
cantidad de puntos.

abrazo

On Mon, Feb 29, 2016 at 9:36 AM, Federico Arena notifications@github.com
wrote:

[2016-02-29 21:37] LeandroBraier commented on #268
Chicos, esto queda frenado por el momento. Cierro el ticket y les aviso el próximo aviso.

abrazo

[2016-02-29 21:37] #268 closed, assigned to mkreyness

[2016-03-01 12:21] LeandroBraier commented on #269
Buen día @valentinsabbath y @mkreyness ! Pudieron avanzar con este tema?

[2016-03-01 12:22] #260 closed, assigned to braulio-evangelisti

[2016-03-01 12:31] #252 closed, assigned to mkreyness

[2016-03-01 15:41] FAAREIA commented on #267
Ahi va el adelanto del nuevo diseño.
**Falta terminar la encuesta, el producto del mes, el footer y el encabezado.**

Cualquier cosa que veas anda diciendome.
![nuevo-newsletter](https://cloud.githubusercontent.com/assets/6184969/13432104/f2b88d46-dfaa-11e5-9ecd-915130d9f539.png)

Abrazo

[2016-03-01 16:19] mkreyness commented on #269
yo le tire ahi la pelota a Valentin, no tuve feedback.

[2016-03-01 20:03] LeandroBraier commented on #267
Me gusta mucho Fede!

1) La estética está bien, salvo por el tema de los colores. Yo los veo rosa y azul medio lavado. Necesito que sean el rojo y azul de la marca.

2) El título TENDENCIAS EN ARQUITECTURA cambialo por TENDENCIAS

3) El titulo INNOVACIONES EN CONSTRUCCIONES cambialo por INNOVACIÓN

Y ahí poné una foto de Klaukol Impermeable Potenciado y otra foto de la cortadora de Rubí:
http://ww

[2016-03-02 13:16] FAAREIA commented on #267
Ahi van los cambios y lo que faltaba:

![nuevo-newsletter](https://cloud.githubusercontent.com/assets/6184969/13461368/aab6f360-e05f-11e5-81de-e1b493db350d.png)

Cualquier cosa decime
Abrazo

[2016-03-02 13:51] LeandroBraier commented on #267
Gracias Fede! El footer iría al revés en realidad. El parexgroup en blanco a la derecha como siempre por manual de marca y el 0800 y url a la izquierda, pero dejame que lo vea el cliente así te paso todo junto después.

[2016-03-02 14:06] LeandroBraier opened #271 "Mailing de Bienvenida Comunidad de Vendedores Abril. 08/04"
@braulio-evangelisti necesito una adaptación del mailing agregando el premio arriba en el header como siempre.

![slide-premio-marzo](https://cloud.githubusercontent.com/assets/6719872/13462580/d750e154-e066-11e5-984a-78a7d90568eb.png)

Te mando por wetransfer el psd, confirmame si recibiste.

Puede ser para mañana esto?

abrazo

[2016-03-02 14:12] LeandroBraier commented on #271
https://www.wetransfer.com/downloads/418e41353fc6081f90cdee5c3fe0c12f20160302140627/c19ba9

[2016-03-02 14:22] LeandroBraier opened #272 "Mailing de Cumpleaños Comunidad de Vendedores. 04/03"
@braulio-evangelisti necesito también dos propuestas de mailing para enviar a cada vendedor el día de su cumpleaños. Te paso una referencia que al cliente le gustó, pero tiene que estar adaptada a nuestra estética.

http://appnew.embluejet.com/Online/VersionOnline.aspx?eQ2cr45fZt2lsj1RIFsFy-R-51873-R-0

abrazo

[2016-03-02 14:37] LeandroBraier opened #273 "Tarjetas de Socio en Club de Colocadores. 04/03"
@FAAREIA y @braulio-evangelisti necesito que sumen a la página de "Mi perfil" la tarjeta de socio con el número de socio que aparece en el Mailing de Bienvenida de Club de Colocadores.

Me confirman si llegan para el viernes porfa?

abrazo

[2016-03-02 14:39] LeandroBraier opened #274 "Vendedores y Colocadores: agregar Género en Formulario de Registración. 07/03"
@FAAREIA y @braulio-evangelisti necesito que incorporen el campo de género (Hombre, Mujer, Otros) en el formulario de registración y de perfil de Vendedores y de Colocadores. Tal como está en la Comunidad VIE TUR.

abrazo

[2016-03-02 14:40] LeandroBraier opened #275 "Versión Offline del Torneo de Potenciados. 03/03"
@FAAREIA me enviás una versión offline de la maquetación del torneo?

La necesitamos para ofrecerlo como producto a nuevos clientes

abrazo

[2016-03-02 16:19] braulio-evangelisti commented on #271
http://www.parexklaukol.com.ar/_mailing/vendedores-bienvenida/vendedores-bienvenida-marzo.html ?

[2016-03-02 16:31] LeandroBraier commented on #271
Peefecto. Solo sacale el texto en negro que repite "GIFTCARDS HASTA 3.000"

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Mar 2, 2016 at 1:19 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-03-02 18:22] braulio-evangelisti commented on #271
Listo

[2016-03-02 23:58] LeandroBraier commented on #271
Gracias @braulio-evangelisti ! @mkreyness porfa enviemos esto a listas 1 y 2 mañana a la tarde. abrazo

[2016-03-03 11:54] FAAREIA commented on #273
Me pasarías el link al último mailing de bienvenida? Asi veo la tarjeta

Abrazo

[2016-03-03 12:03] braulio-evangelisti commented on #274
@LeandroBraier el campo genero no esta en el registro de vietur, esta solamente en la pagina de edicion del perfil. Lo agrego en el formulario de registro?

[2016-03-03 12:12] braulio-evangelisti commented on #273
Creo que es este
http://www.parexklaukol.com.ar/_mailing/colocadores-bienvenida/colocadores-bienvenida.html

[2016-03-03 12:16] FAAREIA commented on #273
@mkreyness Marce, ahora lo voy a agregar al template con la variable ``, cualquier cosa después lo cambiamos.

[2016-03-03 12:22] LeandroBraier commented on #274
No hace falta Brau. Por ahora no, gracias!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-03 9:03 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2016-03-03 13:01] FAAREIA commented on #273
Hecho, cuando @mkreyness meta las variables de nombre-apellido y numero de socio, meto el código HTML en el template.
El pedazo de código va a ir debajo de la imagen y será asi:
`<div class="socio"><div class="textos"><p>Nombre apellido</p> <small>213123123213</small></div></div>`

Abrazo

[2016-03-03 13:22] FAAREIA commented on #274
Ahi ya esta el combo select de sexo en el registro y perfil de Colocadores y en el perfil de Vendedores, el cual no tiene registro.
En vendedores no pude entrar con el usuario de siempre de marce por lo que no pude ver como quedó pero no debería haber problemas.
@mkreyness habría que agregar que el registro de Colocadores tome el campo sexo y luego lo correspondiente al perfil. En vendedores lo mi

[2016-03-03 18:46] mkreyness commented on #274
vendedores: el usuario es el de siempre pero la password es "papa" en vez de "pepe".
Ya tocaste los verdaderos templates de perfil  (en vendedores y colocadores) y el de registro en colocadores ?

[2016-03-04 12:00] FAAREIA commented on #274
asi es, esta todo online. En el perfil de colocadores la línea que muestra la tarjeta de socio esta comentada

[2016-03-04 12:13] mkreyness commented on #274
ahi lo puse en el de perfil de vendedores, despues a la tarde lo paso al de colocadores

[2016-03-04 12:53] FAAREIA commented on #275
Hubo muchas modificaciones y lo que esta online no lo tengo maquetado sin funcionalidades. Habría que poner el sitio online y bajarse la maqueta para tener la última versión. Luego de bajada, se pone offline.

[2016-03-04 12:57] FAAREIA commented on #275
@mkreyness Se podrá poner online marce?
@LeandroBraier qué usuario van a querer mostrar?

[2016-03-04 13:03] LeandroBraier commented on #275
Gracias Fede. Intentamos subirlo brevemente solo para poder bajarse la
maqueta. Es para ofrecerlo a nuevos clientes. Igual le consulto a Eze si
vale la pena tanto esfuerzo.

Usuarios: Necesitaría poder mostrar un usuario de distribuidor y uno de
representante comercial.

On Fri, Mar 4, 2016 at 9:57 AM, Federico Arena notifications@github.com
wrote:

[2016-03-04 20:47] LeandroBraier opened #276 "Reemplazar Fichas Técnicas en Web"
@braulio-evangelisti de acá al lunes subirías estas dos fichas técnicas a la web?

[Ficha Tecnica_PORCELLANATO FLUIDO.pdf](https://github.com/LeandroBraier/Klaukol/files/159363/Ficha.Tecnica_PORCELLANATO.FLUIDO.pdf)
[Ficha Tecnica_KLAUKOL GRANDES PIEZAS PORCELLANATO.pdf](https://github.com/LeandroBraier/Klaukol/files/159364/Ficha.Tecnica_KLAUKOL.GRANDES.PIEZAS.PORCELLANATO.pdf)

abrazo

[2016-03-07 11:22] braulio-evangelisti commented on #276
Hecho!

[2016-03-07 11:47] LeandroBraier commented on #276
Gracias @braulio-evangelisti ! abrazo

[2016-03-07 12:42] LeandroBraier opened #277 "Bug URGENTE en URLs de LAS DOS Comunidades"
Buen día @mkreyness ! Te fijás qué pasa?

Dan error 500 las dos:

http://www.parexklaukol.com.ar/vendedores/

http://www.parexklaukol.com.ar/colocadores/

[2016-03-07 12:43] LeandroBraier commented on #277
Está todo caído @mkreyness No anda NINGUNA url de Vendedores ni de Colocadores.

Qué pachó?

[2016-03-07 14:32] LeandroBraier commented on #264
@mkreyness consulta técnica: estoy leyendo en foros que recomiendan para una app contratar un VPS, es decir, un servidor virtual. En ese caso, estoy entre estos dos, el pack más chico de USD 5 por mes.

https://www.vultr.com/pricing/

https://www.digitalocean.com/pricing/

Decime si lo ves OK lo mando a MS y Eze.

abrazo

[2016-03-07 15:06] LeandroBraier commented on #264
"El Server" es muucho más barato:

https://www.elserver.com/

Pero no sé si es confiable.

[2016-03-07 16:09] mkreyness commented on #264
Yo no tengo referencias ni de unos ni de otros. Probablemente si los planes son parecidos, sean distribuidores de uno mas grande (capaz el mismo), estos "planes" son sub-sub-sub-sub-hostings dentro de alguno grande que tiene un sistema de revendedores piramidal.

Por otra parte en Amazon, por un año, se puede hacer totalmente gratis (si los requerimientos son bajos).
Seguro que cualquiera en $ es

[2016-03-07 17:00] LeandroBraier commented on #264
Entiendo MK! Gracias! Lo vi con MS también y ahi le mandé a ls desarrolladores las opciones incluyendo Amazon. abrazo

[2016-03-07 17:03] #277 closed, assigned to mkreyness

[2016-03-07 17:03] LeandroBraier commented on #274
Gracias! Avisame cuando esté nomás.

[2016-03-07 17:04] LeandroBraier commented on #273
Gracias Fede! Avisen nomas.

[2016-03-07 17:06] mkreyness commented on #274
si, ya esta hecho desde el viernes a la tarde (la tarde del dia que dije "despues a la tarde").

[2016-03-07 17:15] mkreyness commented on #273
Listo !

[2016-03-07 17:26] LeandroBraier commented on #274
Promesas cumplidas!! Que buen lunes!! jajaj abrazo grande y gracias!

[2016-03-07 17:26] #274 closed, assigned to FAAREIA

[2016-03-07 17:27] LeandroBraier commented on #273
Gracias @mkreyness !

@FAAREIA el número no dice arriba Número de Socio. Debería decirlo, porque sino no se entiende y necesitamos que ellos sepan donde está su número de socio. Para mi vas a tener que mostrar la tarjeta en un tamaño más grande para lograr eso.

[2016-03-08 12:27] LeandroBraier commented on #272
Buen día @FAAREIA  y @braulio-evangelisti como viene esto?

[2016-03-08 15:22] FAAREIA commented on #273
Ahi le puse "N° SOCIO:"
Fijate como quedó, entró perfecto en la línea del número.

Abrazo

[2016-03-08 15:37] LeandroBraier commented on #273
Perfecto @FAAREIA !! Gracias!!

[2016-03-08 23:34] LeandroBraier commented on #272
hola?

[2016-03-09 11:19] braulio-evangelisti commented on #272
Buen día Lea

Aca te paso 2 bocetos

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/cumple1.jpg

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/cumple2.jpg

El segundo es mas de la estetica de vendedores pero no me convence. Si necesitas armo una tercera opcion a ver como queda.

Abrazo

[2016-03-09 13:13] LeandroBraier commented on #275
buen día @FAAREIA ! Avisame cuando lo tengas porfa. abrazo

[2016-03-09 13:17] LeandroBraier commented on #272
Gracias @braulio-evangelisti ! Va feedback:

1) Estéticamente veo más rumbeado el segundo pero le falta un poco de trabajo. Tomá de referencia  la línea del nuevo newsletter que armó Fede, que al cliente le encantó:

https://cloud.githubusercontent.com/assets/6184969/13461368/aab6f360-e05f-11e5-81de-e1b493db350d.png

Sobre todo en aplicación de marca: header, footer, etc.

2) En cuanto al diseño i

[2016-03-09 14:29] FAAREIA commented on #275
Ok, ahi le pregunto a marce

[2016-03-09 15:54] mkreyness commented on #275
Representante:

http://www.parexklaukol.com.ar/cgi-bin/extorneo-con-slide.pl?usuario=JavierVasquez&clave=parexklaukol

Distribuidor:

http://www.parexklaukol.com.ar/cgi-bin/extorneo-con-slide.pl?usuario=ceramisur&clave=parexklaukol

[2016-03-09 17:00] FAAREIA commented on #275
Lea ahi estan las maquetas, sin funcionalidad pero en HTML.
http://www.parexklaukol.com.ar/torneo-de-potenciados/representante.html
http://www.parexklaukol.com.ar/torneo-de-potenciados/distribuidor.html

@mkreyness ya podes poner offline el torno.

Abrazo

[2016-03-09 17:16] #275 closed, assigned to FAAREIA

[2016-03-09 17:16] LeandroBraier commented on #275
Gracias chicos!!

[2016-03-09 17:33] mkreyness commented on #275
en realidad ese URL "ex-torneo" nunca fue publico ni accesible, lo deje asi por si acaso.

[2016-03-09 19:01] LeandroBraier commented on #275
Gracias a los dos!!! abrazo

[2016-03-09 19:03] LeandroBraier commented on #269
@valentinsabbath necesito que revises esto porfa. Un usuario comparte posteo de la Comunidad desde su mobile y no le suma los puntos. Te lo paso por wunder también y te copio elpedido textual de MK. Necesito que confirmes si lo recibiste porfa. abrazo

[2016-03-09 19:12] LeandroBraier commented on #276
@braulio-evangelisti me pidieron ahora subir esta:

[FT_Parex_DECOFLEX Imprimacion_051113.pdf](https://github.com/LeandroBraier/Klaukol/files/165897/FT_Parex_DECOFLEX.Imprimacion_051113.pdf)

Corresponde a este producto:

http://www.parexklaukol.com.ar/parex/parex-decoflex-fondo.html

Me confirmás porfa cuando esté subido? Puede ser mañana.

abrazo

[2016-03-09 19:53] braulio-evangelisti commented on #276
@FAAREIA

[2016-03-09 21:51] FAAREIA commented on #263
Vuelvo a enviarlo, bajado del FTP
[bases.zip](https://github.com/LeandroBraier/Klaukol/files/166165/bases.zip)

[2016-03-09 22:37] LeandroBraier commented on #263
Gracias fede!
El mar. 9, 2016 6:51 PM, "Federico Arena" notifications@github.com
escribió:

[2016-03-10 12:35] braulio-evangelisti commented on #272
Buen día Lea

Fijate ahora
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/cumple3.jpg

Abrazo

[2016-03-10 12:38] FAAREIA commented on #276
Hecho:
http://www.parexklaukol.com.ar/parex/parex-decoflex-fondo.html

[2016-03-10 12:42] LeandroBraier commented on #272
Buen día Brau!!

Gracias! Hay algo que me entendiste mal. La estética del mailing es la de Comunidad de Vendedores, no la del Newsletter. Lo que quería que tomes del Newsletter es la aplicación de marca: Si va ParexGroup a la derecha y con los logos en el fotter va así. Pero recordá que el  mailing es de la Comunidad de Vendedores, por lo cual lo que tiene que estar al frente apenas abrís el mail

[2016-03-10 20:59] LeandroBraier commented on #273
@FAAREIA quieren que la tarjeta de socio esté más al frente. La podemos poner en la home arriba de "Tu perfil"?

[2016-03-10 21:17] braulio-evangelisti commented on #272
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/cumple4.jpg

Ahi va con mas fiesta, la frase feliz cumpleaños en otro color que no sea blanco cuesta leerla sobre la foto, centré el logo de la comunidad, apenas tengamos definido esto armo uno de la landing donde caería el link del regalo.
No le agregué otra torta porque ya tiene una torta en la foto.

[2016-03-10 21:22] LeandroBraier commented on #272
Me gusta @braulio-evangelisti Necesito que cambies el moño amarillo por azul (un tema de marca y me mandes como sería el link al que lleva.

[2016-03-11 13:10] braulio-evangelisti commented on #272
Ahi va con el lazo azul:

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/cumple5.jpg

Estoy armando una posible landing, con un regalo y una torta, que se abra el regalo y aparezca un ticket con 40 puntos o algo asi, apenas lo tenga lo subo asi lo ves.

[2016-03-11 13:20] LeandroBraier commented on #272
Gracias @braulio-evangelisti me gusta como quedó. El texto te lo mando hoy corregido. Espero entonces lo del regalo y el ticket que pueda decir cualquier cosa. Por ejemplo:

40 puntos

Kit de asado

Radio portatil. Que dentro del ticket haya un texto que diga el premio y chau. abrazo

[2016-03-11 13:39] LeandroBraier commented on #276
Gracias @FAAREIA !!!

[2016-03-11 13:41] LeandroBraier opened #278 "Nuevos Usuarios en Comunidad de Vendedores"
Buen día @mkreyness !

Acabo de agregar 2 vendedores a la Comunidad de Vendedores de Parex desde el CMS y les puse de status MANDAR MAIL.

Se mandan automáticos o vos lo gatillás?

COnfirmame porfa.

abrazo

[2016-03-11 14:01] FAAREIA commented on #273
Hecho, ahora la tarjeta de socio esta en en el perfil y en la columna derecha de todo el sitio. Solo es visible para usuarios registrados.
@mkreyness habría que hacer andar las variables esas en la columna derecha. ¿aca hay un template para cambiar el versioning al css en todo el sitio?
Una vez hecho eso, pongo visible la tarjeta.

[2016-03-11 14:22] ghost commented on #269
@mkreyness Como accedo a http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34&usuario=marcelokreyness&clave=papa

[2016-03-11 14:24] LeandroBraier commented on #269
Probá con este mejor:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=34&usuario=LeandroBraier&clave=parexklaukol

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 11, 2016 at 11:22 AM, valentinsabbath notifications@github.com
wrote:

[2016-03-11 14:47] ghost commented on #269
Solo comparte la página
![screenshot_20160311-114129](https://cloud.githubusercontent.com/assets/16599421/13705290/ed1577ce-e77e-11e5-8515-fa7543b43f5d.png)

[2016-03-11 15:20] ghost commented on #269
Si comparto el video, tampoco me suma 120 pts.

[2016-03-11 15:33] LeandroBraier commented on #269
Exacto. Ese es el problema que necesito que uds solucionen.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 11, 2016 at 12:20 PM, valentinsabbath notifications@github.com
wrote:

[2016-03-11 17:03] mkreyness commented on #269
ahi le cambie la clave a "papa" para que ande, tenia otra cosa.
Lo que tenes que debuggear (si tenes como) es ver que pasa con las llamadas que se hacen dentro de fbcallback.js, yo tengo la idea que debe ser que el API de Facebook cuando esta dentro de un navegador de android NO esta llamando al callback como deberia. Esta es la documentacion en que me base para hacer uso de esos callbacks y en PC

[2016-03-11 17:04] ghost commented on #269
@mkreyness el que no sume puntos cuando comparto el video por facebook puede tener algo que ver con esto?:
Leverage browser caching (3)
The following cacheable resources have a short freshness lifetime:
M0.jpg
The following resources are explicitly non-cacheable. Consider making them cacheable if possible:
/cgi-bin/sumalike.pl?usuario=LeandroBraier&clave=parexklaukol&juego=76
www.facebook.com/

[2016-03-11 17:12] mkreyness commented on #269
No tendria por que cachearse nada, es una llamada a un programa en el servidor.
Obviamente si no lo llama, no se suman los puntos.
Pero ojo que igual podria estarlo llamando y no sumar los puntos porque LeandroBraier es un usuario SUSPENDIDO y no puede pasar de 95 puntos.
Tampoco tengo claro por que dice facebook despues o M0.jpg antes.

[2016-03-11 17:14] mkreyness commented on #269
Jamas le sumaria 120 puntos a un usuario suspendido.
Esa es la razon ademas por la cual podes seguirlo haciendo, si no ya te hubiera dado el juego por "Hecho" y no se puede volver a jugar.
@LeandroBraier te desuspendemos para poder probar ?

[2016-03-11 17:15] ghost commented on #269
y vos también estás suspendido? porque tampoco me suma

[2016-03-11 17:17] mkreyness commented on #269
Claro, estamos suspendidos justamente para no aparecer como que estamos ganando puntos y quitandoles posibilidades a los verdaderos vendedores en el sorteo.

[2016-03-11 17:25] braulio-evangelisti commented on #272
Fijate algo asi:

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/abri1.jpg
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/abri2.jpg
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/abri3.jpg

Estan en orden de como seria la dinamica, donde dice 00 iria la edad que cumple la persona si se puede calcular con el dato de la db.

Abrazo

[2016-03-11 19:19] LeandroBraier commented on #272
Me gusta. Maquetala como una página de la Comunidad misma, como la página
de Ganadores por ejemplo. Y en lugar de PREMIO PREMIO poné TE REGALAMOS UNA
REMERA KLAUKOL

El lunes te paso los textos finales del mailing así lo presentamos y lo
maquetamos.

abrazo y gracias!

On Fri, Mar 11, 2016 at 2:25 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-03-11 19:20] ghost commented on #269
pregunta, cuando ella comparte por face en el movil, se le abre la app de Facebook o el browser?

[2016-03-11 19:36] LeandroBraier commented on #269
No tengo ni idea eso jeje. Es un usuario al que ya le preguntamos muchas
cosas y hace más de 1 semana. No sé si puedo seguirle preguntando.

Yo calculo que depende de la configuración de cada usuario.

On Fri, Mar 11, 2016 at 4:20 PM, valentinsabbath notifications@github.com
wrote:

[2016-03-11 19:45] ghost commented on #269
## @mkreyness  Buscando encuentro que varios ponen este código que dicen que es necesario para que funcione.

protected override void OnActivityResult (int requestCode, Result resultCode, Intent data)
        {
            base.OnActivityResult (requestCode, resultCode, data);

[code]

[2016-03-11 19:50] mkreyness commented on #269
Pero eso es de algun SDK para otro lenguaje, ademas eso en si no dice nada.
Si no es "web", no importa, son SDK para hacer aplicaciones en C++ o cosas asi que no es lo que usamos.
Fijate si hay problemas para usar el JAVASCRIPT SDK en browsers android.

[2016-03-14 13:40] ghost commented on #269
@mkreyness podrías desbloquear tu usuario asi veo si suma los puntos? Prometo no llevarme el premio

[2016-03-14 13:43] LeandroBraier commented on #269
Acabo de desbloquearte el usuario MarceloKreyness Valen. Asi no hace falta
que lo haga MK.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 14, 2016 at 10:40 AM, valentinsabbath notifications@github.com
wrote:

[2016-03-14 13:45] ghost commented on #269
Gracias @LeandroBraier

[2016-03-14 13:51] ghost commented on #269
Ahora no me puedo loguear. Se cambió la contraseña?

[2016-03-14 13:54] LeandroBraier commented on #269
Revisé el CMS y la pass actual es:
**mysql99**

[2016-03-14 13:55] mkreyness commented on #269
NO, ya le puse "pepe" de nuevo.

[2016-03-14 13:55] mkreyness commented on #269
Borra ese post plis, es mi contra maestra.

[2016-03-14 13:55] mkreyness commented on #269
No se como volvio a ponerse, yo la habia cambiado por "pepe" hace unos dias justamente para no tener que decir eso aca.

[2016-03-14 14:02] ghost commented on #269
En Chome para android (probé en el chrome porque es el navegador que viene con mi celular, en lugar de el navegador nativo de android), compartí dos cosas y sumó puntos perfectamente.

[2016-03-14 14:11] LeandroBraier commented on #269
jajaja OK. Borrado MK.

[2016-03-14 14:12] LeandroBraier commented on #269
Perfecto. Probá en el de android también por las dudas. No sabemos con cual
acceden los usuarios. Pudiste registrar cual era el inconveniente que no
sumaba los puntos?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-14 11:02 GMT-03:00 valentinsabbath notifications@github.com:

[2016-03-14 14:14] mkreyness commented on #269
por lo que dice no pudo reproducir el problema, lo mismo que me pasa en la PC.

[2016-03-14 14:22] ghost commented on #269
quizás tenga el browser desactualizado, porque probé en el browser nativo y me sigue dando buen resultado

[2016-03-14 14:23] mkreyness commented on #269
o alguna opcion de seguridad que no ejecute javascript capaz ?

[2016-03-14 14:30] ghost commented on #269
Claro, si tiene deshabilitada la opción de "permitir javascript" no le va a funcionar

[2016-03-14 14:44] mkreyness commented on #269
pero me suena que si fuera asi no le andaria practicamente nada de la pagina.
Tiene que haber alguna cuestion de "same-origin-policy", ese tipo de cosas atentan contra el ajax y los callbacks. Capaz un browser desactualizado esta restringiendo de mas. Hasta no poderlo reproducir, no podemos saber que es.

[2016-03-14 15:05] LeandroBraier commented on #272
Buen día @braulio-evangelisti ! Te paso los textos que van:

MAILING

**¡¡¡Feliz cumpleaños XXnombreXX!!!**

**La Comunidad de Vendedores Potenciados crece día a día por la potencia de cada uno de sus miembros y por eso nos enorgullece tenerte en el equipo.**

**Hoy es tu cumpleaños y decidimos enviarte este presente. Para abrirlo, simplemente tenés que hacer  clic sobre él.**

**Te deseamos que d

[2016-03-14 15:23] LeandroBraier commented on #269
Ok, hagamos así. No sigamos trabajando en esto pero estemos atento por si se nos ocurre qué puede estar pasando o si reproducimos el error. Gracias a los dos!!

[2016-03-14 15:23] #269 closed, assigned to mkreyness

[2016-03-14 20:45] braulio-evangelisti commented on #272
Perfecto lea. Calculo que mañana ya subo material de esto maquetado.

Abrazo.

[2016-03-15 17:47] LeandroBraier commented on #273
@FAAREIA necesito que esto quede funcional hoy. Me confirmás porfa?

[2016-03-15 17:47] FAAREIA commented on #273
Hola Lea, ahi le aviso por whatsapp a marce

[2016-03-15 17:48] LeandroBraier commented on #273
Gracias!

[2016-03-15 18:42] braulio-evangelisti commented on #272
Lea fijate ahi:

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html

Si haces click en el regalo te lleva a la maqueta de prueba para la pantalla de cumpleaños que luego habria que meter en vendedores.

El regalo se abre pasando el cursor por encima y al hacerle un click al ticket se activa.

Abrazo.

[2016-03-15 19:13] LeandroBraier commented on #270
@mkreyness necesitaría que tengamos listo este tipo de trivias en VIE TUR este viernes para una dinámica a publicar el lunes 21 de marzo. Llegamos?

[2016-03-15 19:27] mkreyness commented on #273
Ahi lo puse en produccion

[2016-03-15 19:29] LeandroBraier commented on #273
Impecable chicos!!! Muchas gracias!!!

abrazo

[2016-03-15 19:29] #273 closed, assigned to mkreyness

[2016-03-15 19:36] mkreyness commented on #270
Supongo que si, pero que hay de la remaquetacion de las pantallas para que puedan tener fotos ?

[2016-03-15 19:38] LeandroBraier commented on #270
@FAAREIA repasá este ticket para arriba, que está explicado de lo que estamos hablando.

[2016-03-15 19:39] mkreyness commented on #270
@FAAREIA a partir del que dice
"Perfecto, MK. Entonces decime cuanto tiempo nos llevaría adaptar la trivia
a poner imágenes en las opciones y en el resultado una foto y un texto."

Lo de antes no va.

[2016-03-15 20:10] LeandroBraier commented on #272
Quedó buenisimo Brau!!

El número 75 es la edad real del tipo? Quitemos ese número, que se vean las velitas nomas. Igual lo voy mandando para aprobar. Gracias!

[2016-03-15 20:39] braulio-evangelisti commented on #272
Claro seria la edad, puse cualquier numero de ejemplo, se me ocurrio que a lo mejor podria imprimirse la edad calculandola con el dato de la fecha de nacimiento en la db. Habria que consultar con marcelo no?

[2016-03-15 20:41] LeandroBraier commented on #272
Pero mejor no lo usemos y listo. Que se vean 2 velitas y nada más.

Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 15, 2016 at 5:39 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-03-15 21:15] LeandroBraier opened #279 "Adaptación Mailing de Bienvenida Club de Colocadores"
Brau, necesito que mañana como prioridad del día hagas una nueva versión de Mailing de Bienvenida de Club de Colocadores. Que arriba como header tenga esta promoción:

![3 slide - concurso club de colocadores](https://cloud.githubusercontent.com/assets/6719872/13788134/6d1d3290-eabd-11e5-97a7-01fd2c3dd83d.jpg)

Queremos decirles a los Colocadores del Club que participando de este concurso pueden g

[2016-03-16 10:45] braulio-evangelisti commented on #279
Buen dia Lea ya estoy bajando el psd, apenas tenga algo lo subo, calculo que llego para las 11.

[2016-03-16 10:46] LeandroBraier commented on #279
Genial Brau!! Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Mar 16, 2016 at 7:45 AM, Braulio Evangelisti <
notifications@github.com> wrote:

[2016-03-16 10:52] braulio-evangelisti commented on #279
Tenes esta fuente para pasarme?

**[FrutigerLTStd BlackCn]**

Gracias

[2016-03-16 11:00] LeandroBraier commented on #279
Si! Aqui van todas.

abrazo

[Fuentes Frutiger LT Std.zip](https://github.com/LeandroBraier/Klaukol/files/175787/Fuentes.Frutiger.LT.Std.zip)

[2016-03-16 11:25] braulio-evangelisti commented on #279
Fijate algo asi

http://www.parexklaukol.com.ar/_mailing/colocadores-bienvenida/colocadores-bienvenida-0316.html

[2016-03-16 12:00] LeandroBraier commented on #279
Bastante cerca Brau! Buenisimo!

Te paso feedback:

1) Reemplazar el texto "¡Bienvenido al Club de Colocadores Klaukol!" por "Club de Colocadores te invita a participar de este concurso"

2) El texto: "RESPONDÉ CORRECTAMENTE ESTA PREGUNTA Y PARTICIPÁ POR RADIOS, REMERAS Y GORRAS KLAUKOL" ponele en fuente más grande, como la de la frase anterior.

3) Agrandar un poco los premios, que se vean más.

[2016-03-16 12:13] braulio-evangelisti commented on #279
Actualiza ahora en el mismo link.

[2016-03-16 12:20] LeandroBraier commented on #279
Perfecto @braulio-evangelisti !! Muchas gracias!!!

@FAAREIA mejor no lo mando al cliente. Está impecable el mailing. Pasemoslo a Mailchimp directamente. Avisame porfa.

abrazo

[2016-03-16 12:59] LeandroBraier opened #280 "Bug en Club de Colocadores"
@mkreyness subí un juego de video en Club de Colocadores y mirá como se ve:

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=16

[2016-03-16 13:17] mkreyness commented on #280
Porque todos los elementos que no se ven forman parte de las clases CSS, no es nada especifico de este template, @FAAREIA podes pegarle una mirada ? O se rompio algo o nunca anduvo, es la primera trivia con video @LeandroBraier ?.

[2016-03-16 13:36] FAAREIA commented on #270
http://www.parexklaukol.com.ar/vendedores/trivia-imagenes.html
Si esta ok ya lo paso a produccion asi marce hace lo suyo

[2016-03-16 13:53] LeandroBraier commented on #280
No, ya hicimos esto para episodios 1 y 2

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=13

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=14

Y antes se veía bien también. En algún momento esto se rompió.

[2016-03-16 13:54] LeandroBraier commented on #270
Excelente Fede!!! Adelante.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Mar 16, 2016 at 10:36 AM, Federico Arena notifications@github.com
wrote:

[2016-03-16 14:11] FAAREIA commented on #270
Buenísimo.
@mkreyness
- El template esta en: http://www.parexklaukol.com.ar/vendedores/trivia-imagenes.html
- Fijate que al `form` le agregué la clase `imagenes`
- Los `div` contenedores de los `label`, cierran tag en línea nueva, no hay espaciado
- La imagen esta en el nuevo tag `small` referenciada con un `style` inline.

Creo que nada más, cualquier cosa decime
Abrazo

[2016-03-16 14:26] LeandroBraier commented on #272
@braulio-evangelisti el cliente lo vio y el mailing está perfecto.

Lo que me pidió es en la landing. Son dos cosas:

1) que al hacer clic en el mail del regalo y llegar a la landing, que ya aparezca abierto el regalo con el ticket grande. Que no tenga que volver a hacer clic.

2) que la estética del regalo de la landing sea la misma estética que usaste en el mailing. Como ahora la landing es está

[2016-03-16 14:34] FAAREIA commented on #280
Este tempate nuevo no tiene relación con la lógica de las maquetas armadas en lo nuevo de colocadores. Me fije y en las maquetas no hay template para un juego, me parece raro que esto antes se veia bien.
Ahi lo agrego

[2016-03-16 15:10] FAAREIA commented on #280
Solucionado

[2016-03-16 15:17] LeandroBraier commented on #280
Gracias Fede! Ahora se ve mejor.

El problema es que el Club de Colocadores no tiene puntos, te acordás? Los usamos para saber qué actividades hicieron nada más, pero no en el front. No se tiene que leer "Compartí y sumá mundo" y demás.

Como ya hicieron para las trivias:

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=2

[2016-03-16 15:32] FAAREIA commented on #280
Se confundieron de template entonces, lo que se tiene que ver es el título y el video entonces? Tiene que haber algun botón que lleve a una trivia o algo asi? Texto del botón?

[2016-03-16 15:33] FAAREIA commented on #280
el compartir sigue?

[2016-03-16 16:05] braulio-evangelisti commented on #272
1) Ok ahora lo armo

2) Puedo poner el regalo con los mismos colores del del mailing que son los de klaukol reales, pero armar el regalo como esta en el mailing (en perspectiva) abierto tendria que cambiar toda la dinamica porque va a quedar mal con el resto del sitio que es todo de frente.

[2016-03-16 16:23] LeandroBraier commented on #280
Si se puede si pero sin el texto de puntos.
El mar. 16, 2016 12:33 PM, "Federico Arena" notifications@github.com
escribió:

[2016-03-16 16:30] braulio-evangelisti commented on #272
Actualiza ahora Lea

[2016-03-16 17:16] LeandroBraier commented on #272
Gracias Brau!! Lo unico sigo viendo el número en lugar de las velas. Lo demás perfecto.

[2016-03-16 17:17] braulio-evangelisti commented on #272
Fiajte ahora

[2016-03-16 17:42] LeandroBraier commented on #272
Brau, está bien pero simplifiquemosla. La vi en mobile y es demasiado.

1) Quitale la parte del logo de arriba:
<img width="1043" alt="captura de pantalla 2016-03-16 a las 3 00 29 p m" src="https://cloud.githubusercontent.com/assets/6719872/13822605/0edd7348-eb85-11e5-99f6-db8f28367f97.png">

Dejando el fondo para que quede detrás del ticket que anuncia el regalo.

2) Abajo que quede el regalo sol

[2016-03-16 17:51] braulio-evangelisti commented on #272
Ahora?

[2016-03-16 17:53] FAAREIA commented on #280
Fijate ahora lea.

[2016-03-16 17:55] LeandroBraier commented on #272
Ahora está perfecto Brau!!

Confirmo con el cliente.

abrazo

[2016-03-16 17:55] LeandroBraier commented on #272
Mientras aprovechá a hacer responsive la landing porfa.

[2016-03-16 17:59] LeandroBraier commented on #280
Ahora dice "Mirá el video y respondé la siguiente trivia".

Pero no hay trivia.

Revisalo en este link para verlo en front:

http://www.parexklaukol.com.ar/cgi-bin/jugarcolo.pl?usuario=marcelokreyness&clave=pepe&id=14

On Wed, Mar 16, 2016 at 2:53 PM, Federico Arena notifications@github.com
wrote:

[2016-03-16 18:01] FAAREIA commented on #280
Ok, ya estoy medio mareado. Ahi le saqué el botón ese. Esta bien ahi?

[2016-03-16 18:10] FAAREIA commented on #279
https://us11.admin.mailchimp.com/templates/design?tid=209845
Variables que usé:
- USUARIO
- CLAVE
- NOMBRE
- APELLIDO
- NUMERO

Fijate que cuando crees las variables, tienen un nombre por defecto pero vos podes definirle un alias. El alias serían los nombres que te pase.

[2016-03-16 18:23] LeandroBraier commented on #280
Si, ahora está bien eso. jeje

Pero no sé por qué no anda el botón de compartir. Se fijan eso @mkreyness ?

abrazo

[2016-03-16 18:52] mkreyness commented on #280
dice "picture is not properly formatted".
La imagen es esta y yo no le veo nada de malo, pero capaz no se banque png ?

http://www.parexklaukol.com.ar/colo/img/temas/2-Thumbnail-EquipoKlaukol.png

[2016-03-16 19:12] LeandroBraier commented on #280
Pero el compartir es para compartir el video, o no?

On Wed, Mar 16, 2016 at 3:52 PM, mkreyness notifications@github.com wrote:

[2016-03-16 19:16] mkreyness commented on #280
Todo link de compartir deberiai llevar una foto, si no Facebook busca lo que haya en la pagina general de Klaukol y lo pone. Igual tampoco hay mucha garantia que la use, lo mejor seria que todos estos templates tuvieran los tags de Facebook (og:) que NO tienen.

El video deberia ser el URL de lo que se comparte, pero no esta apareciendo. Ahora arreglo eso.

[2016-03-16 19:16] LeandroBraier commented on #279
Genial Fede! Impecable!

Ok, lo tengo en cuenta. El número se lo sumo como columna en la lista no?

[2016-03-16 19:18] FAAREIA commented on #279
Fijate que hay una columna para definir un alias, sino le cambias ese nombre que te da por defecto

[2016-03-16 19:23] LeandroBraier commented on #279
Entiendo, perfecto. Gracias Fede!

[2016-03-16 19:23] mkreyness commented on #280
Lo que se comparte es lo que en el tema pongas en el campo "URL".
Ahi le copie el URL del video ahi y ya lo pone bien, pero sigue estando el problema de la imagen, no le gusta ese png.
Si queres le saco lo de que use una imagen, y pondra lo que encuentre por default.

[2016-03-16 19:33] LeandroBraier commented on #280
Ok, probemos asi MK. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Mar 16, 2016 at 4:23 PM, mkreyness notifications@github.com wrote:

[2016-03-16 19:35] mkreyness commented on #280
sale bastante bien, pone la imagen del video en el post, fijate.

[2016-03-16 19:40] LeandroBraier commented on #280
Si, ahí está perfecto MK!! Ya lo subí a los 3 episodios.

Gracias a los dos!!

abrazo

[2016-03-16 19:40] #280 closed, assigned to mkreyness

[2016-03-16 21:08] LeandroBraier commented on #272
Avisenme cuando esté online.

[2016-03-17 12:04] FAAREIA commented on #254
Hola Lea, estuve viendo el sitio de revear y habría que hacer lo siguiente:

#### EMPRESA
- Diseño y maquetado
- La sección actual de "Showroom" va a fusionarse con esta.

#### NOVEDADES
- Diseño y maquetado
- Habría que ir consiguiendo una foto para cada novedad

#### NOVEDAD
- Diseño y maquetado
- Conseguir una o más fotos
- Generar contenido, el actual es muy pobre, no suma tener algo asi.

###

[2016-03-17 12:59] LeandroBraier commented on #254
Muchas gracias Fede!! Muy detallado. Tomo el tiempo de los responsivo
también porque sí le da bola, es importante. LO puedo usar después por si
nos apuran para decirle: OK, sin version responsive podemos salir en tal
fecha.

Calculando exactamente los tiempos son máximo 11 jornadas de 8 hs, part
time serían 22 jornadas. Calculando eso y teniendo en cuenta que pueden
surgir cosas chicas que interru

[2016-03-17 13:05] LeandroBraier commented on #23
@mkreyness acá veo que el calculador de consumo había quedado funcionando y yo lo vi funcionando hace poco. Ahora me dice …@FAAREIA que no anda y veo que es verdad. Revisarían qué pasó por favor?

abrazo

[2016-03-17 13:23] braulio-evangelisti commented on #272
Lea ya Fede esta armando el template para que luego Marcelo lo conecte con el resto del sitio y ahi ya va a haber un link para poder verlo online dentro de Vendedores.

_cuando este el link final va a haber que ponérselo al mailing de cumpleaños, ahora esta apuntando a una carpeta "_prueba-cumple" donde esta la maqueta de vendedores que habría que borrar luego_

Abrazo

[2016-03-17 13:34] LeandroBraier commented on #272
Genial Brau! Gracias!

Coordina con Fede para ayudarlo en todo lo que puedas hoy. Incluso
revisando el sitio de revear para ir rescatando los contenidos de la forma
mas prolija posible para poder subirlo a una nueva maquetación.

Abrazo
El mar. 17, 2016 10:23 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-03-17 13:41] FAAREIA commented on #254
Yo creo que si fluye si podemos hacer la primer entrega el 29

[2016-03-17 13:42] FAAREIA commented on #254
voy empezando?

[2016-03-17 13:44] LeandroBraier commented on #254
Dale de una. Compilemos la contenidos primero no?
El mar. 17, 2016 10:42 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-17 13:50] FAAREIA commented on #254
Puedo ir avanzando con el diseño metiendo contenido simulado. Por ejemplo con novedades o sino con empresa o contacto que son más tranqui

[2016-03-17 13:55] LeandroBraier commented on #254
Dale genial. Y decile a Brau que te ayude con lo de los contenidos. La idea
es que aproveche a full el día de hoy así no le queda nada para la semana
que viene.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Mar 17, 2016 at 10:50 AM, Federico Arena notifications@github.com
wrote:

[2016-03-17 14:14] braulio-evangelisti commented on #254
Lea en que formato recopilo los contenidos?

[2016-03-17 16:35] mkreyness commented on #23
alguno de esos cambios raros de Duplika que hace que los redirects por htaccess no anden o algo asi.
A la tarde lo reviso.

[2016-03-17 16:44] LeandroBraier commented on #254
Como le sea mejor a Fede. Coordina con el en función del template que
tenemos para maquetar.
El mar. 17, 2016 11:14 AM, "Braulio Evangelisti" notifications@github.com
escribió:

[2016-03-17 21:07] mkreyness commented on #23
Era lo de los cambios en el manejo de permisos. + tambien cuando cambiaron la base de datos quedaron todos mal los acentos, ya arregle eso tambien.
Pero veo que hay productos para los cuales no estan cargadas las presentaciones, esos dan error igual (no se ve un error, pero queda el producto que se haya mostrado antes y eso esta mal). Hago que quede vacio, no ?

[2016-03-17 21:11] LeandroBraier commented on #23
Si porfa. Consultalo con Fede por las dudas. El esta backupeando el sitio.
Gracias!
El mar. 17, 2016 6:07 PM, "mkreyness" notifications@github.com escribió:

[2016-03-17 21:11] mkreyness commented on #23
esto esta en mi programa, dudo que este backupeando mi directorio.

[2016-03-17 21:22] mkreyness commented on #23
El problema en realidad es que la pagina web hace referencia a productos que no estan en la base.
Capaz se eliminaron, pero entonces habria que eliminarlos tambien de la pagina, eso si ya es un tema de tocar el HTML, @FAAREIA , ojo con lo que estan backupeando tambien.
Yo encuentro que estos "numeros de producto" de la calculadora no se corresponden a ninguno de  nuestra base, capaz falta cargarle

[2016-03-17 23:51] LeandroBraier commented on #272
@FAAREIA como quedó este tema? Cuando tengo todo final para enviar?

Una vez hecho tengo que pedirle a @mkreyness que ponga el envío automático a cada uno en su cumpleaños.

[2016-03-18 11:59] FAAREIA commented on #272
Hola Lea
Link estático: http://www.parexklaukol.com.ar/vendedores/cumple.html
Template: cumpleT.html
Al template habría que hacerlo funcionar y agregarle las variables que hagan falta. @mkreyness

[2016-03-18 12:18] mkreyness commented on #270
Ojo faltaria un template mas, para cuando se muestra el resultado, ahi si iria una sola imagen grande y un texto.

[2016-03-18 13:04] LeandroBraier commented on #272
Gracias @FAAREIA ! Antes de que agarre MK me parece que para el tema de las variables tendrías que incluir el nombre del usuario en la frase de "¡FELIZ CUMPLEAÑOS XXXXNOMBREXXX! No?

Con eso estaría porque en principio en abril el regalo va a ser una remera Klaukol para cada cumpleañero pero en Mayo puede cambiar, por lo cual yo haría una variable para el regalo que se pueda editar en el CMS.

abr

[2016-03-18 13:05] LeandroBraier commented on #270
Es cierto MK. Y eso tendríamos que cargarlo también desde el CMS. Cuando esté armado el juego necesito que me confirmen el tamaño que tienen que tener las imágenes.

No se olviden que necesito que esta nueva modalidad esté subida tanto a Parex como a VIE TUR.

[2016-03-18 15:13] mkreyness commented on #270
Si, la parte de resultados esta en el CMS y ahora le incorpore imagen, tengo hecha toda la parte de las preguntas pero me falta implementar el resultado, porque llegue ahi y vi que hacia falta un nuevo template.
La idea es que en el CMS se cargue el maximo valor obtenido que merece ese resultado (ej, para el que es de 0 a 4, le pones 4, para el que es de 5 a 8, le pones 8, etc.

Terminemos primero

[2016-03-18 17:12] LeandroBraier commented on #270
Ok, entiendo. Avancemos hoy con esto porfa.

2016-03-18 12:13 GMT-03:00 mkreyness notifications@github.com:

[2016-03-18 17:30] LeandroBraier commented on #23
@mkreyness estoy probando y si bien encuentra el producto el cálculo no da nada. Da una barra sin número que dice "Cantidad necesaria" Después quiero hacer una nueva búsqueda y nome deja.

[2016-03-18 18:58] FAAREIA commented on #23
Aclaro que no estoy backpeando el sitio, el sitio ya estaba backupeado de antes. Lo único que estuvimos haciendo con brau es recopilar los datos de productos por ej., en un archivo.
Con respecto a eliminar productos o agregar lo que fuese a algun producto, los HTML estan en muchos casos más que quintuplicados y distribuidos por varias carpetas. Necesitaría que me digan que producto tengo que tocar

[2016-03-18 19:00] LeandroBraier commented on #23
Por ahora estamos hablando del calculador especificamente. Mientras
tengamos todos los contenidos dispuestos oara subirlos a la nueva web
estamos ok. Recuerdo que esta quintuplicado pero guardemoslo una sola vez
no? Jeje
El mar. 18, 2016 3:58 PM, "Federico Arena" notifications@github.com
escribió:

[2016-03-18 19:05] FAAREIA commented on #272
Ahi lo actualicé, también en el template.

[2016-03-18 20:07] mkreyness commented on #23
Te pase arriba una lista de IDs que trae la pagina del calculador de consumo, los tiene escritos asociados a algun texto en un select, esos productos entiendo que NI ESTAN en nuestra base, habria que sacarlos del popup, porque solo llevan a error.

[2016-03-18 20:07] FAAREIA commented on #270
Listo, ahi agregué el template: trivia-imagenes-completaT.html
En este caso las respuestas se muestran asi: http://www.parexklaukol.com.ar/vendedores/trivia-imagenes-completa.html
@mkreyness fijate que las respuestas ya no son un `<dl><dt>RTA #1</dt><dd>Texto rta</dd></dl>` ahora estan dentro de un `div.imagenes` y son `divs`

[2016-03-18 20:15] mkreyness commented on #270
pero no van 4 imagenes, va UNA imagen, la idea es que diria tipo "Sos un MACHO ALFA, felicitaciones!" y va la imagen de un macho alfa, lo que sea que esto fuere.
Esto es un QUIZ, de esos que te dicen
"si fueras una flor serias... Una Rosa ? Un Clavel ? Una Cala ? Un Helicántropo ?"
"si fueras un pajaro serias Un Gorrion ? Un Halcon ? Una Paloma ? Un pterodáctilo? "
"si fueras un mamifero serias...

[2016-03-18 20:18] LeandroBraier commented on #272
Gracias Fede! Ahora si te toca a vos MK.

Puede ser para el lunes.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 18, 2016 at 4:05 PM, Federico Arena notifications@github.com
wrote:

[2016-03-18 20:19] LeandroBraier commented on #23
Si, pero a mi no me anda ningun producto igual. Cuales si te andan?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-18 17:07 GMT-03:00 mkreyness notifications@github.com:

[2016-03-18 20:21] LeandroBraier commented on #270
Exacto. Es como dice Marce. Y son 4 soluciones distintas posible, no 3.
Verdad?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-18 17:15 GMT-03:00 mkreyness notifications@github.com:

[2016-03-18 20:24] mkreyness commented on #270
Tantas como quieras poner. Yo no estoy limitando ni la cantidad de preguntas ni la cantidad de opciones.

[2016-03-18 20:27] LeandroBraier commented on #270
Recuerden que este juego tiene que estar activado para cargar el lunes
antes del mediodía porfa. Tanto en VIE TUR como en Vendedores ParexKLaukol

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 18, 2016 at 5:24 PM, mkreyness notifications@github.com wrote:

[2016-03-18 20:30] mkreyness commented on #270
Yo una vez que este terminado esto del template lo liquido en un ratito. Ahora estoy sin fibertel conectado por el iPhone, asi que no estoy en la mejor de las situaciones, pero de aca a mañana te tengo todo en condiciones como para que lo cargues en el CMS de Parex. Si ves todo bien, despues lo traslado a VIE TUR.
Lo que si para ir ganando tiempo @FAAREIA si poder hacer estos mismos templates comp

[2016-03-18 20:53] mkreyness commented on #23
Ah el calculo decis, yo me referia a que ni me traia la foto del producto en esos casos porque no estaban cargados en la base.
Si, tenes razon, al lado de "Cantidad necesaria" no sale nada.
Bueno, con mi intermitente internet tratare de revisarlo.

[2016-03-18 21:37] FAAREIA commented on #270
#### VENDEDORES

Ahora si, actualicé el template en base a la idea descripta: trivia-imagenes-completaT.html
Maqueta de ejemplo final: http://www.parexklaukol.com.ar/vendedores/trivia-imagenes-completa.html

[2016-03-18 21:51] FAAREIA commented on #270
#### VIETUR

http://comunidad.vietur.com.ar/trivia-imagenes-id.html
http://comunidad.vietur.com.ar/trivia-imagenes-completa.html

Es lo mismo que para vendedores

[2016-03-18 21:51] mkreyness commented on #270
@LeandroBraier dale el ok a esa maqueta y trabajo sobre eso y lo termino.

[2016-03-18 21:59] LeandroBraier commented on #270
Gracias Fede!!

Les confirmo Maqueta por Maqueta:

**http://comunidad.vietur.com.ar/trivia-imagenes-id.html**
Está OK. Adelante. Solo faltaría hacerlo responsivo no?

**http://comunidad.vietur.com.ar/trivia-imagenes-completa.html**

. El "¡Felicitaciones" debería estar adentro de la foto, junto con el otro texto.

. El + 40 puntos no debería aparecer ahi no?

abrazo

[2016-03-18 22:00] FAAREIA commented on #23
Marce ahi subi el HTML otra vez pero con las `<option>` que me dijiste que saque.

[2016-03-18 22:05] FAAREIA commented on #270
Los puntos no van ni en vendedores ni en vietur?

[2016-03-18 22:12] LeandroBraier commented on #270
No van en el resultado este, me parece que no quedan bien. Si estaban en
los demás juegos no me había dado cuenta, por las dudas saquemoslo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 18, 2016 at 7:05 PM, Federico Arena notifications@github.com
wrote:

[2016-03-18 22:24] mkreyness commented on #23
ahi arregle lo del calculo, pero ojo que si pedis cualquiera de los productos que no existen en la base, da error y te queda congelado el anterior que te mostro, por eso es importante eliminarlos de la pagina.

[2016-03-18 22:31] FAAREIA commented on #23
No se si termino de entender aún, el HTML actual de http://www.revear.com.ar/calculador-de-consumo.html tiene los siguientes `option` comentados:
21
22
35
36
37

[2016-03-18 22:32] FAAREIA commented on #23
Si esta ok, no deberían de aparecer esos productos

[2016-03-18 22:35] mkreyness commented on #23
ah bueno, ahora si, pero yo tenia la pagina cargada de hace un par de horas y todavia los tenia.
Ok, entonces deberia estar todo funcionando bien ya

[2016-03-18 22:42] FAAREIA commented on #270
Ahi lo acomodé en vendedores: http://www.parexklaukol.com.ar/vendedores/trivia-imagenes-completa.html
Faltaría hacer el responsivo, que para eso necesitaría saber que tipo de longitud van a tener los párrafos/frases.
Mañana a la mañana lo translado a vietur.

[2016-03-18 23:09] LeandroBraier commented on #270
Gracias Fede! Quedó perfecto ahora. Dale, genial.
El mar. 18, 2016 7:42 PM, "Federico Arena" notifications@github.com
escribió:

[2016-03-18 23:46] LeandroBraier commented on #23
Buenisimo MK! Ahora funciona.

Solo no me funcionan los siguientes:

FIJADOR
RV2 (funciona pero no muestra imagen)
SILICONADO (muestra imagen pero no los datos)

Los demás todos perfectos.

@FAAREIA en la pagína nueva de Revear no podemos pegarlo tal cual al calculador, sin modificarlo?

[2016-03-19 01:44] mkreyness commented on #23
"FIJADOR" y "SILICONADO" no tienen cargadas presentaciones en el CMS, no puede hacer los calculos.
"RV2" no tiene cargada imagen en el CMS

Todo se puede arreglar desde el CMS, teniendo los materiales/info necesaria (que no la tengo).

[2016-03-19 11:03] LeandroBraier commented on #23
Ok. Entonces los puedo ocultar provisoriamente desde el cms?
El mar. 18, 2016 10:44 PM, "mkreyness" notifications@github.com escribió:

[2016-03-19 12:00] mkreyness commented on #23
No, la lista que se muestra en la pagina NO viene del CMS, lo que viene del CMS es el calculo.
Te los tiene que ocultar @FAAREIA en la pagina como hizo con los otros.

[2016-03-19 12:59] FAAREIA commented on #270
Bueno ya estan los templates listos ya sea en comunidad como también en vietur.
Los templates se llaman:
`trivia-imagenes-completaT.html`
`trivia-imagenesT.html`
Estan responsivos también.

Abrazo

[2016-03-19 14:04] LeandroBraier commented on #23
Ahi encontré la foto de RV2 y la subí. Funciona joya.

También cargué las presentaciones de Fijador y Siliconado y ya calcula el Consumo x m2, que debe estar en el script intermediario que vos hiciste @mkreyness

Gracias a los dos!!

@FAAREIA para la web tené en cuenta que todos los productos ya están backupeados en el CMS, me había olvidado que estaban ahí, junto con los de Parex. Solo tendrías q

[2016-03-19 14:04] #23 closed, assigned to LeandroBraier

[2016-03-19 14:05] LeandroBraier commented on #278
@mkreyness ya se enviaron estos mails? Sino envialos urgente porfa.

abrazo

[2016-03-19 14:27] LeandroBraier commented on #270
Mil gracias Fede! Genio! Avisame MK lo que necesites. Abrazo
El mar. 19, 2016 9:59 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-19 16:14] mkreyness commented on #270
en realidad no deberian decir "trivia completa", no son trivias.

[2016-03-19 17:02] mkreyness commented on #270
@LeandroBraier  si queres ir probando y modificando los contenidos, tene en cuenta lo siquiente (en el CMS): los puntos que suma elegir cada opcion, estan cargados EN LA OPCION, no influye lo que dice puntaje por pregunta (eso es para las trivias normales).
En la solapa de "resultados" que ahora revivio en las trivias (no se usa en las trivias normales) pones las categorias con el puntaje HASTA el

[2016-03-21 03:00] mkreyness commented on #270
@LeandroBraier yo mañana a la mañana me voy temprano porque tengo dentista, asi que para ganar tiempo ya pase todo a VIE TUR, pero siguen pendientes cerrar las mismas definiciones.
@FAAREIA las imagenes no me estan andando igual, fijate aca

http://comunidad.vietur.com.ar/cgi-bin/jugar.pl?id=16&...

usuario=LBraya02
clave=vietur

vas a ver que la primer imagen sale corrida hacia arriba.

Los templ

[2016-03-21 03:02] LeandroBraier commented on #270
Gracias MK y Fede! Mañana pruebo cargar y te digo pero en principio estamos
bien asi. No hace falta cambiar Trivia por quiz.

Fede avisame cuando esté corregidi el tema de la imagen.

Abrazo grande
El mar. 21, 2016 12:00 AM, "mkreyness" notifications@github.com escribió:

[2016-03-21 12:23] FAAREIA commented on #270
Solucionado lo de las imágenes, era algo en el css

[2016-03-21 12:31] FAAREIA commented on #23
Ok no hay drama, pero tené en cuenta que el nombre de esas imágenes es a veces algo como "0983204982394.jpg" no ayuda nada al posicionamiento de la imagen relacionada al producto.

[2016-03-21 12:34] mkreyness commented on #23
En realidad no estan "backupeadas", el cms (por la forma en que tuvimos que arrancar con parex/etc solo estan REFERENCIADAS desde el CMS, apuntando a las ubicaciones y nombres horribles del backup gigante que nos dieron

[2016-03-21 13:25] LeandroBraier commented on #278
Buen día @mkreyness se sabe algo de esto? Necesito confirmar si se enviaron estos mailings. Abrazo

[2016-03-21 13:30] LeandroBraier commented on #279
Buen día @FAAREIA ! Necesito una modificación sencilla en este mailing.

Lo que necesito es que me cambies la pregunta:

"¿CUÁL ES EL ADHESIVO CORRECTO PARA COLOCAR PIEZAS DE BAJA ABSORCIÓN SOBRE SOPORTES TRADICIONALES?

por

"¿CUÁL ES EL ADHESIVO DE KLAUKOL IDEAL PARA COLOCAR VENECITAS?

Solo eso. Puede ser para mañana.

abrazo

[2016-03-21 13:30] LeandroBraier commented on #279
No te olvides de modificarlo en Mailchimp también.

abrazo

[2016-03-21 14:39] FAAREIA commented on #279
Ahi lo cambié en los dos, dale F5

[2016-03-21 14:41] mkreyness commented on #278
se me pierden estas cosas sueltas, @LeandroBraier, ni las veo entre tantos mails.
Si se hubieran mandado solas, habrian cambiado el status de MANDAR MAIL a otra cosa, y por lo que veo siguen ahi. No, no hay nada automatico porque siempre volcamos a mano estas cosas, no hay registracion. Ahora los hago salir.

[2016-03-21 17:36] LeandroBraier commented on #279
Gracias Fede!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 21, 2016 at 11:39 AM, Federico Arena notifications@github.com
wrote:

[2016-03-21 19:48] LeandroBraier commented on #270
Gracias chicos! Acá lo estamos probando y parece funcionar en general pero hay algunos bugs.

Al mismo tiempo probé en Parex y en VIE TUR. En VIE TUR funcionó joya en principio, pero no me dejó cargar los resultados. Los subimos y no quedan registrados.

En Parex no sé por qué me dejó de tomar los tildes el CMS.

[2016-03-21 20:04] mkreyness commented on #270
Pero viste que yo habia dejado cargados unos ejemplos, tenian resultados.

A que te referis con los tildes ?

Enviado desde mi iPhone

[2016-03-21 20:56] LeandroBraier commented on #270
Escribo texto con tilde, por ejemplo: "Respondé esta trivia" y me aparece como "Responde? esta trivia"

Yo cargo los resultados y no me aparecen en la lista de resultados. Me sigue apareciendo así la lista:

<img width="1492" alt="captura de pantalla 2016-03-21 a las 6 16 03 p m" src="https://cloud.githubusercontent.com/assets/6719872/13933909/2c08c58c-ef8e-11e5-8092-195c3c35d3df.png">

[2016-03-21 21:02] mkreyness commented on #270
ahh letras acentuadas. Pense que hablabas de los tildes de "[x] Respuesta Correcta".
Ok, me pasas el URL donde ves los acentos mal ? Es en el CMS o es en la pagina que ve el usuario ?

[2016-03-21 21:11] LeandroBraier commented on #270
Olvidate de eso jeje Lo volví a probar ahora y anda bien. Me parece que era
porque yo hice copy paste en lugar de escribirlo desde cero en el CMS.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 21, 2016 at 6:02 PM, mkreyness notifications@github.com wrote:

[2016-03-21 21:33] mkreyness commented on #270
ahi arregle lo que no cargaban los resultados, ojo no repitas los "hasta"

[2016-03-21 21:53] LeandroBraier commented on #272
@mkreyness necesito programar estos mailings y landings customizados a partir del 1 de abril. Me confirmás si llegamos?

[2016-03-21 21:57] mkreyness commented on #272
Si, la cagada es que con todas estas cosas nunca arranco con lo de SiguitDS.

[2016-03-21 22:12] LeandroBraier commented on #270
Gracias MK!! Te confirmo cuando pude subir todo.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 21, 2016 at 6:33 PM, mkreyness notifications@github.com wrote:

[2016-03-22 11:52] #279 closed, assigned to braulio-evangelisti

[2016-03-22 12:07] LeandroBraier opened #281 "Guía Interactiva Revear 29/04"
@FAAREIA y @mkreyness además del sitio web de Revear, nos pidieron convertir el actual buscador de distribuidores del sitio en una Guía Interactiva como la Guía de Corralones.

Para esto tendríamos que:
1. Generar una copia de la Guía de Corralones
2. Reemplazar los datos de corralones por los de distribuidores Revear que tenemos en el CMS
3. Cambiar la estética de la Guía de Corralones por una Nu

[2016-03-22 12:29] mkreyness commented on #281
en principio no habria mayor inconveniente salvo que me parece que de los distribuidores no hay fotos.
En cuanto a la obtencion de los datos de la base yo para la ACTUAL de revear ya estoy haciendo algo similar a lo que hago para la actual de corralones.

[2016-03-22 12:34] LeandroBraier commented on #281
Genial! Si, me acordaba que habías hecho algo así, por lo que de programación no va a llevar mucho, no?

En cuanto a las imágenes no te preocupes. Los corralones Klaukol tampoco tienen y sigo esperando la aprobación de las fotos subidas por vendedores desde hace 1 año por parte del cliente.

abrazo

[2016-03-22 12:38] LeandroBraier commented on #272
Lo entiendo, sí. No te preocupes, esto tiene prioridad. Lo de Siguit DS es
un emprendimiento a mediano plazo, vamos bien.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 21, 2016 at 6:57 PM, mkreyness notifications@github.com wrote:

[2016-03-22 13:04] FAAREIA commented on #281
Va a ser una landing aparte o una página interna con un poco más de power?
Para definir su estética vamos a tener que avanzar con el diseño del sitio asi después sale más fácil

[2016-03-22 13:12] LeandroBraier commented on #281
Dale, me parece bien Fede. Yo voy avanzando con el logo que parece pavo
pero lleva tiempo.

Hagámoslo como la Guia de Corralones, que funcione de forma independiente
con su propia url, pero conservando la estética de la web de Revear para
que se pueda percibir también como una subpágina de Revear.

abrazo

On Tue, Mar 22, 2016 at 10:04 AM, Federico Arena notifications@github.com
wrote:

[2016-03-22 13:41] FAAREIA commented on #281
ok, entonces hay que mantener el menú o el encabezado entero asi se puede volver a cualquier sección del sitio.

[2016-03-22 13:50] LeandroBraier commented on #272
@mkreyness dejá todo preparado pero tené en cuenta que me acaban de decir que van a pedir un par de cambios al html del mailing. No sé si eso afecta tu proceso o podés seguir y después incorporarlo pero te aviso por las dudas.

abrazo

[2016-03-22 14:17] LeandroBraier commented on #270
@FAAREIA y @mkreyness acabo de terminar de subir un quiz entero en VIE TUR y encontré montones de problemas, que no se ven resueltos ni isquiera en el test que hicieron uds. No entiendo por qué no lo solucionaron antes si vieron que pasaba en el test pero entiendo que debe haber algún motivo. Más allá de esto les paso los errores:

1) No se lee Trivia en el nombre de juego:

<img width="705" alt="

[2016-03-22 14:24] LeandroBraier commented on #281
No hace falta eso. Con un link a la web de Revear visible estamos bien.
Puede ser incluso en el logo de la Guía y abajo al pie.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 22, 2016 at 10:41 AM, Federico Arena notifications@github.com
wrote:

[2016-03-22 14:55] FAAREIA commented on #204
Ya estan listas las vectorizaciones de las imagenes que se van a usar en el simulador. Denle F5 para verlo bien:
http://www.parexklaukol.com.ar/simulador_muestra.html
Hay que hacer unos mínimos ajustes aún pero quería que lo vieran antes.

[2016-03-22 14:58] LeandroBraier commented on #204
Impecable Fede!!! Muy bueno!!! Adelante.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 22, 2016 at 11:55 AM, Federico Arena notifications@github.com
wrote:

[2016-03-22 15:01] FAAREIA commented on #270
Hola Lea, pasanos el ID del juego o el link y dale F5 ahora que antes había subido un css "viejo" y ya lo actualicé

[2016-03-22 15:10] FAAREIA commented on #254
Lea que mockup del home eligió el cliente al final?

[2016-03-22 15:18] LeandroBraier commented on #270
El ID es el 17.

Ahora lo veo bien, solo me falta el punto 1 que te decía. QUe diga "QUIZ" o
TRIVIA en la primer pantalla. Quizá eso es de Marce.

On Tue, Mar 22, 2016 at 12:01 PM, Federico Arena notifications@github.com
wrote: