[2016-03-22 15:22] LeandroBraier commented on #254
Serían estas:

https://cloud.githubusercontent.com/assets/6184969/13017793/1951db92-d1a5-11e5-9b83-d5d8b6d7d4b7.png (aunque a Eze no le terminó de cerrar los iconitos, fijate si podemos usar fotos ahí)

https://cloud.githubusercontent.com/assets/6184969/13011734/f92f7a22-d186-11e5-8980-d6978766a698.png

[2016-03-22 15:25] FAAREIA commented on #270
Mmmm, ese template de la intro de la trivia no lo toqué. Imagino que debe ser algo de que al juego no le especificaste los puntos que da entonces no renderiza esa parte. Seguro @mkreyness va a saber decirte mejor.

[2016-03-22 15:27] FAAREIA commented on #270
Con respecto a las imágenes, tratá de subir imágenes que sea cuadradas asi la animación del mini zoom de la imagen cuando hacer mouse-over funciona.

[2016-03-22 15:31] FAAREIA commented on #254
Ok, lo podemos ver mientras avanzamos con los diseños.

[2016-03-22 15:33] LeandroBraier commented on #270
OK Fede. Igual se ven bien las imágenes.

Respecto de los puntos si está cargado correctamente, debería verse bien.
Intuyo que es algo de MK. No crearon el cartelito que diga Quiz para este
tipo de objeto.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 22, 2016 at 12:27 PM, Federico Arena notifications@github.com
w

[2016-03-22 15:55] LeandroBraier commented on #254
Dale, genial.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 22, 2016 at 12:31 PM, Federico Arena notifications@github.com
wrote:

[2016-03-22 20:47] LeandroBraier commented on #270
@mkreyness cuando estés de vuelta te fijás porfa este tema?

https://cloud.githubusercontent.com/assets/6719872/13954413/695e95ce-f01f-11e5-87fb-ca8225b378dc.png

abrazo

[2016-03-22 20:53] mkreyness commented on #270
estoy de nuevo sin internet, apenas pueda tener una conexion decente me fijo

[2016-03-22 21:03] mkreyness commented on #270
Lean, otra vez agregaste un "COMPARTIR" que confunde en el mismo tema, y se escapa por otro template.
El juego SOLO tiene que ser el QUIZ.

Ya se que el template de QUIZ no tiene compartir, pero eso es porque el template que encontre para usar no lo tenia y por si acaso no se lo agregue.
Si queres que el quiz se pueda compartir, lo modifico a nivel template, NUNCA agregues juegos "COMPARTIR" donde

[2016-03-22 21:08] LeandroBraier commented on #270
Ok MK. Ahora entiendo lo del compartir. No lo hago más. Igual eso no tiene
nada que ver con el problema que te señalé. Sin el compartir sigue igual.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-22 18:03 GMT-03:00 mkreyness notifications@github.com:

[2016-03-22 21:09] mkreyness commented on #270
cual es el problema entonces ?

[2016-03-22 21:15] mkreyness commented on #270
ninguno de los templates dice ahi cuantos puntos se gana, entiendo que eso fue una politica que se definio de movida de esa manera, porque si no lo decia 3 veces, te acordas ?

[2016-03-22 21:19] LeandroBraier commented on #270
Si, en las Trivias dice TRIVIA + 90. Necesito que digo TRIVIA + 100 en este caso.

<img width="275" alt="captura de pantalla 2016-03-22 a las 6 37 31 p m" src="https://cloud.githubusercontent.com/assets/6719872/13968221/555bae6e-f05a-11e5-90b1-3fef1a2cf76e.png">

COmo está ahora queda mal. Se nota el espacio vacío.

[2016-03-22 21:24] mkreyness commented on #270
En que trivia te sale asi ?
Yo estoy seguro de haberlo sacado de todos lados porque decia 3 veces lo mismo (una vez en cada icono) y decian que confundia.

[2016-03-22 21:25] LeandroBraier commented on #270
En esta por ejemplo:

http://comunidad.vietur.com.ar/cgi-bin/jugar.pl?id=14&usuario=LBraya02&clave=vietur

[2016-03-22 21:31] mkreyness commented on #270
ok me fijo que template usa y le copio esa parte, porque realmente en el que estoy usando no estaba.

[2016-03-22 21:41] mkreyness commented on #270
ahi lo arregle, era otra cosa. En Klaukol debe pasar lo mismo, ahora lo arreglo.

[2016-03-22 22:03] LeandroBraier commented on #270
Perfecto, gracias MK! abrazo

[2016-03-22 22:03] #270 closed, assigned to mkreyness

[2016-03-22 22:06] LeandroBraier opened #282 "Validación Web ParexKlaukol para YouTube. ESPERANDO VALIDACIÓN GOOGLE"
@FAAREIA necesitamos validar la web de parexklaukol para poder linkearla en youtube.

Para eso primero tenemos que verificar la cuenta, lo cual todavía no pudimos hacer.

Cuando esté hecho te confirmo para que entres a este link:

https://www.google.com/webmasters/verification/verification?hl=es&siteUrl=http://www.parexklaukol.com.ar/&priorities=vfile,vmeta,vdns,vanalytics,vtagmanager&tid=recommen

[2016-03-23 05:14] mkreyness commented on #272
no entiendo de donde sale lo del regalo.

[2016-03-23 05:22] mkreyness commented on #272
Al HTML del mailing ya le agregue las variables. Por favor cualquier cambio @braulio-evangelisti hacelo sobre lo que ya esta en el server (mismo nombre).

[2016-03-23 05:25] mkreyness commented on #272
otra cosa: necesito saber con que "Asunto:" mandar el mail.

[2016-03-23 13:12] mkreyness commented on #272
@LeandroBraier ya esta agregado en el CMS una seccion "Regalos" donde definis año y rango de meses (asi no tenes que cargar 12 veces lo mismo si no varia).
Le puse para poner un texto y una foto, pero veo que en la maquetacion no esta previsto poner una foto. Lo dejo por si acaso.

El envio del mailing ya esta listo, pero el link DESDE el mail no me abre, copiando y pegando en el browser si. Capaz

[2016-03-23 13:55] LeandroBraier commented on #272
Recibido perfecto MK! Ahi te lo reenvié. Recibí todo perfecto, el link me funcionó bien.

Solo que si bien vi el mail en mi INBOX, en el subject me apareció la palabra SPAM. Eso lo pusiste vos?

El subject del mail debería ser "¡Feliz Cumpleaños XXNOMBREXXX XXXAPELLIDOXXXX! ¡Abrí tu regalo!"

[2016-03-23 14:03] mkreyness commented on #272
No, eso lo debe haber puesto algun antispam que tengas en tu cliente de mail, o que Duplika tenga instalado sobre el servidor de benteveo.tv.

Ahora le ajusto el subject y no te olvides de poner el texto de regalo correcto en el CMS.

[2016-03-23 14:05] LeandroBraier commented on #272
Perfecto, MK. Entiendo. Ahi ya cambié eso en el CMS. Está muy bien armado
eso, gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-23 11:03 GMT-03:00 mkreyness notifications@github.com:

[2016-03-23 14:32] LeandroBraier commented on #267
@FAAREIA avancemos para la semana que viene con este newsletter. Podrás ser para el 30/3?

Aquí te adjunto los contenidos aprobados por el cliente:

[Contenidos Newsletter ParexKlaukol Abril FInales.docx](https://github.com/LeandroBraier/Klaukol/files/186175/Contenidos.Newsletter.ParexKlaukol.Abril.FInales.docx)

abrazo

[2016-03-23 14:40] LeandroBraier commented on #278
Veo que no quedó nadie en Mandar Mail así que cierro este ticket. Gracias MK!

[2016-03-23 14:45] mkreyness commented on #278
Si, el asunto es que si cargas nuevos me avises que active puntualmente la salida de esos mails, no lo quiero dejar automatico porque si no si cargo un excel se me dispararian solos antes de poder revisar si esta ok, o si hay otro mailing saliendo.

[2016-03-23 14:54] LeandroBraier opened #283 "Distintivos para Usuarios Vendedores Super Potenciados en Tu Perfil. 30/3"
@FAAREIA para la semana que viene necesitaríamos subir un distintivo a los usuarios que tienen más de 2500 puntos. Automáticamente cuando un usuario supera los 2.500 puntos debería sumársele este distintivo de Vendedor SuperPotenciado arriba de todo, como el Carnet del Club de Colocadores.

![distintivo-vendedor-super-potenciado](https://cloud.githubusercontent.com/assets/6719872/13989126/bbad3104

[2016-03-23 14:57] LeandroBraier commented on #278
Dale, me parece bien. Gracias MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-23 11:45 GMT-03:00 mkreyness notifications@github.com:

[2016-03-23 15:00] mkreyness commented on #283
No creo que podamos intercalar un texto arriba de un grupo de tickets, ya que este podria empezar a mitad de un renglon, y ademas seguramente se decompondria bastante lo responsive al meter un objeto de dimensiones raras para lo que es la grilla de tickets.
Yo haria algo tipo que la primera vez que entra desde que se le acreditaron le aparezca algun mensaje popup que se lo anuncie y despues ya fun

[2016-03-23 15:12] LeandroBraier commented on #272
@mkreyness funcionalmente está perfecto, pero le mandé al cliente y pidió cambios para @FAAREIA
1. El texto hay que agrandarlo, se ve muy chico.
2. Borrar "NO TE OLVIDES DE COMPARTIR TU REGALO...."
3. Sacar lo que dice  "STAFF" poner el LOGO DE KLAUKOL (EN VEZ DEL DE LA COMUNIDAD DE VENDEDORES).
4. Cuando clickeas el regalo que te muestre sólo el ticket y dentro del mismo (en letra chica) poner "t

[2016-03-23 15:51] mkreyness commented on #272
toquen sobre los templates que estan en el server por favor (el de maiiing siempre esta en la carpeta de _mailing y el de la landing en templates/parexklaukol/vendedores/cumpleT.html

[2016-03-23 17:41] FAAREIA commented on #272
Pregunta:
En http://www.parexklaukol.com.ar/cgi-bin/cumple.pl ya no va el regalo de abajo o también hay que sacar todo el párrafo de feliz cumpleaños?

[2016-03-23 18:07] LeandroBraier commented on #283
Me parecen bien ambas soluciones que das MK.

1) Cada mes a partir de que el usuario supera los 2500 puntos le aparece un pop up al ingresar que dice:

"¡Felicitaciones XXXXX! Al superar los 2500 puntos te convertiste en un Vendedor Super Potenciado y sumás 10 tickets más por mes."

2) Los 10 tickets extra por mes son azules y dicen arriba "SUPER POTENCIADO"

abrazo

[2016-03-23 18:07] LeandroBraier commented on #272
Respuesta: No, eso dejalo tal cual, no hay problema.

abrazo

[2016-03-28 12:33] FAAREIA commented on #272
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html
http://www.parexklaukol.com.ar/cgi-bin/cumple.pl

Fijate si esta OK.
Con respecto al slide, te referías a una imagen para el slide o a una pantalla como la de ganadores? En caso de que sea la imagen podrían prepararla ustedes asi avanzo con todo lo otro?

Abrazo

[2016-03-28 13:16] FAAREIA commented on #283
@mkreyness

#### Bloque de "MIS LOGROS"
- http://www.parexklaukol.com.ar/vendedores/home.html
- Cada ticket esta en un `<dd class="ficha">`. Para mostrar el ticket potenciado, tiene que quedar `<dd class="ficha ticket-potenciado">`

#### Perfil del usuario
- http://www.parexklaukol.com.ar/vendedores/usuario-perfil.html
- Cada ticket esta en un `<dd>`. Para mostrar el ticket potenciado, tiene que q

[2016-03-28 13:38] FAAREIA commented on #267
Ahi me lo pongo a maquetarlo. Va a ir por mailchimp?
Con respecto al footer queda al revés como indicaste?
Abrazo

[2016-03-28 13:50] mkreyness commented on #283
ya esta implementado el ticket diferenciado, lo pueden ver funcionando con mi cuenta
user marcelokreyness
clave pepe
En cuanto al popup, podria pasar que la suma de 5 pts por entrar en el dia sea lo que le hace cruzar la frontera de los 2500 puntos, funcionaria bien que esten los DOS divs abiertos ? Cuando cierra uno ve el que esta debajo ?

[2016-03-28 19:05] LeandroBraier opened #284 "Pequeño Bug Sitio Revear Actual. 31/03"
@FAAREIA encontré en el sitio de Revear algo muy extraño que calculo que es algún problema de programación.

Al final del home http://www.revear.com.ar/, me aparece este texto:
"/\=\s_([^'"]]_)\s*]/g"

Cuando puedas tranqui corregilo abrazo

[2016-03-28 19:12] LeandroBraier commented on #283
Si, me parece bien eso MK. Los dos abiertos.

Gracias chicos! La estética quedó muy buena!! Avisenme cuando esté terminado. Entiendo que una vez automatizado esto falta ver el Distintivo de Super Potenciado arriba de "Tu perfil" en la home como en colocadores, no?

<img width="365" alt="captura de pantalla 2016-03-28 a las 4 32 19 p m" src="https://cloud.githubusercontent.com/assets/6719872/140873

[2016-03-28 19:13] LeandroBraier commented on #267
Gracias @FAAREIA ! No dijo nada al respecto el cliente, pero lo ideal es que quede al revés como te pedía.

abrazo

[2016-03-28 19:20] mkreyness commented on #283
@FAAREIA ya maquetaste algo para eso del distintivo ?

[2016-03-28 23:00] LeandroBraier opened #285 "Descarga Números de Socio. 29/3"
@mkreyness como va? Para mañana a la mañana necesito poder descargar en el excel de usuarios de colocadores los números de socio. Modificarías eso porfa?

También fijate si podés hacer que me exporte nombres y apellidos por separado y que funcionen los tildes y Ñ.

abrazo

[2016-03-29 12:47] FAAREIA commented on #283
Si ahi ya lo agregué a la columna derecha y al perfil del usuario.
http://www.parexklaukol.com.ar/vendedores/home.html
http://www.parexklaukol.com.ar/vendedores/usuario-perfil.html

Si Lea da el ok ya se puede implementar. Lo que se agrega es solamente la imagen que tiene una clase.

[2016-03-29 12:51] LeandroBraier commented on #283
Gracias Fede! En la home está OK.
En el perfil del usuario tendría que estar al lado del título "Tu perfil"
porque queda muy colgado sino. Se podrá?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 9:47 AM, Federico Arena notifications@github.com
wrote:

[2016-03-29 13:12] FAAREIA commented on #283
Podría quedar asi sino
![sin-titulo-3](https://cloud.githubusercontent.com/assets/6184969/14109045/9a87a6b4-f596-11e5-9fcb-a368ae5f19e0.png)

O sino debajo de "8 fichas" dentro de "Mis logros"

[2016-03-29 13:15] LeandroBraier commented on #283
Asi queda perfecto Fede!!! Gracias!!

Solo consulta: más adelante podremos hacer que el css (por ejemplo, color
de fondo, color de tipografías) de la comunidad sea distinto solo para los
usuarios "Super Potenciados"?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 10:12 AM, Federico Arena notifications@g

[2016-03-29 14:37] FAAREIA commented on #283
Si se puede pero va a llevar unas horas y una minima programación por parte de marce.

[2016-03-29 14:48] FAAREIA commented on #283
http://www.parexklaukol.com.ar/vendedores/usuario-perfil.html

@mkreyness fijate que ahora lo hice distinto en la página del perfil del usuario:
- Agregué la clase "super-potenciado" al `<main id="usuario-perfil">`
- Al h2 le agregué la imagen `<img alt="Vendedor super potenciado" src="img/vendedor-super-potenciado.png">`

[2016-03-29 14:59] LeandroBraier commented on #283
Quedó genial!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 11:48 AM, Federico Arena notifications@github.com
wrote:

[2016-03-29 15:51] LeandroBraier opened #286 "Acortador de ParexKlaukol"
@mkreyness tenemos alguno?

Necesito acortar este link para ponerlo en Facebook:

http://parexklaukol.us11.list-manage.com/subscribe?u=455b0cd079a287d15e307c9b7&id=d9d8502655

[2016-03-29 16:57] mkreyness commented on #283
lo veo a partir de las 4 que llego a mi oficina.

[2016-03-29 17:55] FAAREIA commented on #267
El mailing maquetado se puede ver en:
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-12/parexklaukol.html
Mañana le pongo el contenido real.
Con respecto a las próximas ediciones, el mailing se va a llenar a mano o va haber algun cms de por medio?

[2016-03-29 18:31] LeandroBraier commented on #267
A mano como siempre. Es uno por mes. No se si tiene sentido el cms por
ahora.
El mar. 29, 2016 2:55 PM, "Federico Arena" notifications@github.com
escribió:

[2016-03-29 19:23] mkreyness commented on #283
Pero si el tipo NO es superpotenciado, que pongo ahi ?

[2016-03-29 19:44] LeandroBraier opened #287 "Consulta Guía de Corralones"
@FAAREIA consulta: se puede hacer que en el mapa de la Guía de Corralones todos los corralones muestren su nombre ya abierto dentro del mapa, sin que haga falta hacerles clic para que lo muestren.

Se puede?

[2016-03-29 19:46] mkreyness commented on #287
Te contesto yo porque eso es tema mio: puedo hacer que los globos aparezcan abiertos apenas se los agrega, pero siempre van a ser globos, queres eso ?

[2016-03-29 19:48] LeandroBraier commented on #287
SI! Eso me pidió el cliente. Se puede? Genial.

[2016-03-29 20:06] mkreyness commented on #287
Eso piden porque no lo vieron. Si estas en Catamarca capaz sea razonable, pero en capital vas a ver una superposicion ilegible de todo.

[2016-03-29 20:09] LeandroBraier commented on #287
Entiendo, si. Hay posibilidad de hacerlo previo y mostrarle antes de
aplicarlo?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 5:06 PM, mkreyness notifications@github.com wrote:

[2016-03-29 20:16] mkreyness commented on #287
se puede hacer una copia que funcione asi.  Te lo armo a la noche, puede ser ?

[2016-03-29 20:26] LeandroBraier commented on #287
Dale, perfecto. Gracias MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 5:16 PM, mkreyness notifications@github.com wrote:

[2016-03-29 20:46] LeandroBraier commented on #283
Si no es superpotenciado que quede como antes. No se puede?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 4:23 PM, mkreyness notifications@github.com wrote:

[2016-03-29 20:54] mkreyness commented on #283
Entiendo eso, pero @FAAREIA lo armo como algo agregado, no entiendo si tengo que cambiarle algo al agregado o QUITARLO, lo cual es feo.

[2016-03-29 21:37] mkreyness commented on #283
otra duda: es superpotenciado si en CUALQUIER MES del pasado sumó 2500 puntos ?
Ponele que alguien llega a serlo en marzo, el 1ero de abril se le va el distintivo hasta que vuelva a sumar o que ?

[2016-03-29 22:15] LeandroBraier commented on #283
No, una vez que es superpotenciado ya queda superpotenciado para siempre.

Es 2500 puntos acumulados, no por mes.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 29, 2016 at 6:37 PM, mkreyness notifications@github.com wrote:

[2016-03-29 22:23] mkreyness commented on #283
Ah, bien, esta noche lo liquido entonces.

[2016-03-30 00:34] mkreyness commented on #285
aca te referias al excel de ACTIVIDAD o simplemente al listado de colocadores ?

[2016-03-30 00:40] mkreyness commented on #285
Ahi te lo agregue como primer columna de la actualizacion consulta de colocadores y separe nombre de apellido.
Avisame si lo queres tambien asi en la consulta de activadad.

[2016-03-30 00:48] mkreyness commented on #287
Es inusable !!!
http://www.parexklaukol.com.ar/guia-corralones/index2.html

los carteles se tapan los unos a los otros y a todo el mapa.

[2016-03-30 00:51] LeandroBraier commented on #254
@FAAREIA cómo va? En qué punto venís con el sitio?

Hoy tuvimos reunión con el cliente y definimos varios puntos importantes.
1.

En el pop up de la intro, llamamos al "usuario" como "usuario final"
1.

Slideshow: Debe mostrar primero una Fachada con Revear, siguiente imagen el detalle de una Textura Revear, tercer slide una imagen de Producto, un detalle de Revear Marble que quede elegante.

El s

[2016-03-30 00:55] LeandroBraier commented on #287
Gracias @mkreyness !

No importa, es lo que pidió el cliente. Muchisimas gracias

abrazo

[2016-03-30 01:04] mkreyness commented on #283
Ahi lo puse pero se superpone con la leyenda "MIS DATOS", seguro no tocaste nada mas que esas 2 cosas que dijiste antes, @FAAREIA  ?
Miren:
http://www.parexklaukol.com.ar/cgi-bin/perfilvendedores.pl?

usuario=AndreaFarias73

clave=26898

(esta persona tiene mas de 2500 puntos)

[2016-03-30 01:06] LeandroBraier commented on #285
Gracias @mkreyness !! Así está perfecto. abrazo

[2016-03-30 01:06] #285 closed, assigned to mkreyness

[2016-03-30 01:06] #287 closed, assigned to FAAREIA

[2016-03-30 01:49] mkreyness commented on #283
salvo ese problema del distintivo que se superpone, esta todo implementado.
Por supuesto FALTA lo de sumar los 10 puntos mensuales.
Eso en que momento del mes se haria, al empezar o al terminar el mes?
Digo para saber si ya lo tengo que sumar ahora en marzo. A mi me seria mas facil hacerlo al principio de mes (cada dia 1).

[2016-03-30 01:52] LeandroBraier commented on #283
Al principio de mes entonces. Es lo ideal. AL principio de mes o apenas la
persona supere los 2.500 puntos.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-29 22:49 GMT-03:00 mkreyness notifications@github.com:

[2016-03-30 02:27] mkreyness commented on #283
Dije 10 puntos, es 10 tickets, no ?
Igual lo de los tickets solo aplica para el sorteo, conque los agregue el dia 1 antes de que emitas la planilla de sorteo, ya van a entrar.
Hacerlo automatico cada vez que alguien suma un punto es recargar todo el proceso al cuete.

[2016-03-30 02:44] LeandroBraier commented on #283
Entiendo pero el problema es que el tipo está perdiendo sumar los 10
tickets el mes mismo en que obtuvo el distintivo. Me parece que no va a
funcionar. Es mucho lio hacerlo automatico?

Estoy pensando que vamos a tener que hacer un mailing especial para
comunicarle a los usuarios del distintivo.

Abrazo
El mar. 29, 2016 11:27 PM, "mkreyness" notifications@github.com escribió:

[2016-03-30 03:47] mkreyness commented on #283
Con lo que yo digo le ENTRA en el sorteo del mes, porque se lo sumaria a las 0hs del dia 1 con fecha del dia anterior.
Durante el propio dia del sorteo los ve.

[2016-03-30 04:26] mkreyness commented on #287
pero mira que no esta eso en produccion, solo te lo hice de muestra. Si queres que lo pase a produccion avisame.

[2016-03-30 04:28] mkreyness commented on #286
Como en Danica decis ?
No, pero se puede usar goo.gl o bit.ly

[2016-03-30 10:56] LeandroBraier commented on #283
Si entiendo. Pero el usuario que supere los 2500 puntos el dia 2 del mes va
a estar hasta el 31 reclamando que no le sumaron los 10 tickets.

Insisto en que se vean esos tickets durante el mes. Porque ademas si los
sumas justo para el sorteo, para el mes siguiente ya desaparecieron no?
El mar. 30, 2016 12:47 AM, "mkreyness" notifications@github.com escribió:

[2016-03-30 10:57] LeandroBraier commented on #287
No hace falta. El cliente lo quiere para presentaciones internas. Mejor si
no está  en producción.  Es más: le aclaré que no lo subimos a producción
porque se ve feo.
El mar. 30, 2016 1:26 AM, "mkreyness" notifications@github.com escribió:

[2016-03-30 10:58] LeandroBraier commented on #286
Ok. Usamos bit.ly entonces.  Abrazo
El mar. 30, 2016 1:28 AM, "mkreyness" notifications@github.com escribió:

[2016-03-30 11:53] FAAREIA commented on #283
Ahi lo modifiqué, "Mis Datos" queda separado del borde como "Tu Perfil". El tema es que no veo renderizada la imagen, no aparece el tag @mkreyness

[2016-03-30 12:00] mkreyness commented on #283
Ok @LeandroBraier , ponele que en el momento que cruza le sumo los 10 tickets, pero sigue estando el tema de que hay que SEGUIRSELOS sumando todos los meses. Si un tipo cruzo a dia 30, va a tener 20 tikets sumados en 2 dias, me parece tambien muy injusto con el que tardo 1 dia mas en cruzarlo.
@FAAREIA el tag le aparece a quien tenga mas de 2500 puntos, no se con que usuario estas probando, tenes

[2016-03-30 12:12] mkreyness commented on #272
No se cual sera el status de esto, pero por si acaso quiero recordar que no esta puesto automatico que se mande nada todavia. Avisame @LeandroBraier cuando ya deba ponerlo.

[2016-03-30 12:17] LeandroBraier commented on #283
Mk: son 10 tickets por mes. Se llegó a 2500 puntos el dia 30 se le suman 10
parael sorteo del mes vigente y luego 10 para el sorteo del mes siguiente.
Siemore son 10. Nunca ve 20 tickets super potenciados juntos.
El mar. 30, 2016 9:00 AM, "mkreyness" notifications@github.com escribió:

[2016-03-30 12:28] mkreyness commented on #283
Mi miedo es al fraude. Es facil tener mas de una ventana abierta y lograr que en el momento de cruzar de 24xx a 25xx se te asignen los tickets 2 veces. Tenemos vivos de esa clase, ya los hemos sufrido.
En cambio el proceso automatico no hay como engañarlo.
Que te parece si TODOS los dias a las 0:00 o a la hora que te parezca si alguien en el dia anterior cruzo los 2500 le doy los tickets, y despue

[2016-03-30 12:35] FAAREIA commented on #267
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-12/parexklaukol-16-12.html
Tiene mucha data faltante:
- Falta definir la imagen inicial.
- La pregunta de la encuesta es muy larga. Si van a ser todas asi le achicamos el tamaño al texto.
- No hay link a la encuesta, la cual también desconozco si va a ser nuestra o ajena.
- #ORGULLO no tiene foto
- Últimas novedades agrupa vision global y nov

[2016-03-30 12:38] LeandroBraier commented on #283
Me parece perfecto asi. Esa es una buena forma.
El mar. 30, 2016 9:28 AM, "mkreyness" notifications@github.com escribió:

[2016-03-30 13:29] FAAREIA commented on #254
#### TIPOS DE USUARIO
- Usuario final
- Profesional

##

#### HOME
- Contenido diferente para los 2 tipos de usuario.
- CMS: Esto debería definirse por CMS entiendo.

##### SLIDESHOW del home
- Diseño y maquetación
- CMS: debería poder cargarse igual que el slideshow de Comunidad de Vendedores, así no te jodo a vos Fede para la carga de contenidos ahi.

#### EMPRESA
- Diseño y maquetado
- La secci

[2016-03-30 13:47] FAAREIA commented on #283
Puede haber un usuario super-potenciado con menos de 2500 puntos?
Por ejemplo me logueo con el usuario de marce y las clases correspondientes al super-potenciado aparecen pero no el escudo, puede ser?

[2016-03-30 13:50] mkreyness commented on #283
a eso venia mi pregunta de ayer: tengo que SACARLE la clase super-potenciado cuando no lo es ?
El escudo obviamente no lo estoy poniendo, pero en que afecta que deje la clase siempre ?

[2016-03-30 13:50] mkreyness commented on #283
o hay otra clase que poner ?

[2016-03-30 13:51] FAAREIA commented on #283
La clase super-potenciado solamente va cuando tiene que aparecer el escudo.
Después el ticket especial es otra cosa y tiene su clase propia.

[2016-03-30 13:53] mkreyness commented on #283
pero va otra "class=" algo ? O nada ?

[2016-03-30 13:53] FAAREIA commented on #283
no nada ^^

[2016-03-30 13:54] mkreyness commented on #283
ok en un rato lo ajusto.

[2016-03-30 13:58] FAAREIA commented on #284
Ahi lo estuve viendo y en el HTML no esta ese texto, debe ser algo que se inserta por código. Tendría que verlo @mkreyness

[2016-03-30 14:04] mkreyness commented on #283
listo

[2016-03-30 14:55] mkreyness commented on #283
ya le di las 10 fichas de este mes a todos los que tienen 2500 o mas, y deje automatico que cada dia agregue los nuevos que aparezcan, esto ya incluye darle a todos a principio de mes (con validez en el nuevo mes).
El problema es el que justo suma el ultimo dia del mes, a esos les tengo que hacer una corrida especial a las 23:59 o algo asi. Despues te digo como lo resolvi.

[2016-03-30 15:03] mkreyness commented on #283
puse una corrida 23:58, con eso queda todo resuelto.

[2016-03-30 17:28] LeandroBraier commented on #267
Está buenisimo Fede!!
- Imagen inicial: por ahora dejemos esa.
- Pregunta encuesta: achicá la letra.
- Link de la encuesta: hay que generarla en la web. Puede ser con la misma estética directamente.
- #Orgullo te paso esta foto:

<img width="769" alt="captura de pantalla 2016-03-30 a las 12 25 02 p m" src="https://cloud.githubusercontent.com/assets/6719872/14146864/99ec43ac-f66f-11e5-825f-d9783f98

[2016-03-30 19:13] mkreyness commented on #284
Recuerden que todo esto fue copiado de la pagina original, y apenas tocado.
Esta lleno de codigo raro que no tengo la menor idea de lo que hace, seguramente proveniente del magento o algo asi. No encontre un punto para debuggearlo tampoco.

[2016-03-30 19:32] LeandroBraier commented on #284
Olvidense entonces. Directamente cuando tengamos el nuevo sitio va a quedar bien.

abrazo

[2016-03-30 19:32] #284 closed, assigned to FAAREIA

[2016-03-30 19:34] LeandroBraier commented on #283
Marce, no lo anunciamos todavía. Vos hiciste que ya para Marzo les cuenten
estos tickets? Porfa podés quitarselos de vuelta? La idea era lanzar esto
recién en abril, la semana que viene, y comunicarlo especialmente.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Mar 30, 2016 at 12:03 PM, mkreyness notifications@github.

[2016-03-30 19:36] LeandroBraier commented on #254
Gracias Fede!! Espero la respuesta de MK entonces. Respecto de TIPOS DE
USUARIO serían:

. Usuario Final

. Profesional

2016-03-30 10:29 GMT-03:00 Federico Arena <notifications@github.com>:

[2016-03-30 20:31] LeandroBraier commented on #272
@FAAREIA estaba repasando esto, que debe ponerse automático a partir de este viernes.

El texto de "Nos contactaremos para coordinar la entrega" debe ir abajo del ticket chiquito, no en reemplazo del texto del regalo. Más como letra chica de legales. El texto de cual es el regalo dentro del ticket lo vamos definiendo nosotros desde el CMS. Lo demás está perfecto.

[2016-03-30 22:05] LeandroBraier commented on #286
Podremos hacer una URL que redireccione a este link al menos?

Por ejemplo: parexklaukol.com.ar/suscribite

[2016-03-30 22:11] mkreyness commented on #286
a mano ? Si, obvio, lo que no tenemos es un sistema automatico que los genere.
Ahora te lo armo.

[2016-03-30 22:13] mkreyness commented on #286
listo.

[2016-03-30 22:17] LeandroBraier commented on #286
Mil gracias MK!!! abrazo

[2016-03-30 22:17] #286 closed, assigned to mkreyness

[2016-03-31 11:50] LeandroBraier commented on #272
Buen día @FAAREIA ! Esto porfa apenas lo tengas corregido avisame así lo puedo mandar al cliente. Dale prioridad porque es algo chiquito.

[2016-03-31 11:56] FAAREIA commented on #267
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-12/parexklaukol-16-12.html
La encuesta estoy viendo como hacerla. Te aviso por novedades

[2016-03-31 12:10] FAAREIA commented on #267
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-03/parexklaukol-16-03.html
Actualicé el link que estaba mal, estamos en marzo ^^

[2016-03-31 12:19] LeandroBraier commented on #267
Gracias Fede!!!

Excelente! Cuando me den el OK te paso los links también.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Mar 31, 2016 at 9:10 AM, Federico Arena notifications@github.com
wrote:

[2016-03-31 13:05] LeandroBraier opened #288 "Pequeña modificación en Producto parex"
@FAAREIA hoy durante el día cuando tengas tiempo hay que corregir la página de Parex térmico.

http://www.parexklaukol.com.ar/parex/parex-atermico.html

Dice 40 kg, pero la PRESENTACIÓN de este producto es por 30 Kg.

Además hay que cambiar también la imagen del pack. Te la paso por este link de wetransfer:

https://www.wetransfer.com/downloads/0085a0d062d81b3942a8555cd782cc6520160331125345/a388df

[2016-03-31 13:17] FAAREIA commented on #272
Ahi lo actualicé:
http://www.parexklaukol.com.ar/cgi-bin/cumple.pl
La variable del texto de regalo la defini como ``, si se llamaba de otra forma avisenme.
Abrazo

[2016-03-31 13:20] FAAREIA commented on #267
El newsletter ya tiene el link que va a la encuesta.

[2016-03-31 13:24] LeandroBraier commented on #272
Excelente Fede! Mil gracias!

Después habria que hacerla con la cuenta de parex no? Para el envio posta.
El mar. 31, 2016 10:17 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-31 13:51] LeandroBraier commented on #272
@FAAREIA faltaría que @mkreyness le agregue el premio que subimos por CMS no?

[2016-03-31 14:10] FAAREIA commented on #272
Creo que te confundiste de issue pero el form google tendría que estar en el @gmail que tenga parex argentina

[2016-03-31 14:15] LeandroBraier commented on #272
Hablo del premio que va en el ticket.  El que dice "una remera Klaukol"
El mar. 31, 2016 11:10 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-31 14:17] FAAREIA commented on #272
Si sería una variable eso

[2016-03-31 14:41] FAAREIA commented on #288
Hecho

[2016-03-31 15:07] LeandroBraier commented on #272
Por eso. Pero ahora esta cargada la variable y no se muestra. Puede ser?
El mar. 31, 2016 11:17 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-31 15:07] LeandroBraier commented on #288
Gracias Fede!
El mar. 31, 2016 11:41 AM, "Federico Arena" notifications@github.com
escribió:

[2016-03-31 16:56] mkreyness commented on #272
La variable se llama asi, texto-regalo, eso esta bien.
Pero tene en cuenta que el contenido depende del mes en que cumple años el usuario, con que usuario entras ? Solo hay premio definido para los que cumplen en abril y mayo (obvio eso se maneja desde el CMS, no es algo fijo, pero eso es lo que esta cargado)

[2016-03-31 17:35] #288 closed, assigned to FAAREIA

[2016-03-31 17:46] LeandroBraier commented on #272
Yo estoy entrando con el link genérico que me pasó Fede:

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl

Creo que no tiene usuario asignado. Tendría que buscar un usuario que cumpla en Abril no?

Por ejemplo este:

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl?

usuario=JorgeProsdocini

&clave=1041966

Asi que ya estamos.

abrazo

[2016-03-31 18:07] LeandroBraier opened #289 "Sección Cumpleaños Vendedores."
@FAAREIA Esto es tranqui, cuando se pueda, hacer una versión de la sección de Ganadores pero para los cumpleañeros del mes.

[2016-03-31 18:38] mkreyness commented on #272
claro, asi son los links que van en el mailing. No te habia mandado un mail de prueba antes ?
Queres que te mande ?
Y avisame cuando ponerlo en produccion.

[2016-03-31 18:47] LeandroBraier commented on #272
Dale, mejor. Mandame un mail de pruebas.

2016-03-31 15:38 GMT-03:00 mkreyness notifications@github.com:

[2016-03-31 19:27] LeandroBraier opened #290 "Mailing de Bienvenida a Nuevos Suscriptos al Newsletter. 01/04"
Fede, necesitaríamos un mailing de bienvenida muy muy simple, de texto, agradeciéndole a la gente por suscribirse al news de Parex

El texto sería:

"¡Gracias por suscribirte a nuestro newsletter! De ahora en más te mantendremos informado/a de las últimas novedades y tecnologías innovadoras en el mundo de la construcción. "

[2016-03-31 19:28] LeandroBraier commented on #290
Hacelo bien bien siempre. Solo logo y texto. Muy simple y automatizable. Necesito la URL para que el cliente apruebe, nada más. No pierdas mucho tiempo con esto que es una pavada.

abrazo

[2016-03-31 20:21] mkreyness commented on #272
Ahi te mande uno que cumple hoy. El programa solo manda los cumpleaños reales.

[2016-03-31 20:22] mkreyness commented on #272
ojo, extendé en el CMS para que incluya marzo, porque si no va a quedarte sin texto.

[2016-04-01 11:43] FAAREIA commented on #290
http://www.parexklaukol.com.ar/_mailing/parexklaukol/bienvenida/bienvenida.html

[2016-04-01 12:00] LeandroBraier commented on #290
Está perfecto Fede! Gracias!
El abr. 1, 2016 8:43 AM, "Federico Arena" notifications@github.com
escribió:

[2016-04-01 15:12] LeandroBraier commented on #290
@mkreyness porfa ya dejémoslo como envío automático a los usuarios que se suscriban a nuestro newsletter a través de la web o de este link:

http://parexklaukol.com.ar/suscribite

abrazo

[2016-04-01 15:12] LeandroBraier commented on #290
Podés pedirle a @valentinsabbath que lo haga quizá.

[2016-04-01 15:57] FAAREIA commented on #254
Ahi van los cambios en el home y la sección contacto.

![home](https://cloud.githubusercontent.com/assets/6184969/14212409/18d3b3fe-f809-11e5-8b25-56068858d68d.png)
![home2](https://cloud.githubusercontent.com/assets/6184969/14212410/18f12376-f809-11e5-8282-b1495761dd9a.png)
![contacto](https://cloud.githubusercontent.com/assets/6184969/14212415/1ba1bcca-f809-11e5-8763-0d0f837a4a12.png)

[2016-04-01 16:25] LeandroBraier commented on #290
@FAAREIA me pidieron un cambio muy simple en el texto

El texto final quedaría así:

"¡Gracias por suscribirte a nuestro newsletter! A partir de hoy recibirás las últimas novedades y actualizaciones sobre el mundo de la construcción, arquitectura , tendencias y mucho más."

[2016-04-01 16:54] mkreyness commented on #290
Sobre el link no puedo hacer nada, no tengo control del lugar al que esta yendo, ademas no esta entrando en nuestra base de suscriptores.
Los mails automaticos a la base de suscriptores existe hace muchisimo, se mandan cada 5 minutos y son para que CONFIRMEN, porque si no no los marcamos como activos.
Vos lo que queres es que cuando entren al link de CONFIRMACION desde el mail que ya recibieron, s

[2016-04-01 17:01] LeandroBraier commented on #290
Lo pidió el cliente. Incluyámoslo porfa, perdiendo el menor tiempo posible.

Recordá que el lunes sale el primer news y hoy sacamos un posteo en
facebook invitando a la gente a suscribirse.

2016-04-01 13:54 GMT-03:00 mkreyness notifications@github.com:

[2016-04-01 17:06] mkreyness commented on #290
es que no ENTIENDO que hacer.
Sobre lo que se suscriban en OTRO SISTEMA, yo no tengo control.
Yo habia armado todo un sistema de suscripciones con confirmacion, puedo agregar que se mande un mail cuando confirman, pero no puedo hacer nada con datos que no me llegan.

[2016-04-01 17:13] FAAREIA commented on #290
http://www.parexklaukol.com.ar/_mailing/parexklaukol/bienvenida/bienvenida.html

[2016-04-01 17:15] mkreyness commented on #290
eso es QUE, pero la pregunta es A QUIEN

[2016-04-01 17:16] mkreyness commented on #290
A los que se suscriban por ese otro metodo que desconozco, se le va a mandar un mail de confirmacion previo tambien ?
Es la duplicidad de metodos lo que me confunde.

[2016-04-01 17:55] LeandroBraier commented on #290
No te preocupes MK. Los que de sumen a esta lista les mando manual este
mailing de bienvenida desde mailchimp y listo. Igual tendrias que incluir
para los que de suscriban via web. Te parece bien asi?
El abr. 1, 2016 2:16 PM, "mkreyness" notifications@github.com escribió:

[2016-04-01 18:16] LeandroBraier commented on #254
Están muy muy buenos Fede!!

Te tengo que mandar definidos los contenidos y fotos pero cuando le pueda mandar al cliente la home ya maquetada se la mandamos.

O por las dudas decís que le mande esto para que nos de 1 feedback más?

[2016-04-01 18:19] LeandroBraier commented on #290
Yo ya lo tengo todo listo para mailchimp. Simplemente avisame @mkreyness cuando quede automático para los que se suscriben via web. Con eso estamos. Puede ser para el lunes tranqui.

abrazo

[2016-04-01 18:41] FAAREIA commented on #254
La maquetación sería ideal empezarla cuando esten los diseños aprobados, maquetar sin un diseño aprobado puede hacernos perder tiempo

[2016-04-01 19:08] LeandroBraier opened #291 "Mailing de Suscripción para Desuscriptos."
@mkreyness este es el mailing a enviarle a los desuscriptos.

http://www.parexklaukol.com.ar/_mailing/sumarme/

La base de mails es esta:

[Base de Desuscriptos al 15-02 sin empleados parex.xlsx](https://github.com/LeandroBraier/Klaukol/files/200193/Base.de.Desuscriptos.al.15-02.sin.empleados.parex.xlsx)

Si son muchos para enviar todos juntos ponelos a enviar de a pocos, de la cantidad que sea se

[2016-04-01 19:25] mkreyness commented on #291
Pero una vez que reciban el mail y hagan click en "Sumarme", que se supone que va a pasar ?
Si es un formulario de mailchimp, y ya estan desuscriptos, NO SE si los va a aceptar resuscribir, probaste ?

[2016-04-01 19:27] LeandroBraier commented on #291
Es que justamente este es el único mecanismo de "resuscripción" que permite
Mailchimp. Enviar a los desuscriptos un mail desde fuera de mailchimp que
los lleve a la lista creada "en" mailchimp. Ya lo hicimos un par de veces a
esto. Le llamamos "reconfirmación" o "resuscripción", algo asi.

2016-04-01 16:25 GMT-03:00 mkreyness notifications@github.com:

[2016-04-01 19:31] mkreyness commented on #291
Ok, pregunto por las dudas. Lo voy mandando en tandas durante el fin de semana, ok ?

[2016-04-01 19:32] LeandroBraier commented on #291
Dale, perfecto. Gracias!

[2016-04-01 20:12] LeandroBraier commented on #254
Me parece bien Fede! Ya le mandé para que apruebe.

abrazo

[2016-04-01 21:27] mkreyness commented on #290
OK, repaso final:
- el que se suscribe via la HOME de parex se carga en la base de suscriptores como hasta ahora, en un estado PENDIENTE.
  Yo tengo un proceso periodico (cada 5m) que envia un pedido de CONFIRMACION con un link.
  Si el que recibe el mail hace click en el link, pasa a un estado ACTIVO y ahi si deberia mandarle un este SEGUNDO mail, que es totalmente generico (no tiene links ni nad

[2016-04-01 22:07] LeandroBraier commented on #290
Claro, tal cual. Yo me arreglo para que reciban eso. NO es automático.
Recibo notificaciones de mailchimp cuando se suman.

abrazo y buen finde!

2016-04-01 18:27 GMT-03:00 mkreyness notifications@github.com:

[2016-04-03 19:16] LeandroBraier opened #292 "Falta un "Olvidé mi contraseña" en Club de Colocadores"
@FAAREIA tranqui mañana agregalo porfa.

No lo teníamos ya? pensé que lo teníamos en todas las plataformas.

abrazo

[2016-04-04 12:38] FAAREIA commented on #292
Estaba hecho pero no implementado, faltaba muy poquito.
@mkreyness

http://www.parexklaukol.com.ar/colo/recuperar-clave.html
http://www.parexklaukol.com.ar/colo/recuperar-clave.html?contacto=1
http://www.parexklaukol.com.ar/colo/recuperar-clave.html?contacto=2

El template es: `recuperar-claveT.html`
El link para recuperar la clave es: `/cgi-bin/recuperar-clave-colo.pl`

A la página la puse como t

[2016-04-04 12:55] mkreyness commented on #292
no, el link es recuperarclavecolo.pl, todo junto, y fue hecho en diciembre.
Hay una mezcolanza de cosas. Voy a copiar el recuperarclavecolo.pl como recuperar-clave-colo.pl y vemos que pasa.

[2016-04-04 13:04] LeandroBraier commented on #292
Gracias chicos! Avisenme porfa cuando esté hecho.

2016-04-04 9:55 GMT-03:00 mkreyness notifications@github.com:

[2016-04-04 17:54] mkreyness commented on #292
el problema es que el mail que se manda supone la existencia de un template de mail que se llama
/_mailing/colocadores-recordar/colocadores-recordar.html
pero eso no existe.
Entonces, lo MANDA, pero vacio.

@FAAREIA cual seria el template del mailing ?

[2016-04-05 00:52] LeandroBraier commented on #272
@mkreyness el cliente cambió de opinión. Cambié en el CMS el premio a 1000 puntos extra en la Comunidad.

También creé el Tema y el Juego "PUNTOS POR CUMPLEAÑOS" que vale 1000 puntos. Así que lo que necesitaría es que le sumes esos 1000 puntos a todos los que cumplen de mañana en adelante, podrá ser?

Mientras sea dentro de la mañana estamos OK.

abrazo

[2016-04-05 01:22] mkreyness commented on #272
O sea que al momento de mandarle el mail le sumo 1000 puntos via ese juego, lo cargaste como tipo "actividad" ?

[2016-04-05 02:17] LeandroBraier commented on #272
Exacto! Está bien hecho asi?
El abr. 4, 2016 10:22 PM, "mkreyness" notifications@github.com escribió:

[2016-04-05 02:44] mkreyness commented on #272
Si, ya lo puse para que le sume 1000 puntos Y se lo canjee por 10 fichas.

[2016-04-05 02:53] LeandroBraier commented on #267
@FAAREIA recién hoy tuve feedback del cliente. Está todo bien, salvo los siguientes puntos:
1. Me pidieron cambiar la encuesta por esta:

En nuestra página de Facebook los usuarios aman a Rubí, marca que produce herramientas, máquinas y útiles ideal los proyectos de construcción más ambiciosos.
¿Qué opinás de las herramientas Rubí?

a) Son las mejores.
b) Son similares a otras marcas.
c) No las co

[2016-04-05 02:55] LeandroBraier commented on #272
Gracias MK!! abrazo grande

[2016-04-05 11:58] FAAREIA commented on #292
Hay que hacerlo, te aviso

[2016-04-05 12:27] FAAREIA commented on #267
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-03/16-03.html

[2016-04-05 13:17] FAAREIA commented on #292
Un mail simple:
http://www.parexklaukol.com.ar/_mailing/colocadores/recuperar-clave/recuperar-clave.html
Esperemos a que Lea lo apruebe igual.
Abrazo

[2016-04-05 13:24] FAAREIA commented on #292
http://www.parexklaukol.com.ar/_mailing/club-colocadores/recuperar-clave/recuperar-clave.html
Cambié el link ^^

[2016-04-05 13:35] LeandroBraier commented on #292
Está perfecto Fede.
El abr. 5, 2016 10:25 AM, "Federico Arena" notifications@github.com
escribió:

[2016-04-05 14:03] LeandroBraier commented on #267
Está perfecto, Fede. Solo faltaría que el link de la encuesta lleve a la encuesta pedida. Ahora el link lleva a la anterior.

Usá el usuario de Gmail de Parex para eso. El mail es:

parexklaukolarg@gmail.com
Contraseña: parexklaukol2015

Si podés creala ahí porfa. Con eso ya largamos.

abrazo

[2016-04-05 14:50] FAAREIA commented on #267
Hecho

[2016-04-05 15:29] LeandroBraier commented on #267
Gracias Fede!!! abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Apr 5, 2016 at 11:50 AM, Federico Arena notifications@github.com
wrote:

[2016-04-05 21:36] mkreyness commented on #292
habria que corregir el texto en
http://www.parexklaukol.com.ar/colo/recuperar-clave.html?contacto=1

porque dice "te mandamos tu NUEVA ..."
en realidad es la misma, deberia decir "te mandamos la clave a tu mail" o algo asi.

[2016-04-06 01:38] LeandroBraier commented on #267
Perfecto @FAAREIA ! Ya lo envié. abrazo

[2016-04-06 01:39] LeandroBraier commented on #267
Mañana fijate porfa @FAAREIA porque en la encuesta no se pueden ver los resultados una vez que votaste.

[2016-04-06 12:01] FAAREIA commented on #267
Ahi ya se pueden ver los resultados.

[2016-04-06 12:02] LeandroBraier commented on #267
Gracias @FAAREIA !!

[2016-04-06 12:02] #267 closed, assigned to FAAREIA

[2016-04-06 12:04] FAAREIA commented on #292
Ahi ya lo actualicé en el template

[2016-04-06 12:08] LeandroBraier commented on #292
Perfecto @FAAREIA ! Gracias! Ya lo probé y joya.

abrazo

[2016-04-06 12:08] #292 closed, assigned to FAAREIA

[2016-04-06 20:21] LeandroBraier commented on #276
@FAAREIA  tengo una nueva ficha técnica para reemplazar la de Klaukol Porcellanto Fluido. Puede ser mañana tranqui.

[FT_Klaukol_porcellanato fluido.pdf](https://github.com/LeandroBraier/Klaukol/files/207283/FT_Klaukol_porcellanato.fluido.pdf)

abrazo

[2016-04-06 22:21] #290 closed, assigned to mkreyness

[2016-04-06 22:31] LeandroBraier commented on #271
@FAAREIA necesito mañana que adaptes este mailing con la gráfica del premio de este mes:

![mailing-premio-abril](https://cloud.githubusercontent.com/assets/6719872/14349685/052c2494-fc9b-11e5-9edb-94b79b19fc35.png)

Debería decir EN ABRIL PARTICIPÁ POR y que ahí apareciera esa imagen.

Una vez hecho, dejaselo a @mkreyness y armalo como template en mailchimp como hiciste con el template del concur

[2016-04-06 22:34] mkreyness commented on #271
Y yo a que lo aplicaria ? No tenemos bienvenidas automaticas en vendedores, porque el alta siempre es masiva por un Excel y en tal caso tiene mucho mas sentido que lo mandes por Mailchimp.

[2016-04-06 22:39] LeandroBraier commented on #271
Claro, la idea es que lo mande yo directamente por mailchimp. De hecho ayer me pasaron 8 nuevos usuarios y los cargué a mano en el CMS, pero no les envié mailing de bienvenida para que ya esté con el nuevo premio. La idea es que no tengas que enviar más mailings de eso desde Duplika.

[2016-04-06 22:43] mkreyness commented on #271
Me parece perfecto, pero no se entonces por que le decis a Fede que cuando termine me lo pase, que tengo que hacer yo con eso ?

[2016-04-06 23:07] LeandroBraier commented on #271
Por las dudas nomás. Jeje Mala mia.

On Wed, Apr 6, 2016 at 7:43 PM, mkreyness notifications@github.com wrote:

[2016-04-07 11:18] FAAREIA commented on #276
Hecho

[2016-04-07 11:21] FAAREIA commented on #271
Cual es la gráfica del premio de este mes?

[2016-04-07 11:31] LeandroBraier commented on #271
Perdón, ahi te la subí en mi pedido anterior. Me había olvidado de subirla.

[2016-04-07 11:40] LeandroBraier commented on #276
Gracias @FAAREIA !!!

[2016-04-07 11:40] #276 closed, assigned to FAAREIA

[2016-04-07 12:50] FAAREIA commented on #271
Ahi estuve limpiando y haciendo retina el mailing.
Lo pueden ver online y en mailchimp.
El HTML online es solo de muestra, no es para enviar porque los estilos estan puestos de un forma no aceptada por los clientes de mail. El HTML de mailchimp si esta enviable.
http://www.parexklaukol.com.ar/_mailing/comunidad-vendedores/premio-16-04/premio-16-04.html
https://us11.admin.mailchimp.com/templates/de

[2016-04-07 12:50] FAAREIA commented on #271
Las fechas las estoy poniendo como año/mes asi ordenan bien los mailings

[2016-04-07 13:02] LeandroBraier commented on #271
Está perfecto Fede!! Muchas gracias!

[2016-04-07 13:02] #271 closed, assigned to mkreyness

[2016-04-07 13:08] LeandroBraier commented on #289
Buen día @FAAREIA esto para la semana que viene lo ves posible? COnfirmame hoy porfa.

[2016-04-07 15:01] FAAREIA commented on #289
Mañana ya lo liquidamos.

[2016-04-07 15:13] LeandroBraier commented on #289
Genial @FAAREIA ! Gracias!

[2016-04-07 21:47] LeandroBraier opened #293 "Bug en Novedades Club de Colocadores"
@mkreyness anteayer subí varias novedades en la web de ParexKlaukol pero no me las actualizó en el Club de Colocadores. Te fijás porfa?

http://www.parexklaukol.com.ar/cgi-bin/maincolo.pl?usuario=marcelokreyness&clave=pepe

abrazo

[2016-04-07 21:56] mkreyness commented on #293
Pero les tildaste para que salgan en la web de COLOCADORES ?
Si bien las novedades son las mismas, cuales se muestran dependen de que tengan el tilde prendido.

[2016-04-07 22:21] LeandroBraier commented on #293
CIerto! No recordaba eso, perdón. Gracias!

[2016-04-07 22:21] #293 closed, assigned to mkreyness

[2016-04-08 11:56] LeandroBraier opened #294 "Subida de Distribuidores Revear. 13/04"
@mkreyness acá tengo otra tarea que podría hacer @valentinsabbath también.

Necesito subir esta nueva línea de distribuidores de Revear a la base que tenemos en el CMS.

[Nuevos Distribuidores Revear a Subir.xlsx](https://github.com/LeandroBraier/Klaukol/files/210083/Nuevos.Distribuidores.Revear.a.Subir.xlsx)

Ya ordené las columnas igual que en el mismo por las dudas. Me avisan si se puede? Puede

[2016-04-08 12:24] mkreyness commented on #294
Se puede.
@valentinsabbath esto va en la tabla "dis" de la base "parexkla_red" del servidor "parexkla" en Duplika.
No se si alguna vez ya accediste ahi para algo, me suena a que no. Cualquier cosa pedime las credenciales.
Si miras el contenido actual de la tabla vas a ver que los campos van mas o menos tal cual excepto algunos que no cargamos (no tenemos los representantes codificados). El dato co

[2016-04-08 13:07] FAAREIA commented on #289
http://www.parexklaukol.com.ar/vendedores/cumpleanios.html

[2016-04-08 13:14] ghost commented on #294
@mkreyness Me pasaías el ip y las credenciales? Gracias

El 8 de abril de 2016, 9:24, mkreyness notifications@github.com escribió:

##

_Atte. Valentín Gavela._

[2016-04-08 16:40] FAAREIA commented on #289
@mkreyness copio a marce que tiene laburo aca.
Abrazo

[2016-04-08 16:40] FAAREIA commented on #289
Falta la aprobación de LEa igual marce

[2016-04-08 16:47] mkreyness commented on #289
ahi veo algo asi como "mes actual" y "mes que viene", seria asi ?
Y desde donde se accederia a esta pagina ?

[2016-04-08 17:08] LeandroBraier commented on #289
Gracias Fede! Yo lo que pedí era solo ver los cumpleañeros de este mes.
Piensen que hay por lo menos 50 por mes. No van a entrar más.

El diseño no lo veo muy bien, Fede. La guirnalda queda rara. Fijate si le
podés encontrar la vuelta. Los papelitos sueltos están bien, pero la
guirnalda queda muy colgada. Fijate si podés tomar algo del mailing de
cumpleaños, que estaba bueno.

Marce: a la sección

[2016-04-08 17:26] mkreyness commented on #289
Ok, cuando este aprobado el template sigo.

[2016-04-09 02:48] mkreyness commented on #294
te las mando por mail, aca es todo publico y lo indexa google.

[2016-04-11 12:18] FAAREIA commented on #289
Fijate ahora Lea, dale F5:
http://www.parexklaukol.com.ar/vendedores/cumpleanios.html

[2016-04-11 12:22] LeandroBraier commented on #289
Buen día @FAAREIA!  Gracias!

Lo sigo viendo un poco fuera del target, probá porfa con esta estética: guirnaldas romboides arriba, circulares a los costados y papelitos en el fondo. Nada de globos. A ver si queda mejor, más adulto digamos.

<img width="644" alt="captura de pantalla 2016-04-11 a las 9 42 59 a m" src="https://cloud.githubusercontent.com/assets/6719872/14426672/ebff021e-ffc6-11e5-9c6

[2016-04-11 15:25] FAAREIA commented on #289
Ahi va una versión más formal:
http://www.parexklaukol.com.ar/vendedores/cumpleanios.html

[2016-04-11 15:57] LeandroBraier commented on #289
Perfecto @FAAREIA ! Lo mando al cliente a aprobar antes de que lo toque MK.

abrazo

[2016-04-11 19:18] LeandroBraier opened #295 "Nueva Dinámica de Subida de Foto. 12/04"
@mkreyness necesito que para hoy de ser posible o mañana a la mañana habilites en Estado de ELABORACIÓN una nueva dinámica como esta:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=27

&usuario=LeandroBraier
&clave=parexklaukol

Título:  "Subí tu selfie con Klaukol"

Imagen Inicio:
![posteo-comunidad-de-vendedores-12-4](https://cloud.githubusercontent.com/assets/6719872/14438961/10a6a774-ffff

[2016-04-11 19:26] mkreyness commented on #295
Si no entiendo mal, el problema que no te permite replicarlo directamente vos como tema+juego es que a un jugador que ya subio una foto por el viejo juego (el de subi tu foto con el equipo de trabajo) no le dejaria subir otra.
Lo que tendria que hacer yo es agregar a la tabla de "fotos subidas por vendedores" una identificacion del tema por el cual subieron, y controlar que no se repita en el mism

[2016-04-11 19:42] LeandroBraier commented on #295
Excelente MK! Dale, la idea es que tengas que hacer lo menos posible. Si
puedo subir los contenidos yo mejor.

abrazo

2016-04-11 16:26 GMT-03:00 mkreyness notifications@github.com:

[2016-04-11 21:04] mkreyness commented on #295
en principio ya estan hechos todos los cambios necesarios. Armale el tema y el juego (tiene que tener tipo 'UPLOAD') y lo probamos.

[2016-04-11 21:34] LeandroBraier commented on #295
Hecho MK!

On Mon, Apr 11, 2016 at 6:04 PM, mkreyness notifications@github.com wrote:

[2016-04-11 21:51] mkreyness commented on #295
Listo, fijate, ojo acordate que vos estas suspendido, asi que no te suma puntos. Yo te diria que te dessuspendas un momento para poder verificarlo.
el id para el URL de jugar.pl es 46

[2016-04-11 21:54] LeandroBraier commented on #295
Dale, denme un ratito y lo pruebo.

2016-04-11 18:51 GMT-03:00 mkreyness notifications@github.com:

[2016-04-11 23:38] LeandroBraier commented on #295
Acá me pasa lo mismo que en VIE TUR.

Cambio el usuario de SUSPENDIDO a ACTIVO y me deja de funcionar el usuario. Te fijás MK porfa qué puede ser?

abrazo

[2016-04-12 00:38] mkreyness commented on #295
Estas seguro que no le cambiaste la clave tambien ?
Me figura que la clave es "revear", poniendo tu usuario y esa clave me entra perfectamente.
Capaz tu browser esta recordando passwords viejas y al entrar a la pantalla te la forzo.

[2016-04-12 00:39] mkreyness commented on #295
y la de VIE TUR es "b3nt3v30"

[2016-04-12 00:40] LeandroBraier commented on #295
Fuck, entonces ojo porque me cambió la clave automáticamente. Me venía pasando al cargar distribuidores de Revear. Fijate porfa qué puede estar pasando.

b3nt3v30 es la clave del admin. La clave de ese fake era vietur. Tenés idea qué pasó?

[2016-04-12 00:44] LeandroBraier commented on #295
Ahi estoy probandolo y no lo veo actualizado. Te acordás que con el otro juego nos pasaba lo mismo? Queda cacheadísimo y no sé como sacarlo (obvio que borré el caché de mi navegador).

[2016-04-12 00:49] mkreyness commented on #295
Password:
Es tu browser, el programa no puede adivinar claves en el aire, tu browser asocio que en la pantalla decia "Password:" y puso automaticamente la que tiene asociado con ese URL.
Siempre hay que tener cuidado con lo que los browsers autocompletan, a mi el Chrome cuando me hace esas cosas me las muestra en amarillo.
Para que no te pase (si vas a estar entrando a la pagina de vendedores, inc

[2016-04-12 00:51] LeandroBraier commented on #295
Perdón, te estoy mezclando.. Este juego me anduvo perfecto pero me sumó 0 puntos. Algo salió mal ahí.

En cuanto a todo lo que sea VIE TUR te lo paso en su ticket correspondiente.

abrazo

[2016-04-12 00:56] mkreyness commented on #295
ahora pruebo con tu usuario yo

[2016-04-12 01:01] mkreyness commented on #295
me anduvo bien y sumo los 300 puntos.
Puede ser que como yo habia estado haciendo pruebas con tu usuario haya quedado algo de basura que lo complico. Elimine todo eso y probe y anduvo bien. Te lo vuelvo a dejar limpio para que puedas probar vos.

[2016-04-12 01:06] LeandroBraier commented on #295
Gracias @mkreyness ! Ahora si!! Ya quedó publicado!

abrazo grande

[2016-04-12 01:06] #295 closed, assigned to mkreyness

[2016-04-12 13:12] LeandroBraier commented on #254
Buen día @FAAREIA ! Disculpame la demora, ya tengo confirmada la estética y un mapa para los contenidos.

De la estética que me mandaste última está OK todo salvo un pequeño detalle: el cliente pide achicar un punto al menos los iconos centrales del calculador de consumo y distribuidores, en relacion al head, me parece que estan bastante mas grandes.

Respecto de los contenidos en este PPT está to

[2016-04-12 20:50] LeandroBraier commented on #294
Porfa confirmenme cuando está subido esto @valentinsabbath

[2016-04-12 20:50] #283 closed, assigned to FAAREIA

[2016-04-12 21:44] LeandroBraier commented on #262
@mkreyness estoy probando y ahora me andan casi todos. Solo me queda sin andar este link:

http://www.parexklaukol.com.ar/klaukol/klaukol-pla-k-pasta

Parece que no le está apariendo el .html al final. Si se lo agrego anda bien.

[2016-04-12 21:46] LeandroBraier opened #296 "Bug de los tildes en Vendedores Parex"
@FAAREIA sigue el Bug de los Tildes en Iniciar Sesión en front end pero también en todos los títulos a los que le ponemos tildes en el CMS @mkreyness

Porfa esta semana dejenlo resuelto porfa. Evidentemente quedó de la última actualización de duplika.

abrazo

[2016-04-12 21:50] mkreyness commented on #262
yo lo tenia como /klaukol/klaukol-placa-pasta
Ahi le puse como pla-k

[2016-04-12 22:10] LeandroBraier commented on #262
Ahora si! Perfecto.

gracias MK!

[2016-04-12 22:10] #262 closed, assigned to nobody

[2016-04-12 23:44] ghost commented on #294
Listo @LeandroBraier , tuve que aprender un par de cositas pero ya está

[2016-04-12 23:48] LeandroBraier commented on #294
Excelente Valen! Gracias!

[2016-04-12 23:48] #294 closed, assigned to mkreyness

[2016-04-12 23:56] LeandroBraier commented on #204
@FAAREIA y @mkreyness : recién hoy pude chequear el Calculador y la Casa Interactiva en HTML5 a fondo. Les paso feedback:

CALCULADOR DE ADHESIVOS

Estoy intentando probarlo y me pasa repetidas veces esto:

1- ¿Donde vas a hacer la colocación?

Opción: Fachadas y Piscinas.

<img width="816" alt="captura de pantalla 2016-04-11 a las 9 51 54 p m" src="https://cloud.githubusercontent.com/assets/67198

[2016-04-12 23:58] LeandroBraier commented on #204
http://www.parexklaukol.com.ar/_casa-interactiva/casa-interactiva.html

En la casa interactiva no me aparece ningún nombre de producto ni link. Debe ser algun cambio de duplika que impactó, porque en su lugar aparece el símbolo "<"

Porfa avancemos con esto para la semana que viene.

abrazo

[2016-04-13 00:43] mkreyness commented on #204
Seguro que TODO es por algo de los cambios de Duplika. Ahora me fijo, tiene que ser una pavada de permisos como siempre.

[2016-04-13 01:10] mkreyness commented on #204
Si, es por el cambio de defaults de charset del mysql, es lo mismo que me rompe los acentos en el CMS.
Ahi le agregue a los PHP de Amalia que fuerce el charset utf8 y los desplegables empezaron a andar de nuevo. Todavia no termina de hacer el calculo completo, asi que algo falta, sigo debuggeandolo.

[2016-04-13 03:51] mkreyness commented on #204
lo del calculador ya quedo todo arreglado, menos algo que siempre estuvo pendiente que es el tema cantidad de paquetes de pastina, porque no se bien como se calcula.

[2016-04-13 04:00] mkreyness commented on #204
los que no te andan de la Casa Interactiva es porque no estan cargados los productos en el CMS.
Los unicos 3 que estan (porque estaban puestos en el ejemplo de Brauilo) son los de "techos", "living-chimenea" y "terrazas", el resto hay que cargarlo.
Esta dentro del menu "Productos" donde dice "Superficies", y hay que agregarlas con los codigos de superficie que estaban en la lista que paso Braulio

[2016-04-13 11:57] LeandroBraier commented on #204
Perfecto, entiendo. Dale los cargo entonces y pruebo de nuevo.

abrazo y gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-04-13 1:00 GMT-03:00 mkreyness notifications@github.com:

[2016-04-13 15:34] LeandroBraier opened #297 "Facebook Connect para Registro y Login en Colocadores. FRENADO"
@FAAREIA se podrá Fede?

[2016-04-13 17:26] FAAREIA commented on #297
@mkreyness es un tema de marce, habría que ver si se puede linkear el login del facebook con el del usuario ya registrado en la comunidad. Parece dificil a simple vista.

[2016-04-13 20:51] mkreyness commented on #297
El Facebook Login (no es Facebook Connect, Facebook Connect es otra cosa, para postear contenidos) implicaria que al momento de la REGISTRACION (cosa que en Klaukol no existe) capturemos el nombre de facebook como codigo de usuario, y encima puede pasar que ya tengamos a alguien con este usuario y no se pueda duplicar.
Supongamos que en el perfil de los que ya existen les pusieramos un boton de Lo

[2016-04-13 21:02] LeandroBraier commented on #297
Mk, me parece que en el título del ticket está la respuesta a tus
preguntas: no es para Vendedores. Es para Colocadores, que sí tienen
registración y acceden desde pc o teléfono propio, no en el trabajo. En tal
caso, se puede hacer registración via Facebook?

2016-04-13 17:51 GMT-03:00 mkreyness notifications@github.com:

[2016-04-13 21:07] mkreyness commented on #297
ja ja, no vi la ultima palabra (se me truncan los subject en la columna).
Si, con los nuevos que se registren, pero con los viejos no se bien donde ponerlo.
El boton de "login con facebook" no nos sirve si primero no esta relacionado con un usuario conocido, asi que ponerlo en el propio login no sirve.

[2016-04-13 21:14] LeandroBraier commented on #297
Demosle la opción a los viejos de vincular su cuenta de Facebook y listo,
no se puede? Sino dejemosla solo como opción de registración para los
nuevos nada más.

2016-04-13 18:07 GMT-03:00 mkreyness notifications@github.com:

[2016-04-13 21:19] mkreyness commented on #297
Habria que agregar un boton en el perfil solo para aquellos que no tengan todavia asociado un usuario de facebook, para que lo hagan por ahi. Una vez puesto ya no se podria sacar, y cuando entren a la pagina /colocadores si esta loggeado en facebook lo haria entrar directo.
Ahora todo esto lleva tiempo, y no le estoy dando 5 de bola a Diego...

[2016-04-13 21:22] LeandroBraier commented on #297
Si, lo tengo. Esto no es urgente tampoco. Metelo en la cola y decime para
cuando podría estar. Puede ser para fin de mes por ejemplo, todo bien.

2016-04-13 18:19 GMT-03:00 mkreyness notifications@github.com:

[2016-04-13 21:25] mkreyness commented on #297
ok, tambien le prometi cosas para fin de mes a Diego, voy a ver como meterlo, pero no agreguemos mas plis. El tema del boton en la registracion y en el perfil (aunque no lo pongamos en produccion todavia) lo tendria que maquetar @FAAREIA en algun momento previo.

[2016-04-13 21:43] LeandroBraier commented on #297
Ok, puede ser para después de lo de Diego entonces. No es prioridad esto.
Gracias MK!

2016-04-13 18:25 GMT-03:00 mkreyness notifications@github.com:

[2016-04-13 23:12] LeandroBraier commented on #100
@FAAREIA esto queda cancelado definitivamente. Guardá un backup porfa de la maquetación y quitemoslo nomás. No hay apuro, pero hagamoslo cuando se pueda. abrazo

[2016-04-13 23:13] LeandroBraier commented on #189
Por ahora esto lo cancelamos hasta próximo aviso. abrazo grande

[2016-04-13 23:13] #189 closed, assigned to FAAREIA

[2016-04-13 23:13] LeandroBraier commented on #282
Ya lo pudimos resolver Fede! abrazo

[2016-04-13 23:13] #282 closed, assigned to FAAREIA

[2016-04-13 23:14] LeandroBraier opened #298 "Quitar Pop Up Equipo Klaukol"
@FAAREIA mañana cuando puedas quitalo porfa.

abrazo

[2016-04-14 11:22] FAAREIA commented on #100
Saco el ejemplo online decis?

[2016-04-14 11:28] FAAREIA commented on #298
Hecho

[2016-04-14 13:00] LeandroBraier commented on #298
Gracias @FAAREIA !

[2016-04-14 13:00] #298 closed, assigned to FAAREIA

[2016-04-14 13:00] LeandroBraier commented on #100
Exacto, ocultalo de forma que no lo trackee google al menos.

abrazo

On Thu, Apr 14, 2016 at 8:22 AM, Federico Arena notifications@github.com
wrote:

[2016-04-14 14:06] FAAREIA commented on #100
Hecho, no esta más online. Cualquier cosa lo vuelvo a subir

[2016-04-14 14:12] LeandroBraier commented on #100
Gracias @FAAREIA !

Si, guardemos el backup por las dudas porque nunca se sabe.

abrazo

[2016-04-14 14:12] #100 closed, assigned to FAAREIA

[2016-04-14 14:30] FAAREIA commented on #254
Todo perfecto lea. Lo del CMS hay que detallarlo cuando marce meta mano.
Lo de achicar el calculador y distribuidores, no hay problema, se achica.
Sigo avanzando y hagamos un issue aparte para lo del calculador

[2016-04-14 14:31] LeandroBraier commented on #254
Dale, perfecto Fede. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

On Thu, Apr 14, 2016 at 11:30 AM, Federico Arena <notifications@github.com>
wrote:

[2016-04-14 16:47] mkreyness commented on #254
lo mio es solo calculador de consumo ? Yo trataria de manejarlo con esta chica Amalia asi no me cargo de mas cosas, yo creo las estructuras en el CMS pero que ella programe las interfaces que llenarian los campos y resultados del calculador como hicimos con el nuevo de Parex.
Es eso o hay algo mas que manejar desde un CMS ? Por lo que entiendo no hay ni novedades ni cursos, y no se si hay que hace

[2016-04-15 15:34] FAAREIA commented on #254
Habría que poner en [este post](https://github.com/LeandroBraier/Klaukol/issues/254#issuecomment-203432930) qué sección lleva CMS asi queda todo bien especificado

![empresa](https://cloud.githubusercontent.com/assets/6184969/14566540/55067e30-0306-11e6-8c1e-56e620a09b7a.png)
![preguntas-frecuentes](https://cloud.githubusercontent.com/assets/6184969/14566541/5524ef5a-0306-11e6-94a3-266532e75110.pn

[2016-04-15 16:30] LeandroBraier opened #299 "Calculador de Consumo Revear"
- Link: http://revear.com.ar/calculador-de-consumo.html
- Se agrega calculo de costo y días de obra. Aquí les paso los datos x 100m2, uds lo toman de patrón para el cálculo de las variables no?

Revear:
Costo $21.000 x 100 m2
5 días de obra

Incluye Revestimiento Revear y mano de obra.

Enduido + Pintura:
Costo $29.363 x 100 m2
10 días de obra

Incluye cemento, cal, arena, fijador, enduido, pintur

[2016-04-15 16:38] LeandroBraier commented on #254
Hecho @FAAREIA ! Revisalo ahi. Ya actualicé también lo que te pasé esta semana en ppt pero por las dudas igual tenelo al ppt porque ahí está más detallado.

Tendrías que revisar el tema de las horas una vez más y confirmarme si llegamos para el 27 de abril o con qué sí llegamos para esa fecha. abrazo

[2016-04-15 21:45] LeandroBraier commented on #281
@mkreyness el lunes voy a tener el Logo. Si se los paso el lunes cuando podemos tener subida la guía?

[2016-04-15 21:50] mkreyness commented on #281
ni idea, donde esta la maqueta ?

[2016-04-15 21:51] mkreyness commented on #281
Si esta todo maquetado igual que el de corralones y solo hay que cambiarle el URL de donde toma los datos, es muy simple, pero tengo que ver la maqueta.

[2016-04-15 21:58] LeandroBraier commented on #254
@FAAREIA ya te agregué los contenidos faltantes en [este post](https://github.com/LeandroBraier/Klaukol/issues/254#issuecomment-203432930). Lunes o martes voy a necesitar que me mandes de vuelta capturas como estas mostrándome cada sección, así le paso al cliente las capturas como avances y nos aseguramos de que seguimos por el buen camino.

@mkreyness te detallé qué cosas llevan CMS en [este post

[2016-04-15 22:05] LeandroBraier commented on #281
Copio a @FAAREIA por esto.

[2016-04-16 00:23] LeandroBraier commented on #204
@mkreyness y @FAAREIA muchas gracias! La Casa Interactiva ya está terminada, le cargué los productos y anda todo perfecto. Solo te pido Fede que el lunes cambiemos la foto del header y achiques el header. Que quede fondo blanco y el texto CASA INTERACTIVA nada más. Con eso lo mando al cliente y si da el OK lo subimos a la web.

abrazo grande y buen finde semana para los dos!!

[2016-04-16 14:28] mkreyness commented on #254
Productos: "Revear" es una marca mas. Sitio=>Argentina, Marca=>Revear, ahi esta todo ya definido a nivel productos (y toda la info ya esta cargada).

Novedades me parecio leer en otro lado que no iban ? El problema es que las tenemos asociadas a "pais" no a "marca". Tendria que cargar "Revear" como si fuera, ademas de una marca, un "sitio" separado, lo cual obviamente ES ASI, pero a su vez Revear

[2016-04-16 18:52] LeandroBraier commented on #254
Perfecto MK!! Te confirmo, si, Revear no va por país. Es una sola web.
Gracias!

2016-04-16 11:28 GMT-03:00 mkreyness notifications@github.com:

[2016-04-18 01:21] mkreyness commented on #254
Avance con todo lo que pude con "novedades" pero llega un punto en que necesito las maquetas.
@FAAREIA en /templates/parexklaukol yo tengo un template novedades.html y otro novedad.html mas los links a css, images, etc. que apuntan a carpetas dentro de www/_parex
Aca con revear habria que hacer algo similar para que los programas (que son los mismos) funcionen.
Yo ya hice /templates/revear y le co

[2016-04-18 12:02] FAAREIA commented on #299
@mkreyness

[2016-04-18 12:11] mkreyness commented on #299
No entiendo como aplicar eso, es un texto fijo ? El calculador de consumo solo dice cuantos kilos de producto cubren una determinada superficie, SEGUN el producto que se elige de un desplegable.
Esto no depende del producto ?

[2016-04-18 12:20] LeandroBraier commented on #299
Los datos en realidad son de Revear Marble. Pero apliquemoslo por igual a
todos por ahora.

On Mon, Apr 18, 2016 at 9:11 AM, mkreyness notifications@github.com wrote:

[2016-04-18 12:30] mkreyness commented on #299
Supongamos que agrego dos datos en el CMS: precio por cada producto y en otro lado (fijo porque no depende del producto) tengo "precio de enduido y pintura" independiente de los productos. En los productos que no tengo precio pongo solo la parte de "enduido y pintura", y en los que si ambas cosas ? O pongo igual dependiendo del producto el de "enduido y pintura" ?

[2016-04-18 12:52] LeandroBraier commented on #299
Poné el costo por 100 m2 (o por m2, como te sea más conveniente para adaptarte a los datos ingresados por el usuario) de cada producto Revear por un lado (a todos cargales AR$ 21.000 por ahora, cualquier cosa yo lo corrijo más adelante) y de "Enduido + Pintura" por el otro (a este cargale siempre AR$ 29.363). Lo que incluye cada uno sí es un texto fijo que va abajo de todo.

abrazo

[2016-04-18 14:07] FAAREIA commented on #204
Queda fondo blanco o cambio la foto? Qué tipo de foto buscan?

[2016-04-18 14:08] LeandroBraier commented on #204
Fondo blanco nomás. No hace falta foto. abrazo y gracias!

[2016-04-18 14:31] FAAREIA commented on #204
http://www.parexklaukol.com.ar/_casa-interactiva/casa-interactiva.html

[2016-04-18 14:46] FAAREIA commented on #254
Para el 27 puede estar el diseño entregado pero dudo que haya más de 1 maqueta hecha. Sin contar hoy ni el 27 mismo, son 24hs de trabajo solamente y a eso agregale las cosas que habitualmente piden.
Acordate también que si la pantalla no esta aprobada no se maqueta.
Marce con respecto  la estructura, como revear es autonomo y no comparte nada con nadie, simplemente haría una carpeta `public_html/r

[2016-04-18 14:48] FAAREIA commented on #281
Cuando este el logo lo empiezo al diseño, luego de aprobado se maqueta. El diseño podría estar en la semana pero su aprobación no sé, con algunas cosas tardan banda en verlas

[2016-04-18 14:49] LeandroBraier commented on #254
Perfecto Fede!! Entonces hacemos así:

1) Decime en qué fecha entregamos el diseño para que lo aprueben. Vayamos preparando @mkreyness la estructura de contenidos en el CMS para que cuando nos den el OK, ya Fede se pueda poner a maquetar todo y que vos ultimes los detalles que sean necesarios.

2) Teniendo en cuenta que nos dieran el ok para el diseño el día 28/04, ¿cuantos días más necesitarías p

[2016-04-18 14:51] LeandroBraier commented on #281
Asi es Fede. El logo te lo paso hoy mismo, así esta semana seguro ya
mandamos el diseño. Y ahi quedamos a disposición del feedback.

abrazo

2016-04-18 11:48 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-18 14:56] LeandroBraier commented on #204
Quedó perfecto Fede!! Ya publiquemoslo así en la web. Solo veo 1 pequeño detalle: fijate que el menú de productos de Garage, el 5to producto queda cortado. Solo eso. Los demás se ven perfectos.

abrazo

[2016-04-18 14:59] FAAREIA commented on #254
La maquetación serán 48hs sin responsivo y metiendole a full, sin interrupciones. 20hs+ para responsivo.

[2016-04-18 15:01] LeandroBraier commented on #254
Perfecto. Entonces sería 1 semana más de trabajo seguro. Entiendo. Gracias
Fede!

Faltaría que confirme MK si en esa semana cierra lo suyo también o necesita
más.

On Mon, Apr 18, 2016 at 11:59 AM, Federico Arena notifications@github.com
wrote:

[2016-04-18 21:20] mkreyness commented on #254
@FAAREIA justamente la carpeta public_html/revear existio desde siempre y ahi es donde esta funcionando el sitio actual, ojo no toques nada de ahi porque dejaria de andar.
El calculador de consumos por ejemplo toma del CMS los productos cuyas imagenes apuntan a lugares dentro de public_html/revear.
Yo tengo plazos y dedicaciones comprometidas con Diego que requeririan NO distraerme demasiado con o

[2016-04-18 21:23] mkreyness commented on #299
Si, $210/m2 y $293.63/m2 respectivamente serian.
Y lo de 5 y 10 dias de obra tambien deberia ser proporcional a los m2, aunque no dependa del producto.

[2016-04-18 21:35] mkreyness commented on #299
Listo, fijate. La tipografia es horrible, no se si preferis que lo mande a la parte que esta en una especie de recuadro violeta con letras blancas.

[2016-04-18 21:48] LeandroBraier commented on #299
No, está bien. Lo único si podés que el signo de exclamación quede junto con la frase, ahora queda ene la oración de abajo:

<img width="1680" alt="captura de pantalla 2016-04-18 a las 7 06 56 p m" src="https://cloud.githubusercontent.com/assets/6719872/14620963/1f085e10-0596-11e6-9213-7abc172df1ab.png">

[2016-04-18 21:49] LeandroBraier commented on #299
Perdón, mala mia.

[2016-04-18 21:55] mkreyness commented on #299
y ademas al copiar y pegar se me coló una comilla.
Listo, fijate.

[2016-04-18 22:01] LeandroBraier commented on #299
Quedó perfecto ahora MK! Pero no te olvides que estamos en el tickert
equivocado, así que ahora borro estos comments para no marear al pobre Fede.

abrazo y gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Apr 18, 2016 at 6:55 PM, mkreyness notifications@github.com wrote:

[2016-04-18 22:14] mkreyness commented on #299
Y lo de Revear lo viste ?

[2016-04-18 22:30] LeandroBraier commented on #299
Ahora si. Lo que me parece es que no está bien mostrado. Fede: dale una maquetación más moderna y vistosa, como la del Calculador HTML5 de Klaukol.

Tranqui mañana.

abrazo

[2016-04-18 22:39] mkreyness commented on #299
Es que esto es el sitio viejo, con su tipografia diminuta, cuando haga el restyling sera otra cosa.

[2016-04-19 01:49] LeandroBraier commented on #299
Ah genial! Los datos son correctos. Están bien.
El abr. 18, 2016 7:39 PM, "mkreyness" notifications@github.com escribió:

[2016-04-19 13:18] FAAREIA commented on #204
Ahi ya esta implementado en la web. No estaba integrado al código css ni js del sitio por lo que tarde bastante en hacerlo.

[2016-04-19 13:21] LeandroBraier commented on #204
Gracias Fede! Lo veo distinto al header con eltítulo que en la muestra que
me habías mandando. Era más angosto y quedaba mejor. No se puede lograr eso?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Apr 19, 2016 at 10:18 AM, Federico Arena notifications@github.com
wrote:

[2016-04-19 13:49] FAAREIA commented on #204
Ahi le ajuste una distancia del título pero el tema es que ahora el título y demás tiene la fuente usada en todo el sitio, antes tenía otra. Si queres que se la aplique igual, decime, pero creo que es algo impercetible, excepto que compares una y otra.

[2016-04-19 13:56] FAAREIA commented on #299
Le doy un restyling a cual pantalla?

[2016-04-19 13:59] LeandroBraier commented on #299
Los resultados más que nada.

On Tue, Apr 19, 2016 at 10:56 AM, Federico Arena notifications@github.com
wrote:

[2016-04-19 14:02] FAAREIA commented on #299
Vale la pena poner un parche visual solo ahi? Preferiría invertir tiempo en lo nuevo que se viene dentro de unas pocas semanas

[2016-04-19 14:04] LeandroBraier commented on #299
Si, totalmente de acuerdo Fede. Yo me refiero a que se vea lindo en la
nueva web. Totalmente.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-04-19 11:02 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-19 14:05] LeandroBraier commented on #204
Está perfecto así Fede. Gracias!

El simulador de fachas Parex podemos hacer lo mismo? Creo que ya estaba
pero por las dudas pasame link para chequear.

2016-04-19 10:49 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-19 15:41] FAAREIA commented on #254
Ahi va el calculador de consumo.
![calculador-de-consumo](https://cloud.githubusercontent.com/assets/6184969/14645425/f8d9e60a-062b-11e6-99b8-4b5a0fe62d96.png)

[2016-04-19 17:15] LeandroBraier commented on #254
La estética está genial. Fijate que el cálculo no está bien como se los pasé. Pero más allá de eso, la comparación es entre "REVESTIMIENTO" vs "ENDUIDO + PINTURA" no como lo pusieron acá.

Se puede agregar una etapa más con la textura final del producto?

[2016-04-19 17:16] LeandroBraier commented on #254
Perdón, olvidate. Solo tendríamos que agregar un link que diga: "VER TEXTURA FINAL APLICADA" y una imagen tipo Simulador de Fachadas.

[2016-04-19 18:01] LeandroBraier commented on #254
@FAAREIA al final no van los instructivos específicos para distintos softwares, así que te lo corregí en [este ticket](https://github.com/LeandroBraier/Klaukol/issues/254#issuecomment-203432930)

abrazo

[2016-04-20 19:17] LeandroBraier commented on #296
@mkreyness en el CMS sigue pasando esto pero en front se ve bien, hay forma de resolver?

[2016-04-20 19:21] mkreyness commented on #296
Seguro ? Lo habia arreglado hace unos dias revisando otras cosas, sin haber visto este issue.
Siempre es por los cambios de server que hace duplika, pero sacandole un forzado de utf-8 se arregla.
Si lo ves en alguna pagina puntual avisame, capaz son datos que se cargaron mientras estaba todo feo y ahora al enderezar el resto se torcio eso.

[2016-04-20 19:33] LeandroBraier commented on #296
Es en el CMS. Por ejemplo, en los slides de Vendedores:

<img width="1145" alt="captura de pantalla 2016-04-20 a las 4 50 48 p m" src="https://cloud.githubusercontent.com/assets/6719872/14687666/27ac52ee-0715-11e6-9e60-c2005322a1f9.png">

<img width="1148" alt="captura de pantalla 2016-04-20 a las 4 50 54 p m" src="https://cloud.githubusercontent.com/assets/6719872/14687674/31f6dc9c-0715-11e6-848a

[2016-04-20 19:42] mkreyness commented on #296
son nuevos ? Me suena a que deben ser cosas que se cargaron DURANTE esta transicion que te digo.
Es cuestion de reescribir el texto nomas.

[2016-04-20 19:43] LeandroBraier commented on #296
Ah... a ver... Nop.

Ahi lo chequeé y por más que reescriba siguen apareciendo así.

[2016-04-20 19:49] mkreyness commented on #296
es un bolonqui porque entraron cosas con distintos encodings en distintos momentos, al migrar los datos de un equipo a otro quedo todo en una situacion diferente a lo nuevo que se ingresara.
Ahi hice un par de ajustes, en el CMS los veo bien, pero hay que ver si ahora salen bien en la pagina real.

[2016-04-20 19:53] LeandroBraier commented on #296
Ahora si, todo perfecto en ambas comunidades. Gracias MK!

[2016-04-20 23:02] LeandroBraier opened #300 "URGENTE Bug en Trivia Comunidad de Vendedores"
@mkreyness te paso una trivia nueva:

http://www.parexklaukol.com.ar/cgi-bin/trivia.pl?id=99

usuario=LeandroBraier
clave=parexklaukol

Es una trivia común y corriente, igual a la anterior de "Predecí el superclásico" pero la diferencia es que hay 5 preguntas en vez de 1. Al igual que en aquel caso, todas las respuestas son correctas. Sin embargo, al final, me dice que algunas respuesta fueron cor

[2016-04-20 23:04] LeandroBraier commented on #300
Estoy viendo que el ID del juego es raro, porque no tenemos 99 dinámicas creadas.

[2016-04-20 23:09] LeandroBraier opened #301 "Nueva Dinámica de Codigo para el Viernes 22/04"
@mkreyness y @FAAREIA necesito para el viernes al mediodía la posibilidad de crear un nuevo tipo de dinámica en la Comunidad de Vendedores de Parex: es simple. EL usuario solo debe ingresar un código que recibe en un flyer y si es correcto gana los puntos.

Mi idea es: subimos una lista de códigos alfanuméricos y los vendedores tienen que ingresar el código en un campo de texto. Si el código coinc

[2016-04-21 00:08] mkreyness commented on #301
No entiendo bien la mecanica. A cada vendedor se le va a dar un codigo propio, o cualquiera puede ingresar cualquiera ? El que se ingresa, no se puede volver a ingresar ? (mismo u otro vendedor)

[2016-04-21 00:30] LeandroBraier commented on #301
Cada vendedor suma 1 sola vez. Puede ingresar su código o el de otro, no
hay problema, pero cada código ingresado suma puntos 1 sola vez. Si esto
último es un lío hacerlo no es imprescindible. Que el límite sea que el
usuario puede sumar puntos 1 sola vez, no importa el código.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On

[2016-04-21 01:00] mkreyness commented on #301
Pero digo, el codigo no deberia ser reutilizado, ni por si mismo ni por ningun otro vendedor.
Como se reparten los codigos entre los vendedores ?

[2016-04-21 01:02] mkreyness commented on #300
el id de una trivia no es el del TEMA, sino el del JUEGO, si hay 99 juegos.
Ahora me fijo.

[2016-04-21 01:14] mkreyness commented on #300
estas seguro que esto ya se habia usado asi ? No era mas bien que los puntos lo ganaba el que acertaba y las opciones eran tipo solo BOCA/RIVER y no habia EMPATE, y salio EMPATE, con lo cual no gano nadie ?
Lo que esta pasando aca es que en realidad no funciona ponerle a TODAS que son correctas, porque lo que el programa hace no es ver si la opcion elegida tiene tilde de correcto, sino que busca c

[2016-04-21 01:17] LeandroBraier commented on #300
Eso es rarisimo MK, nunca funcionó así.

En trivias normales, el sistema siempre tomó como correcta la que aparece
como correcta.

Compará esta con la Trivia del Superclásico anterior, ahí vas a ver que
estaba igual. Todos suman los 100 puntos. Después, los que acertaron el
resultado del partido les ibamos a sumar manualmente 200 puntos más por
haber acertado. Como justo hubo empate no acertó nadi

[2016-04-21 01:20] mkreyness commented on #300
Pero siempre marcabas solo UNA respuesta correcta, eso es lo normal, nunca deberia haber MAS de una respuesta correcta.
Aca marcaste las TRES como correctas.
Igual ya esta, ya lo arregle, pero en la parte que LISTA las "respuestas correctas", nuevamente, cual pone ? NO tiene sentido, para mi este tipo de cosas tendria que manejarse mas como un "quiz" que como una trivia.

[2016-04-21 01:25] mkreyness commented on #300
tampoco encuentro cual es el anterior para comparar. Pasame el link si lo tenes.
Ojo que ESTA trivia nueva ya figura PUBLICADA, hay gente que ya la jugo.

[2016-04-21 01:48] LeandroBraier commented on #300
Gracias MK. Ahi lo despubliqué.

Al final en los resultados siempre debe decir que respondió todas correctas y listo. No sé por qué puede ser un problema si todas las respuestas están marcadas como correctas. Insisto que el caso anterior anduvo bien. Te paso link:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=37

[2016-04-21 02:04] mkreyness commented on #300
ahora anda igual que el nuevo, porque ya esta tocado el programa. La verdad no se que podria haber estado haciendo antes que saliera bien, pero conceptualmente es lo mismo.
Dice "Gana Boca", porque es la primer opcion correcta de la lista, aunque vote "gana river" o "empate", siempre dice "gana boca".
Tendria que inhibir que no salga una lista de respuetas correctas si no existen las respuestas in

[2016-04-21 02:11] LeandroBraier commented on #300
Exacto. COn eso lo solucionamos.

[2016-04-21 02:20] mkreyness commented on #300
ok, en un rato lo hago

[2016-04-21 05:04] mkreyness commented on #300
listo

[2016-04-21 11:46] LeandroBraier commented on #300
GRacias MK!!

[2016-04-21 11:55] FAAREIA commented on #301
Se podría poner un pop-up apenas se loguee. El pop-up dejaría de aparecer cuando ya puso 1 código válido o cuando ya pase esta promo. No debería de reaparecer cuando ya puso un código válido ya que encima no le vuelve a sumar puntos.

[2016-04-21 11:56] LeandroBraier commented on #301
Unos cupones impresos. Pero no es tan importante que no se repita el
código, porque lo que quiere el cliente es que conserven el flyer y vayan a
la comunidad. Si varios usan el mismo código no es grave porque significa
que igual tiene el flyer.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Apr 20, 2016 at 10:00 PM, mk

[2016-04-21 11:56] FAAREIA commented on #254
Hay alguna ejemplo de una textura aplicada? Son varios productos.

[2016-04-21 12:01] LeandroBraier commented on #254
Te paso acá un ejemplo de un flyer:

![nuevo aviso notirex](https://cloud.githubusercontent.com/assets/6719872/14708204/a2ffc6a8-079f-11e6-98bf-15f41c79cca4.jpg)

La idea es que sea o bien la textura sola en un recuadrito o una foto como la de atrás, no un aviso exactamente igual a este.

[2016-04-21 12:03] #300 closed, assigned to mkreyness

[2016-04-21 12:17] mkreyness commented on #301
Ok, vuelvo entonces a donde deberia aparecer esto: como un juego mas en la lista ? Porque si es asi, es un nuevo TIPO de juego, y requiere un poco de testing, si la maqueta está hoy a la tarde puedo hacerlo a la noche, ya mañana viernes no tengo cuando

Enviado desde mi iPhone

[2016-04-21 12:30] FAAREIA commented on #204
http://www.parexklaukol.com.ar/simulador_muestra.html
Al simulador le falta toda la programación y generar los colores y texturas en conjunto con quien lo programe.

[2016-04-21 12:35] FAAREIA commented on #254
Mmmm, este agregado lo dejaría para la versión 1.1 del sitio.
Por ejemplo:
- Varios o muchos productos no tienen su textura en su respectiva página
- Hay productos que tienen más de 1 color, que pasaría en esos casos?
- Si quieren pintar una imagen con el color de la textura, no se va a ver la textura sino el color. En caso de que el producto tenga varios colores, cuál se elegiría?

[2016-04-21 12:53] LeandroBraier commented on #254
Me parece bien Fede. Dejemoslo entonces para versiones futuras. No es
imprescindible, solo quería consultar. Avancemos sin eso entonces.

abrazo

2016-04-21 9:35 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-21 12:57] LeandroBraier commented on #204
Ok, avancemos. En cuanto a la foto de arriba quitemosla y hagamos igual que
con el Calculador. Que quede en blanco sin foto y más angosto.

En cuanto a la programación no sé qué falta pero a mi me funciona el
Simulador.

On Thu, Apr 21, 2016 at 9:30 AM, Federico Arena notifications@github.com
wrote:

[2016-04-21 12:58] LeandroBraier commented on #301
Exacto. Dale, no hay problema. COntá conmigo cuando necesites hacer testeo
y demás.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-04-21 9:17 GMT-03:00 mkreyness notifications@github.com:

[2016-04-21 13:11] FAAREIA commented on #301
es un juego entonces?

[2016-04-21 13:17] LeandroBraier commented on #301
Si, pero muy simple. Solo tiene un campo para escribir un código. Nada mas.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Apr 21, 2016 at 10:11 AM, Federico Arena notifications@github.com
wrote:

[2016-04-22 12:20] FAAREIA commented on #281
Acordate del logo lea
Abrazo

[2016-04-22 12:27] LeandroBraier commented on #281
Si, Fede. Gracias por recordar! Calculo que hoy te lo paso, viene medio
atrasado de diseño la versión final.

On Fri, Apr 22, 2016 at 9:20 AM, Federico Arena notifications@github.com
wrote:

[2016-04-22 12:33] FAAREIA commented on #301
http://www.parexklaukol.com.ar/vendedores/juego-formulario.html
Cuando sume los puntos, lo mandaría al home o al listado de juegos y le mostraría el mensaje típico de que ya ganó puntos. Avisame si queres que te lo prepare marce @mkreyness

[2016-04-22 12:38] LeandroBraier commented on #301
Está perfecta la maquetación Fede! Avisame @mkreyness cuando esté funcional y le pueda cambiar el nombre a la dinámica así le aviso al cliente. El código necesita ser de determinada longitud o es lo mismo?

Para mi lo ideal sería que fuera la estructura así: 9 caracteres alfanuméricos.

`p4r3x2016`

Una cosa así. Lo ves OK?

[2016-04-22 17:18] FAAREIA commented on #254
Productos

![productos](https://cloud.githubusercontent.com/assets/6184969/14749285/07385f9a-0895-11e6-871f-43d9edae6fe1.png)

[2016-04-22 17:48] LeandroBraier commented on #254
Está bueno Fede! Se puede achicar un poco la barra fuxia de arriba? Más angosta y equidistante por arriba y por abajo de la palabra PRODUCTOS?

Una idea: por un tema de SEO, no sería bueno poner un texto descriptivo en fuente más chica ahi? para aprovechar un poco más el espacio también?

[2016-04-22 19:24] mkreyness commented on #301
Cuando entra de nuevo al juego deberia aparecerle "Hecho".
En el listado de juegos (que es generico) yo no meteria cosas especificas de un juego que gano puntos, puede complicar la logica de otras cosas. Yo preferiria si volviera a ESTA MISMA maqueta, con el cambio a "Hecho" y el popup que diga que gano los puntos. Para volver a la lista de juegos que haga click en algo que diga "SEGUI JUGANDO" o

[2016-04-23 03:31] mkreyness commented on #301
Bueno mas o menos me las arregle con lo que habia, no le aparece "hecho" si entra de nuevo, pero si trata de mandar un codigo le devuelve que ya habia ganado XXX puntos ingresando un codigo antes.
Resumiendo quedo asi:
- en el CMS agregue un nuevo tipo de juego que se llama "Codigo".
- Agregue un TEMA (no publicado obviamente) que se llama "Ingresa tu Codigo"
- Agregue un JUEGO de tipo "Codigo" qu

[2016-04-23 03:33] mkreyness commented on #301
me comi la "L" de "klaukol" en el URL, es

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=48

[2016-04-23 04:03] LeandroBraier commented on #301
Muchas gracias MK! Mañana lo veo bien en detalle y te confirmo por las
dudas.

Abrazo grande
El abr. 23, 2016 12:33 AM, "mkreyness" notifications@github.com escribió:

[2016-04-25 12:22] FAAREIA commented on #254
Hola Lea, lo de la barra se puede achicar pero quedaría muy finita. Mi idea también es hacerle hago a la barra, aún no se me ocurrió qué pero ponerle alguna gráfica más. Con respecto al texto extra, mucho mejor si hay uno, el tema es que el sitio actual de revear tiene tan poco contenido que no sabría que poner para cada sección que tiene la barra roja de apertura.

[2016-04-25 12:42] LeandroBraier commented on #254
Entiendo Fede. Espero tu propuesta y voy preparando los textos para cada
categoría.
Abrazo
El abr. 25, 2016 9:22 AM, "Federico Arena" notifications@github.com
escribió:

[2016-04-25 17:28] LeandroBraier commented on #301
Saquemos el Like MK. Lo demás está perfecto. Cuando tenga la lista de códigos te aviso. Gracias!

abrazo

[2016-04-25 17:28] #301 closed, assigned to mkreyness

[2016-04-25 17:31] LeandroBraier opened #302 "Sumar puntos a los que acertaron esta dinámica"
@mkreyness hoy terminan los clásicos y tenemos que sumar los puntos que correspondan a los que acertaremos al menos 1 de las 5 preguntas de esta trivia:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?&id=47

Creo un juego oculto que sume los puntos y te paso la lista de los que acertaron así vos les sumás los puntos de ese juego. Está OK el procedimiento?

[2016-04-25 19:08] mkreyness commented on #302
1) hay que deshabilitar el juego asi no pueden votar con los resultados sabidos, ya lo deshabilitaste ?
2) carga un juego de tipo "actividad" para este caso que sea "acertar con un superclasico" o algo por el estilo. Al no tener un TEMA, queda automaticamente "oculto", como vos decis.
3)  marcame en la trivia como correcta solo la opcion que corresponda en cada caso y yo a quienes hayan acertado l

[2016-04-25 20:56] LeandroBraier commented on #302
1) Hecho.
2) Hecho.
3) Hoy es el último partido. Mañana te modifico eso en la trivia, te parece?

Gracias!

[2016-04-25 20:59] mkreyness commented on #302
3) mira que 9:30 am yo me voy y no hay garantias de que me pueda reconectar antes de las 4. Si podes hacerlo temprano mejor asi nos lo sacamos de encima.

[2016-04-25 21:04] LeandroBraier commented on #302
Dale, lo hago hoy de ultima y ya te queda.

2016-04-25 17:59 GMT-03:00 mkreyness notifications@github.com:

[2016-04-25 23:05] LeandroBraier commented on #302
@mkreyness ya los subí. Este cambio no le quita los puntos a los que ya sumaron 100 no? POrque todos los que participaron tienen que sumar 100. A los que acertaron al menos 1 partido se les suman 200 puntos más del nuevo juego que te creé, que se llama "Acertar el clásico."

abrazo

[2016-04-26 00:44] mkreyness commented on #302
Los puntos otorgados no hay nada que los quite, no se reevaluan las respuestas.
Ok, en un rato les agrego 100 puntos del juego nuevo a quienes corresponda.

[2016-04-26 00:54] LeandroBraier commented on #302
Dale joya.

Ojo que son 200 puntos los del juego nuevo.

Abrazo
El abr. 25, 2016 9:44 PM, "mkreyness" notifications@github.com escribió:

[2016-04-26 01:01] mkreyness commented on #302
200.

[2016-04-26 13:30] FAAREIA commented on #254
Ahi van todas las pantallas juntas, al algunas les agregué un detalle mínimo. Esta la página de "Producto" hecha. Faltaría diseñar 3 secciones, pero me tengo que poner con siguit.

![home](https://cloud.githubusercontent.com/assets/6184969/14819679/a61be562-0b99-11e6-8f13-9056f177dce4.png)
![calculador-de-consumo](https://cloud.githubusercontent.com/assets/6184969/14819680/a63db174-0b99-11e6-8268-

[2016-04-26 18:09] LeandroBraier commented on #254
Gracias Fede!!! Están buenisimos!!!! Los muestro al cliente para aprobar!!

abrazo

[2016-04-27 00:55] LeandroBraier commented on #302
Esto ya está MK? Confirmame nomás.

abrazo

[2016-04-27 00:55] LeandroBraier commented on #299
@FAAREIA te cierro este ticket porque ya queda dentro de la nueva web no?

[2016-04-27 00:57] LeandroBraier commented on #281
@FAAREIA disculpame la demora. Todavía no está confirmado el Logo. Espero mañana poder confirmartelo. Te voy pasando un adelanto para que tengas en cuenta que la idea es que todo sea igual a la Guía de corralones salvo el logo de arriba y el fondo, que va a ser de color negro. Este logo no es el final. De hecho va a ser más vertical, como el de la Guía de Corralones.

![logo01-2-01](https://cloud.

[2016-04-27 01:05] LeandroBraier commented on #296
@mkreyness fijate: en novedades los veo mal a los tildes ahora. FIjate el título de la nota en esta captura.

<img width="184" alt="captura de pantalla 2016-04-26 a las 3 04 27 p m" src="https://cloud.githubusercontent.com/assets/6719872/14838667/0868f470-0bfa-11e6-9ea7-67d385499da9.png">

Otra cosa que noto en novedades es que la URL se arma con tildes, eso no puede provocar problemas después?

!

[2016-04-27 01:07] mkreyness commented on #302
Si, lo hice anoche, parece que no te confirme entonces.

[2016-04-27 01:08] mkreyness commented on #296
Todo mal. Ahora reviso.

[2016-04-27 01:09] LeandroBraier commented on #302
Gracias @mkreyness ! Joya entonces. abrazo

[2016-04-27 01:09] #302 closed, assigned to mkreyness

[2016-04-27 01:55] noelia24 opened #303 "empesando con hojas de estilo"
## necesito ayuda para colocar una imagen, al lado un link que esta en php

[2016-04-27 02:13] #303 closed, assigned to nobody

[2016-04-27 02:22] mkreyness commented on #296
Listo, con los cambios de server de Duplika directamente los acentos que estaban en el codigo para detectar y reemplazarlos en URLs por las vocales no-acentuadas se habian estropeado.
Y por otra parte nunca funciono con MAYUSCULAS acentuadas, que era lo que tenia esto del "Indice Construya". Ya lo arregle. Lo que si habria que revisar si no se jorobaron URLs en otras news aparte de estas dos, hay

[2016-04-27 03:49] LeandroBraier commented on #296
Gracias MK! Mañana reviso por las dudas todo. Abrazo grande
El abr. 26, 2016 11:22 PM, "mkreyness" notifications@github.com escribió:

[2016-04-27 13:32] LeandroBraier commented on #254
@FAAREIA te paso algo de feedback específico de detalle de todo esto. No es a nivel diseño, eso te lo paso cuando tenga feedback del cliente

HOME

Quitar certificados. Poner los únicos 2 logos que hay abajo de todo, sobre el footer negro.

CALCULADOR DE CONSUMO

Insisto: la comparación es entre "REVESTIMIENTO" VS "ENDUIDO Y PINTURA". Por favor borrá donde dice SOLO REVESTIMIENTO y reemplazá por "

[2016-04-27 13:47] LeandroBraier commented on #254
Acá te paso los subtítulos para cada sección.

TENDENCIAS
Ideas, propuestas y soluciones de estilo para construcción y remodelación

PRODUCTO
Revestimientos: protección, textura y color

PREGUNTAS FRECUENTES
Respuestas claras y directas sobre el mundo del revestimiento

VENTAJAS DEL REVESTIMIENTO
Por qué hoy el revestimiento es tendencia mundial

DESCARGAS (Recordá que cambió de nombre, ahora es:

[2016-04-27 14:19] LeandroBraier commented on #296
Ahora si, todo perfecto. Gracias! abrazo

[2016-04-27 14:19] #296 closed, assigned to FAAREIA

[2016-04-27 19:09] LeandroBraier opened #304 "Newsletter Mayo ParexKlaukol. 28/04"
@FAAREIA necesitaría que, sobre la misma base del newsletter pasado, armes el newsletter de mayo. Llegás para mañana aunque sea a la tarde?

[Contenidos Newsletter ParexKlaukol MAYO Corregidos el 27-04.docx](https://github.com/LeandroBraier/Klaukol/files/239313/Contenidos.Newsletter.ParexKlaukol.MAYO.Corregidos.el.27-04.docx)

abrazo

[2016-04-27 20:15] LeandroBraier commented on #304
Ahi te reemplacé el archivo porque agregué una pequeña novedad. Son las 17.30 hs. Bajalo de vuelta para estar seguros. abrazo

[2016-04-27 21:18] FAAREIA commented on #304
Vamos a tratar de llegar, mañana justo me tengo que ir casi todo el día. Lo vi por arriba pero noté que agregaron un texto de bajada a las últimas noticias, lo cual no estaba contemplado en la base del template. ¿tiene que ir?
Con respecto al diseño de revear no vamos a llegar para el viernes, igual falta poco y el viernes seguro hay 1 o 2 pantallas de las 3 que faltan.

[2016-04-27 21:30] LeandroBraier commented on #304
No te preocupes. Tengamos la web de Revear para el lunes.

La línea de más que decís de las últimas noticias no la pongas, solo el
título como hicimos el news pasado.

abrazo y gracias!

2016-04-27 18:18 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-28 12:29] FAAREIA commented on #304
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-04/16-04.html

[2016-04-28 12:36] LeandroBraier commented on #304
Perfecto Fede!! Mil gracias!! Lo veo hoy con el cliente.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Apr 28, 2016 at 9:29 AM, Federico Arena notifications@github.com
wrote:

[2016-04-28 20:20] LeandroBraier commented on #281
@FAAREIA te paso el logo aprobado final.

![logo01-7](https://cloud.githubusercontent.com/assets/6719872/14900086/57662518-0d65-11e6-84fe-5cb7a64b13b2.png)

Nosotros lo vemos mejor con el fondo con esa textura tipo Revear en blanco, pero si querés mantener el negro de fondo porque te parece que queda mejor mantengamoslo.

Confirmame si podemos tener esta adaptación para la semana que viene. Posibl

[2016-04-29 12:47] FAAREIA commented on #254
![texturas](https://cloud.githubusercontent.com/assets/6184969/14916270/fccd6afa-0dee-11e6-8cb2-58cf18f171b4.png)

[2016-04-29 12:50] FAAREIA commented on #281
Tendrían el logo vectorizado? o escalable?

[2016-04-29 13:03] FAAREIA commented on #281
Lo que noto en el logo y va a pasar en el sitio, es que "Guía de puntos de venta" esta muy chico con respecto a "Revear". Ya el logo es MUY vertical lo cual va a complicar para monitores de poca altura como una laptop comun de 1366x768. Agrandarlo para que se lea "Guía de puntos de venta" no me parece la solución, en el screenshot adjunto el logo ocupa 326px de alto, casi la mitad de la resolución

[2016-04-29 15:06] LeandroBraier commented on #281
Entendido Fede! Te paso en un ratito la versión ajustada. En qué formato lo preferís? PNG transparente?

Qué te pareció la idea del fondo texturado de la izquierda? Se puede o es un lío?

[2016-04-29 16:58] LeandroBraier commented on #254
Excelente Fede!!! Gracias!!! Aún no tengo el OK del diseño igual por desgracia. Voy a insistir por tel a la tarde.

abrazo

[2016-04-29 17:15] FAAREIA commented on #281
El logo no tiene que estar con textura de fondo, pasenmelo en png 24 en alta.
Algunas detalles mejorados:
* El buscador esta horizontal, eso facilita las cosas para mobile. Además queda más prolijo.
* El logo lo corté asi nomás, pero el tamaño sería ese.
* La vista de "Listado" la simplifiqué en una tabla. La info se ve mejor, más organizada y evitamos ese tema de poner la foto del local, que en l

[2016-04-29 17:36] LeandroBraier commented on #281
Está buenisimo Fede!!!

Justo para la de Klaukol vamos a empezar a subir fotos pronto pero para este guía no, así que estamos perfectos para Revear. Quedó buenísimo. Gracias!

Acá te paso el logo como me lo pedís y en más alta calidad por las dudas:

![logoguia-revear-final](https://cloud.githubusercontent.com/assets/6719872/14924204/ad1ea248-0e17-11e6-875e-d7677bb17f31.png)
![logoguia-revear-fina

[2016-04-29 20:01] LeandroBraier commented on #304
@FAAREIA te paso los links de las notas y unos ajustecitos para el lunes.

**TENDENCIAS**
http://www.parexklaukol.com.ar/novedades/todo-lo-que-querias-saber-sobre-el-boom-del-porcellanato.html

http://www.parexklaukol.com.ar/novedades/la-sustentabilidad-en-el-foco-del-debate-.html

http://www.parexklaukol.com.ar/novedades/haciendo-historia--alberto-prebisc--un-precursor-del-modernismo-en-argentino

[2016-04-29 23:28] LeandroBraier commented on #254
@FAAREIA te paso el feedback del cliente. La verdad que es mínimo, así que miralo y decime qué le respondo a las consultas que tiene y los cambios que pide. COn esto podés empezar a maquetar de una.

[Feedback Diseño Web Revear.docx](https://github.com/LeandroBraier/Klaukol/files/243347/Feedback.Diseno.Web.Revear.docx)

Faltaría mandar aún las siguientes secciones:
Ventajas del revestimiento
Empr

[2016-05-02 11:22] LeandroBraier opened #305 "URGENTE CMS Parex caido"
@mkreyness me aparece error 505 al entrar al cms de Parex. El de VIE TUR funciona OK. Porfa apenas puedas fijate porque justo hoy tengo que hacer el sorteo. Ayer andaba bien.

[2016-05-02 11:40] LeandroBraier commented on #305
<img width="1214" alt="captura de pantalla 2016-05-02 a las 8 44 25 a m" src="https://cloud.githubusercontent.com/assets/6719872/14953596/773947b0-1041-11e6-826f-97012efe885a.png">

[2016-05-02 11:41] LeandroBraier commented on #304
Buen día @FAAREIA ! Cómo estás?POrfa dale prioridad a este newsletter hoy. abrazo grande

[2016-05-02 11:50] mkreyness commented on #305
Como siempre, aplicaron algun cambio de no se que que hizo que no encuentre el path. Lo mismo que paso unos dias antes en el servidor de Benteveo. Ya hice el ajuste para que sea inmune a eso.

[2016-05-02 11:52] LeandroBraier commented on #305
Gracias @mkreyness ! abrazo grande

[2016-05-02 12:00] #305 closed, assigned to mkreyness

[2016-05-02 12:20] FAAREIA commented on #304
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-05/16-05.html

[2016-05-02 12:21] FAAREIA commented on #304
Cuando este OK al 100% avisame que hay que meter los estilos de una form especial antes de enviarlo

[2016-05-02 12:23] FAAREIA commented on #299
Creo que no hace falta que quede abierto, excepto que @mkreyness diga lo contrario

[2016-05-02 12:29] mkreyness commented on #299
No hace falta, todo lo que se haga va a ser en la nueva.

[2016-05-02 12:51] FAAREIA commented on #281
Ahi actualicé las pantallas con el logo transparente e hice unos pequeños ajustes/cambios.
El post anterior lo borre asi no ocupa tanto espacio el post.

![guia-de-puntos-de-venta](https://cloud.githubusercontent.com/assets/6184969/14954764/5ca7d8ee-104b-11e6-9af6-095717359bd2.png)
![guia-de-puntos-de-venta-2](https://cloud.githubusercontent.com/assets/6184969/14954765/5caaf588-104b-11e6-8e3c-77bc

[2016-05-02 13:06] FAAREIA commented on #254
Hola Lea, en el documento solo veo las imágenes ¿puede ser? Nada de texto.

Con respecto a los 2 perfiles en su momento había entendido que solo el contenido cambiaba. Podríamos pensar algo diferente para poner pero no lo cambiaría mucho sino vamos a tener que maquetar 2 sitios. Capas poner el fondo del encabezado en negro y a las imágenes de apertura hacerle algo distinto.

[2016-05-02 14:07] LeandroBraier commented on #254
Claro. Entiendo. En principio son los contenidos, claro. Pero el slideshow
también podria ser diferentw o  o?

Los textos del clienre están como comentarios debtro del word. No te
aparecen?
El may. 2, 2016 10:06 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-02 14:19] LeandroBraier commented on #299
Perfecto. Adelante nomas.
El may. 2, 2016 9:29 AM, "mkreyness" notifications@github.com escribió:

[2016-05-02 14:26] LeandroBraier commented on #304
Está perfecto. Muy bueno lo del texto que de achica cuando ya leiste.

Solo fijatw que el Comenzó la Expo Estilo Pilar es 22/4

Lo demas perfecto. Si podes subimelo como template a mailchimp genial. Sino
pasame el codigo html con el estilo incluido y yo lo armo.
El may. 2, 2016 9:21 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-02 15:46] FAAREIA commented on #304
Esta es la última versión:
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-05/16-05-mailchimp.html
No puedo entrar a mailchimp, ya se venció mi código. Cualquier cosa decime y me meto.

[2016-05-02 15:50] FAAREIA commented on #254
El contenido es texto, imagen y video. Se puede cambiar todo el contenido que quieras.
Los comentarios no los veo =/

[2016-05-02 16:05] LeandroBraier commented on #304
Dale, no te preocupes. Si puedo hacer copy-paste con el codigo fuente de esta URL estamos joya.

Gracias!

[2016-05-02 16:27] LeandroBraier commented on #281
Quedó buenisimo! Querés que lo mande al cliente para aprobar o ya avanzamos?

[2016-05-02 16:33] LeandroBraier commented on #254
Lo estás abriendo en word? Te paso captura:

<img width="768" alt="captura de pantalla 2016-05-02 a las 1 51 25 p m" src="https://cloud.githubusercontent.com/assets/6719872/14960205/dc915ac6-1069-11e6-8c11-70b9f00a4547.png">

[2016-05-02 16:33] LeandroBraier commented on #281
Se lo mando y te digo.

Aprovecho a consultar: chequearon la geolocalización de la guía con Mobile? Yo probé en SAMSUNG Android y no me funcionó. Testeen forma que funcione bien.

abrazo

[2016-05-02 16:35] #304 closed, assigned to FAAREIA

[2016-05-03 13:03] LeandroBraier commented on #281
Los diseños están OK Fede! Avancemos!

Solo me pidieron que no olvidemos incluir links a los puntos de venta en la lista de puntos de venta encontrados. Sería una columna más y clickeable.

Consulta:SI hago clic en la ubicacion del punto de venta dentro del mapa, me aparecería una imagen del mismo si la subo en el cms?

[2016-05-03 13:29] FAAREIA commented on #281
Qué link es el del punto de venta? el sitio web?
Con respecto a la imagen si marce lo prepara si se podría, y creo que hasta ya esta programado para eso.

[2016-05-03 13:59] LeandroBraier commented on #281
Perfecto. Si el link es la pagina web. Hay un campo para eso en el cms.
El may. 3, 2016 10:29 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-03 14:43] FAAREIA commented on #254
Si, ahora lo voy a abrir en un word, tengo OpenOffice.
Va la pantalla empresa refaccionada. Espero que guste.
![empresa-copia](https://cloud.githubusercontent.com/assets/6184969/14986884/0fe1acd6-1124-11e6-951f-ef88cfee9ccc.png)

[2016-05-03 14:45] FAAREIA commented on #281
Si, de hecho el nombre del local podría llevar el link al sitio, su dirección a un google maps y el telefono que sea un link que llame, lo cual solo funcionaría en mobile.

[2016-05-03 14:49] LeandroBraier commented on #254
Hermosa quedó Fede!!! Muy buena!! Gracias!

On Tue, May 3, 2016 at 11:43 AM, Federico Arena notifications@github.com
wrote:

[2016-05-03 14:51] LeandroBraier commented on #281
Excelente eso! Todavia mejor!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, May 3, 2016 at 11:45 AM, Federico Arena notifications@github.com
wrote:

[2016-05-03 14:56] #299 closed, assigned to FAAREIA

[2016-05-03 15:08] LeandroBraier commented on #204
@FAAREIA repasando este ticket:

1) El Calculador está frenado, esperando feedback del cliente. De todas formas, para avanzar podrías cambiarle la foto de arriba por una estética similar a la que tiene ahora la Casa Interactiva.

2) La Casa Interactiva ya está entregable, no? Confirmenme y la mando al cliente para aprobar y subir.

3) El Simulador de Fachadas Parex ya está entregable? Si es así lo

[2016-05-04 13:14] LeandroBraier opened #306 "Liberen a Pase de Gol"
@mkreyness necesito que para el próximo lunes, 9 de mayo, el juego Pase de Gol que está actualmente en la Comunidad de Vendedores (y sigue funcionando) permita sumar puntos de forma ilimitada hasta el día 31 de mayo.

Me confirmás si se puede y cuando lo hayas aplicado?

Puede quedar desde este viernes sin problema.

abrazo

[2016-05-04 13:17] mkreyness commented on #306
Si, no hay problema.

[2016-05-04 13:19] LeandroBraier commented on #306
Gracias MK!

[2016-05-04 13:42] FAAREIA commented on #254
Ahi va la última ^_^
![ventajas-del-revestimiento](https://cloud.githubusercontent.com/assets/6184969/15015922/eab86c8a-11e4-11e6-8260-c6fd2ce18dba.png)

[2016-05-04 14:16] LeandroBraier commented on #254
Lo veo bien en estructura y contenido, Fede! Lo único los íconos no me terminan de cerrar. Es como si vinieran de otra página web. En la actual de Revear que estas diseñando son todas líneas finas y dos o tres colores. Yo los aplicaría en blanco y negro o en el azul de revear y negro y con línea más fina, no tan gruesa. Se puede?

[2016-05-04 14:22] FAAREIA commented on #254
Si, tenes razón. Le voy a dar otra vuelta como vos decis.

[2016-05-04 16:02] FAAREIA commented on #254
Ahi lo hice colorido/vivo pero con íconos líneas transparentes ^^
Estuve viendo el .doc y casi no hay nada para corregir excepto los detalles del calculador.
Va la pantalla con el encabezado para el usuario profesional

![ventajas-del-revestimiento](https://cloud.githubusercontent.com/assets/6184969/15020442/73bd8052-11f8-11e6-89f4-9dd00f8022e1.png)

[2016-05-04 18:30] LeandroBraier commented on #254
Excelente ahora Fede! Igual el logo de 2700 colores mantenelo porfa, ese sí dejalo tal cual porque es de la marca.

En cuanto al feedback te estás olvidando de los siguienteS:

HOME: quitar la línea de certificados.

EJEMPLO DE PRODUCTO: Quitar el logo de 2700 colores a todos los productos. Solo se lo agregaremos a los que corresponda por Ficha técnica.

TENDENCIAS: Agregar embed Pinterest

CONTAC

[2016-05-04 18:33] LeandroBraier commented on #254
Cuando tengas las pantallas corregidas porfa volvelas a subir así se las mando al cliente ya finales. Cuándo crees que podremos tener todo maquetado y listo para subirle imágenes en el CMS?

[2016-05-05 12:50] FAAREIA commented on #254
Hola Lea, el tema con algunos ajustes es que tengo que perder tiempo en poner info real. Por ejemplo, el mapa de contacto obviamente va a ser el del showroom, no lo puse para apurar las cosas o el ejemplo de producto le puse todas las variables posibles que tendría un producto, no hay que mirar la info la cual va a la real en el entorno real.
Igual queres que se los mandemos asi?

[2016-05-05 12:51] FAAREIA commented on #254
Igual que las fotos de cada sección, después quedarán o cambiarán.

[2016-05-05 13:13] LeandroBraier commented on #254
Buen día @FAAREIA ! Vamos por paso. Lo que necesito es esto:

1) Hoy lo antes posible pasar las correcciones que te pedí ayer en capturas/ mock up como venimos entregando. Las repaso:

VENTAJAS DEL REVESTIMIENTO: el logo de 2700 colores mantenelo porfa, ese sí dejalo tal cual porque es de la marca.

HOME: quitar la línea de certificados.

EJEMPLO DE PRODUCTO: Quitar el logo de 2700 colores a todos

[2016-05-05 13:28] FAAREIA commented on #254
Lo del showroom en contacto es solo cambiar el mapa google no?

[2016-05-05 13:32] LeandroBraier commented on #254
Sip. Es eso.

[2016-05-05 14:02] FAAREIA commented on #254
Ahi van las correciones.
La maquetación llevaría 48hs hacerla y 20hs+ lo responsivo. Si todo el tiempo hay cosas extras para hacer y hay poca continuidad para desarrollar la maqueta, llevaría más tiempo.
Tengan en cuenta que los diseños tienen que abarcar TODAS las variables de una pantalla, por eso es que Productos estaba asi y hasta desconozco si su contenido es el del Producto mostrado.

![vent

[2016-05-05 14:37] LeandroBraier commented on #254
Gracias Fede!!! Perfecto todo.

Hoy te paso sin falta estos pedidos.

[2016-05-05 21:26] LeandroBraier commented on #254
Va lo pedido Fede! Y consultas.
- Logo 2700 colores en vector y PNG

[Logo 2700 colores.ai.zip](https://github.com/LeandroBraier/Klaukol/files/251235/Logo.2700.colores.ai.zip)

![logo-2700-colores](https://cloud.githubusercontent.com/assets/6719872/15057697/7e16d0f2-12ee-11e6-9b35-70dacdf8391e.png)
- Logo WPT en vector y PNG

[Logo WPT.ai.zip](https://github.com/LeandroBraier/Klaukol/files/251236/

[2016-05-05 21:30] LeandroBraier commented on #254
Dale F5 al Thread que actualicé un par de cositas.

[2016-05-06 12:41] mkreyness commented on #306
Ya quedo implementado. El 1ero de junio habria que verificar que vuelva a la situacion normal.

[2016-05-06 13:26] LeandroBraier commented on #306
Me lo agendo, MK. Muchas gracias!!!!

[2016-05-06 19:50] FAAREIA commented on #204
Hola Lea
1) Ok, te aviso cuando este listo.
2) Ya esta online hace unas semanas, asi me habías dicho que haga.
3) Falta toda la programación

[2016-05-06 20:01] mkreyness commented on #204
3) Peor que hay que hacer ? Leandro dice que asi como esta le anda.

[2016-05-06 20:01] mkreyness commented on #204
"Pero"

[2016-05-06 20:51] LeandroBraier commented on #254
@FAAREIA te paso el feedback del cliente sobre la última entrega de diseño. Son detalles, pero te paso directamente las imágenes con capturas acá asi no tenés que abrir el word.

**HOME**

<img width="686" alt="captura de pantalla 2016-05-06 a las 5 14 54 p m" src="https://cloud.githubusercontent.com/assets/6719872/15084601/f122cb8e-13aa-11e6-8eb3-3d1c7cbc447f.png">

En la maquetación de la HOME,

[2016-05-09 13:59] #306 closed, assigned to mkreyness

[2016-05-09 15:17] LeandroBraier commented on #204
3) @FAAREIA vos le respondés a MK? @mkreyness vos ya le aplicaste la programación no? Yo lo veo bien. Si faltan generar colores y texturas nomás adelante. Igual esto no es prioridad. Gana Revear y FUCA.

abrazo

[2016-05-09 15:22] mkreyness commented on #204
No, yo no toque nada de aca. Estoy a full con SIGUITDS

[2016-05-09 16:55] FAAREIA commented on #204
Lo que hay hecho del simulador de fachadas es para su visualización nomás. Falta la programación basada en que estilo elegis, luego la estapa y luego el producto. Una vez elegido el producto, trae colores que pueden tener o no texturas. Una vez que se hizo todo eso, hay que generar el link para facebook, twitter, PDF e email

[2016-05-09 16:56] FAAREIA commented on #254
Todo ok, lo tengo en cuenta para la maqueta.

[2016-05-09 17:14] mkreyness commented on #204
Entonces primero hay que implementar toda esa logica en la base de datos, que nunca estuvo (lo unico que hicimos con el viejo simulador fue trucarle los links a productos, y en la "casa interactiva" solo pusimos que productos estaban relacionados con cada parte de la casa.
Se sabe que productos van con que colores y texturas ?

[2016-05-09 17:21] LeandroBraier commented on #204
En el simulador de fachadas van todos los productos Parex que están
cargados en el CMS.
El may. 9, 2016 2:14 PM, "mkreyness" notifications@github.com escribió:

[2016-05-09 17:24] mkreyness commented on #204
claro pero que productos van con que fachada/que etapa/que colores/que texturas es una logica que hay que armar, digo que no se si la tenemos explicita en algun lado. Yo puedo implementar las tablas, pero sabemos que contenido ponerles ?

[2016-05-09 17:37] LeandroBraier commented on #204
Son las mismas del simulador actual. Crei que eso ya lo teniamos o no Fede?
Si no es asi avisame pero tenia entendido que todo lo de contenidos lo
teníamos resuelto hace mil.
El may. 9, 2016 2:24 PM, "mkreyness" notifications@github.com escribió:

[2016-05-09 17:39] mkreyness commented on #204
Nunca se paso a una base de datos NUESTRA eso, funciona internamente en el viejo simulador de milagro, pero no sabemos bien de donde sale. Seguramente esta en tablas de una base tomada del backup de ellos, cuyo contenido no tocamos ni conocemos bien.

[2016-05-09 17:39] FAAREIA commented on #204
La lógica esa esta online, creo que nadie la recopiló en su momento.

[2016-05-09 17:54] LeandroBraier commented on #204
Ok. Que necesitan? Un excel? Diganme las columnas y se los armo.
El may. 9, 2016 2:39 PM, "Federico Arena" notifications@github.com
escribió:

[2016-05-09 18:12] mkreyness commented on #204
Algo que vincule cuando hay que mostrar que cosa, no tengo idea bien como funciona la relacion.

[2016-05-09 18:23] LeandroBraier commented on #204
Ok. Aclarame vos Fede porfa, cuales son los parámetros que necesitás así
armo las columnas que te sirvan.

On Mon, May 9, 2016 at 3:12 PM, mkreyness notifications@github.com wrote:

[2016-05-09 18:40] FAAREIA commented on #204
El relevamiento es grande.
1. Primero esta el Estilo
2. Después la etapa del proyecto
3. Ahi te trae Productos
4. Al seleccionar uno te trae colores
5. Al seleecionar un color puede haber texturas.

Habría que armar un arbol con todo esto.

[2016-05-09 18:43] LeandroBraier commented on #204
Entiendo. Te paso el árbol que armé para el calculador para que el cliente me lo confirme. Decimes i te sirve esta estructura te lo paso así:

[Arbol de Opciones Calculador Klaukol.xlsx](https://github.com/LeandroBraier/Klaukol/files/255651/Arbol.de.Opciones.Calculador.Klaukol.xlsx)

[2016-05-09 18:45] FAAREIA commented on #204
Si sirve

[2016-05-09 19:23] LeandroBraier commented on #204
Perfecto. Más tarde lo tenés, igual recordá que la prioridad es Web Revear.

abrazo

On Mon, May 9, 2016 at 3:45 PM, Federico Arena notifications@github.com
wrote:

[2016-05-10 19:35] LeandroBraier commented on #254
@FAAREIA cómo venís? Cuando vamos a tener la Home para entregar? Creés que podremos tenerla para mandar mañana a primera hora?

Te paso aquí ajustes para los textos de las secciones VENTAJAS DEL REVESTIMIENTO Y TEXTURAS. Los cambios van marcados en amarillo y lo que se va queda tachado, por si te es más fácil corregir que reemplazar todo. Sino avisame como preferís.

[Nuevo Contenido Diferencial W

[2016-05-10 19:36] LeandroBraier commented on #281
Cómo venís con este @FAAREIA ? Lo podremos mostrar mañana online?

[2016-05-11 12:03] FAAREIA commented on #281
Hola Lea, todavía no la empecé y no creo que lo haga hasta el final ya que sería como algo "adicional" del sitio. Si queres la hago después del home, avisame

[2016-05-11 12:09] LeandroBraier commented on #281
Buen día Fede! Decime porfa en qué tiempos tenemos cada cosa porfa así te
puedo ordenar las prioridades. Hoy tenemos la Home lista? Podríamos tener
para mañana el resto de la web Revear?

Si estás muy jugado dale prioridad a la web antes que a la Guía, pero
habíamos hablado de tener todo listo hoy te acordás? Esta semana al menos.
Confirmame porfa porque el cliente me está muy encima con esto.

20

[2016-05-11 12:10] FAAREIA commented on #254
No creo llegar para hoy a hacerla entera, mañana si
Por otra parte, cual es el facebook y el pinterest de revear?

[2016-05-11 12:14] FAAREIA commented on #281
Ok, le doy prioridad a la web. El tema de los tiempos, te había dicho el 5 mayo ([ver post](https://github.com/LeandroBraier/Klaukol/issues/254#issuecomment-217162785)) que me va a llevar unas cuantas horas. Desde el 5 de mayo a hoy inclusive solo pasaron 20hs. Es imposible tenerla para hoy, aun si no tuviese otros clientes que atender.
Estoy avanzando rápido y mañana puede estar el home pero la s

[2016-05-11 12:30] LeandroBraier commented on #254
Ok, Fede. Por lo que me decís acá y en el otro ticket entonces las fechas quedarían así:

HOME: Entregamos hoy (sin responsive)
RESTO DE LA WEB REVEAR: Mañana (sin responsive)
GUÍA DE PUNTOS DE VENTA: Viernes (sin responsive)

Confirmame final esto porfa.

Inicialmente la fecha era el 29/4 te acordás? Yo siempre calculo que se demora más, pero ya pasaron 2 semanas más. Hay alguna forma de que le m

[2016-05-11 12:49] FAAREIA commented on #254
Los tiempos no pueden ser esos Lea, te repito:
El jueves pasado a mitad de mañana empecé con el sitio, del jueves a hoy inclusive iriamos 20hs, osea que se necesitarían 28hs más para terminar el sitio sin responsivo. Hoy voy a hacer lo posible por que este el home pero lo más seguro es mañana, y mañana seguiría con el resto de las pantallas que son 12 sin contar la guía.
Entiendo que la fecha de e

[2016-05-11 12:52] LeandroBraier commented on #254
Te pasé fotos y textos, Fede. En un ticket más arriba, no lo viste? Versión
profesionales y version usuario finales.

FECHAS: Entonces ya le aviso al cliente que no llegamos con estas fechas,
Fede. Ahora POR FAVOR decime en qué fechas si llegamos con Web y Guia de
Puntos de Venta así le puedo prometer una fecha definitiva y ya esa sí no
posponerla.

2016-05-11 9:49 GMT-03:00 Federico Arena notific

[2016-05-11 12:55] FAAREIA commented on #254
Ahora lo busco entonces.
La fecha no responsive sería el viernes de la semana que viene. SOLO maqueta, sin funcionalidad. Marce obviamente puede ir metiendo programación a medida que vaya sacando pantallas pero creo que lo vamos a volver loco y todo el tiempo se tiene que meter a hacer algo.

[2016-05-11 14:09] LeandroBraier commented on #254
Por que tanto lo responsive? Eso implicaria lanzar dentro de 2 semanas,
casi un mes tarde. Por que tanto lo responsive? Cuantas hs era eso?
El may. 11, 2016 9:55 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-12 02:01] LeandroBraier commented on #254
Ya le avisé al cliente de estos tiempos Fede: que esta semana tenemos la web, a principios de la semana que viene tenemos la Guía y para fines de la semana que viene tenemos todo para hacer la delegación y lanzar a partir del 23/05. Trabajemos a full para mantener estas fechas porfa.

Te paso acá de nuevo lo del slideshow pero seleccionandote yo las fotos. Igual si necesitás cambiar alguno por est

[2016-05-12 11:34] FAAREIA commented on #254
Hola Lea, me parece medio apresurado. Te reitero otra vez que para mañana es imposible tener la web lista, por más que no duerma.
Además te dije que el viernes de la semana que viene va a estar el sitio listo pero sin lo responsivo y sin la programación, excepto que marce vaya haciendo lo suyo mientras entrego maquetas.
@mkreyness
Adicionalmente no habría que tener un tiempo extra para cargar todo

[2016-05-12 11:45] LeandroBraier commented on #254
@mkreyness vamos a tener que pasarte a esta prioridad y dejar Siguit y lo demás en segundo lugar. Dale una mano a Fede en programación, en lo que pueda ayudar Valen pasale a él. NEcesitamos llegar con estas fechas.

@FAAREIA vos me dijiste que para el viernes que viene podía estar la maqueta con responsive. LO de programación iría en paralelo Marce, confirmame Marce si vos llegás y Fede ya prometí

[2016-05-12 11:45] LeandroBraier commented on #254
Respecto de productos ya están en el CMS muchachos. Aprovechemos eso, no volvamos a cargar todo de vuelta. Es como los distribuidores. Si necesitás que cambie imágenes dentro del CMS te las cambio yo. Mientras antes esté el CMS mejor porque te puedo ayudar yo en la carga.

[2016-05-12 11:48] FAAREIA commented on #254
Lo que dije esta en [este post](https://github.com/LeandroBraier/Klaukol/issues/254#issuecomment-218450502). Era sin responsive, pero vamos a hacer lo posible para llegar con el responsive, al menos con el home que es lo primero que ven si es que lo ven.
Creo que de Revear no hay nada en el CMS, son solo archivos HTML sueltos

[2016-05-12 11:48] FAAREIA commented on #254
Al home si llegamos, mi idea es entregarlo hoy

[2016-05-12 11:52] LeandroBraier commented on #254
Seguís sin darme fechas definitivas. Dame fechas definitivas POR FAVOR que en un rato hablo con Eze y veo si sumamos a alguien.

@mkreyness confirmame por favor. Yo veo productos y distribuidores completos en el CMS.

<img width="1352" alt="captura de pantalla 2016-05-12 a las 9 14 34 a m" src="https://cloud.githubusercontent.com/assets/6719872/15213631/d75a0faa-181e-11e6-978d-94cf8302f677.png">

[2016-05-12 12:00] FAAREIA commented on #254
Las fechas serían, siguiendo las horas estimadas, el Viernes que viene toda la maquetación y después el jueves 26 el sitio totalmente terminado.

[2016-05-12 12:01] mkreyness commented on #254
En el CMS la base de productos y distribuidores de Revear estuvo cargada desde el principio.
No entiendo donde es que tendrian que salir que no esten saliendo ya.
Lo unico que yo estoy seguro de que no esta en ningun lado cargado es el arbol ese que determina la relacion entre fachadas, productos, colores y texturas. Ya hay algo definitivo de eso ? Porque una vez que lo vea, definirlo en el CMS lo

[2016-05-12 12:04] FAAREIA commented on #254
@mkreyness cada producto ahora va a ser asi:
https://cloud.githubusercontent.com/assets/6184969/15045167/84684812-12af-11e6-91a1-17f5735c9783.png
El CMS ya esta preparado para cargar en cada caso toda la info del producto?

[2016-05-12 12:11] LeandroBraier commented on #254
Mk yo te paso ese excel que pedis y hago toda la carga necesaria en el cms.
Cuenten con eso y con todo lo que yo pueda hacer.

Fede: voy a ver con eze si podemos conseguir a alguien que te refuerce para
llegar a cerrar todo con responsive la semana que viene.
El may. 12, 2016 9:04 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-12 12:12] mkreyness commented on #254
Seguramente no todo, ya que es la primera vez que veo esa imagen @FAAREIA . Esta maquetada ?

[2016-05-12 12:15] FAAREIA commented on #254
Aún no, hoy maqueto el home y la próxima maqueta puede ser la del producto si queres.
Esa foto no es la completa igual, la completa es la siguiente que tiene lo de 2700 colores.
https://cloud.githubusercontent.com/assets/6184969/14819686/a6900118-0b99-11e6-8a86-1d0beb1415ec.png

[2016-05-12 12:24] mkreyness commented on #254
Calculen siempre que a partir de que recibo una maqueta asi compleja seran siempre un par de dias hasta tenerlo funcionando, salvo que sea fin de semana que puedo dedicarle mas horas.

[2016-05-12 12:30] LeandroBraier commented on #254
Fede, pasasela mañana a más tardar porfa asi tiene el finde MK para
trabajar más tranquilo.

MK y Fede : en cuanto al excel que necesita MK diganme especificamente qué
necesitan, como hicimos la el Simulador de Fachadas de Parex, y yo se los
paso.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, May 12, 2016 at 9:24 AM,

[2016-05-12 12:36] mkreyness commented on #254
Como lo que mandaste de muestra, las columnas son las que dijo Fede.

[2016-05-12 13:08] LeandroBraier commented on #254
Ok, pero la verdad no sé bien qué necesitan. Fede tiene archivos de texturas subidos, etc. Decime Fede qué datos van en cada columna:

Las columnas serían: fachadas/ productos/ colores/ texturas verdad?

Pro qué te pongo en cada columna? Qué va en Fachada? En Productos va el nombre del producto según el CMS? El color y la textura va nombre nada más o necesitás el nombre del archivo relacionado?

[2016-05-12 16:47] mkreyness commented on #254
Si vos vas a subir los archivos despues entrando a cada cosa en el CMS, con que me pongas el nombre que quieras que tenga (para que puedas reconocerlos) alcanza.
Si los archivos YA ESTAN subidos, entonces si, poneme el URL de cada uno.

[2016-05-12 17:12] LeandroBraier commented on #254
Eso necesiro saberbde Fede. Porque yo le pasé las texturas a el. No son en
que url estan subidas.

Ordenanos vos Fede. Hago lo que te sirva en función de colo tengas armado
el sitio.
El may. 12, 2016 1:47 PM, "mkreyness" notifications@github.com escribió:

[2016-05-12 17:22] LeandroBraier commented on #254
Muchachos, hablé con Eze y no podemos sumar a otra persona. Así que vamos a
lanzar sin versión responsive, con lo cual estamos semana presentemos
maquetado todo lo posible y terminemos el resto la semana que viene (la del
16/05) Ahi lanzamos la web y durante la semana del 23/05 aplicamos lo
responsive.

abrazo

2016-05-12 14:12 GMT-03:00 Leandro Braier leandrobraier@gmail.com:

[2016-05-12 17:52] FAAREIA commented on #254
@mkreyness el php de los include que puse no me anda cuando lo subo al server. Aún no tuve tiempo de buscar que puede ser, pero se te ocurre algo? Son solo 'include'

http://revear.benteveo.tv/index2.html

---

Yo no tengo archivos de texturas subidos. Hay que bajar las imágenes de texturas por producto, creo que en 30m se puede liquidar eso. En algunos casos no hay textura, sino color.

---

En b

[2016-05-12 18:24] mkreyness commented on #254
alguna cuestion de permisos, donde esta el php ?

[2016-05-12 22:11] FAAREIA commented on #254
/public_html/_revear-beta/inc/

---

Para el producto los campos sería los siguientes
- Categoría
- Título
- Bajada. Ej: "Nuevo Revividor de Color para Texturados"
- Imagenes para el slideshow (1104 x 384). Menos no, más tampoco. Recortar.
- Imagen del balde. Debe tener fondo transparente
- Checkbox para "2700 colores"
- Checkbox para "WPT"
- Beneficios es un listado de items
- Rendimiento a mano

[2016-05-12 22:19] mkreyness commented on #254
Wait todo esto esta en el server de BENTEVEO ?
Necesito que lo pases al server de parex, que es donde estan los productos cargados y todo lo demas.
De todos modos tampoco veo ningun php instalado en esa carpeta del server de Benteveo, solo HTMLs.

[2016-05-12 22:27] FAAREIA commented on #254
Job done:
Nuevo link: http://beta.revear.com.ar/index2.html
Todos el sitio es navegable pero claro, solo verán la maqueta sin estilizar

[2016-05-12 22:40] mkreyness commented on #254
volviendo a los campos del producto, parecen ser bastante mas de lo que tenemos en el resto de parex, ademas no puedo tocar mucho lo que hay porque es del sitio que esta funcionando, tendria que hacer una tabla aparte para productos revear del nuevo sitio, y despues a medida que el resto lo vayamos implementando siempre hacer referencia a esta.
A lo que voy es que lo que YA esta cargado no se pued

[2016-05-13 18:06] FAAREIA commented on #254
http://beta.revear.com.ar/producto.html
@mkreyness tenes idea qué puede ser lo del php?
Lo que sucede es que el HTML renderizado tiene comentada la línea del php del include.
Busqué algo por ahi del .htaccess que hace que un .html pueda interpretar php sin ser .php pero parece que no funciona online. Localmente si =/
Si ves que te va a llevar algo de tiempo "corregirlo", dejalo que yo me encargo d

[2016-05-13 18:07] FAAREIA commented on #254
Por otra parte, le falta unos ajustes mínimos a la pantalla de producto pero esta en un 90%

[2016-05-13 18:40] LeandroBraier commented on #254
Gracias Fede!! Una cosita. Estoy viendo la maqueta de index 2 y no aplicaste las imágenes y textos que te pedí al slideshow, lo cual es CENTRAL porque es lo primero que ve el cliente. Tampoco está la nota de tendencias que te pedí subir.

Sin esto subido no se lo puedo mandar al cliente igualmente, así que sigamos avanzando hasta tener eso al menos. Viéndola me gusta, es muy fiel a lo planteado, p

[2016-05-13 19:16] mkreyness commented on #254
ah pero mas vale que si no es un archivo php no va a andar. Por eso yo te decia "donde esta el php", me referia a algun archivo que terminara en .php

[2016-05-14 15:36] LeandroBraier commented on #254
@mkreyness estoy terminando de armar el excel pero me está llevando tiempo. Te paso por si te sirve tener la estructura y algunos ejemplos.

[Listado Productos Revear.xlsx](https://github.com/LeandroBraier/Klaukol/files/264585/Listado.Productos.Revear.xlsx)

A la tarde te lo paso completo. Los nombres de archivos son los nombres finales, después deberíamos completarse con la URL completa de donde

[2016-05-14 15:52] mkreyness commented on #254
No lo puedo abrir, me dice que el formato no corresponde a la extension.

[2016-05-14 16:13] LeandroBraier commented on #254
Te lo paso en un zip a ver.

[Listado Productos Revear.zip](https://github.com/LeandroBraier/Klaukol/files/264594/Listado.Productos.Revear.zip)

Ponele vos manualmente la extensión .xls a ver si te funciona. abrazo

[2016-05-14 16:17] mkreyness commented on #254
Si con .xls anduvo. Que raro, por que lo graba como xlsx si es xls ?

[2016-05-14 17:15] LeandroBraier commented on #254
En realidad es .xlsx aca. Es el office de mac que nunca anda bien. No te
preocupes. Mas tarde te lo paso entero. Te sirve asi?
El may. 14, 2016 1:17 PM, "mkreyness" notifications@github.com escribió:

[2016-05-14 17:22] mkreyness commented on #254
SI. Ojo si un dato se repite no me dejes el campo en blanco, repeti el valor. Yo capaz reordeno o filtro las filas y se despelotaria todo si algo se deja en blanco asumiendo que es igual que la fila de arriba.

[2016-05-14 18:39] mkreyness commented on #254
Ya arme todo lo dicho por @FAAREIA  del CMS de productos de Revear en un menu aparte ("Nuevo Revear"). Fede en cuanto tengas una maqueta pasamela.

[2016-05-14 19:30] LeandroBraier commented on #254
Gracias MK! Como hacés con las subcategorías?

Porque Linea Premium tiene 2. Es la única, pero son importantes.

Fijate cuando entrás al producto hay que scrollear hasta abajo bastante
para ver la página. Hay algún problema con el código del CMS.

Muestra esto: Content-Type: text/html; charset=utf-8

On Sat, May 14, 2016 at 3:39 PM, mkreyness notifications@github.com wrote:

[2016-05-14 19:32] LeandroBraier commented on #254
Consulta @mkreyness entonces puedo cargar todo por CMS yo en la semana?

Otra consulta: podrás sumar al CMS de Nuevo Revear las cargas del Slideshow y de las notas de Tendencias también? Yo digo porque esta semana entregamos la web con maquetación y contenido y habías dicho que preferís ponerte el finde con esto. Sino puede ser el lunes, todo bien.

[2016-05-14 19:36] mkreyness commented on #254
Podes cargar todas las categorias que quieras, pero no hay una jerarquia, no me avisaron. Hace falta dos niveles realmente ?
Ahora me fijo el bug que decis a ver por que lo da.
Hice esto en base a lo que paso Fede, pero ojo que no tengo la maqueta y eso es lo que mas tiempo va a llevar.
No se que necesitan para maquetar lo de "Tendencias", es como "Novedades" ? Hago una replica de lo que ya hay de

[2016-05-14 19:44] mkreyness commented on #254
ya arregle ese error que daba.
El excel que yo estaba esperando que me pasaras en realidad era el de la logica del simulador de fachadas, que tambien tengo que ver como implementar en el CMS.
Lo de categoria/subcategoria en el mockup de Fede no veo donde aplicaria.

[2016-05-14 19:46] mkreyness commented on #254
El slideshow que decis seria para la home, no ?
Porque tambien entiendo que hay un slideshow que corresponde a cada producto, por eso puse una solapa de imagenes dentro del producto.

[2016-05-14 19:50] LeandroBraier commented on #254
SLIDESHOW
Exacto. En realidad en cada producto alcanza con una foto fija, pero si es un slideshow mejor, obvio. Entonces ya cargo todos los producots en el CMS directamente o te paso el excel completo?
El slideshow principal es el de la Home, tal cual.

SUBCATEGORÍAS
Lo de las subcategorías si es importante, si se puede hacer. Si querés agregale un atributo dentro de la categoría Premium que creas

[2016-05-14 19:56] mkreyness commented on #254
Pero el simulador de fachadas no es parte de Revear ? Me estoy mezclando cosas ?

[2016-05-14 19:58] mkreyness commented on #254
Le pongo una "descripcion madre" entonces en las categorias, al elegir categoria estas eligiendo las dos cosas, y habrá mas de una que tenga como descripcion madre "Linea Premium". Con eso ya salvamos el tema.

[2016-05-14 20:09] LeandroBraier commented on #254
Entiendo. Ahora todas son Categorías salvo Línea Premium. Las 2 que son Línea Premium le agrego en descripción madre "Linea Premium"

Gracias MK!

@FAAREIA apenas puedas pasale la maqueta de Tendencias y de la Home para que pueda agregar Slideshow y notas. La parte de notas de tendencias entiendo que serían igual que en Novedades, tal cual. Confirmale vos por las dudas.

abrazo
abrazo

[2016-05-14 20:31] mkreyness commented on #254
slideshow dentro de producto:  lo hice asi porque es lo que pidio Fede. ADEMAS tengo prevista una imagen que seria la del balde que hay que superponer (dice que tiene que ser transparente) que creo que iria en dos tamaños. Yo previ dos campos (normal y thumb) pero esta como para que pegues URLs ahi, no para hacer upload de las imagenes. Lo mismo en la parte de los PDFs o el video, son todos campos

[2016-05-14 22:20] mkreyness commented on #254
Listo slides home y la parte de novedades como nunca se usó lo que ya estaba previsto para el sitio original, lo movi del menu de "Novedades" al menu de "Nuevo Revear" y listo.
Ahora lo que falta es que me confirmes si queres que las imagenes principales de producto vayan por upload o por URL,... y todas las maquetas.

[2016-05-16 13:25] LeandroBraier commented on #254
Buen día equipo!!

@mkreyness te respondo lo que me corresponde a mi. Yo me acomodo a lo que necesite @FAAREIA para resolver más rápido en cualquiera de las preguntas que hacés. Si prefieren que yo haga el upload por CMS yo lo hago así le facilito el trabajo a él, pero si él prefiere que le pase la carpeta de archivos y él la sube genial. Después me pasa las URL y yo las cargo. Diganme uds nomás.

[2016-05-16 14:20] FAAREIA commented on #254
Hola Lea, hablé con marce y esta haciendo eso por lo que mejor sigo con las maquetación de lo que falta

[2016-05-16 14:48] mkreyness commented on #254
Aca ya pueden ver andando la nueva home (no los links, ojo) tomando slides, tendencias y producto destacado del CMS.

http://www.revear.com.ar/cgi-bin/mainrevear.pl

[2016-05-16 14:57] LeandroBraier commented on #254
Gracias @mkreyness !! Veo que la home se adapta al tamaño de la foto subida. Ahora subo una del tamaño correcto así vemos si se acomoda bien.

Lo que no estoy viendo es el casillero para asignar si el slide es para Usuario FInal o para Profesional, lo mismo necesitaríamos en Tendencias.

[2016-05-16 14:59] LeandroBraier commented on #254
Ahi la subí. Evidentemente están desajustadas las escalas o algo @FAAREIA Porfa ajusten eso porque no quedó como el mock up que habías mandado.

[2016-05-16 15:02] mkreyness commented on #254
@FAAREIA  el template esta en /templates/revear/mainT.html

No se lo que decis @LeandroBraier de "usuario", aca no hay ningun login ni nada que yo sepa.
Hay 2 homes separadas ? No tengo idea, recien me entero.

[2016-05-16 15:02] FAAREIA commented on #254
Lo de usuario final y profesional no esta hecho aún, ni la maquete empecé.

Lo de las escalas no se que te referis, aca lo veo bien. Los tamaños de las cosas estan bien.

@mkreyness fijate que no encuentra ningun js, dan 404

[2016-05-16 15:03] FAAREIA commented on #254
@mkreyness Hay un usuario final y otro profesional que se selecciona apenas llegas al sitio. Dependiendo de la sección, hay contenido diferente. Pero no varía la maqueta en ningun caso creo.

[2016-05-16 15:33] LeandroBraier commented on #254
Lo cual no implica maquetación diferente pero si agregarlo en el CMS. Sería el mismo sistema que en Colocadores por ejemplo, pero sin logear. Es como si, a partir de un pop up que hay al inicio, el usuario pudiera elegir entre Usuario Registrado o no Registrado, sin dejar sus datos.

[2016-05-16 15:37] mkreyness commented on #254
Ok y no puede haber slides o productos que vayan para AMBOS tipos de usuario ?

[2016-05-16 15:44] LeandroBraier commented on #254
Si, también.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, May 16, 2016 at 12:37 PM, mkreyness notifications@github.com
wrote:

[2016-05-16 16:35] mkreyness commented on #254
Ahi agregue entonces 2 checkboxes en producto, novedad y slides de Revear, para que digan si va en uno, otro, o ambos.
Ya esta funcionando.
El URL normal que ya les pase funciona como si fuera usuario final.
Para verlo como usuario profesional (solo al efecto de estas selecciones) es

http://www.revear.com.ar/cgi-bin/mainrevear.pl?tipo=p

[2016-05-16 18:02] FAAREIA commented on #254
http://beta.revear.com.ar/tendencias.php
http://beta.revear.com.ar/tendencia.php

@mkreyness y @LeandroBraier una cosa que me olvidé de productos.
- Los colores que sea imágenes porque son texturas deben de ser de 880x880
- El thumb del color, que al clickearlo se amplia, debe ser un thumb de la imagen real generado de forma automática y su tamaño debe ser 72x72

[2016-05-16 18:16] LeandroBraier commented on #254
Gracias Fede!! Lo decís tan fácil jejje Eso no lo llego a tener hoy seguro. Pensé que los tenés almacenados a esos archivos.

En cuanto a la escale, @FAAREIA te muestro como lo veo yo:

<img width="1680" alt="captura de pantalla 2016-05-16 a las 3 04 44 p m" src="https://cloud.githubusercontent.com/assets/6719872/15298162/5df055da-1b74-11e6-805e-38d3689c89b4.png">

No es como en el mock up.

[2016-05-16 18:19] FAAREIA commented on #254
Dale F5, te faltan los íconos. Lo otro lo veo igual

[2016-05-16 18:20] FAAREIA commented on #254
No lo tengo eso, de hecho hay varias imágenes con el nombre de la textura incrustado. Un desastre eso
La imagen capas que no te llega a 880x880, pero la idea es que sea cuadrada y de al menos 640x640

[2016-05-16 18:29] LeandroBraier commented on #281
@FAAREIA por las dudas ya que hubo varios malentendidos de fechas. Esto va a estar junto con la web, verdad? Yo tengo que entregar todo junto.

[2016-05-16 19:45] FAAREIA commented on #281
Claro, el viernes estaría listo o antes. El tema es que esta semana se terminan las maquetas. El tema es preguntarle a marce si llega a hacerlo el mismisimo día =/. @mkreyness

[2016-05-16 19:50] mkreyness commented on #281
Yo el viernes recien puedo hacer algo a partir de las 4 de la tarde.

[2016-05-16 19:53] LeandroBraier commented on #281
Ok, Fede, si podemos tener el jueves así MK lo agarra antes genial. La idea
era entregarle al cliente el viernes para que apruebe y salir el viernes.

On Mon, May 16, 2016 at 4:50 PM, mkreyness notifications@github.com wrote:

[2016-05-17 12:07] LeandroBraier opened #307 "Nuevos Vendedores ParexKlaukol"
@mkreyness cargué 14 nuevos vendedores en la base y los catalogué como "MANDAR MAIL". Cuando se mandan los mails de bienvenida?

[2016-05-17 12:07] LeandroBraier commented on #307
Los mando yo nomás?

[2016-05-17 12:19] LeandroBraier commented on #254
Buen día chicos!! Cómo están?

@FAAREIA : ¿cómo venimos? Yo ya tengo organizados los contenidos y los estoy subiendo hoy. Pasame porfa el status de las distintas páginas maquetadas y las que faltan maquetar.

@mkreyness en el slideshow de la web no me incluiste el texto para la bajada. Cada slide lleva una descripción, que es la línea 1 y una bajada que es la línea 2. Fijate en el mock up original

[2016-05-17 12:28] mkreyness commented on #254
Ahi agregue el campo en el CMS, en la pagina en realidad si estaba.

[2016-05-17 12:29] mkreyness commented on #254
Ya pueden ver como sale un producto:
http://www.revear.com.ar/cgi-bin/productobase.pl?id=1
En la medida en que se carguen otros con la misma categoria voy a ponerle que no se incluya a si mismo en la parte de "productos relacionados". Lo deje justamente para que aparezca algo.

[2016-05-17 12:29] mkreyness commented on #254
Esta tarde/noche hago el listado de productos y de novedades.

[2016-05-17 12:33] FAAREIA commented on #254
Las maquetas que voy haciendo las voy subiendo, hago una a una. Las que estan online son las hechas por el momento

[2016-05-17 12:34] LeandroBraier commented on #254
Muchisimas gracias @mkreyness ! Ya dejé cargados los 2 slideshows, tengo reunión y después cargo todos los prodcutos y notas de tendencias. Así ajustamos.

Lo unico que vi por ahora en productos es este detalle de productos relacionados:

<img width="1190" alt="captura de pantalla 2016-05-17 a las 9 55 50 a m" src="https://cloud.githubusercontent.com/assets/6719872/15322322/7a43d286-1c12-11e6-954c

[2016-05-17 13:04] mkreyness commented on #254
No debería decir "nombre" ahí en producción relacionados, tal vez haya algo roto y también afecte . Al mediodía o antes lo chequeo y si no se arregla recurro a @fareia

[2016-05-17 17:09] FAAREIA commented on #254
Productos relacionados en "Producto" y Artículos relacionadas en "Tendencia" no estan estilizados, se pueden sacar por el momento.

http://beta.revear.com.ar/preguntas-frecuentes.php
http://beta.revear.com.ar/contacto.php
http://beta.revear.com.ar/productos.php -> El filtro funciona

[2016-05-17 19:57] LeandroBraier commented on #254
Gracias @FAAREIA !! No veo los embeds de redes pero todo el resto si. Ya mañana vamos a tener un board en pinterest, así que podés ir usando nuestro propio usuario de pinterest para la web. Facebook ya está público y tiene contenido si lo querés usar.

Me preocupa el tema Calculador de Consumo. Eso ya estaba no? O falta de parte de MK?

[2016-05-17 20:03] mkreyness commented on #254
Yo no toque (ni vi) el calculador nuevo, pero si la logica implementada para el calculador viejo funciona, no deberia ser dificil de adaptar.

Eso que llaman "filtros" en productos.php, son las categorias, no ? No se pueden combinar, o esta en una o esta en otra. O puede ser que un producto este en mas de una categoria ? En tal caso tengo que cambiar la base.

[2016-05-17 20:09] LeandroBraier commented on #254
No, no se combinan. Son agrupamientos de productos nada más.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-17 17:03 GMT-03:00 mkreyness notifications@github.com:

[2016-05-17 20:14] mkreyness commented on #254
Pero SON las categorias ? Como seria el tema con la que llamamos "categoria madre", esa si seria el conjunto de todas sus hijas ?

[2016-05-17 20:20] LeandroBraier commented on #254
Vos le pusiste Descripción Madre. Entendí que es un atributo de ciertas
categorías. Digamos: de todas las categorías que hay, 2 tienen el atributo
Línea Premium. No es así?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, May 17, 2016 at 5:14 PM, mkreyness notifications@github.com wrote:

[2016-05-17 20:31] mkreyness commented on #254
Es que estoy haciendo un "relevamiento basado en el ejemplo", y no es la mejor manera de encarar esto, pero no se me ocurre otra, porque no participe de lo anterior.
SI me cargaras en el CMS las categorias reales y le pusieras "Linea Premium" a las que correspondan, voy a entender mejor el funcionamiento de los filtros. Lo que hay cargado es de test y por mi, asi que no me sirve para entender.

[2016-05-17 20:32] mkreyness commented on #254
Una vez que esten cargadas voy a ver si las que les pongas "Linea Premium" figuran tambien por separado en los filtros.

[2016-05-17 20:35] LeandroBraier commented on #254
Entiendo. Vas a ver que es simple. En un ratito las vas a ver cargadas, no
te preocupes.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, May 17, 2016 at 5:32 PM, mkreyness notifications@github.com wrote:

[2016-05-17 20:58] LeandroBraier commented on #254
Ya están cargadas las categorías.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-17 17:35 GMT-03:00 Leandro Braier leandrobraier@gmail.com:

[2016-05-17 21:00] mkreyness commented on #254
Ok, esta claro.

[2016-05-17 21:08] LeandroBraier commented on #254
@mkreyness estoy subiendo las tendencias y los productos. Cuando los voy a poder ver desplegarse en sus respectivas páginas? llegás para hoy?

[2016-05-17 21:16] mkreyness commented on #254
Y... productos lo tenia, pero veo que despues Fede siguio cambiandolo, asi que parte la tengo que rehacer.
Si, si las cosas estan subidas mejor, asi lo puedo probar, mi intencion es tener ambas cosas andando esta madrugada.

[2016-05-17 21:34] LeandroBraier commented on #254
Genial MK!

Aprovecho a consultar a @FAAREIA por la home. Mirá como se ven los productos. La foto se come el footer.

<img width="1145" alt="captura de pantalla 2016-05-17 a las 6 56 53 p m" src="https://cloud.githubusercontent.com/assets/6719872/15340083/02ba7eda-1c5e-11e6-9ae1-07d25fa21035.png">

[2016-05-17 21:48] mkreyness commented on #254
la foto del balde del marble tambien esta muy grande, mira como se ve cuando se entra al producto:

http://www.revear.com.ar/cgi-bin/productobase.pl?id=2

En cambio la que yo cargue para el primer producto de prueba salia mas normal:

http://www.revear.com.ar/cgi-bin/productobase.pl?id=1

[2016-05-17 22:02] LeandroBraier commented on #254
Ok, ajusto el tamaño pero no está terminada de maquetar esa página no?

On Tue, May 17, 2016 at 6:48 PM, mkreyness notifications@github.com wrote:

[2016-05-17 22:04] mkreyness commented on #254
La de UN producto yo suponia que si. Si todo es suceptible de ser cambiado en las maquetas (que NO es lo mismo que mis templates), estoy laburando al pedo, y el tiempo no alcanza como para hacer eso.

[2016-05-17 22:05] mkreyness commented on #254
Lo ideal seria que cualquier ajuste ya lo haga directamente @FAAREIA sobre los templates, ya no sobre las maquetas.

[2016-05-17 22:06] LeandroBraier commented on #254
Claro, entiendo. Pero este template no debe estar final porque la imagen se
ve muy diferente. Aun la de tamaño chico que vos cargaste.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, May 17, 2016 at 7:05 PM, mkreyness notifications@github.com wrote:

[2016-05-17 22:08] mkreyness commented on #254
Si, lo veo mal, pero antes se veia bien, la imagen aparecia a la derecha.
@FAAREIA modificaste algo del productoT.html o de los includes que estan en /inc ?

[2016-05-17 22:09] mkreyness commented on #254
algo anda mal con el slide, debe ser algo mio. Ahora lo reviso.

[2016-05-17 22:18] mkreyness commented on #254
ya arreglé lo del slide pero no tiene relacion con el problema.
@FAAREIA pegale una mirada por favor a www/templates/revear/productoT.html, yo estoy poniendo todo igual en el "opening" y sin embargo sale un desastre. Se ven los tags debajo del h1, cuando en tu maqueta se ven arriba.

[2016-05-18 01:25] LeandroBraier commented on #254
@mkreyness ya están cargados todos los slideshows, productos y una nota de tendencias. Solo me falta sumar 2 notas de tendencias y lo de los colores, que es todo un tema aparte.

Por favor @FAAREIA mañana antes del mediodía necesito poder mostrar estas páginas finales, con todo prolijo:

http://www.revear.com.ar/cgi-bin/mainrevear.pl
http://www.revear.com.ar/cgi-bin/mainrevear.pl?tipo=p
http://www

[2016-05-18 05:32] mkreyness commented on #254
ese productos.php ya lo podes reemplazar por

http://www.revear.com.ar/cgi-bin/productosbase.pl

Lo de tendencias no llegue a armarlo todavia y me encontre con una duda: vos armaste las notas como es en todo el resto, un HTML que tiene fotos embedded. Pero el formato que maqueto Fede es totalmente fijo y con un slideshow arriba (ver http://beta.revear.com.ar/tendencia.php), que no se corresponde c

[2016-05-18 10:03] LeandroBraier commented on #254
No te preocupes. Yo adapto las notas si es necesario. Si necesitaria que
las fotos subidas a la nota pasen en slideshow, eso si, lo cual va a
implicar que sean fotos en formato wide y bastante grandes pero yo lo puedo
adaptar no hay problema. Confirmame lo del slideshow nomas. Lo ideal seria
que subiendo las fotos a la solapa de imágenes ya alcanzara para que
aparezcan en el slide show.

Y respect

[2016-05-18 11:14] LeandroBraier commented on #254
Buen día @FAAREIA ! No te olvides entonces de dejar bien todo listo para mostrar hoy todo lo posible. En especial los primeros 4 links:

http://www.revear.com.ar/cgi-bin/mainrevear.pl
http://www.revear.com.ar/cgi-bin/mainrevear.pl?tipo=p
http://www.revear.com.ar/cgi-bin/productosbase.pl
http://www.revear.com.ar/cgi-bin/productobase.pl?id=1
http://beta.revear.com.ar/preguntas-frecuentes.php
http://

[2016-05-18 11:39] mkreyness commented on #254
No se, me parece que va a quedar raro si pones las imagenes dentro del HTML y al mismo tiempo en slideshow. El HTML esta bien, pero no deberia contener referencias a las fotos.

[2016-05-18 12:20] FAAREIA commented on #254
Lo tengo que mirar, luego de entregar el calculador y el simulador ajusto todo lo que haya quedado desfasado ^^

[2016-05-18 12:21] FAAREIA commented on #254
No puedo mostrar un pinterest vacio, creo que no lo carga.
Ok, ajusto todo primero y luego sigo con el resto.

[2016-05-18 13:46] LeandroBraier commented on #254
Igual hoy va a estar cargado el pinterest. Entonces llegas para el mediodia.
El may. 18, 2016 9:21 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-18 14:06] FAAREIA commented on #254
No puedo encontrar las url de FB y pinterest, me las pasas otra vez lea?
Ya actualicé los templates del home, productos y producto

---

Algunas cosas que son del contenido mismo cargado

#### Home
- Las imágenes del slideshow son de pésima calidad y como gigantes.
- La imagen de tendencia también es de mala calidad, se nota a primera vista.
- Medir bien el texto introductorio de la nota ya que la

[2016-05-18 14:11] mkreyness commented on #254
No estoy viendo los productos relacionados abajo, lo sacaste a proposito o hay algun error ?

[2016-05-18 14:12] FAAREIA commented on #254
Lo saqué. No esta estilizado aún y el límite es 4.
@LeandroBraier la descripción del producto fijate de poner la oficial asi queda más completo

[2016-05-18 14:13] mkreyness commented on #254
Le voy mientras poniendo un corte en 4.

[2016-05-18 15:01] mkreyness commented on #254
@FAAREIA y @LeandroBraier
Aca hice la "tendencia" (para mi se sigue llamando novedad, porque internamente en el CMS es asi) y la verdad que sale mas que horrible, por dos motivos:
- las imagenes son muy altas para el slider
- ias imagenes estan dentro del HTML y queda horrible, pero mucho peor que eso:
- el HTML generado desde el CMS (que estaba pensado para funcionar dentro de otro tipo de maquet

[2016-05-18 15:15] FAAREIA commented on #254
El problema que hay es que estan metiendo el contenido viejo, que no estaba predefinido, en el sitio nuevo. Ya sean imágenes de mala calidad, o imágenes verticales, o notas que estan mal hechas por el simple hecho que su contenido esta dentro de `<div>` y no `<p>` que son párrafos.
La nota esa hay que rehacerla desde un WYSIWYG y renovar esas imágenes que son de diferente tamaño.

---

Hoy no pude

[2016-05-18 15:24] mkreyness commented on #254
el CMS de novedades tiene un editor WYSIWYG, y ahi se ven bien las cosas, pero Lean habra elegido usar div en vez de p. Pruebo de reemplazarle automaticamente todos los `<div>...</div>` por `<p>...</p>` a ver que pasa ?

[2016-05-18 15:27] mkreyness commented on #254
listo, con ese cambio automatico al ponerlo mejoro mucho, aunque sobra mucho espacio entre parrafos. Repito el link:
http://www.revear.com.ar/cgi-bin/novedadbase.pl?id=90

[2016-05-18 15:30] FAAREIA commented on #254
Lea seguro copio y pego y por eso trajo los div.
Ahora el nuevo tema que surje es que como el código anterior tenia bastante basura, hay `<p>` vacios y eso ocupa espacio. Hay que borrarlos
En estos casos lo que yo haría es copiar de origen la nota, pegarla en un notepad que te saca todo el formato, y luego pegarla en el WYSIWYG asi no te pega la basura y el texto lo pone como `<p>`

[2016-05-18 15:32] FAAREIA commented on #254
Ojo que todavia hay divs y seguro mal cerrados porque se rompió la columna derecha que ahora esta abajo

[2016-05-18 15:39] mkreyness commented on #254
si, yo reemplace los `<div>` pero veo que hay `<div style="...">`
Ahora los contemplo y vemos.

[2016-05-18 15:58] mkreyness commented on #254
ahi arme tambien el listado, falta toda la parte de paginacion, pero la de etiquetas anda, le puse un par de etiquetas a la unica noticia que hay para poder probar.
@LeandroBraier cuando puedas cargame mas novedades asi puedo implementar y probar la paginacion.
http://www.revear.com.ar/cgi-bin/novedadesbase.pl

[2016-05-18 16:24] LeandroBraier commented on #254
Links de facebook y Pinterest Fede.

Faceook.com/reveararg

Pinterest.com/reveararg

Lo otro respondo mas tarde porque estoy en reunión.
El may. 18, 2016 12:58 PM, "mkreyness" notifications@github.com escribió:

[2016-05-18 16:40] mkreyness commented on #254
@FAAREIA veo que hay 2 PHP, uno que se llama aside-articulos-relacionados y otro aside-productos-relacionados, son bastante diferentes de tamaño, cual es el que deberia tomar, el mas grande ?.
Yo como lleva contenido variable lo necesito pasar a template (me habia hecho un aside-articulos-relacionadosT.html en la carpeta templates/revear basado en el aside-articulos-relacionados, pero no se si act

[2016-05-18 17:00] FAAREIA commented on #254
Se usan los 2. En el producto ya esta en uso aside-productos-relacionados
Y hara una hora que ajuste la maqueta y estilicé el aside-articulos-relacionados en [Tendencia](http://beta.revear.com.ar/tendencia.php)
Con artículos me refiero a notas y no productos ^^

[2016-05-18 17:05] mkreyness commented on #254
Ahhh, me confundi. Ok, articulo = tendencia = mi vieja y querida "novedad".
Si, volvamos a hablar de productos, yo no estoy usando directo tu php porque tiene contenido variable, tengo un template en /templates/revear/aside-productos-relacionadosT.html, que tendria que rehacer segun tus cambios.

[2016-05-18 17:15] mkreyness commented on #254
Por lo que veo, no cambio nada el productos-relacionados, una vez templatizado me produce exactamente lo mismo (y yo los veo bien).
El de tendencias todavia no lo hice.

[2016-05-18 17:23] FAAREIA commented on #254
El de tendencias lo cambié nomás por suerte.
Los widgets de facebook y pinterest ya se pueden ver online

[2016-05-18 17:50] mkreyness commented on #254
ya esta andando lo de articulos relacionados. Por ahora le deje que aparezca si mismo porque no hay otro. Cuando haya mas, lo saco. Se "relacionan" por tener algun tag en comun.
El tema es que si algo tiene solo tags unicos no va a aparecer nada. Pero si no tiene NINGUN TAG, va a traer cualquiera (los 4 mas nuevos).

[2016-05-18 22:52] LeandroBraier commented on #254
Gracias chicos!!! Muy buen trabajo!!!

Ya tengo al menos las primeras 5 páginas para presentar, si bien no están finales.

Paso respuestas, incluyendo comentarios de uds de más arriba, para organizar.

HOME:

No entiendo a qué te referís. El tamaño es el mismo que pediste para el slideshow de Productos. Decime el tamaño exacto para el Slideshow de la home y las adapto bien.

Esto olvidate, yo las

[2016-05-18 23:01] mkreyness commented on #254
Todos esos que se llaman "base" es porque en realidad no se van a usar asi, la idea es que se graben paginas cuyo nombre es el titulo safe del producto y de la tendencia. Todavia no hay un robot generando las paginas, pero cuando ya este definitivo el diseño, no vas a ver esos nombres nunca mas.

[2016-05-19 00:38] mkreyness commented on #254
Respecto de lo de producto, yo previ 2 porque siempre tuvimos 2, un URL para la grande y un URL para la chica. Esto es porque esas imagenes ya venian en el backup del viejo sitio.
Por eso hace varios dias te pregunte si querias que lo modifique como para hacer directamente upload, como SI hice con las del slideshow. La otra seria que como grande tome siempre la primera del slideshow y listo. Es ma

[2016-05-19 00:43] mkreyness commented on #254
yo lo que necesitaria para poder terminar con el tema de la paginacion de "Tendencias" es que haya mas... ehm.. "tendencias" cargadas.  Si hago las paginas de 6, para minimamente probar el funcionamiento de primera, ultima y una pagina del medio, necesitaria que hubiera 13 cargadas.
Ya se que es mucho, puedo bajarle la paginacion a 3 y con que haya 7 me alcanza, despues le cambio el limite. Podra

[2016-05-19 00:52] LeandroBraier commented on #254
Para el arranque tenemos 3 nomas. Queres que cargue cualquiera para probar
y despues las borro?
El may. 18, 2016 9:43 PM, "mkreyness" notifications@github.com escribió:

[2016-05-19 01:02] mkreyness commented on #254
Si

[2016-05-19 01:20] LeandroBraier commented on #254
Hecho!

[2016-05-19 01:36] FAAREIA commented on #254
#### HOME
- La imagen del tamaño del home tiene que ser 1920x1080. El alto oficial es 488 por lo que lo importante a mostrar tiene que estar en el medio de la imagen.
- La imagen de Tendencia debería ser la primera del slideshow.
- La imagen del producto debería cargarse desde el CMS y debería ser un campo especial no obligatorio ya que solo 1 va al home. @mkreyness

##

Creo que mañana podemos ll

[2016-05-19 01:38] mkreyness commented on #254
y todo lo que dependa de profesional/usuario que el unico lugar donde lo estoy controlando es en la lista de productos

[2016-05-19 01:40] mkreyness commented on #254
cuando decis "la imagen del tamaño del home" estas hablando de lo mismo de "la imagen del producto que va al home" ?

[2016-05-19 02:30] mkreyness commented on #254
ya esta la paginacion de las "tendencias" y funciona la separacion de final/profesional.
Habria que marcar algunas que si y que no para probar.
Esto seria ver profesoinales (el default si no se pone nada en "tipo" es finales)
http://www.revear.com.ar/cgi-bin/novedadesbase.pl?tipo=p

[2016-05-19 02:56] LeandroBraier commented on #254
Quedó buenísimo! Gracias MK! La foto queda un poco arriba @FAAREIA puede ser?

[2016-05-19 05:41] mkreyness commented on #254
ya esta el calculador de consumo readaptado a las nuevas tablas, ojo trate de copiar los datos de lo que habia pero algunos productos o no estan o tenian nombre diferente y no los pude pescar automatico.
Podes probarlo por ejemplo con el producto "Paddle".
Al calculador lo accedes desde cualquiera de los links que veas en las paginas o menues.
Vi que en la maqueta no figuraba el tema del costo que

[2016-05-19 11:36] LeandroBraier commented on #254
Si se sacó a pedido del cliente.

Como te puedo acomodar lo de los productos que me decias?
El may. 19, 2016 2:41 AM, "mkreyness" notifications@github.com escribió:

[2016-05-19 11:51] FAAREIA commented on #254
Ahi esta acomodado lo de Tendencias
@mkreyness la imagen de 1920x1080 es la del slideshow del home
La imagen del producto del home es 540x291 (si 291 para que quede engrillado). La altura igual no es vital respetarla

[2016-05-19 11:52] FAAREIA commented on #254
@mkreyness
Otras cosas rápidas que vi
- En el home se repite tendencia 2 veces
- El slideshow tiene la posibilidad de tener un botón para ver la nota o el producto.

[2016-05-19 11:57] mkreyness commented on #254
No es que se repite, hay puestas 2 (las 2 mas nuevas), no se cuantas habia que mostrar, por eso le puse un numero conservador. Le pongo que muestre SOLO la mas nueva entonces ?
Boton: yo tengo un URL asociado a cada foto, pero no tengo forma de saber si es un producto o una "tendencia" o lo que fuere, le agregamos entonces en el CMS al cada slide un TEXTO para poner en el boton ?

[2016-05-19 12:00] FAAREIA commented on #254
Claro en el home solo la tendencia más nueva o la que se seleccione de ir ahi. No se como estan manejando eso
El botón del slideshow lo resolvería simple. Si el slideshow es un contenido que se crea aparte, le agregaría un campo para Texto del botón y otro para URL a donde lleva y si queres sumarle algo más, un checkbox para target="_blank" .....^ _ ^

[2016-05-19 12:02] LeandroBraier commented on #254
No olviden decirme qué agregado deben tener las URL para que sigamos
detectando si es Usuario Final o Profesional.

Fede, hoy ponés todos los links en la home?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-19 9:00 GMT-03:00 Federico Arena notifications@github.com:

[2016-05-19 12:05] mkreyness commented on #254
si no se agrega nada, es final. Si se agrega "&tipo=p" es profesional.

[2016-05-19 12:06] FAAREIA commented on #254
Con que te referis a todos los links lea? La home no queda nada por hacer.

[2016-05-19 12:11] LeandroBraier commented on #254
Los links del menu ni ningun otro funcionan en la home. Me dicen porfa
donde cargo entonces la foto de producto que va en la home? Ya vi que
agregaste upload mk pero mi pregunta era: como defino cual de esas va en la
home?
El may. 19, 2016 9:06 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-19 12:13] mkreyness commented on #254
No agregue ningun upload, todo sigue igual que antes porque no me lo confirmaste.
El URL de la foto lo pones en la "imagen" del producto que tenga el tilde de home prendido.
Pero donde pones la foto, puede ser en cualquier lado, lo que importa es que el URL la apunte.
Si queres que lo convierta a upload confirmame YA y lo hago, me estoy yendo en 10 minutos y no vuelvo hasta las 4.
Lo otro que esta

[2016-05-19 12:14] mkreyness commented on #254
Fede ya esta aplicado todo lo que dijiste, incluyendo el checkbox para decidir si abre "_blank" o no.

[2016-05-19 12:18] LeandroBraier commented on #254
@mkreyness la "imagen" del producto es una foto de una fachada, no un detalle en tamaño gigante del balde. Esa imagen necesito cargarla aparte porque sino va a quedar en el slideshow de dicho producto y no es la idea.

Entiendo que la casilla que decís se llama "Producto destacado" eso lo sé, pero me elige una imagen que es para otra cosa, entendés?

Si podés dejarlo como upload en lugar de que te

[2016-05-19 12:43] mkreyness commented on #254
Yo no te estoy hablando del slideshow, sino del campo "Imagen:" que esta al lado del de "Thumb" en la solapa "Detalle" de cualquier producto.
Lo que sea que pongas ahi NO VA A NINGUN LADO MAS QUE A LA HOME, y solo en caso de que se tilde que va a la home.
La pagina de producto NO USA ese campo, usa el slideshow, que es totalmente independiente.
Por eso te ofrezco convertir ESE campo en upload, par

[2016-05-19 12:47] mkreyness commented on #254
a ver si asi se entiende...
![captura](https://cloud.githubusercontent.com/assets/6135791/15394012/be53aa4c-1da6-11e6-88f3-446b16412a7c.JPG)

[2016-05-19 12:50] LeandroBraier commented on #254
Si, lo de upload ponelo si podés como te decía. Me facilita. Ahora, por qué la imagen que subo ahí se ve en el slideshow de producto también? Si pongo el balde gigante ahi va a quedar bien en la HOME pero mal en la página de PRODUCTO. Te muestro a qué slideshow me refiero, que NO es el de la HOME sino el de PRODUCTO:

<img width="1302" alt="captura de pantalla 2016-05-19 a las 10 12 29 a m" src="h

[2016-05-19 15:54] FAAREIA commented on #254
http://beta.revear.com.ar/calculador-consumo.php
http://beta.revear.com.ar/ventajas-revestimiento.php
http://beta.revear.com.ar/texturas.php

---

Falta Empresa, que ayer me olvidé nombrarla
Falta la guía de puntos de venta

---

Adicionalmente acordate Lea que hay que hacer algunos faltantes como la ampliación de un color de un Producto o el encabezado oscuro del usuario profesional

[2016-05-19 17:13] LeandroBraier opened #308 "Ver si se puede acceder con COnstruct 2"
@valentinsabbath , me decís si este juego una vez comprado se puede editr con Construct 2?

http://codecanyon.net/item/flags/15674299

[2016-05-19 17:24] mkreyness commented on #254
Me pisaste todo el laburo que hice anoche en el calculador!!!!

Enviado desde mi iPhone

[2016-05-19 17:35] mkreyness commented on #254
Ningún slideshow usa esa imagen, NADIE usa esa imagen más que la foto de producto en la home, nunca en slideshow.
La que se usa encima del slideshow es la Thumb

[2016-05-19 17:42] LeandroBraier commented on #254
CLaro, pero la imagen del slideshow DE PRODUCTO de donde la saca? La imagen
grande, no la del balde chiquito. No entiendo eso.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, May 19, 2016 at 2:35 PM, mkreyness notifications@github.com wrote:

[2016-05-19 17:45] ghost commented on #308
@LeandroBraier, está hecho con otro entorno de desarrollo que se llama "Game Maker". Según este post de Construct2 es posible la importación de elementos de Game Maker.
Pero, la importación puede no ser 100% completa, depende del juego.

https://www.scirra.com/tutorials/63/importing-gamemaker-rooms-and-objects-to-construct-2-free-edition

[2016-05-19 17:47] mkreyness commented on #254
Hay una solapa "Imagenes", donde podes poner todas las imagenes Y thumbnails que quieras.
ESAS son las del slideshow de producto. Es lo que en el resto de Parex llamamos "Galeria"

[2016-05-19 17:49] mkreyness commented on #254
![captura](https://cloud.githubusercontent.com/assets/6135791/15403774/ee75c028-1dd0-11e6-8af9-996443b5aeae.JPG)

[2016-05-19 17:56] LeandroBraier commented on #308
Ah ok. Entiendo. Es un pequeño riesgo. Podremos bajar algun juego
cualquiera cualquiera gratis para probar la importación?
El may. 19, 2016 2:46 PM, "valentinsabbath" notifications@github.com
escribió:

[2016-05-19 17:57] LeandroBraier commented on #254
Ahhhhh ya entiendo. Pensé que eso era solo para uploadear. Listo! Todo
aclarado! Gracias
El may. 19, 2016 2:50 PM, "mkreyness" notifications@github.com escribió:

[2016-05-19 18:03] mkreyness commented on #254
Ahh, porque en Novedades es asi, un repositorio para usar en el generador de HTML.
Si, es confuso que todo se llame "Imagenes".
Bueno ahora te hago la conversion de ese URL a boton de upload asi finiquitamos ese tema.
Lastima lo del calculador que fue todo para atras... No llegue a hacerme un backup a las 2:45am que termine de tocarlo todo. Lo llegaste a ver andando por lo menos antes de que Fede

[2016-05-19 18:05] ghost commented on #308
https://www.scirra.com/forum/was-wondering-if-its-possible-to-import-gamemaker_t78030
The whole game won't convert over, only certain things like objects and rooms. You'll have to do all the code from scratch, unfortunately.

O sea que es imposible importar, solo importa algunas cosas.
Lo que veo que es el "memory game", no será mejor buscar un juego memoria hecho para construct y cambiar las imág

[2016-05-19 18:07] mkreyness commented on #254
Ojo ese campo en cada articulo lo voy a borrar porque este tipo de URLs no van mas, el upload se hace en otro repositorio, de "productos", no de "slides de productos" (y tengo que ajustar la home a que se levante de ahi).
Total solo en uno (el que le prendas el tilde de "Home") es donde importa.
Si esas imagenes NO tienen que participar de los slides de cada producto, eliminalas de esa solapa "Ima

[2016-05-19 18:08] LeandroBraier commented on #254
No! No llegué.  Que bajón.  Evitemos estos problemas de comunicación porfa
entre uds tiene que ser bien directa la comunicación, mas alla de hacer
backup por las dudas.
El may. 19, 2016 3:03 PM, "mkreyness" notifications@github.com escribió:

[2016-05-19 18:09] LeandroBraier commented on #308
Tal cual. Voy a pedir que hagan eso entonces. Gracias Valen!
El may. 19, 2016 3:06 PM, "valentinsabbath" notifications@github.com
escribió:

[2016-05-19 18:13] mkreyness commented on #254
Normalmente no trabajamos sobre los mismos archivos, pero tambien duplicar todo es un garron porque hay que estar comparando y mergeando. Si hay meses de tiempo, se hace, pero contrarreloj, es imposible.
Yo entendi que eso ya estaba TERMINADO y solo faltaba mi parte. Prefiero NI EMPEZAR a hacer algo si  lo de Fede esta sin terminar.
Yo siempre trabajo sobre lo que este en el server, no me guardo c

[2016-05-19 21:02] #308 closed, assigned to nobody

[2016-05-19 21:18] LeandroBraier opened #309 "Últimos ajustes Web Revear. 22/11"
@FAAREIA y @mkreyness comienzo un nuevo ticket para hacer más fácil la lectura, pero no cierro el anterior por las dudas.

En base a lo hablado con ambos, estos son los pendientes de cada uno.

**PENDIENTES FEDE**

. Sección Empresa: terminar

. Sección Contacto: Formulario de contacto, subir el el script que manda al mail

. POP UP de inicio para seleccionar tipo de usuario

. Sumar el embed de P

[2016-05-20 02:52] mkreyness commented on #309
lo de texturas ya esta en funcionamiento, con casillero en el CMS.
Las cosas salen aca:
http://www.revear.com.ar/cgi-bin/texturasbase.pl
Habria que filtrar tambien ahi final/profesional ?
El zip pasame el link a mega y lo pongo en la pagina.

[2016-05-20 04:30] mkreyness commented on #309
@FAAREIA hice dos versiones del header.php, uno para usuario final y otro para profesional. Cargo uno u otro en las paginas dinamicas en funcion de que me llegue el parametro tipo=p
Por lo que me dijo Lean las paginas de FAQ y Ventajas serian fijas y diferentes para u.finales que para profesionales, con lo que cuando tengas separado cual es cual pongas los links que correspondan en cada include (s

[2016-05-20 04:32] mkreyness commented on #309
en cuanto a la calculadora ya esta enganchada por todos los links posibles, y es la version que anda full. Habria que hacerle algunos ajustes como que al cargar alto y ancho se muestre automaticamente el total de m2.
Por otra parte hay productos a los que les faltan presentaciones (baldes/tambores, etc.) con lo que no sabe como calcularlo.
@LeandroBraier queres que directamente los productos que n

[2016-05-20 13:22] LeandroBraier commented on #309
Gracias @mkreyness ! Si, por ahora resolvamoslo así, sin mostrar los que no tengan presentaciones cargadas. Probablemente más adelante nos toque cargarlas, pero ellos van a tener que revisar los productos antes (cosa que no hicieron demasiado hasta ahora) asi que prefiero que salte cuando lo vean y lo pidan para después del lanzamiento.

Estoy resolviendo mis pendientes ahora antes de las 12. Como

[2016-05-20 14:18] mkreyness commented on #309
Yo hasta tipo las 4 ya no me puedo conectar para hacer nada, despues agrego ese filtro de que no traiga productos sin presentaciones.
El resto de cosas mias que puedan estar pendientes dependen mas de que Fede me diga como proceder en algunas cosas que le consulte por mail (el tema de las texturas en la parte de colores de producto), pero igual ya no llego a hacer nada antes de las 4.

[2016-05-20 15:43] LeandroBraier commented on #309
Ok @mkreyness A las 4 pongamonos a full a cerrar.

Acá les paso lo que fui encontrando hasta ahora y lo que marcó el cliente, aunque sé que aun no terminaron con sus pendientes:

**HOME**

http://www.revear.com.ar/cgi-bin/mainrevear.pl

. Agregar al footer de la home, el logo de WPT y el de 2700 colores

**TENDENCIA**

. Miren cómo carga las fotos de la galería:

<img width="1304" alt="captura de

[2016-05-20 18:35] FAAREIA commented on #309
- Empresa listo. http://beta.revear.com.ar/empresa.php _Leandro: Gracias!_
- Formulario de contacto ya envía. _Leandro: A qué mail se envían los datos?_
- Guía de puntos de venta a medio terminar, no llegué pero lo que esta le sirve a marce para avanzar mucho. http://beta.revear.com.ar/guia-puntos-venta.php _Leandro: OK, seguís trabajando o ya cortaste?_
- Pop up inicial ya esta maquetado y estili

[2016-05-20 18:50] mkreyness commented on #309
AH, lo del nombre del producto me lo comi en el programa, obviamente en el CMS esta porque la textura (alias "color") depende del producto. Ahora lo ajusto.

[2016-05-20 19:09] LeandroBraier commented on #309
@FAAREIA te respondo lo que consultás sobre tu propio comentario.

Consulta: qué pasó que hoy andaban los links de la HOME y ya no andan?

[2016-05-20 19:10] mkreyness commented on #309
Cada vez que se pise el header.php va a dejar de andar...
@FAAREIA yo estoy poniendo ahi (y en headerprofesional.php) todos los dias los links para que funcionen

[2016-05-20 19:10] mkreyness commented on #309
@LeandroBraier ya puse que el calculador solo muestre los productos con presentacion.

[2016-05-20 19:11] mkreyness commented on #309
Respecto de esto: "Los artículos relacionados deberían incluir a los demás notas de "tendencia" menos la actual, pero pasa todo lo contrario. Además, en versión profesionales se ven notas que no están filtrados para ellos."  ahora reviso, pero deje en su momento la actual para que apareciera ALGO cuando no habia mas que una sola noticia.

[2016-05-20 19:13] LeandroBraier commented on #309
Entiendo @mkreyness

@FAAREIA con todo respeto, tratemos de no hacer estas "boludeces". No hagamos laburar al compañero doble por distracción. Me dijiste ayer que no reemplazabas más ninguna maqueta, ¿qué pasó? Comuniquemonos un poco, estemos alineados, no nos pisemos. Ya falta poquito y venimos muy bien.

[2016-05-20 19:17] mkreyness commented on #309
Si usas el main profesional vas  a ver los links (profesionales) bien

http://www.revear.com.ar/cgi-bin/mainrevear.pl?tipo=p

[2016-05-20 19:31] mkreyness commented on #309
otra cosa: uno de los dos articulos no tiene tags, fijate que eso es lo que yo uso para 'relacionar' los articulos: que tengan algun tag en comun. Los tags se ponen separados por punto y coma en el campo "Etiquetas" de cada articulo (=novedad).
Ahora ya deberia andar bien todo el filtrado segun tipo de usuario, tag y funcionan los tags de arriba (si clickeas en un tag del articulo, te lleva a la l

[2016-05-20 19:35] LeandroBraier commented on #309
Gracias @mkreyness ! Estoy revisando y viendo algunos detalles más, que les paso.

Igual los links llevan a la maqueta sin programación no?

**PREGUNTAS FRECUENTES**
http://beta.revear.com.ar/preguntas-frecuentes.php

Embed de Pinterest no está, siendo reemplazado por un link MUY raro

**TENDENCIAS**

Dale, MK. Te agrego los tags, no problem.

[2016-05-20 19:42] mkreyness commented on #309
Todo lo que no sale de CMS esta sin programacion, porque no parece requerirlo.
Siendo que van a ser contenidos diferentes, con que haya 2 versiones de cada cosa fija (una usuario final y otra usuario profesional) y cada una use el include de menues que corresponde, no tendria por que tocarse nada ni requerir programacion.
Ahora vuelvo a reponer los links correctos en el menu de usuario final (es c

[2016-05-20 19:44] mkreyness commented on #309
los tags separalos con PUNTOYCOMA, no con coma.

[2016-05-20 20:04] FAAREIA commented on #309
- Ok lo del encabezado, lo pise para moverme internamente en lo que es maqueta. Desconocia que marce estaba usando esos archivos también.
- Lo de FAQ ya esta arreglado
- Lo de la guía no llegué, tengo otra urgencias y se me hace imposible sacar todo para todos.
- Acuerdense que la semana que viene tengo que hacer lo responsivo y ajustes que falten.
- Los iconos de empresa los achiqué de mala maner

[2016-05-20 20:15] mkreyness commented on #309
No tengo idea eso de "ventajas".  No lo tengo en el CMS, si lo quieren pasar a CMS, lo paso, pero Lean me dijo que era algo estatico.

[2016-05-20 20:15] mkreyness commented on #309
@FAAREIA fijate que yo te habia hecho un par de consultas por mail ayer, no se si las viste o yo no vi tu respuesta.

[2016-05-20 21:04] mkreyness commented on #309
ya puse los links para entrar desde el selector

http://beta.revear.com.ar/usuario-seleccion.php

No me lo pises Fede :)

[2016-05-20 21:15] LeandroBraier commented on #309
@mkreyness estoy subiendo ya todos los colores. En textura se ven perfectos y se descargan. En PRODUCTO no los veo aun, puede ser?

Te paso el link a MEGA para descargar todos:
https://mega.nz/#F!GplVyARL!o0wGB2IhU2mVEppTgp8CvQ

[2016-05-20 21:22] mkreyness commented on #309
Exacto, no los ves porque estoy esperando una respuesta de Fede a un mail que le mande, porque en la maquetacion de colores al final no habia ningun elemento que fuera el background de la imagen y no se como ponerlo para que quede bien.
Ahora agrego ese link.

[2016-05-20 21:30] mkreyness commented on #309
Puse el link, pero debe ser que no reconoce la (no) extension, trata de descargar una pagina llamada "descarga.htm".
Tal vez tengamos que tener un nombre de archivo local a nuestro server que en realidad redirija al de Mega. Voy a probar.

[2016-05-20 21:32] LeandroBraier commented on #309
No es muy pesado el zip igual, si querés te paso directo el zip.Pesa 63 mb

[2016-05-20 21:33] mkreyness commented on #309
ok, me lo bajo yo directo desde el server.

[2016-05-20 21:59] mkreyness commented on #309
listo ya quedo funcionando. Igual yo aclararia donde dice "bajate todas" que pesa 63 Mb, capaz alguien lo esta mirando con un celular en conexion 3g y se va a querer matar.

[2016-05-20 22:14] LeandroBraier commented on #309
Jaja Entiendo. Habria que agregarle 63 mb entre parentesis no? Igual por
ahi lo comprimo un poco mas y te lo paso de nuevo mas adelante. Gracias MK!
Que nos esta quedando entonces?
El may. 20, 2016 6:59 PM, "mkreyness" notifications@github.com escribió:

[2016-05-20 22:22] mkreyness commented on #309
Ahi Fede me paso lo de las texturas en el producto, voy a aplicar esos cambios y vemos que tal sale.
Entiendo que falta todo eso de "Ventajas" y dividir las preguntas frecuentes en distintas paginas segun usuario final/profesional, no ?
Y el tema de guia de puntos de venta.
Yo lo que haria en el fin de semana (ahora que ya estaria terminando lo de producto) es empezar a grabar las paginas estatica

[2016-05-20 22:29] LeandroBraier commented on #309
Dale MK. Me parece bien. Preguntas frecuentes no hace falta dividirlo aun
si estas cob muchas cosas. Lo que Fede deberia hacer es las dos versiones
de ventajas y con las correcciones pedidas.
El may. 20, 2016 7:22 PM, "mkreyness" notifications@github.com escribió:

[2016-05-20 22:33] mkreyness commented on #309
Ahi implemente lo que me paso  @FAAREIA pero falta ajustar algo que no entiendo bien como hacerlo andar (lo de que se abra para mostrar mas grande). Ya le mande detalles por mail.

[2016-05-21 00:15] LeandroBraier commented on #309
Perfecto MK!

Fede ayudanos con esto mañana porfa asi ya cerramos mañana con mk la web
revear y seguimos con guia de puntos de venta. Abrazo y gracias a los dos!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, May 20, 2016 at 7:33 PM, mkreyness notifications@github.com wrote:

[2016-05-21 01:34] LeandroBraier commented on #309
Ya subí colores y texturas. En los que no tenía textura subí solo el nombre del color @FAAREIA Me dijo MK que vos hacés una librería de nombres de colores relacionados a códigos RGB

Te paso acá la librería:

Negro
#000000

Blanco
#FFFFFF

Beige Almendra
#D1BEA9

Marfil bambú
#FFE3A5

Salmón rosado
#FABC99

Verde mate
#D7D5C2

Marrón Habano
#695C4E

Gris estaño
#8CA3AD

Me avisás cuando esté activ

[2016-05-21 01:41] mkreyness commented on #309
no tengo idea de eso de la libreria, pero puedo agregar una tabla en el CMS que dado el nombre traiga ese codigo y lo aplique (no se donde) en la maqueta. Se como forzarlo, pero seguramente no es lo mas elegante.
Para mi que eso en realidad lo tiene que poner el dentro del archivo .css, yo no me animo a meter mano ahi.

[2016-05-21 02:36] mkreyness commented on #309
ya le encontre la vuelta elegante.
Ya anda en el producto

www.revear.com.ar/cgi-bin/productobase.pl?id=1

sin embargo el famoso "beige almendra" sigue saliendo azul porque en algun lugar del .css de @FAAREIA ya estaba definido asi. No me animo a sacarlo porque ese archivo .css esta todo comprimido en una sola linea y es ineditable (salvo con algun programa que Fede tenga que sea para eso, ni idea

[2016-05-21 02:42] LeandroBraier commented on #309
No hay problema MK. Cuando Fede lo vea lo resuelve. Gracias! Yo ya terminé
mi parte asi que avisame lo que necesites MK para cerrar.
El may. 20, 2016 11:36 PM, "mkreyness" notifications@github.com escribió:

[2016-05-21 02:53] LeandroBraier opened #310 "Ajuste de foto en Club de Colocadores. 27/06"
Fede, nos falta cambiar una foto del Club de Colcoadores, la que está abajo de TU TRABAJO VALE.

<img width="1583" alt="captura de pantalla 2016-05-20 a las 1 02 17 p m" src="https://cloud.githubusercontent.com/assets/6719872/15433245/e6e19960-1e87-11e6-9482-7abe80e3e7e0.png">

Cambiala por esta:

![foto-tu-trabajo-vale-colocadores-new](https://cloud.githubusercontent.com/assets/6719872/15433324/4

[2016-05-21 17:58] mkreyness commented on #309
Ya se estan grabando las paginas "reales" de productos cada 5 minutos. Directamente en el menu ahora la opcion de productos lleva a las paginas correctas (no hay "productobase.pl" a la vista).
Me quedaria hacer algo similar con la(s) home(s) que no sean mainrevear.pl y obviamente la parte tendencias.
Volviendo a productos, falta solucionar el tema de "ver color ampliado" y algun otro ajuste cuando

[2016-05-21 18:29] mkreyness commented on #309
ya esta lo de las mains estaticas tambien.
Ojo @FAAREIA que cambie varias cosas en calculador-consumo.php y en header.php.
Lo mismo que hice en calculador-consumo.php para que ponga el header que corresponda segun el parametro "tipo" hay que hacerlo en los otros php que sobrevivan (contacto, empresa, etc.). Es solo un cambio en la linea del include de header.php, pero no quiero tocarlo porque no s

[2016-05-21 18:46] LeandroBraier commented on #309
Gracias MK!! Como accedo a la web nueva? Me refiero a la home inicial donde
aparece el pop up de selección de usuario.

2016-05-21 15:29 GMT-03:00 mkreyness notifications@github.com:

[2016-05-21 18:51] mkreyness commented on #309
Igual que antes cuando lo paso Fede:

http://beta.revear.com.ar/usuario-seleccion.php

[2016-05-21 21:03] LeandroBraier commented on #309
Genial! Gracias MK!!

La verdad quedó excelente todo. Felicitaciones a los dos!!! De la web veo
todo bien en general. Solo detalles:

VENTAJAS DEL REVESTIMIENTO

Ajustar los textos de acuerdo al word que pasé y diferenciarlas por tipo de
usuario.

PRODUCTOS

Entiendo que está funcionando incluso la librería de colores, no? Solo se
me ocurre que, en caso de que no haya colores, que no se muestre es

[2016-05-21 21:33] mkreyness commented on #309
la libreria de colores anda, pero falta la parte de "agrandar el color". Si te fijas se te pone un recuadro blanco arriba a la izquierda que es el div de lo que en algun momento sera ese agrandado. Lo tiene que solucionar Fede.
Es posible que la nota de la home propiamente dicha no este tomando el tema del tipo, ahora reviso.
No, no tengo idea de que hacer/donde mirar con puntos de venta. Si es co

[2016-05-21 21:41] mkreyness commented on #309
acabo de fijarme y si entro por profesional la home me muestra una nota de tendencia (madera transparente) y si entro por particular me muestra otra (13 preguntas). Ojo que la home (como ahora es estatica) tarda unos 5 minutos en regenerarse desde que haces cualquier cambio, capaz miraste muy pronto.
Lo otro que falta es que el color de fondo cambie si es profesional o no, eso @FAAREIA decime como

[2016-05-21 22:35] mkreyness commented on #309
ya esta "estatizado" el tema tendencias.
Ojo, por ahora como hay pocas no hay paginacion, pero las paginas no estan estatizadas, o sea, la primera es estatica pero despues si navega o filtra por tags siempre corre dinamica. Igual lo que importa, que son las notas en si mismas, SIEMPRE van estaticas.

[2016-05-21 23:03] LeandroBraier commented on #309
Perfeco MK. Entendí lo que pasó, esperé menos de 5 min para verlo. Gracias!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-21 19:35 GMT-03:00 mkreyness notifications@github.com:

[2016-05-23 12:20] LeandroBraier commented on #309
Buen día @FAAREIA !! Cómo andás?

Cómo venís con la web? Necesitaría para el mediodía tener un link así:

http://beta.revear.com.ar/usuario-seleccion.php

Para que el cliente entre y veo todo OK.

Qué nos falta?

[2016-05-23 12:35] mkreyness commented on #309
@FAAREIA donde veo la maqueta de la guia de puntos de venta ?
Y tene en cuenta lo que dije aca:
"Ojo @FAAREIA que cambie varias cosas en calculador-consumo.php y en header.php.
Lo mismo que hice en calculador-consumo.php para que ponga el header que corresponda segun el parametro "tipo" hay que hacerlo en los otros php que sobrevivan (contacto, empresa, etc.). Es solo un cambio en la linea del inc

[2016-05-23 12:46] LeandroBraier commented on #309
@FAAREIA ante la duda no reemplaces ningun php. Avisá antes por favor.

[2016-05-23 12:54] LeandroBraier opened #311 "Asignar puntos Vendedores por acertar"
@mkreyness cómo va?

Necesito que le asignes a los siguientes usuarios el juego "Acertar Trivia Final del Torneo" a todos los usuarios que respondieron "San Lorenzo" en la 3er pregunta de la "Trivia Final del Torneo".

Me confirmás porfa?

abrazo

[2016-05-23 13:08] mkreyness commented on #309
"Preguntas Frecuentes", "Ventajas", "Empresa" y "Contacto" yo no cambie nada.

[2016-05-23 13:18] mkreyness commented on #311
Lei bien ? 540 puntos son a c/u ?

[2016-05-23 13:24] LeandroBraier commented on #311
En realidsd serían 360, ahi lo corregí. Lo que les decimos es que si
aciertan, triplican los puntos. Como la trivia sumaba 180, triplicado daba
540. Ahora lo pasé a 360 para que en total sume 540.

Gracias por alertar!

abrazo

On Mon, May 23, 2016 at 10:18 AM, mkreyness notifications@github.com
wrote:

[2016-05-23 13:27] FAAREIA commented on #309
Ahi va la guía: http://beta.revear.com.ar/guia-puntos-venta.php
Sigo con lo demás

[2016-05-23 13:34] LeandroBraier commented on #309
Gracias @FAAREIA !! @mkreyness avisame si necesitás una mano con algo en esto de los puntos de venta. Lo ves ahora o recién a las 16 hs?

[2016-05-23 14:03] mkreyness commented on #311
Ahi les cargue, ojo DESHABILITASTE el juego, si no alguno va a hacerse el vivo y despues decir que por que no le dieron los puntos.
Ahora les agrego 3 fichas a todos y veo a cuales el saldo les daba como para una ficha mas con los "60".

[2016-05-23 14:12] #311 closed, assigned to mkreyness

[2016-05-23 14:12] LeandroBraier commented on #311
jajaja Dale, perfecto. Si, ya suspendí el tema y el slide correspondientes.
Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-23 11:03 GMT-03:00 mkreyness notifications@github.com:

[2016-05-23 14:34] mkreyness commented on #311
listas las fichas.

[2016-05-23 14:36] LeandroBraier commented on #311
Gracias MK!!!!

[2016-05-23 14:36] mkreyness commented on #309
Ahora que me saque lo de los puntos de la trivia, me pongo con esto de los puntos de venta. Voy "punto por punto" :)

[2016-05-23 15:09] FAAREIA commented on #309
Ya andan los modales de Producto y Empresa
El producto que tenga un color pleno, vamos a tener que ponerlo como imagen asi no hay problemas al ampliarlo. Que sea un PNG-8 @LeandroBraier

[2016-05-23 15:11] LeandroBraier commented on #309
@FAAREIA en castellano please? Qué es, donde va? Simple porfa.

[2016-05-23 15:27] FAAREIA commented on #309
Hay que subirle una imagen al color del producto.

Ej:
http://www.revear.com.ar/productos-para-profesionales/revividor-colores-revear.html
El color se muestra pero no se puede ampliar, para poder hacerlo hay que subirle la imagen, la cual va a ser un pleno del color.

beige-almendra: #D1BEA9
blanco: #FFFFFF
gris-estano: #8CA3AD
marfil-bambu: #FFE3A5
marron-habano: #695C4E
negro: #000000
salmon-ros

[2016-05-23 15:29] FAAREIA commented on #309
http://beta.revear.com.ar/ventajas-revestimiento.php
http://beta.revear.com.ar/ventajas-revestimiento-profesional.php

[2016-05-23 15:31] mkreyness commented on #309
Fede una consulta con el tema de la guia de puntos de venta, fijate aca mas o menos esta andando pero tengo un problema: si oculto el geolocalizador una vez que muestro el mapa, no me aparecen los tabs de MAPA/LISTADO, y si no lo oculto tampoco los puedo clickear.

http://beta.revear.com.ar/nuevaguia-puntos-venta.php

proba poner por ejemplo Rosario y dale buscar (a mi en mi Chrome me da que no se

[2016-05-23 15:42] FAAREIA commented on #309
- Solucionado tema tabs.
- Chrome capas que ya no anda porque no es HTTPS la conexión
- Fijate que el listado de datos lo esta metiendo dentro de `<thead>` y no dentro del `tbody`

[2016-05-23 15:55] FAAREIA commented on #309
Ya esta estilizado el header profesional: http://beta.revear.com.ar/ventajas-revestimiento-profesional.php

[2016-05-23 15:56] LeandroBraier commented on #309
@FAAREIA y @mkreyness les paso las imágenes. Ustedes las asignan a cada color dentro de la lista, no?

beige-almendra: #D1BEA9

![revear-color-beige-almendra](https://cloud.githubusercontent.com/assets/6719872/15476481/9f5616e2-20e5-11e6-802c-eba724606349.png)

blanco: #FFFFFF

![revear-color-blanco](https://cloud.githubusercontent.com/assets/6719872/15476485/a2b9a61e-20e5-11e6-9f7e-52ac0762d681.p

[2016-05-23 15:57] LeandroBraier commented on #309
Cuando pueda acceder a la web con todo terminado en esta URL avisenme:

http://www.revear.com.ar/usuario-seleccion.php

[2016-05-23 16:01] LeandroBraier commented on #281
@mkreyness y @FAAREIA usemos este ticket para tema Guía de Puntos de Venta, así no mezclamos.

Yo la veo así ahora, en maquetación faltan ajustes o por qué se tapa el texto y el botón debajo del header?

<img width="1400" alt="captura de pantalla 2016-05-23 a las 1 23 01 p m" src="https://cloud.githubusercontent.com/assets/6719872/15476613/63a88b92-20e6-11e6-9a69-edc94218824c.png">

abrazo

[2016-05-23 17:24] FAAREIA commented on #309
Lea, estan en algun lado los 3 iconos vectorizados que estan bajo del titulo "APLICACIÓN" en este jpg -> http://revear.com.ar/media/productos/revividor-colores-revear-ft.jpg ???

[2016-05-23 17:34] FAAREIA commented on #309
Esta listo el footer con los 2 logos agregados.
http://beta.revear.com.ar/ventajas-revestimiento-profesional.php

@mkreyness Lo que habría que hacer es una versión doble del footer por el tema de los links

[2016-05-23 17:46] FAAREIA commented on #309
@mkreyness Ahi cree el `footerprofesional` y puse ese código del include en los php estaticos.
El código también lo use para cargar el footer comun o el pro.

Faltaría poner el link final a la guia de puntos de venta en los 2 headers y footers

[2016-05-23 18:47] LeandroBraier commented on #281
@FAAREIA y @mkreyness a qué hora podemos tener mostrable esto y en qué link?

Gracias

[2016-05-23 18:47] LeandroBraier commented on #309
@FAAREIA y @mkreyness a qué hora podemos tener mostrable esto y en qué link?

Sería en este?

http://beta.revear.com.ar/usuario-seleccion.php

Gracias!

[2016-05-23 19:07] mkreyness commented on #309
Ya aplique lo del footer.
Si, el link por ahora seria ese.
Las imagenes de los colores las tendrias que subir a los productos en el CMS, como hiciste con las texturas, si queres subilos a un solo producto (que tenga todos los colores) y yo despues lo repito dentro de la base de dato a los demas productos que tengan definidos los mismos colores.

[2016-05-23 19:09] mkreyness commented on #309
ahora arreglo lo que me dijo Fede del listado de puntos de venta, y no se si falta tocar algo por lo del ampliador de colores, despues reviso eso. Creo que solucionadas estas dos ultimas cosas ya lo podrias mostrar.

[2016-05-23 20:50] mkreyness commented on #309
Hay algun problema en la guia de puntos de venta por el cual los globitos de info no muestran nada.
Esta todo copiado de la pagina vieja de distribuidores donde anda perfecto.
Por ahora lo voy a dejar asi porque ya perdi como 2 horas intentando arreglarlo y creo que no tiene remedio desde la programacion.
De alguna manera interfiere el hecho de que el mapa este dentro de una seccion de tabs.
Fijat

[2016-05-23 21:54] LeandroBraier opened #312 "Arreglar Geolocalización Guia de Corralones. 25/05"
@mkreyness Para arreglarlo cuando se pueda.

http://www.parexklaukol.com.ar/guia-corralones/

[2016-05-23 22:15] mkreyness commented on #309
@LeandroBraier ya solucione lo de la apertura de colores sin imagen.
Puse el link a la home en el logo de Revear pero se ve feo: lo recuadra todo de violeta, y ademas siendo que hay un cartelito debajo de logo que dice "Guia de Puntos de Venta"  suena raro que lo cliquees y te lleve a la home.

[2016-05-23 22:19] mkreyness commented on #309
@LeandroBraier Habia otro tema que era lo del SHOWROOM dentro de EMPRESA que me dijo @FAAREIA, vos necesitas que eso vaya en el CMS ? Porque me dijo que no tenia las fotos que iban ahi.

[2016-05-23 22:25] LeandroBraier commented on #309
Si, voy a necesitar subir eso en el CMS. Me lo dejarías habilitado hoy porfa? Yo lo subo.

[2016-05-23 22:36] mkreyness commented on #309
ahi te agregue el CMS, ahora me pongo entonces a cambiar a template la maqueta de Empresa.

[2016-05-23 22:40] mkreyness commented on #309
Ah, por lo que veo vas a necesitar subir DOS imagenes para cada cosa, un thumb y una grande.
Ahora agrego thumb.