[2016-05-23 22:44] mkreyness commented on #309
Pregunta: van a ser diferentes imagenes para particulares y profesionales ?

[2016-05-23 22:52] LeandroBraier commented on #309
Del showroom no. Por ahora la misma, no tenemos muchas fotos del showroom.

[2016-05-23 23:00] mkreyness commented on #309
Bueno ya esta la pagina maquetada, cuando cargues imagenes teoricamente aca deberian aparecerte. Igual avisame, seguro que algo va a haber que ajustar.

http://www.revear.com.ar/cgi-bin/empresabase.pl

Ojo todavia esto no sale en la home oficial.

[2016-05-23 23:25] LeandroBraier commented on #309
@mkreyness ahi estoy subiendo las fotos del showroom, pero no se ven. Fijate qué puede estar pasando. Por ahora estoy subiendo la misma foto como thumb y como imagen, porque no son tan grandes ni pesadas, pero decime sino en qué tamaño subo el thumb.

Porfa sacá el link del Logo de la Guía de Puntos de Venta. Que lo sume @FAAREIA desde CSS o como corresponda para que no quede el recuadro de color,

[2016-05-24 00:22] LeandroBraier commented on #309
Ya subí los colores que faltaban. Igual solucioná lo de no mostrar amplicación cuando no hay, porque el color transparente no lo puedo poner por más que quiera jeje

En cuanto a la web, me acabo de dar cuenta que nos faltó aplicar algo importantísimo que había pedido el cliente: que esta parte sea NEGRA de fondo, tanto para profesionales como para usuarios finales.

<img width="1545" alt="captura

[2016-05-24 00:27] mkreyness commented on #309
Las imagenes ya se ven en el empresabase.pl, pero mal.
Los thumbs parece que tienen que ser mas chicos porque no tienen ningun tamaño forzado, pone lo que es. Si te fijas en la maqueta original, son de 164x144.

Lo de que no amplie colores ausentes ya estaba hecho desde antes de las 8 que me fui lo de que no abra. Lo probe con el Revear Paddle que es el que tiene "Teja" y "Verde". Si en algun caso

[2016-05-24 00:29] mkreyness commented on #309
ya saque el link del logo que hacia que saliera recuadro violeta.
Ahora veo si encuentro la forma de que no aparezca la personita en el mapa.

[2016-05-24 00:31] mkreyness commented on #309
listo, chau personita.

[2016-05-24 01:10] LeandroBraier commented on #309
Excelente MK!! Ahi ajusté las imagenes a ese tamaño y se ven bien. Porfa pasalo a la web oficial, así le mando el mail al cliente.

abrazo

[2016-05-24 01:28] mkreyness commented on #309
Listo, esta tan oficial como el resto.
Ya hable con Fede y a la mañana va a revisar/solucionar lo del mapa.
Ahora en un rato voy a poner que texturas tambien se grabe fijo, ajusto los links de eso y hago que beta.revear.com.ar directamente funcione con todo lo nuevo, sin mockups.

[2016-05-24 01:46] LeandroBraier commented on #309
Excelente MK! GRACIAS MILES!

Fijate Fede mañana lo del fondo negro también porfa.
El may. 23, 2016 10:28 PM, "mkreyness" notifications@github.com escribió:

[2016-05-24 01:59] mkreyness commented on #309
Listo lo mio.

http://beta.revear.com.ar

[2016-05-24 12:03] FAAREIA commented on #309
Ahi ajuste algo en el CSS para que el globo del mapa muestre la info pero de lo que te decia ayer @mkreyness no encontré nada. Osea, el mapa tiene practicamente todos divs y ninguna clase influia en el mapa. Aca en firefox lo veo andando bien

[2016-05-24 12:10] LeandroBraier commented on #309
Perfecto @FAAREIA ! No quedó nada entonces no? Esperemos el OK del cliente para poner en producción y seguir con la versión responsive.

@mkreyness cuando puedas habría que resolver lo de los colores, tipo transparente y esas cosas. El teja y verde ya subí una imagencita para evitar más trabajo. Solo queda resolver el transparente.

Te voy adelantando en mail aparte los próximos pedidos, de los cu

[2016-05-24 12:10] #281 closed, assigned to FAAREIA

[2016-05-24 12:11] #254 closed, assigned to FAAREIA

[2016-05-24 12:11] mkreyness commented on #309
Decime que producto tiene el transparente, no entiendo el problema que decis, yo ya habia hecho que si no estaba puesta la imagen NO abriera.

[2016-05-24 12:11] FAAREIA commented on #309
Una cosa que habría que hacer, si quieren por supuesto, es depurar la lista de puntos de venta. Con esto digo lo siguiente:

#### Direcciones

Acortar algo como
`Av. SAN MARTIN 420 CAPITAL FEDERAL Ciudad Autonoma de Bs. As.`
`Av. SAN MARTIN 420, C.A.B.A.` .
De esa forma hay menos choclo de datos y capas que se puede incluir la dirección en un link hacia google maps. -> `https://www.google.com.ar/m

[2016-05-24 12:14] FAAREIA commented on #309
Qué producto tiene el color transparente?

[2016-05-24 12:19] LeandroBraier commented on #309
Los 3 impermeabilizantes: Siliconados, Techos y Transparente.

Lo de las direcciones lo puedo hacer, si. Teléfonos también, tranqui. Lo
del código internacional que pasás no estoy seguro que sea así. Entiendo
que va 11 sin el 0 no? Estás seguro que es así?

Consulta: si hubiera un link a la web de la pinturería, funcionaría?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Pr

[2016-05-24 12:19] LeandroBraier commented on #310
@FAAREIA hoy podés resolver esto porfa antes de la call?

[2016-05-24 12:19] #307 closed, assigned to mkreyness

[2016-05-24 12:20] LeandroBraier commented on #312
@mkreyness hoy podés resolver esto porfa antes de la call?

[2016-05-24 12:32] FAAREIA commented on #309
El código de país nuestro es 54 y el "+" tiene que ir
El 011 es el código formal creo

La imagen transparente podría ser cualquiera de estas dos

![transparente](https://cloud.githubusercontent.com/assets/6184969/15503845/6fa56b84-2192-11e6-9c0a-4731eb84a3f3.png)
![transparente-2](https://cloud.githubusercontent.com/assets/6184969/15503846/6fd37402-2192-11e6-9b12-371bb358847a.png)

[2016-05-24 12:35] FAAREIA commented on #309
Otra cosa que vi recién, entro a [Productos](http://www.revear.com.ar/productos-para-profesionales.html) y las bajadas estan MAL

La bajada tiene que ser como las que estan [aca](http://revear.com.ar/productos.html) y no digo el texto rojo debajo del título, digo el párrafo negro debajo de ese texto rojo.

Si entro a un producto la descripción también esta mal, tiene que ser como la que esta [aca]

[2016-05-24 12:40] LeandroBraier commented on #309
Nunca entendí que era así, disculpas. Lo corrijo. Eso es CMS puro. Gracias
Fede!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-24 9:36 GMT-03:00 Federico Arena notifications@github.com:

[2016-05-24 12:43] LeandroBraier commented on #309
@mkreyness fijate esto que dice Fede porfa urgente.

Yo cargué las descripciones en Descripción Detallada pero no se están viendo, se está mostrando lo mismo que dice en Bajada.

En cuanto a lo que actualmente está en bajada para y se ve en la lista de productos está OK. Veamos qué dice el cliente, para mi es menos información pero más clara. Si el cliente pide incluir las dos lo hacemos, pero ent

[2016-05-24 13:02] FAAREIA commented on #310
Hecho

[2016-05-24 13:04] mkreyness commented on #309
Estoy complicado ahora, voy a ver de donde/cuando me puedo conectar

Enviado desde mi iPhone

[2016-05-24 13:27] mkreyness commented on #309
Listo !!!!

[2016-05-24 13:31] LeandroBraier commented on #309
Excelente MK!!! Muchísimas gracias!!!

[2016-05-24 14:01] FAAREIA commented on #297
Agrego un botón de facebook al perfil del usuario asi lo conecta con su usuario?
Avisenme si esto sigue vigente

[2016-05-24 15:53] mkreyness commented on #297
mientras yo no le dedique tiempo a que eso guarde un dato que despues pueda reconocer, me parece que no tiene sentido avanzar en poner el boton.

[2016-05-24 16:10] LeandroBraier commented on #297
Tal cual. Esto frenemoslo chicos.

[2016-05-24 16:10] #297 closed, assigned to LeandroBraier

[2016-05-24 16:12] LeandroBraier commented on #309
Mil gracias!

On Tue, May 24, 2016 at 10:27 AM, mkreyness notifications@github.com
wrote:

[2016-05-24 16:15] LeandroBraier commented on #310
Gracias Fede!!

[2016-05-24 20:43] LeandroBraier commented on #289
@FAAREIA esto es para más adelante pero te voy dando el feedback del cliente acá: vamos a reemplazar la parte dinámica de la sección por una simple imagen grande, similar al slideshow, donde vamos a subir nosotros una foto por CMS con un collage de fotos de todos los cumpleañeros del mes.

Apenas nos saquemos de encima Potenciados y Siguit nos ponemos con esto. abrazo

[2016-05-26 16:09] LeandroBraier opened #313 "Newsletter Junio ParexKlaukol. 30/05"
@FAAREIA te paso el contenido para el newsletter. Lo necesitaría para el lunes de ser posible. Confirmame si llegás porfa.

[Contenido Newsletter ParexKlaukol JUNIO v26-05.docx](https://github.com/LeandroBraier/Klaukol/files/284787/Contenido.Newsletter.ParexKlaukol.JUNIO.v26-05.docx)

abrazo

[2016-05-26 19:51] LeandroBraier opened #314 "Feedback Web Revear"
@FAAREIA va el feedback del cliente y la última revisión mia. Confirmame si podemos aplicarlo mañana a esto así ya publicamos mañana mismo.

1) La última modificación en productos que hiciste el martes no se ve bien en Chrome:

<img width="851" alt="captura de pantalla 2016-05-26 a las 4 40 15 p m" src="https://cloud.githubusercontent.com/assets/6719872/15587107/1ab2dabc-235e-11e6-9e65-72d7c28a620

[2016-05-27 12:34] LeandroBraier commented on #314
Buen día @FAAREIA ! Porfa podrás resolver esto hoy? La landing empezala pero puede estar para el lunes. Seguro hoy te paso los cambios estéticos que haya.

[2016-05-27 13:09] FAAREIA commented on #314
No hay drama, te aviso cuando este. Al mediodía recien puedo ponerme con todo

[2016-05-27 17:51] LeandroBraier opened #315 "Consultas Extra Web Revear"
@mkreyness una consulta: estoy repasando este pedido de Fede:

Entiendo que se solucionaría simplemente cambiando a los que tiene dentro del campo PROVINCIA "Ciudad Autónoma de Buenos Aires" y reemplazarlo "C.A.B.A" y borrarles el contenido del campo de LOCALIDAD. Qué opinás?

[2016-05-27 18:21] FAAREIA commented on #314
- Todo listo
- Le sume un favicon
- Le puse el código de Google Analytics
- Registré revear.com.ar en Herramientas Google

La explicación de los de YouTube es de Google +, pero imagino que ahora que el sitio esta conectado a las Herramientas de Google, van a poder crear el canal de Revear en Youtube. Decime cualquier cosa

[2016-05-27 18:23] LeandroBraier commented on #314
Muchas gracias @FAAREIA !!! Excelente lo del Favicon?

No entiendo lo del canal de Revear en YouTube. Ya está creado, te referís a la URL customizada?

[2016-05-27 18:43] LeandroBraier opened #316 "Nuevo Bug en Novedades ParexKlaukol"
@mkreyness subimos una nota a la web de Parex y no funciona. Te fijás que pasa? La nota debería aparecer en esta url:

http://www.parexklaukol.com.ar/novedades/parexgroup-presente-en-tendiez-tendencias-de-diseno.html

Intuyo que tiene que ver con lo que hicimos para Revear.

abrazo

[2016-05-27 19:12] mkreyness commented on #316
No. En realidad el problema viene de mucho antes, cuando Duplika hizo algun cambio, no se estaban publicando ni novedades ni cambios en los productos desde entonces, necesariamente.
Te acordas que hice un parche desde el telefono (estaba en el dentista), y quedaron estas dos cosas sin actualizar.
Ya esta andando:

http://www.parexklaukol.com.ar/novedades/parexgroup-presente-en-tendiez-tendencias-d

[2016-05-27 19:29] mkreyness commented on #315
No entiendo lo de poner un link a googlemaps, si lo que mostramos ya es googlemaps.
Yo pondria 'CABA', ya con eso GoogleMaps lo reconoce.
De acuerdo en sacarle "CAPITAL FEDERAL" en la localidad. Si queres lo hago yo de un plumazo.

[2016-05-27 19:30] FAAREIA commented on #313
Lea, me lo puse a hacer pero lo corté porque falta demasiada información.
- La imagen de portada tiene que ser de 640x360
- La imagen de portada sirve como intro a una nota que el template del mailing NO tiene. Hay que agregarlo.
- Las notas de tendencias, etc estan con links que no son los finales
- La nota de Innovaciones no tiene texto y la foto no sirve, vean el template antes de preparar foto

[2016-05-27 19:32] FAAREIA commented on #314
Yo me metí con la cuenta de parexklaukol y no tenia ningun canal según vi =/. Estan usando otra cuenta para revear?

[2016-05-27 19:44] LeandroBraier commented on #316
Gracias Mk!
El may. 27, 2016 4:12 PM, "mkreyness" notifications@github.com escribió:

[2016-05-27 20:23] LeandroBraier commented on #316
Puede ser que en la lista de novedades de la web no se vea la nota?
El may. 27, 2016 4:44 PM, "Leandro Braier" leandrobraier@gmail.com
escribió:

[2016-05-27 20:24] LeandroBraier commented on #315
Dale perfecto. Adelante MK!
El may. 27, 2016 4:29 PM, "mkreyness" notifications@github.com escribió:

[2016-05-27 20:25] mkreyness commented on #316
otro programa sin tocar... Ahora lo arreglo.

[2016-05-27 20:30] LeandroBraier commented on #313
Ok. Hoy te paso todo esto asi el lunes podes armar el news de una. No te
preocupes.
El may. 27, 2016 4:30 PM, "Federico Arena" notifications@github.com
escribió:

[2016-05-27 20:30] LeandroBraier commented on #314
Sip. El link que te pase en el primer comment de este thread. Fijate. Lo
tenes ahi.
El may. 27, 2016 4:32 PM, "Federico Arena" notifications@github.com
escribió:

[2016-05-27 20:31] LeandroBraier commented on #316
Gracias MK!
El may. 27, 2016 5:25 PM, "mkreyness" notifications@github.com escribió:

[2016-05-27 20:44] mkreyness commented on #315
listo

[2016-05-27 21:07] LeandroBraier commented on #315
Gracias!
El may. 27, 2016 5:44 PM, "mkreyness" notifications@github.com escribió:

[2016-05-28 00:23] LeandroBraier opened #317 "Landing Klaukol En Busca del Gran Colocador"
@FAAREIA está aprobadísima la landing. Solo pidieron cambios muy chiquitos:

. Agregar link a pdf de FAQ. Estaría arriba de “Leé las bases y condiciones” y diría “Preguntas frecuentes”.

. Agregar la dire del evento debajo 30/06 a las 18 hs. La dirección es Tucumán 2159.

. Cambiar la frase “Demostralo" por “Vení a demostrarlo.”

Solo eso abrazo!

[2016-05-30 12:05] LeandroBraier commented on #314
Buen día @FAAREIA !

**1.** Revisé y era en el ticket anterior. Te paso de nuevo el link así es más fácil: https://www.youtube.com/channel/UC-iXrheUeGNyEzGA32hRusQ

Ese es el canal que tenés que usar y seguir las instrucciones que te pasé de Vinculación del Webmaster. El acceso a la cuenta de Gmail correspondiente es el siguiente:

revearparex@gmail.com
sentirparedes

No nos sirve cualquier vincul

[2016-05-30 12:07] LeandroBraier commented on #317
@FAAREIA hoy dale prioridad a esta landing por favor. Prioridad número 1.

abrazo

[2016-05-30 12:07] LeandroBraier commented on #312
Buen día @mkreyness ! Porfa apenas puedas resolvé esto que es importante para la landing que está haciendo Fede también.

abrazo

[2016-05-30 12:32] mkreyness commented on #312
Ahora me fijo

[2016-05-30 12:38] LeandroBraier commented on #314
Fede me contestó el cliente sobre la foto de la home. Me pasas el original
de la que estaba antes? Le agrego textura revear a esa foto y te la paso
para dejar esa, que les gustó  (como refe, es la misma que esta en empresa )

Abrazo
El may. 27, 2016 5:30 PM, "Leandro Braier" leandrobraier@gmail.com
escribió:

[2016-05-30 13:01] mkreyness commented on #312
listo

[2016-05-30 13:14] FAAREIA commented on #314
Cuando la guardes, guardala para web desde photostop o illustrator que si la guardas como un jpg común pesa muchisimo más el archivo.

![reve-intro](https://cloud.githubusercontent.com/assets/6184969/15650462/1c0bc826-264f-11e6-9da2-675a6074cb1f.png)

[2016-05-30 13:43] #315 closed, assigned to mkreyness

[2016-05-30 13:43] #312 closed, assigned to mkreyness

[2016-05-30 13:45] LeandroBraier commented on #314
Dale entiendo. Abrazo y gracias!

[2016-05-30 14:52] FAAREIA commented on #317
http://www.parexklaukol.com.ar/busca-gran-colocador/

Falta el tema de bases y condiciones, preguntas frecuentes y que muestra el botón de "recibir info de competencia".
Si falta algun link avisame.
Todavía no esta responsiva

[2016-05-30 15:16] FAAREIA commented on #317
Cuando puedan pasenme la foto para facebook de 1200x630

Abrazo

[2016-05-30 15:17] FAAREIA commented on #317
Pasame también el link del video en youtube

[2016-05-30 16:16] LeandroBraier commented on #317
**FEEDBACK RESTANTE** PARA @FAAREIA .

Los links de FAQ y Bases te lo paso mañana temprano junto con el link del video también.

La foto de Facebook la paso acá:

![potenciados gana un viaje 1200 x 630](https://cloud.githubusercontent.com/assets/6719872/15657476/921ddff8-2687-11e6-9d85-56d44c105bf5.png)

. Que lo negro empiece donde empezaba en el PSD que te pasé. Es decir, la parte de abajo de la

[2016-05-30 17:40] FAAREIA commented on #317
Fijate ahora Lea, le oscurecí los bordes asi no hace falta que este al 100%.

[2016-05-30 18:46] LeandroBraier commented on #314
Fede aca esta la foto:

https://mega.nz/#F!MAQhCI5a!Mdqu6rEM-4SivFWI0wvtRg

Confirmame recepción.
El may. 30, 2016 10:14 AM, "Federico Arena" notifications@github.com
escribió:

[2016-05-30 19:14] LeandroBraier commented on #317
@FAAREIA lo veo mejor. Ahora solo necesitaría que lo negro empiece donde empezaba en el PSD que te pasé. Es decir, la parte de abajo de la foto de Korol e Ivana que pise sobre negro.

Con eso entregamos.

abrazo

[2016-05-30 19:48] LeandroBraier commented on #314
![casa-con-textura-marble-y-marble-almendra](https://cloud.githubusercontent.com/assets/6719872/15657206/3d6af2cc-2685-11e6-9e51-34002ec863ad.jpg)

Te la subo lo más comprimida posible.

abrazo

[2016-05-30 19:56] LeandroBraier commented on #317
**FEEDBACK PARA @mkreyness**

Empecemos a armar el formulario de registración. Los campos:

Nombre
Apellido
Mail
Teléfono

Si querés podemos usar un formulario de suscripción de Mailchimp si te parece OK. Como te parezca mejor.

[2016-05-30 19:58] FAAREIA commented on #314
Ahi la subí, denle F5
Fijate que seguro no estes usando el "guardar para web", aca en PC el atajo es ctrl+alt+shift+s

[2016-05-30 19:58] LeandroBraier commented on #317
@FAAREIA y @mkreyness borré comments y actualicé el thread para que sea más corto. Borré lo que no es necesario conservar.

[2016-05-30 20:00] LeandroBraier commented on #314
Lo veo joya! Gracias Fede!! Les doy el OK en breve para que ya publiquemos la web nueva en la URL principal.

[2016-05-30 20:04] FAAREIA commented on #317
Dale F5 Lea

[2016-05-30 20:06] mkreyness commented on #317
Si lo hago yo entonces tenes que exportar los datos a mailchimp, si usas directo el de mailchimp es todo automatico, me parece mas simple para todos.

[2016-05-30 21:31] LeandroBraier commented on #314
Chicos, tenemos el OK para subir la web. @mkreyness avisame porfa cuando lo tengas online. Me dijo Fede que recién a las 20 hs volvías, no hay problema. Avisame nomas cuando lo subas aunque sea tarde.

abrazo

[2016-05-30 23:18] LeandroBraier commented on #317
Dale, vamos con el de mailchimp. Mañana lo genero con Eze, que me pasa el Authenticator.

Gracias @FAAREIA ! Ya vi que corregiste lo que te pedí. Mañana te paso los contenidos que faltan, pero fijate que la frase final de la columna derecha dice "Dejanos tus datos y recibí las" y debería decir "Dejanos tus datos y recibí las últimas novedades sobre las competencias."

Puede ser para mañana. abrazo

[2016-05-30 23:27] LeandroBraier commented on #316
@mkreyness cuando puedas fijate, me parece que nunca lo resolviste a esto no? Porque seguimos con los mismos problemas que el viernes.

[2016-05-30 23:30] LeandroBraier commented on #314
@FAAREIA mientras MK publica y una vez cerrada la landing y los mailings de la competencia de Colocadores, empezá a trabajar ya la versión responsive de Revear porfa.

[2016-05-31 00:47] mkreyness commented on #316
No, el programa esta arreglado. Que es lo que no te aparece publicado ?

[2016-05-31 00:54] LeandroBraier commented on #316
No es eso. Me decía la persona que carga las notas que no se le cargaban
las imágenes, pero estoy probando yo y me anda. Vamos a probar de vuelta y
te aviso. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, May 30, 2016 at 9:47 PM, mkreyness notifications@github.com wrote:

[2016-05-31 01:04] mkreyness commented on #314
Ojo no lo trabajes sobre _beta Fede porque si bien yo voy a intentar que no quede ningun link referenciado a ahi, capaz se me escape alguno.

[2016-05-31 01:42] mkreyness commented on #314
Publicado !
Yo veo todo bien, pero peguenle una revisada a ver si detectan algo que falle.
@LeandroBraier una cosa que habria que cambiar es en los productos del slide que apunten a los URLs estatico de cada producto y no al cgi-bin

[2016-05-31 02:04] LeandroBraier commented on #314
Gracias @mkreyness !

En general no veo fallas graves. Estoy viendo cosas que se ve que nunca ajustamos. Hagamoslo mañana antes de lo responsive @FAAREIA porfa.

**1) PRODUCTO**

Nombres de colores se tapan:

<img width="178" alt="captura de pantalla 2016-05-30 a las 11 14 01 p m" src="https://cloud.githubusercontent.com/assets/6719872/15660925/f4c00ace-26b8-11e6-8d9a-d0c1cf49c4bb.png">

**2) TEXT

[2016-05-31 02:30] mkreyness commented on #314
@FAAREIA yo ya deje en /templates/revear un template (copiado del que estaba ahora) con nombre texturas-profesionalT.html, para que lo tome en las profesionales.
Modifica vos el /templates/revear/texturaT.html (que seria el de particulares) y ya con eso quedaria.

[2016-05-31 12:35] LeandroBraier commented on #313
Buen día @FAAREIA ! Te paso acá el word corregido con los links y las imagenes en un zip. Confirmame si podemos tenerlo armado para hoy a la tarde estamos OK. abrazo

[Contenido Newsletter ParexKlaukol JUNIO v31-05.docx](https://github.com/LeandroBraier/Klaukol/files/291034/Contenido.Newsletter.ParexKlaukol.JUNIO.v31-05.docx)

[Imagenes Newsletter Junio.zip](https://github.com/LeandroBraier/Klauko

[2016-05-31 13:03] FAAREIA commented on #314
Algunos detalles que vi, Lea decidirá si se hacen o no.

@LeandroBraier
- Las imagenes de la sección Texturas pesan mucho. Abro una foto y veo que pesan 320KB, la bajo al photoshop y si la guardo para web a 60 de calidad, pesa 100KB. Osea, si las imágenes de la sección se guardan para web, la página carga 3 veces más rápido que antes. **60 de calidad es mucho para una textura en donde el ruido o l

[2016-05-31 14:40] FAAREIA commented on #313
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-06/16-06.html
No manden ese porque hay que hacer algo con los estilos, simplemente es para verlo y probar los links.
Fijate el tema de las fechas de ultimas novedades, seguro haya que acomodar alguna

[2016-05-31 16:16] LeandroBraier commented on #313
Está perfecto salvo el link de la nota del Lanzamiento, te la pasé mal.

El link sería este: http://www.parexklaukol.com.ar/busca-gran-colocador/

Cuando lo tengas avisame porfa.

abrazo

[2016-05-31 16:45] LeandroBraier commented on #313
Perdón, la última fecha tenés razón que está mal. La nota de "23 al 27-05: I Encuentro Nacional sobre Ciudad, Arquitectura y Construcción Sustentable" debería ir debajo de la de TENDIEZ con la fecha 23/05

Con eso estamos. abrazo

[2016-05-31 17:16] FAAREIA commented on #313
Fijate ahora

[2016-05-31 17:20] LeandroBraier commented on #313
Está perfecto el link. Lo de Novedades que te pedí aparte todavía no lo veo.

[2016-05-31 17:22] LeandroBraier opened #318 "Nuevos Distribuidores Revear"
@mkreyness te paso nuevos distribuidores a subir en el CMS. Vos los podés subir todo de una?

[Nuevos Distribuidores Revear 31-05.xlsx](https://github.com/LeandroBraier/Klaukol/files/291746/Nuevos.Distribuidores.Revear.31-05.xlsx)

[2016-05-31 17:31] FAAREIA commented on #313
Dale f5, lo corrí ya

[2016-05-31 17:33] LeandroBraier commented on #313
Está perfecto @FAAREIA !! Gracias!!! abrazo grande

[2016-05-31 17:41] LeandroBraier commented on #314
@FAAREIA respondí en negrita sobre cada punto dentro de tu mismo comment. Este comment nuevo lo borramos después.

Los puntos que te había pedido ya están resueltos? Te agregué un punto 4 con link a spotify.

[2016-05-31 17:45] mkreyness commented on #318
Si pero ojo tema coordenadas, alguien tiene que entrar y dejar que se recalculen c/u.
Cuando llego a mi oficina intento.

[2016-05-31 17:54] LeandroBraier commented on #318
Dale, entiendo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

On Tue, May 31, 2016 at 2:45 PM, mkreyness <notifications@github.com> wrote:

[2016-05-31 19:19] mkreyness commented on #318
Aca no se si hay nuevos, pero seguro que hay muchisimos que ya estan cargados.
No me puedo basar en el dato "codigo" porque se repite dentro del excel tambien y dentro de la base que ya tengo. Y hay muchisimos SIN CODIGO. Seran esos los nuevos ? Pero en tal caso, que codigos le pongo ?
El excel tiene 552 registros, yo tengo en la base 770, asi que tampoco es que esten "todos los que tenia" + nuevo

[2016-05-31 19:37] LeandroBraier commented on #318
Ok consulto si se pueden reemplazar los repetidos o cuales son los nuevos.
El may. 31, 2016 4:19 PM, "mkreyness" <notifications@github.com> escribió:

[2016-05-31 19:41] mkreyness commented on #318
Y si son los que no tienen codigo, que los SEPAREN y les asignen codigo.
Si le ponen codigo y no me separan cuales son los nuevos, voy a terminar duplicando cientos.

[2016-05-31 19:59] LeandroBraier commented on #318
Entiendo, gracias MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

2016-05-31 16:41 GMT-03:00 mkreyness <notifications@github.com>:

[2016-05-31 20:46] FAAREIA commented on #313
Ojo de NO mandarlo por mail aún, cuando este OK avisame y le meto los "estilos inline".

Abrazo

[2016-05-31 20:53] LeandroBraier commented on #313
Dale, entiendo. Reabro el ticket por las dudas.

Te aviso.

abrazo

[2016-05-31 20:53] #316 closed, assigned to mkreyness

[2016-06-01 00:51] LeandroBraier commented on #317
@FAAREIA te paso los materiales que te faltaban para terminar la landing. Dale prioridad mañana a la mañana por favor.

**1. Bases y condiciones:** bajá el pdf de este link:

https://mega.nz/#!z9tXiC5D!Oqr-vuqEPngO8BX7mFR5_sxmdaCEgPGE6s_lx4oIaEQ

**2. Preguntas frecuentes:** bajá el pdf de este link:

https://mega.nz/#!vscEQBzQ!hjKJWe5NitvUp8KeNRxSBhZwD6_F52LAGKYygvA5KWo

**3. El teaser ya está su

[2016-06-01 13:23] FAAREIA commented on #317
Ahi lo estoy terminando, fijate que cuando me suscribo me manda a una url que esta en ingles y dice algo como:

##

Almost finished...

We need to confirm your email address.

To complete the subscription process, please click the link in the email we just sent you.
ParexKlaukol S.A.
Dr. Ignacio Arieta 3817
Buenos Aires, CABA B1754AQQ
Argentina

Add us to your address book

##

[2016-06-01 14:25] LeandroBraier commented on #317
Si, hay que hacer el mailing de confirmación como hicimos para Parex y
reemplazar ese mensaje. Te fijas si se puede cambiar?
El jun. 1, 2016 10:23 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-01 14:50] FAAREIA commented on #317
Ya subí la nueva versión y totalmente responsiva.
Lo del mensaje creo que ya esta, voy a hacer otra prueba.

[2016-06-01 15:00] FAAREIA commented on #317
Me olvidaba, con respecto al dominio nuevo. Ya esta seteado en el panel de control por lo que cuando se deleguen los DNS, la url va a mostrar la landing

Ojo que hay que cambiarlo en el newsletter al link que te lleva a la landing

[2016-06-01 15:13] FAAREIA commented on #314
Te contesté encima de lo anterior ^^

[2016-06-01 15:16] FAAREIA commented on #314
@mkreyness cuando puedas limpiate todo lo que ya esté en desuso en la carpeta de Revear, incluyendo todo "_beta" si ya no se usa. Se hace muy dificil saber en donde tocar o donde poner los archivos ahora. Si @LeandroBraier confirma que tiene el backup en su poder, por favor limpiate todo

[2016-06-01 15:40] mkreyness commented on #314
mas que limpiarlo lo mandaria a una carpeta "old" por si acaso salta algo y haya que reponerlo.
Ese backup lo hiciste vos ?
En la carpeta revear solo deberian quedar los php  y los subdirectorios cig-bin, img, inc, css y js
Los templates estan todos en /templates/revear y todos los assets estan en alguno de estos subdirectorios que te digo.

[2016-06-01 15:56] FAAREIA commented on #314
Ok perfecto, mañana preparo backup entonces. El backup se que alguien lo tiene, yo lo tuve en un momento y después lo subí creo y se lo bajó lea. Algo asi había sido.
"_beta" lo borro entonces?

[2016-06-01 16:37] LeandroBraier commented on #317
Tal cual, tenés razón. Aún no recibí el OK para ese newsletter, pero te lo
cargo en ese ticket.

abrazo y muchas gracias! quedó excelente el formulario. Me pongo a probarlo
y te digo.

On Wed, Jun 1, 2016 at 12:00 PM, Federico Arena notifications@github.com
wrote:

[2016-06-01 16:54] mkreyness commented on #314
no borres nada, movelo a una carpeta "old". Que creamos que voluntariamente no se usa no implica que no haya algun lugar escondido donde por error se este accediendo. Al moverlo si hay un error va a saltar pero vamos a poder corregirlo, si lo borras, estamos en problemas.

[2016-06-01 17:32] LeandroBraier commented on #317
Quedó excelente Fede!! Muy bueno!!! Funciona muy bien todo el proceso. Solo quedaría poner el Favicon con el Iso de Klaukol (no el de ParexGroup) cuando vos puedas, sin apuro.

abrazo

[2016-06-01 17:33] FAAREIA commented on #314
@LeandroBraier cuando vuelvan a generar las imágenes de las texturas, de paso saquenle los espacios de los nombres de los archivos. Un navegador nuevo en un entorno común parece no presentar problemas, pero puede traer problemas y no encontrar el archivo.
Osea que `nombre de textura.jpg` tiene que ser `nombre-de-textura.jpg`

[2016-06-01 17:35] LeandroBraier commented on #314
Dale, @FAAREIA lo tengo en cuenta. Hoy a la tarde te paso todo esto que me pedís así ya cerramos.

[2016-06-02 00:36] LeandroBraier commented on #289
@FAAREIA y @mkreyness esto podremos tenerlo para dentro de una semana más o menos? Me dicen si es muy dificil o una pavada? Cuantas horas llevaría?

abrazo

[2016-06-02 13:09] FAAREIA commented on #289
http://www.parexklaukol.com.ar/vendedores/cumpleanios.html
Lo preparé para 1 imágen, no es slideshow ni acepta multiples imágenes

Avisame si esta ok

[2016-06-02 14:48] LeandroBraier commented on #289
Está perfecto. Si se puede subir la imagen dsde el CMS y cambiar todos los
meses ya estaríamos. Confirmenme esto.

On Thu, Jun 2, 2016 at 10:09 AM, Federico Arena notifications@github.com
wrote:

[2016-06-02 16:46] FAAREIA commented on #317
Hecho, ya lo subi a http://www.klaukoltebusca.com.ar/ el cual ya esta delegado y funcionando

[2016-06-02 16:51] LeandroBraier commented on #317
Genial Fede! Yo aún no lo veo delegado, debe ir por zonas como siempre no?

On Thu, Jun 2, 2016 at 1:46 PM, Federico Arena notifications@github.com
wrote:

[2016-06-02 16:52] FAAREIA commented on #317
Más que por Zonas por proveedores de internet imagino. Telecentro debería tenerla ya delegada en todos lados

[2016-06-02 17:09] LeandroBraier commented on #317
Ya llegó y está excelente!!! Gracias @FAAREIA !!

[2016-06-02 19:11] mkreyness commented on #289
hago algo para que solo pongas mes/año y una foto ? Acordate de cargarla antes de que el mes empiece porque si no va a salir vacia

[2016-06-02 19:30] LeandroBraier commented on #289
Ok. Entiendo. Perfecto asi.
El jun. 2, 2016 4:11 PM, "mkreyness" notifications@github.com escribió:

[2016-06-02 21:12] mkreyness commented on #289
Esto ya está, tenés en el menu de adm. de vendedores "Cumpleaños del Mes". Cargue una imagen de prueba con el mes de junio. Ojo no hay una leyenda variable en el template, si queres ponemos la frase "cumpleaños del mes" que sea variable y tome lo que cargues en el CMS.
El link para verlo (que no se donde estaria, lo vas a poner en un slide ?)
es este:

http://www.parexklaukol.com.ar/cgi-bin/cumple

[2016-06-02 23:01] LeandroBraier commented on #289
Mil gracias @mkreyness !! Queda de mi lado esto entonces. abrazo y gracias a los dos

[2016-06-02 23:36] LeandroBraier commented on #313
@FAAREIA está aprobado el pedido!

Solo pidieron agregar el siguiente texto debajo del título CASA INTERACTIVA:

"Conocé la Casa Interactiva de ParexKlaukol! Esta herramienta te ayudará a elegir el productor que mejor le queda a tu obra"

![ajuste en innovaciones](https://cloud.githubusercontent.com/assets/6719872/15764495/93a29d06-2901-11e6-8edd-5ce749e80241.jpg)

Si mañana a primera hora podés a

[2016-06-03 00:56] #289 closed, assigned to LeandroBraier

[2016-06-03 01:13] LeandroBraier opened #319 "Pop up + Header Web ParexKlaukol. 22-07"
@FAAREIA necesito que vayas preparando los siguientes materiales para que, cuando yo te avise que lanzamos la campaña de "Klaukol En Busca del Gran Colocador" vos los puedas subir a la web principal de ParexKlaukol en ese mismo momento.

Los elementos son:

1) Un pop up (clásico, con link a www.klaukoltebusca.com.ar)

![pop up gana un viaje a barcelona 1](https://cloud.githubusercontent.com/assets

[2016-06-03 12:58] FAAREIA commented on #313
Lo estaba tratando de subir pero se cayó el server de Duplika

[2016-06-03 13:08] LeandroBraier commented on #313
Está caido. Gracias por avisar! abrazo

[2016-06-03 13:08] LeandroBraier commented on #313
Te aviso cuando Duplika lo sube de nuevo

[2016-06-03 14:24] LeandroBraier commented on #313
Se olvidaron de renovar el dominio. Ya están tramitando eso. Te confirmo.

[2016-06-03 14:48] LeandroBraier commented on #318
@mkreyness aca te vuelvo a enviar la lista pero solo con los nuevos que no tienen código de cliente. Confirmame si podés subirlos sin código o con código repetido. Por lo que entiendo si porque ya hay en la base subida unos cuantos sin código. Lo que no se pueden repetir son las razones sociales no?

[Nuevos Distribuidores Revear 03-06.xlsx](https://github.com/LeandroBraier/Klaukol/files/297776/Nu

[2016-06-03 18:21] LeandroBraier commented on #313
Ya está arriba el sitio de vuelta @FAAREIA !!! Podés subir el news ya. Confirmame porfa.

abrazo y gracias

[2016-06-03 21:00] mkreyness commented on #318
las razones sociales se repiten mucho mas todavia, porque esto en realidad son LOCALES de distribuidores, no empresas. Pinturerias Prestigio esta como 80 veces (una por cada local), y la razon social siempre es la misma.
Si, los puedo cargar sin codigo, lo que no podia es saber cuales de los que habia eran nuevos porque no hay nada 100% distintivo (salvo tal vez el domicilio, pero tambien eso podi

[2016-06-03 21:05] mkreyness commented on #318
la verdad que es un infierno para cualquier geolocalizador como ponen las direcciones, hay un numero metido delante del nombre de la ciudad, que no significa nada, lo tengo que sacar si no va a fallar todo. Y por otra parte ponen en Capital como si fueran ciudades los nombres de las sucursales (porque ni siquiera son barrios, "T.Garcia" no es un barrio).
Lo estoy limpiando todo antes de subir.

[2016-06-03 21:24] LeandroBraier commented on #318
Entiendo. Avisame si necesitás que te ayude con algo de eso y después
pasame como te quedó asi la proxima te lo limpio yo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-06-03 18:05 GMT-03:00 mkreyness notifications@github.com:

[2016-06-03 21:27] mkreyness commented on #318
Ya esta todo subido.
Lo que hay que revisar con cuidado siempre es la columna de localidad, porque en el caso de las cadenas grandes lo que ponen ahi es un numero de sucursal y despues algo que a veces es una localidad, muchas veces abreviada (por ejemplo, "VARELA" en vez de "FLORENCIO VARELA") o directamente el nombre de la calle. Especialmente en Mendoza estaban todas mal las localidades, tuve q

[2016-06-03 21:36] LeandroBraier commented on #318
Ufff que laburo. Gracias MK!! La próxima lo reviso yo directamente. abrazo

[2016-06-03 21:36] #318 closed, assigned to mkreyness

[2016-06-04 13:43] FAAREIA commented on #313
Ahi va!
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-06/16-06-inline.html

[2016-06-04 14:38] FAAREIA commented on #319
Ahi lo dejé todo preparado para cuando se lance ;)
abrazooo

[2016-06-06 12:28] LeandroBraier commented on #313
Buen día @FAAREIA ! Muchas gracias!!

Lamentablemente me piden una versión paralela de este news sin la primera nota, es decir, sin la imagen y texto que hace referencia a la Campaña "Klaukol en Busca del Gran Colocador". Es mucho lio hacerla?

Hacela en un link aparte por las dudas si se puede, así nos quedan las 2 versiones.

[2016-06-06 12:29] LeandroBraier commented on #319
Muchas gracias @FAAREIA !! Cierro el ticket y te aviso cuando hay que subirlo a producción.

Probablemente te pasemos cambios para el pop up antes, el cliente está pidiendo cambios aparte.

abrazo

[2016-06-06 12:38] LeandroBraier opened #320 "Juego Constructores Furiosos"
Buen día @valentinsabbath !! Cómo andás? Te paso un nuevo juego a tunear para Parex y para VIE TUR.

Necesito que lo abras con el programa de HTML5 y me pases las piezas que se pueden reemplazar (necesitamos meter la marca Klaukol /VIE TUR en los banners de atrás y reemplazar al referí que se cae de las maderas por otras figura, por ejemplo).

[codecanyon-7920976-angry-soccer-cup-2014-html5-game.z

[2016-06-06 12:40] FAAREIA commented on #313
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-06/16-06_2.html
Fijate ahi lea

[2016-06-06 12:43] LeandroBraier commented on #313
Gracias Fede! Está OK pero quitá la foto de Potenciados del header.
Reemplazala por esta:

http://homejoss.com/wp-content/uploads/2016/05/surprising-beautiful-stone-fireplaces-then-model-gallery-design-ideas.jpg

On Mon, Jun 6, 2016 at 9:40 AM, Federico Arena notifications@github.com
wrote:

[2016-06-06 12:57] FAAREIA commented on #313
dALE f5

[2016-06-06 13:04] LeandroBraier commented on #313
Casi perfecto @FAAREIA !!! Gracias!!! Solo tendrías que cambiar el link de "Ver en el navegador" por el link actual y cierro el ticket.

abrazo

[2016-06-06 13:28] LeandroBraier commented on #314
@FAAREIA hoy estoy trabajando en los agregados que pedís, pero te repaso lo que sigue pendiente de tu parte:

1) LINK A SPOTIFY

Porfa sumá una red social más a la web, que es la de spotify. Va el link:

https://open.spotify.com/user/reveararg/playlist/77TILlZ800DMOQxZgOAI4g

2) Si no hay video en el Producto, el bloqué sigue apareciendo. SACAR SOLO EN ESOS CASOS  (quizá esto corresponde a @mkreyn

[2016-06-06 14:06] mkreyness commented on #314
2), si es mio. Tengo que modificar un poco el template de producto y tocar el programa.
Por si acaso: no toques el template productoT.html @FAAREIA que lo voy a estar modificando yo.

[2016-06-06 14:07] FAAREIA commented on #314
Para el punto 3 puede agregarse un campo más al CMS o sino debería autogenerarse la imagen asi no es tanto quilombo. Un crop de 72x72 sin achicar la textura, asi se nota

[2016-06-06 14:09] LeandroBraier commented on #314
Uh, si se pudiera autogenerar genial! Para evitar el excesivo Data Entry, pero si es mucho lio el autogenerar lo hago @mkreyness Decime vos.

[2016-06-06 14:12] mkreyness commented on #314
donde van esos thumbs ?

[2016-06-06 14:16] LeandroBraier commented on #314
Entiendo que son las imágenes de cada textura que vemos en la página de
Texturas una al lado de la otra antes de clickear en alguna para agrandarla.

On Mon, Jun 6, 2016 at 11:12 AM, mkreyness notifications@github.com wrote:

[2016-06-06 14:18] mkreyness commented on #314
y eso no esta controlado con el tamaño que tiene cada celda ahi ? Fede no se puede modificar algo en el template para que haga crop de la imagen y listo ?

[2016-06-06 14:30] FAAREIA commented on #314
No, en la sección texturas la imagen es muchisimo más grande que 72x72, ahi no hay nada que tocar.
El tema es que en cada producto en la parte de Colores, ahi irian los thumbs de 72x72.

[2016-06-06 14:32] FAAREIA commented on #314
El tema con el "autocrop" es que la imagen te la carga igual, osea que un tipo que visita la página del producto con un celular o una conección mala, carga imagenes que después capas ni ve. Un thumb de 72x72 debería ocupa 8KB o 10KB y la imagen normal 120KB capas. Son 12 veces menos y el tipo carga la imagen a pedido.

[2016-06-06 14:34] mkreyness commented on #314
ya esta lo de que no aparezca el espacio de video cuando no hay video.

[2016-06-06 14:36] mkreyness commented on #314
no tengo una herramienta para hacer esos crops en duplika, y sabes el kilombo que es pedirles cada cosa. Si podes hacerlos y despues me pasas un .zip con todo, yo los bajo y engancho en la base.
Pero por favor usa los mismos nombres safe que tienen ahora con -72x72 agregado, asi lo puedo automatizar.

[2016-06-06 14:36] FAAREIA commented on #313
Hecho

[2016-06-06 14:41] LeandroBraier commented on #314
Dale, yo te lo paso.

[2016-06-06 14:45] LeandroBraier commented on #313
Muchas gracias Fede!! abrazo grande

[2016-06-06 14:45] #313 closed, assigned to FAAREIA

[2016-06-07 22:09] ghost commented on #320
Otro juego hecho con » Made with GameMaker Studio
No puedo abrirlo con Construct2

[2016-06-07 22:13] LeandroBraier commented on #320
Fuck. Habíamos chequeado en teoría que el juego fuera para Construct 2.

GameMaker Studio tiene versión gratis igual. Te fijás si podés intervenirlo igual en este caso?

http://www.yoyogames.com/gamemaker

Aparentemente no tiene una curva de aprendizaje demasiado elevada. Chequealo Valen porfa.

[2016-06-07 23:08] ghost commented on #320
Es muy simple, no se necesita abrirlo con ningun programa. Son estas imàgenes las que te permite cambiar.
Importante: NO se puede modificar el juego, ni siquiera se lo puede importar al Game Maker porque está en la versión "compilada" o "final" y no en la versión de código (para programar).

![angrysoccer_smile_texture_0](https://cloud.githubusercontent.com/assets/16599421/15877599/3d5532ae-2ceb-1

[2016-06-07 23:11] ghost commented on #320
![splash](https://cloud.githubusercontent.com/assets/16599421/15877717/f52b2c08-2ceb-11e6-8c33-58f5eb533d82.png)

[2016-06-07 23:52] LeandroBraier commented on #320
Ah genial Valen! Mejor todavia entonces no? Perfecto.
El jun. 7, 2016 8:11 PM, "valentinsabbath" notifications@github.com
escribió:

[2016-06-08 21:57] LeandroBraier commented on #314
@FAAREIA estoy en proceso de mis pendientes (crops, imagenes mas livianas, etc).

Me dice Mariano de redes sociales que no está hecha la vinculación con YouTube que te pedí. Te paso aquí el paso a paso de nuevo:

El HTML del Paso 1 es el que obtenés al verificar en Google. Yo te había pasado el instructivo y después me dijiste que estaba hecho pero a nosotros no nos figura como hecho ni nos llegó

[2016-06-09 13:34] ghost commented on #320
El juego anterior hubo que programarlo para que cuando el jugador finalice
el juego, lo redireccionaba a otra web. En este juego esto no se va a poder
hacer

2016-06-07 20:52 GMT-03:00 LeandroBraier notifications@github.com:

##

_Atte. Valentín Gavela._

[2016-06-09 13:41] LeandroBraier commented on #320
Consultalo con MK porfa a ver como podemos resolverlo. Quiza como hacíamos
con los juegos flash.
El jun. 9, 2016 10:34 AM, "valentinsabbath" notifications@github.com
escribió:

[2016-06-09 13:44] ghost commented on #320
@mkreyness , qué se puede hacer en este caso?

[2016-06-09 18:22] LeandroBraier commented on #272
@FAAREIA necesitaría que apenas puedas le quites una frase a este mail.

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html

La frase a quitar es:

**"Nos pondremos en contacto para entregártelo."**

Me confirmás porfa cuando esté?

[2016-06-09 19:22] mkreyness commented on #320
Si no podes intervenir en el fuente del juego, no se puede hacer nada.
Lo del flash tambien era modificando el fuente, era codigo que abria un URL, conceptualmente lo mismo que en Construct2.

[2016-06-09 20:06] LeandroBraier commented on #320
@mkreyness podemos saber si entraron a jugar al menos? Si hicieron clic en el juego para jugar?

[2016-06-09 20:08] LeandroBraier commented on #320
El archivo principal no es un javascript? No se puede meter código ahí?

[2016-06-09 20:14] mkreyness commented on #320
No tengo idea QUE COSA es el juego. Si es un javascript puede estar "obscured" por lo tanto ser incomprensible. No seria imposible, pero habria que dedicarle un tiempo a encontrar el lugar donde sucede el "final" del juego.

[2016-06-09 20:39] LeandroBraier commented on #320
Si podés bajatelo y fijate:

[codecanyon-7920976-angry-soccer-cup-2014-html5-game.zip](https://github.com/LeandroBraier/Klaukol/files/300361/codecanyon-7920976-angry-soccer-cup-2014-html5-game.zip)

@valentinsabbath si es un javascript vos podés revisar y ver donde meter lo de los puntos, no?

[2016-06-09 20:44] mkreyness commented on #320
ya me fije con debugger de chrome sobre el preview. Lo que quise decir es "obfuscated, maldito corrector". Tal cual, esta totalmente obfuscado, las rutinas y las variables tienen todos nombres cripticos, no se puede practicamente saber nada. Trate de debuggearlo un poco para ver si podia atraparlo cuando dice "You Win"  pero no lo logre. Seguro que se puede, pero hay que dedicarle horas a encontra

[2016-06-09 21:22] LeandroBraier commented on #320
@valentinsabbath vos podés intentar debuggear eso? Tenemos un poco de tiempo, no tiene que ser esta semana, pero resolverlo en este caso lo vamos a tener que resolver igual.

[2016-06-09 21:41] ghost commented on #320
@LeandroBraier lo voy a intentar

[2016-06-09 21:51] LeandroBraier commented on #320
Muchas gracias Valen! Avisame cualquier cosa.

[2016-06-10 01:02] LeandroBraier commented on #314
@FAAREIA está faltando el link a spotify también. https://open.spotify.com/user/reveararg

En resumen:

1) LINK SPOTIFY

2) VERIFICACIÓN GOOGLE.

[2016-06-10 14:16] FAAREIA commented on #272
No esta esa frase en ese mailing, estas seguro?

[2016-06-10 14:17] LeandroBraier commented on #272
En la landing a la cual lleva el mailing. No en el mailing.
El jun. 10, 2016 11:16 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-10 14:18] FAAREIA commented on #272
Necesito un usuario y contraseña para ver la landing

[2016-06-10 14:22] LeandroBraier commented on #272
LeandroBraier

ParexKlaukol
El jun. 10, 2016 11:18 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-10 14:24] FAAREIA commented on #272
Hecho

[2016-06-10 14:29] LeandroBraier commented on #272
Gracias Fede! Abrazo
El jun. 10, 2016 11:24 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-10 20:34] LeandroBraier opened #321 "Subir PDFs en CMS"
@FAAREIA necesito subir este PDF al producto PAREX DECOFLEX RULATO TRAVERTINO

[Ficha Tecnica PAREX DECOFLEX RT.pdf](https://github.com/LeandroBraier/Klaukol/files/309724/Ficha.Tecnica.PAREX.DECOFLEX.RT.pdf)

@mkreyness se lo pido a Fede porque hay que subirlo para el lunes pero no quería dejar de consultarte a vos si no podemos hacer que en el futuro los suba yo directamente a los PDF, me parece

[2016-06-10 20:44] mkreyness commented on #321
El tema es que esta puesto para que puedas linkear a PDFs (u otros documentos) que esten FUERA del sitio, o a esas porquerias de backup de donde arrancamos.
Si TODOS los documentos estan dentro del sitio, tenemos que moverlos a un lugar unico y ahi te convierto a un upload.
En realidad el mayor problema es que no tengo en el CMS un upload de archivos genericos, solo de imagenes y video (imaginate

[2016-06-10 20:51] LeandroBraier commented on #321
Ok no problem. Le pido a Fede entonces que los siga subiendo por ahora. No
hay problema. Gracias MK!
El jun. 10, 2016 5:44 PM, "mkreyness" notifications@github.com escribió:

[2016-06-13 12:40] LeandroBraier commented on #314
Buen día @FAAREIA ! Cómo estás? Pudiste ver estos 2 temas? En un toque los resolvés.

[2016-06-13 13:01] FAAREIA commented on #314
La verificación ya la hice pero el instructivo no es claro, osea no dice desde que url tengo que hacer las cosas.
Me meto en youtube y no veo nada para hacer y me meto a Google + y me da para llenar datos. Fijense si con la verificación web ya esta lo que necesitan.

Por otra parte el link a spotify me pide que me loguee, puede ser?

[2016-06-13 13:13] LeandroBraier commented on #314
Spotify si. Es asi.

En cuanto a verificación si es lo que hiciste la otra vez y no hiciste nada
nuevo ahora no nos sirve. Subiste el html a la web nueva?
El jun. 13, 2016 10:01 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-13 13:26] FAAREIA commented on #314
No ahora la verificación la hice con la cuenta de revear y no la de parex. Fijense y diganme, si falta algo pasenme primero link y luego pasos para seguir en ese respectivo link.
Lo de spotify ya lo puse, dale F5 por si no lo ves

Abrazo

[2016-06-13 14:58] FAAREIA commented on #321
Hecho

[2016-06-13 16:45] LeandroBraier commented on #314
Perfecto Spotify @FAAREIA !

En cuanto a verificación no nos aparece como verificado en Google Plus. Revisalo vos y vas a ver:

Al parecer todavía no impactó, no nos llegó el email avisando ni la marca de verificación junto al sitio web en la pestaña "Información" de la página de marca en Google+. Con el login revearparex@gmail.com pass: sentir paredes en https://plus.google.com/b/1130147188319116

[2016-06-13 16:50] LeandroBraier commented on #321
Gracias @FAAREIA !!! En el link de Ficha técnica está perfecto. En la presentación interactiva intenté cambiar el link pero aún no lo veo actualizado.

Igual como la presentación anterior estaba en Scribd para que se vea ahí deberíamos subirla a Scribd no? O se puede poner un display del mismo PDF de la ficha técnica que ya subiste? Eso sería ideal.

[2016-06-13 17:47] FAAREIA commented on #321
El link de scribd si no me equivoco es un iframe por lo que si queres que se visualice un PDF en ese lugar, hay que armarlo. Igual me parece que nunca tuvo sentido lo de Scribd, ahi tan chico.... un PDF sería lo mismo, va a quedar diminuto todo. Además si es una ficha técnica lo que queres subir ahi, no sería una "Presentación interactiva" y el link hacia la ficha técnica estaría duplicado sin sen

[2016-06-13 17:56] FAAREIA commented on #314
Ya esta hecho, confirmenmelo igual
Abrazo

[2016-06-13 18:05] LeandroBraier commented on #321
Ok, entiendo lo que decís Fede!!

Lo quito y listo.

abrazo

[2016-06-13 18:05] #321 closed, assigned to mkreyness, FAAREIA

[2016-06-13 18:06] LeandroBraier commented on #314
Gracias @FAAREIA ! Lo confirmo entonces con el equipo de SM y te aviso.

abrazo

[2016-06-14 13:51] LeandroBraier commented on #320
Buen día @valentinsabbath ! Como va?

Te paso acá las imagenes para reemplazar. Vos poneles los nombres correctos a cada una nomás.

https://www.dropbox.com/s/pg0liiq7kkxuzvw/Imagenes%20a%20reemplazar%20en%20Juego%20ParexKlaukol%20y%20VIE%20TUR.zip?dl=0

Pudieron resolver lo del debugger?

[2016-06-14 13:58] ghost commented on #320
Hola @LeandroBraier  todo bien vos!?
Está MUY dificil este código. Tiene 60.000 líneas todas en clave que es imposible de entender.
La verdad que no se si voy a poder encontrar la parte en donde termina

[2016-06-14 14:36] LeandroBraier opened #322 "Calculador de Consumo Revear: Faltan productos"
@mkreyness estoy viendo que faltan productos en el calculador. Por ejemplo, Marble. Puede ser?

Me confirmás apenás podés tener todos ahí?

[2016-06-14 14:40] LeandroBraier commented on #320
Ok. Sigamos intentando porque ya no nos queda otra.
El jun. 14, 2016 10:58 AM, "valentinsabbath" notifications@github.com
escribió:

[2016-06-14 17:50] mkreyness commented on #322
Para que un producto aparezca en el calculador tiene que tener cargados los datos que permiten el calculo (basicamente las presentaciones) Habiamos quedado que los que faltaban los datos no los mostrara, porque si no daba error el calculo.
Con que le cargues los datos que le faltan, va a aparecer automaticamente.

[2016-06-14 18:03] LeandroBraier commented on #322
Perfecto MK. No lo recordaba. Gracias!
El jun. 14, 2016 2:50 PM, "mkreyness" notifications@github.com escribió:

[2016-06-14 19:18] LeandroBraier commented on #320
@mkreyness acá hablamos con Eze y Valentín el tema. Sumemosle los puntos al usuario cuando empieza a jugar. Con eso estamos.

[2016-06-14 19:33] mkreyness commented on #320
El problema es que la llamada al URL que suma los puntos termina en volver al juego, eso tiene sentido al final, pero dificilmente al principio.
Hay que hacer un template con un enfoque diferente.
@valentinsabbath que es lo que iria en sí como juego en la página, un iframe con un URL ?

[2016-06-14 19:43] LeandroBraier commented on #320
Entiendo. Valentín tenía una propuesta un poco más avanzada para esto que
quizá te sirva. Busquenle la vuelta por ese lado pero no tiene sentido
meterse en el código "ofuscado".

2016-06-14 16:33 GMT-03:00 mkreyness notifications@github.com:

[2016-06-14 19:46] ghost commented on #320
Si, es un iframe. Yo decia que quizas se podia dar el premio a los segundos
de que el jugador haya entrado
El 14 jun. 2016 4:43 p. m., "LeandroBraier" notifications@github.com
escribió:

[2016-06-14 19:55] mkreyness commented on #320
Que entro a donde, a la pagina o al juego ? El click que haga dentro del iframe yo no lo recibo, asi que nunca sumaria los puntos.
Lo mas facil seria que la pagina NO muestre el iframe, sino que tenga un boton de "Empezar a jugar" y que cuando se clickee ahi llame al programa que suma puntos y este cuando vuelva pase en el URL algun codigo que haga que SI aparezca el iframe pero con el juego YA IN

[2016-06-14 20:03] mkreyness commented on #320
Aca hay algo que podria funcionar para detectar un click en un iframe, aunque no se si en todos los browsers, especialmente mobile:

var monitor = setInterval(function(){
    var elem = document.activeElement;
    if(elem && elem.tagName == 'IFRAME'){
       ACA IRIA LA LLAMADA AJAX PARA SUMAR PUNTOS
        clearInterval(monitor);
    }
}, 100);

[2016-06-14 20:04] mkreyness commented on #320
pasame lo que haya que instalar del juego y como deberia invocarse desde el IFRAME y lo pruebo.

[2016-06-14 21:54] LeandroBraier commented on #322
@mkreyness ya agregué los datos que faltaban en Marble y Revividor pero siguen sin aparecer. Te fijás porfa?

[2016-06-14 22:04] mkreyness commented on #322
Los agregaste en el "NUEVO Revear" ? Para mi que los agregaste en el viejo, porque el nuevo sigue sin tener ninguna presentacion cargada.

[2016-06-14 22:06] mkreyness commented on #322
por si acaso: no es el campo de texto que dice "presentaciones" (eso es solo para lo que se muestra en la ficha del producto).
Es la SOLAPA "Presentaciones", donde se cargan renglone con unidad de medida y cantidad.
Cualquier duda fijate como esta cargado por ejemplo en el reveplaster

[2016-06-14 22:27] LeandroBraier opened #323 "Subir Ficha Técnica Pastina Fluida"
@FAAREIA cuando puedas lo subís porfa?

[Ficha Técnica KLAUKOL PASTINA FLUIDA IMPERMEABLE ANTIHONGOS.pdf](https://github.com/LeandroBraier/Klaukol/files/315083/Ficha.Tecnica.KLAUKOL.PASTINA.FLUIDA.IMPERMEABLE.ANTIHONGOS.pdf)

Es para PASTINA FLUIDA IMPERMEABLE, la Pastina Roja.

[2016-06-14 22:37] LeandroBraier commented on #322
No entendí que tenía que cargarlo ahi. Estoy intentando y no me lo guarda. Te fijás si vos podés cargar las presentaciones en el CMS porfa?

Lo estoy intentando en Nuevo Revear, por supuesto.

[2016-06-14 22:46] mkreyness commented on #322
El CMS no esta poniendole bien el producto en el primer campo, entonces se guarda pero no queda vinculado con el producto.
Arreglo eso y te aviso.

[2016-06-14 22:51] mkreyness commented on #322
listo, ya esta arreglado y cargue las tres presentaciones del marble, aunque no se bien si tienen que decir bolsa o balde o que. El de 300 le puse tambor, pero no se la diferencia entre el de 6 y el de 30 Kg.

[2016-06-14 23:39] LeandroBraier commented on #322
Gracias MK. Ahora completo el resto. Abrazo
El jun. 14, 2016 7:51 PM, "mkreyness" notifications@github.com escribió:

[2016-06-15 01:11] #322 closed, assigned to mkreyness

[2016-06-15 02:07] LeandroBraier commented on #314
Listo @FAAREIA ! Ya llegó mail y pudimos verificar. Gracias @FAAREIA ! POrfa guardate paso a paso lo que hiciste para verificar así la próxima ya es más fácil.

me quedo el ticket para las mejoras que quedan de mi lado.

abrazo

[2016-06-15 12:57] LeandroBraier commented on #320
Buen día @valentinsabbath y @mkreyness !

Avisenme cuando pueda probar el juego y el tema de los puntos. abrazo grande

[2016-06-15 13:22] mkreyness commented on #320
@valentinsabbath pasame las cosas asi las instalo y puedo avanzar por favor.
Ya esta customizada la interface del juego (imagenes, etc) ?

[2016-06-15 14:22] ghost commented on #320
Perdón por el retraso.
@LeandroBraier: Tienen errores las imagenes que me pasaste:
El PNG está mal hecho

![1](https://cloud.githubusercontent.com/assets/16599421/16083473/6fbd0072-32eb-11e6-940d-94dfccb6d59b.png)
![2](https://cloud.githubusercontent.com/assets/16599421/16083476/71d790b6-32eb-11e6-867b-e1755b8bdfea.png)

[2016-06-15 14:29] valentinsabbath commented on #320
@mkreyness  Esto es para colocarlo en la pagina:

[2016-06-15 14:29] valentinsabbath commented on #320
@mkreyness Esto es para colocar el juego en la pagina:
    <body>
        <div class="gm4html5_div_class" id="gm4html5_div_id">
        <img src="SAM/splash.png" id="GM4HTML5_loadingscreen" alt="smilegames:HTML5 loading screen" style="display:none;"/>

            <canvas id="canvas" width="1024" height="768">
               <p>Your browser doesn't support HTML5 canvas.</p>
            </canvas>

[2016-06-15 14:30] LeandroBraier commented on #320
Entiendo Fede. Consulto y te digo.

On Wed, Jun 15, 2016 at 11:22 AM, valentinsabbath notifications@github.com
wrote:

[2016-06-15 14:31] ghost commented on #320
@mkreyness  este es el codigo para colocarlo en la pagina
[code.txt](https://github.com/LeandroBraier/Klaukol/files/316310/code.txt)

[2016-06-15 14:36] mkreyness commented on #320
@LeandroBraier: es "Valentin", no "Fede"
Esto me exculpa cuando dije "Fran" en vez de "Fede" :)

[2016-06-15 14:39] mkreyness commented on #320
@valentinsabbath , ese codigo llama a un js, que capaz me lo pasaste, pero seguro hay un monton de cosas mas que instalar (iconos, css, etc), me pasas todo junto en un .tar.gz o algo asi ?

[2016-06-15 15:17] LeandroBraier commented on #320
jajja Mil disculpas Valen!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Jun 15, 2016 at 11:39 AM, mkreyness notifications@github.com
wrote:

[2016-06-15 15:34] ghost commented on #320
Está todo en el comprimido que te pasó Lean mas arriba, pensé que lo habías ejecutado.
Pero acá te mando el tarball:
[angry.tar.gz](https://github.com/LeandroBraier/Klaukol/files/316350/angry.tar.gz)

[2016-06-15 19:19] mkreyness commented on #320
algun motivo para que se llame "AngryVietur" la carpeta ? Esto es para Klaukol, o estoy yo confundido ?

[2016-06-15 19:46] ghost commented on #320
También va a ser para a vietur, pero se puede cambiar el nombre porque no
está modificado todavia
El 15 jun. 2016 4:19 p. m., "mkreyness" notifications@github.com escribió:

[2016-06-15 20:04] mkreyness commented on #320
Ah, porque lo estoy probando en Parex y como a su vez el thread este dice "Klaukol", no entendia nada. Ok. Ya en un ratito lo tengo andando todo.

[2016-06-15 20:24] LeandroBraier opened #324 "Nueva URL para Club de Colocadores"
@FAAREIA el cliente está delegando una nueva URL al Club de Colocadores.

Es **www.clubklaukol.com.ar**

Está delegando a los mismos dns de siempre. Te aviso por si tenés que hacer algo más o solo chequear que se haga correctamente.

abrazo

[2016-06-15 20:55] mkreyness commented on #320
Listo, el truco ese para detectar el click no funcionó, pero encontre otro. pero queda mal (corrido y demasiado ancho) en la maqueta, tal vez tenga que intervenir @FAAREIA un momento para ajustarlo.

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?usuario=LeandroBraier&clave=parexklaukol&id=54

Acordate @LeandroBraier para ver si te suma los puntos (le puse 100) que tenes que dessuspenderte.

Fede

[2016-06-15 23:53] ghost commented on #320
el problema es el scrolling. Con la rueda del mouse para atrás hacés reducís el zoom del juego. Pero al mismo tiempo la página se va para abajo. Se pude bloquear el scrolling cuando estás en la zona del juego?

[2016-06-16 00:43] mkreyness commented on #320
yo no hago ningun scrolling y lo veo horriblemente corrido.
El problema es que el iframe tiene un tamaño fijo, que no tiene las mismas proporciones que el juego.
Seguramente se pueda bloquear el scrolling, pero no cambia esto.

[2016-06-16 00:49] ghost commented on #320
Lo que digo es que el juego utiliza el scroll como zoom in zoom out

[2016-06-16 12:23] FAAREIA commented on #324
@mkreyness Copio a marce que seguro tiene que hacer algun truquito.
Por ahora lo que esta hecho es el agregado del dominio `clubklaukol.​com.​ar`, lo cual creó `public_html/clubklaukol`

[2016-06-16 12:29] FAAREIA commented on #323
Hecho

[2016-06-16 12:34] LeandroBraier commented on #323
Gracias Fede! En qué producto la subiste?

Porque estoy viendo que es un producto que se llamaba diferente y me genera duda. Lo voy a consultar.

[2016-06-16 12:36] LeandroBraier commented on #324
Gracias Fede!! Espero el truquito de Marce entonces.

On Thu, Jun 16, 2016 at 9:23 AM, Federico Arena notifications@github.com
wrote:

[2016-06-16 12:38] LeandroBraier commented on #320
Buen día @mkreyness y @valentinsabbath , ya empezamos mal: el juego que subieron no tiene las imágenes cambiadas, es el origen bajado de ENVATO y además se mal subido en la caja del juego:

<img width="1091" alt="captura de pantalla 2016-06-16 a las 10 01 15 a m" src="https://cloud.githubusercontent.com/assets/6719872/16116955/f9201b28-33a5-11e6-9352-046a8a3dffef.png">

Coordinen entre uds por fav

[2016-06-16 12:52] FAAREIA commented on #320
Ya esta solucionado el tema del iframe y quedó responsivo.
Lo de evitar el scroll lo veo rebuscado ya que la página es larga y necesita scroll. Lo que yo haría para evitar códigos rebuscados es agregarle un botón de `lupa +` y `lupa -` que hagan zoom in y out.

[2016-06-16 13:58] FAAREIA commented on #323
El rojo: http://www.parexklaukol.com.ar/klaukol/pastina-klaukol-piezas-normales-fluidas.html

[2016-06-16 14:07] LeandroBraier commented on #323
Perfecto Fede. Gracias!

[2016-06-16 14:52] ghost commented on #320
@LeandroBraier mas arriba aclaré que las imágenes que me pasaste están mal hechas y puse las imagenes. @FAAREIA fijate mas arriba que te muestra cómo quedan las imágenes en el juego. Hay un problema con los bordes de los objetos.

[2016-06-16 14:59] FAAREIA commented on #320
Qué problema? En firefox no veo nada, posteate un screenshot. Si es lo de los bordes negros, ya se solucionó.

[2016-06-16 15:02] ghost commented on #320
@FAAREIA, mas arriba, con el logo, los árbitros, las pelotas, la gomera

![1](https://cloud.githubusercontent.com/assets/16599421/16121578/2f6249f4-33ba-11e6-98ca-568f75125405.png)

![2](https://cloud.githubusercontent.com/assets/16599421/16121552/192bbee0-33ba-11e6-819a-ef1997bfc33d.png)

[2016-06-16 15:27] FAAREIA commented on #320
En Firefox, Chrome e IE11 de Windows 8 se ve bien el juego. Imagino que vos tenes mac y es un bug de rederización de iOS o del navegador webkit (safari / chrome). Además los objetos que se te ven mal no aparecen como tags en el HTML por lo que no pueden ser impactados por CSS.

En IE11 el único bug que encontré es que la pantalla inicial no se adapta al ancho y alto, pero si se adapta cuando empie

[2016-06-16 15:27] FAAREIA commented on #320
El testing no fue en localhost, aviso por las dudas. Probalo online

[2016-06-16 15:35] ghost commented on #320
@FAAREIA es raro, porque en Linux con Chrome, se ve bien el juego original. Igual lo paso para que lo probemos.
@mkreyness te subo el juego que le puse las imagenes personalizadas que hizo Fede.
[angry.tar.gz](https://github.com/LeandroBraier/Klaukol/files/318750/angry.tar.gz)

[2016-06-16 18:20] LeandroBraier commented on #320
Tenés razón Valen. las imagenes están de mi lado, no me acordaba de eso. El
martes la vamos a tener.

On Thu, Jun 16, 2016 at 12:35 PM, valentinsabbath notifications@github.com
wrote:

[2016-06-16 18:46] #323 closed, assigned to FAAREIA

[2016-06-16 19:55] mkreyness commented on #320
Con esta version lo veo todo bien, recuerden cuando hagan las imagenes definitivas que sean compatibles con estas.

[2016-06-16 22:34] LeandroBraier commented on #320
@valentinsabbath te paso las piezas de la versión de Klaukol. Probalas. Si están OK te mando las de VIE TUR.

![slide 5 constructores furiosos](https://cloud.githubusercontent.com/assets/6719872/16135331/4b4c119c-33f9-11e6-87d6-10ac1496a7f3.png)
![slide 2 klaukol](https://cloud.githubusercontent.com/assets/6719872/16135332/4b4c03be-33f9-11e6-86c4-dc984ad62930.png)
![slide 1 klaukol](https://cloud.

[2016-06-16 23:40] LeandroBraier opened #325 "Bug en Consejos en Club de Colocadores"
@mkreyness cargué 3 nuevas fotos en la sección de consejos del Club de Colocadores y me dan error. Te fijás porfa qué pasa?

http://www.parexklaukol.com.ar/cgi-bin/consejoscolo.pl?

usuario=marcelokreyness&clave=pepe

Así no queda todo el fin de semana así.

[2016-06-17 00:41] mkreyness commented on #325
fueron a guardarse a una carpeta equivocada (la de corralones).
Capaz todas las que tenian foto fueron cargadas cuando todavia estabamos con la primer version y al pasar a la segunda version se estropeo pero recien ahora se nota.
Ahora lo arreglo y te aviso.

[2016-06-17 00:46] mkreyness commented on #325
listo

[2016-06-17 01:38] LeandroBraier commented on #325
Muchas gracias MK!! Buen finde largo!!

[2016-06-17 01:38] #325 closed, assigned to mkreyness

[2016-06-17 20:59] mkreyness commented on #320
yo no puedo confirmarte nada porque no se ni donde van. Cuando Valentin las integre y me reenvie el paquete, probamos online.
En VIE TUR todavia no arme la logica del template ni nada, pero lo puedo ir preparando.

[2016-06-17 21:25] mkreyness commented on #324
no, eso de ponerlo como si fuera un subdominio no sirve, y de hecho daba error hiciera lo que hiciese en esa carpeta.
Lo que habia que hacer era un alias con redireccion, como estaba "clubdecolocadores.com.ar".
Ahi hice lo mismo con clubklaukol.com.ar, hay que esperar un poco a que actualicen ellos sus archivos, porque por ahora sigue dando el mismo error que cuando estaba como subdominio (lo mand

[2016-06-17 23:38] LeandroBraier commented on #324
Genial MK! Muchas gracias! Lo pruebo hasta que funque.
Clubdecolocadores.com.ar va a seguir funcionando también?
El jun. 17, 2016 6:25 PM, "mkreyness" notifications@github.com escribió:

[2016-06-17 23:50] mkreyness commented on #324
clubdecolocadores.com.ar sigue y va a seguir andando.
Pero el otro no termina de arrancar. A nivel cpanel estan identicos, y ambos apuntan al mismo IP.
Si mañana sigue igual yo sugiero mandar un mail a duplika.

[2016-06-18 00:26] LeandroBraier commented on #324
Ok. Yo me ocupo no te preocupes. Si no sale les escribo. Quiza no hicieron
bien la delegación las chicas de parex.
El jun. 17, 2016 8:50 PM, "mkreyness" notifications@github.com escribió:

[2016-06-18 01:33] mkreyness commented on #324
no, la delegacion esta bien porque apunta al mismo IP, es algo dentro de Duplika.

[2016-06-18 15:14] LeandroBraier commented on #324
Ya funciona Marce! Gracias!
El jun. 17, 2016 10:34 PM, "mkreyness" notifications@github.com escribió:

[2016-06-18 15:21] mkreyness commented on #324
A mi todavia no, que raro.

[2016-06-18 15:27] ghost commented on #320
@LeandroBraier lo que hay que corregir en la última imágen que me pasaste es que a lo que está sin transparencia hay que hacerlo TODO TRANSPARENTE. Por eso me parace funciona mal. Fijate que en las imagenes originales que te paso aca el fondo es transparente (cuando te las descargas te das cuenta mejor)
![angrysoccer_smile_texture_](https://cloud.githubusercontent.com/assets/16599421/16171811/a2ce

[2016-06-18 16:30] LeandroBraier commented on #324
Son los servicios de internet por zona.  Con fede siempre nos pasa.
El jun. 18, 2016 12:21 PM, "mkreyness" notifications@github.com escribió:

[2016-06-18 16:31] LeandroBraier commented on #320
Perfecto. Ahi esta la cuestion. Te la corrijo y tr la mando. Gracias valen!
El jun. 18, 2016 12:27 PM, "valentinsabbath" notifications@github.com
escribió:

[2016-06-21 01:52] LeandroBraier commented on #320
Aquí van con las correcciones @valentinsabbath !!

Por favor necesitaría tener el juego subido mañana a la mañana lo más temprano posible para probarlo y ver si podemos publicarlo ya a la tarde. abrazo

![slide-4-klaukol-transparente](https://cloud.githubusercontent.com/assets/6719872/16215490/1b13f3b2-3739-11e6-8832-4f61aae71f2a.png)

![slide-3-para-ambos-transparente](https://cloud.githubusercon

[2016-06-21 01:56] mkreyness commented on #320
yo hasta las 9:30 estoy conectado, despues ya mucho mas complicado.
@valentinsabbath Si me rearmas el tar antes de esa hora, lo subo y dejo andando.

[2016-06-21 02:11] LeandroBraier commented on #320
Gracias MK! Yo toy desde temprano también.
El jun. 20, 2016 10:56 PM, "mkreyness" notifications@github.com escribió:

[2016-06-21 02:22] ghost commented on #320
Imágenes cambiadas. Fijense si funciona!
[Angry Soccer - Cup 2014.tar.gz](https://github.com/LeandroBraier/Klaukol/files/324682/Angry.Soccer.-.Cup.2014.tar.gz)

[2016-06-21 04:21] mkreyness commented on #320
ahi lo puse pero anda mal, a veces da un error y en general las imagenes de los arbitros son tan transparentes que no se ven.

[2016-06-21 04:22] mkreyness commented on #320
El error que tira es
Uncaught InvalidStateError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The HTMLImageElement provided is in the 'broken' state.

asi que alguna imagen tiene problemas o falta.

[2016-06-21 11:22] LeandroBraier commented on #320
Buen dia equipo!

Fijate Valen que problema puede haber. Lo de la imagen de los arbitros
decime cual es el problema y te mando la imagen corregida.
El jun. 21, 2016 1:22 AM, "mkreyness" notifications@github.com escribió:

[2016-06-21 12:29] ghost commented on #320
Creo que este ya funciona bien
[Angry Soccer - Cup 2014.tar.gz](https://github.com/LeandroBraier/Klaukol/files/325554/Angry.Soccer.-.Cup.2014.tar.gz)

[2016-06-21 12:31] LeandroBraier commented on #320
Gracias Valen! Avisenme porfa cuando pueda probarlo en la comunidad de
Parex.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Jun 21, 2016 at 9:29 AM, valentinsabbath notifications@github.com
wrote:

[2016-06-21 12:41] mkreyness commented on #320
listo ya esta subido y parece andar todo bien. NO TE OLVIDES @LeandroBraier de poner un instructivo, si no se queda ahi una imagen negra colgada.

[2016-06-21 18:20] LeandroBraier commented on #320
@mkreyness y @valentinsabbath anda perfecto el juego, pero no carga los puntos.

Me detecta que lo jugué, pero no me lo suma los puntos (y eso que me cambié de SUSPENDIDO a ACTIVO) Se fijan eso porfa?

En una hora les paso las imagenes para subir el de VIE TUR también y sumo los instructivos.

[2016-06-21 19:49] mkreyness commented on #320
solo suma una vez el juego, ya lo jugue yo en tu nombre antes, por lo tanto no te vuelve a sumar.
O queres que CADA vez que entran vuelva a sumar ?

[2016-06-21 20:56] LeandroBraier commented on #320
En Parex esta bien que sumen una sola vez. Más adelante sacamos un mes de ilimitado.

Para ese te pido @valentinsabbath si podés reemplazar esta imagen:

![slide 3 para klaukol-transparente](https://cloud.githubusercontent.com/assets/6719872/16245879/35897b9a-37d9-11e6-924e-d04f7d36892a.png)

En VIE TUR todos los juegos pueden sumar 10 veces el puntaje del juego, no te olvides @mkreyness .

@valen

[2016-06-21 21:08] mkreyness commented on #320
Despues de probar esto (cuando @valentinsabbath me lo pase integrado) te borro todas las jugadas asi probas que te sume (una vez).
Cuando ande todo ahi lo paso a VIE TUR. En realidad ahi esta todo "hasta 1000 puntos", no "10 veces el juego". Es fijo.

[2016-06-21 22:39] LeandroBraier commented on #320
@mkreyness ya cargué el instructivo pero me da error al cargar la imagen. Te fijás qué puede ser?

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=54

usuario=LeandroBraier&clave=parexklaukol

abrazo

[2016-06-21 22:57] mkreyness commented on #320
El link que pusiste es a algo efimero o privado, no funciona. Probe de abrirlo a mano y da error.
Esto es lo que pusiste:

https://www.facebook.com/parexklaukolarg/photos/p.932318930223785/932318930223785/?type=3&theater

Tenes que poner un link a algo permanente/no privado/y supongo que nunca https.

[2016-06-21 23:18] LeandroBraier commented on #320
@mkreyness el link te da error porque no está publicado el posteo aún. Lleva al posteo que queremos que ser comparta con el botón de "Share". Vos nos habías dicho que ese campo era para eso.

Lo que me entiendo que me decís es que para que funcione el instructivo tengo que poner ahi el link tengo que subir la ruta del Instructivo. Si se puede, podés hacer que no sea así? Es decir, que usemos el Up

[2016-06-21 23:36] LeandroBraier commented on #320
@valentinsabbath y @mkreyness ya publiqué el Juego de Klaukol. Cuando cambien el juego con la nueva imagen eso no va a alterar nada no?

Quedo a la espera de que resuban el juego con esa nueva imagen y me avisen cuando esté subido el de VIE TUR también.

abrazo

[2016-06-21 23:50] LeandroBraier opened #326 "Consulta para añadir a Guía de Corralones"
@FAAREIA consulta: si quisieramos destacar 2 o 3 corralones por mes (seteable desde el cms) en la Home de la Guía de Corralones. Como diciendo "Corralones destacados del mes" (por distintas razones), cómo te parece que podríamos hacerlo modificando lo menos posible el diseño de la Guía hoy? En base a esa propuesta que pienses, cuántos días estimás que te llevaría aplicarla?

[2016-06-22 00:29] mkreyness commented on #320
Claro, ahi puse que en vez del campo "url" tome el de imagen (solo para este juego, ojo, no se si en los demas realmente esta puesto asi).
Pero si bien eso te libera el URL para poner el share, notaras que este template de juegos NO TIENE un boton de compartir, habria que agregarlo.
Yo estoy esperando a que @valentinsabbath lo rearme y me lo mande, y en cuanto lo tenga lo subo.
En teoria no tendri

[2016-06-22 00:33] LeandroBraier commented on #320
Perdón, pensé que lo teníamos. Olvidemonos del botón de share entonces, no
perdamos tiempo con eso. Avancemos con la versión de VIE TUR cuando Valen
te lo pase.

abrazo

2016-06-21 21:29 GMT-03:00 mkreyness notifications@github.com:

[2016-06-22 03:07] ghost commented on #320
Angry-Parex con la imagen que me pediste @LeandroBraier
[Angry Soccer.tar.gz](https://github.com/LeandroBraier/Klaukol/files/326915/Angry.Soccer.tar.gz)

[2016-06-22 03:10] valentinsabbath commented on #320
@LeandroBraier fijate q

[2016-06-22 03:11] ghost commented on #320
@LeandroBraier fijate que las imagenes de vie-tur tiene los mismos errores que tenian las de Parex

[2016-06-22 03:39] mkreyness commented on #320
ya puse la ultima version de Angry en produccion.
Te borre todas las veces jugadas, fijate cuando lo pruebes si te suma los puntos, y si no avisame.

[2016-06-22 11:57] FAAREIA commented on #326
Es todo laburo de marce eso. Habría que hacer una imagen o una nota con link a los destacados y cuando se abre el link aparece la guía con esos corralones determinados.

[2016-06-22 11:57] FAAREIA commented on #326
@mkreyness

[2016-06-22 12:12] mkreyness commented on #326
pero no hay una "home" de la guia de corralones, es la guia y listo.
No entiendo cuando deberia aparecer y a donde deberia llevar, si es una misma cosa.
Me parece mas bien que @LeandroBraier se refiere a que dentro de la tira que aparece al costado del mapa haya una seccion (como tenemos en los aside de vendedores, etc.) de los "Top 5 Corralones" o algo por el estilo, con un thumb de c/u (que nunc

[2016-06-22 12:17] LeandroBraier commented on #326
Exacto.

Fede: antes del trabajo de MK viene pensar el diseño de eso. El "como"
vamos a destacar uno o varios corralones. Por eso te pregunto a vos, para
que me hagas una propuesta de como lo diseñarias. Tal como esta ahora la
guia es difícil sumar ahi el destacado.  Entiendo que habria que reformarla
y por eso te consulto a vos.
El jun. 22, 2016 9:12 AM, "mkreyness" notifications@github.com escri

[2016-06-22 12:20] FAAREIA commented on #326
Había entendido otra cosa, ahora con lo que dice marce me quedó claro.
Lo que haría es meter un simple bloque sobre el mapa que se titule "Destacados del mes" y ahi metes una lista de top 5 o 10. El bloqué podría contraerse asi el usuario ve mejor el mapa.
El mobiles chicos estaría oculto obviamente, no hay espacio

[2016-06-22 12:33] mkreyness commented on #320
ya tengo todo implementado en VIE TUR tambien, lo que faltaria es el juego propiamente dicho (por ahora esta puesto el de Klaukol para probar) y obviamente ponerle una imagen de instructivo adecuada (tambien la toma de la IMAGEN, no del URL).
Acordate que el limite es 1000 fijo, yo al juego que cargue de prueba le puse 100, si va a ser otra cosa voy a tener que cambiar a que en vez de 1000 sea (pu

[2016-06-22 12:38] LeandroBraier commented on #326
Mmm entiendo pero :

1) necesito que funcione tanto si destacamos 1 como 5 corralones.

2) necesito que en mobile si se vea. En mobile si fuera 1 solo corralon
destacado podríamos usar ese bloque?
El jun. 22, 2016 9:20 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-22 12:43] LeandroBraier commented on #320
@valentinsabbath necesito que me digas qué necesitás que le cambie a las imágenes de VIE TUR porque estamos chequeando y las vemos iguales a las de Klaukol. Porfa dale prioridad a esto que ya tendría que haber salido ayer.

abrazo

[2016-06-22 12:48] ghost commented on #320
El slide 4 no tiene el fondo transparente
![slide 4 vie turl agentes furiosos](https://cloud.githubusercontent.com/assets/16599421/16267086/6535dec6-385e-11e6-9d31-97f96d4ec157.png)

[2016-06-22 12:50] LeandroBraier commented on #320
Gracias! Solo eso?

[2016-06-22 12:52] ghost commented on #320
Solo eso!

[2016-06-22 12:56] LeandroBraier commented on #320
Genial! La próxima decinos directamente lo que falta porfa, asi lo resolvemos más rápido.

Aquí va corregido:

![slide-4-vie-tur-agentes-furiosos-transparente](https://cloud.githubusercontent.com/assets/6719872/16267326/9aae8a8e-385f-11e6-9ff0-f5be9bb6231e.png)

Confirmame cuando esté todo subido porfa.

abrazo

[2016-06-22 13:01] FAAREIA commented on #326
Me lo imagino igual que los destacados Top5 de la comunidad de vendedores por ejemplo, por lo que si hay uno no hay drama, va a quedar algo vacio nomás excepto que le hagamos un diseño exclusivo para ese caso.

En mobile si se va a ver pero en resoluciones de 320 o 480 me parece muy invasivo, ya hasta el mapa es chico en esos casos. Si es necesario que aparezcan igualmente, pensaría otra forma de

[2016-06-22 13:04] ghost commented on #320
Listo
[Angryvietur.tar.gz](https://github.com/LeandroBraier/Klaukol/files/327886/Angryvietur.tar.gz)

[2016-06-22 13:04] LeandroBraier commented on #320
Gracias @valentinsabbath ! @mkreyness llegás a reemplazarlo ahora?

[2016-06-22 13:05] LeandroBraier commented on #326
Ok. Entonces en la versión más chica de Mobile no aparecen, pero en las
demás sí.

Por el momento entonces no lo pensemos como el Top 5. Pensemos en 1 solo
corralón destacado por mes que vaya en ese bloque, así se ve su nombre, su
thumbnail (yo los cargaría, obviamente) y un texto de por qué se destaca
ese mes.

Cuánto nos llevaría ese desarrollo? (calculen por favor horas de trabajo
enfocado en e

[2016-06-22 13:06] mkreyness commented on #320
si, ya te aviso

[2016-06-22 13:07] FAAREIA commented on #326
Si no hay rebusques en el diseño por parte del cliente, lo mio puede llevar 6hs máximo con responsivo incluido.

[2016-06-22 13:13] LeandroBraier commented on #326
Gracias Fede! Calculo 10 hs tuyas entonces y estimo lo de MK en ponele
otras 6 hs. Cuando me confirma MK aviso al cliente.

abrazo

On Wed, Jun 22, 2016 at 10:07 AM, Federico Arena notifications@github.com
wrote:

[2016-06-22 13:16] mkreyness commented on #320
listo, no te olvides las instrucciones, y el jopo de los agentes queda cortado, recien se ve cuando se los golpea y caen.

[2016-06-22 13:27] LeandroBraier commented on #320
jaja es cierto! Pero es mínimo. Gracias @mkreyness ! Ya subí el instructivo y probé y quedó funcionando. Gracias chicos por todo!!!

abrazo grande y les aviso cualquier cosa.

[2016-06-22 13:27] #320 closed, assigned to LeandroBraier

[2016-06-22 14:12] mkreyness commented on #326
si.

[2016-06-22 14:12] LeandroBraier opened #327 "Pequeño Ajuste en Calculador de Consumo Revear"
@mkreyness cuando puedas, sin apuro, necesito que en el Calculador de Consumo se pueda calcular sin necesidad de poner ancho y alto en metros. Me confirmás si se puede porfa?

Con que esté para mañana o el viernes estamos OK.

abrazo

[2016-06-22 14:15] LeandroBraier commented on #326
Perfecto chicos! Gracias!

[2016-06-22 14:15] #326 closed, assigned to FAAREIA

[2016-06-22 14:19] LeandroBraier opened #328 "Bug Fichas Técnicas Web Revear"
@mkreyness  te fijás qué pasa? Ahora no anda ninguna ficha técnica y en el CMS no aparecen cargadas.

En algunos productos se bajan con error. La verdad no recuerdo cómo fue esta subida, puede ser que nunca las hayamos subido? No puedo creer que eso se nos haya pasado. Además estaban todas en el sitio anterior. Cómo podemos recuperar eso?

En caso de que tenga que subirlas de vuelta por lo menos p

[2016-06-22 14:20] LeandroBraier commented on #324
Gracias a los dos!

[2016-06-22 14:20] #324 closed, assigned to FAAREIA

[2016-06-22 15:29] FAAREIA commented on #328
Creo que lo que falta es la variable de la url de la ficha técnica. Actualmente lo que hay es lo que dejé yo en la maqueta, un documento de prueba en pdf.
En este link pueden ver lo que digo http://www.revear.com.ar/productos-para-profesionales/revividor-colores-revear.html
@mkreyness

[2016-06-22 15:34] LeandroBraier commented on #328
Sisi lo vi. No entiendo lo que decís de la variable. Lo uqe necesitamos son
las fichas técnicas. Pasame las URL donde están esas fichas técnicas y yo
las pongo producto por producto si es necesario. Lo que no tengo es esas
fichas técnicas y tenía entendido que ya estaban subidas, porque ya estaban
en el sitio anterior y esas URL las manejan uds en el hosting.

Se ve que también se me pasó a mi che

[2016-06-22 17:12] mkreyness commented on #328
Estaba previsto en los templates y en el CMS estan cargados los URLs, pero capaz con la "limpieza" del sitio viejo quedaron inaccesibles. Seguramente ANTES de eso andaban.
Ahora veo donde quedaron los documentos y los hago accesibles.

[2016-06-22 17:15] mkreyness commented on #328
Listo. Ya quedo independizado del backup viejo, recree la misma estructura en el sitio vigente.
El del link que pasaste arriba @LeandroBraier ya funciona bien.

[2016-06-22 17:16] LeandroBraier commented on #328
Ok, los otros los arreglás vos también?

Sino pasame las URLS y yo los arreglo a todos, como prefieras.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-06-22 14:15 GMT-03:00 mkreyness notifications@github.com:

[2016-06-22 17:18] mkreyness commented on #327
El error es que los campos estan puestos como obligatorios, pero el calculo tiene previsto que solo ponga los m2 directo. Ya le saque la obligatoriedad.

[2016-06-22 17:18] mkreyness commented on #328
Pero estan TODAS las urls cargadas en el CMS, no hay nada que "arreglar".

[2016-06-22 17:19] mkreyness commented on #328
lo que paso es que todo el contenido del "sitio viejo" se renombro, y estas cosas no se habian copiado al nuevo.
Ahora si.

[2016-06-22 17:26] LeandroBraier commented on #328
Perfecto MK!!! Muchas gracias!!! abrazo

[2016-06-22 17:26] LeandroBraier commented on #327
Muchas gracias MK!! Perfecto ahora!

[2016-06-22 17:26] #327 closed, assigned to mkreyness

[2016-06-22 17:57] FAAREIA commented on #328
En este producto sigue mal la url: http://www.revear.com.ar/productos-para-profesionales/revividor-colores-revear.html
En el cms debe estar cargada mal

[2016-06-22 18:41] LeandroBraier commented on #328
Tenés razón, quedó tu PDF de prueba ahí. Gracias por avisar Fede!!

Repasé y nunca hubo un PDF de Ficha técnica que de ese producto @mkreyness Solo era un JPG. Usemos el que te paso aquí:

![2015_revividor_revear_fichatecnica_](https://cloud.githubusercontent.com/assets/6719872/16279016/846fdd10-388f-11e6-9ea8-441b3d177b46.jpg)

abrazo

[2016-06-22 18:52] mkreyness commented on #328
Listo pero ojo que el icono (unico) que hay siempre dice PDF, no seria mejor guardar este JPG como PDF ? Asi como esta es raro lo que hace (lo guarda en vez de abrir).

[2016-06-22 18:56] LeandroBraier commented on #328
Gracias MK!!

Si se pudiera hacer que se hiciera preview en lugar de descargar todos los PDF genial. Sino dejemoslo así por ahora.

abrazo

[2016-06-22 18:56] #328 closed, assigned to mkreyness, FAAREIA

[2016-06-22 19:09] mkreyness commented on #328
claro, es que tenia puesto a proposito el tag de "download", ahi se lo saque y le puse que lo abra en solapa nueva, fijate.

[2016-06-22 19:22] LeandroBraier commented on #328
Perfecto MK!! Gracias!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Jun 22, 2016 at 4:09 PM, mkreyness notifications@github.com wrote:

[2016-06-22 20:41] LeandroBraier opened #329 "Párrafo a agregar en Bases y Condiciones de Club de Colocadores"
Puede ser mañana, todo bien. @FAAREIA

[2016-06-22 21:21] LeandroBraier commented on #314
**IMAGENES COMPRIMIDAS**

@FAAREIA y @mkreyness les paso todas las imágenes comprimidas a 50 de calidad y sus versiones con el -72x72 que me pidieron y tal como me las pidieron (fue un momento zen hacerlas).

[50 de calidad y version 72.zip](https://github.com/LeandroBraier/Klaukol/files/328758/50.de.calidad.y.version.72.zip)

Atención: La imagen llamada **REVERECO-Planchado-Blanco** es nueva, no

[2016-06-22 21:30] mkreyness commented on #314
No recuerdo haberte pedido nada de esto, supongo que fue @FAAREIA , expliquenme que tengo que hacer.

[2016-06-22 21:31] mkreyness commented on #314
ahi lo vi mas arriba. Los bajo y despues veo como los engancho, pero los originales (sin el 72x72) cambiaron ?

[2016-06-22 21:31] mkreyness commented on #314
siempre aprieto el boton equivocado...

[2016-06-22 21:32] LeandroBraier commented on #314
jajaj Si @mkreyness los originales sin el 72x72 cambiaron. Ahora pesan menos de 100 k. Antes pesaban entre 300 y 400.

[2016-06-22 21:42] mkreyness commented on #314
ojo yo veo que mandaste 65 "72x72" pero yo tengo 90 "colores". Si hago ciegamente que a todo se le agregue el 72x72 van a haber 25 que van a salir rotas.

[2016-06-22 21:44] LeandroBraier commented on #314
Hay colores que no tienen textura.

Entendí que ibas a reemplazar las texturas por archivos del mismo nombre y después les ibas a vincular a cada una su "72x72". No se puede hacer eso?

[2016-06-22 21:46] mkreyness commented on #314
Ah, ok, las que estan marcadas como texturas son 64, y el 1 de diferencia es el nuevo que dijiste, ok, no dije nada.

[2016-06-22 21:53] mkreyness commented on #314
otro problema es que los nombres no coinciden con lo que decian antes, antes tenian blancos, ahora tienen guiones, voy a tratar de reemplazar todo automaticamente en la base, pero la verdad que es un peligro.

[2016-06-22 22:21] mkreyness commented on #314
listo, pareceria estar todo ok, peguenle una mirada.
Ahora los thumbs de las texturas en la pagina de cada PRODUCTO son los nuevos 72x72, mientras que la imagen basica (la que se muestra al ampliar) "sigue siendo" la que era (salvo este ajuste de blancos por guiones en los nombres).
En el CMS ahora en la solapa "Colores" de los productos podes cargar/modificar por separado Imagen y Thumb. Asi carg

[2016-06-22 22:26] LeandroBraier commented on #314
Excelente Marce! Muchisimos gracias! Voy a revisar por las dudas asi nos
quedamos tranquilos. Abrazo grande y hasta mañana!
El jun. 22, 2016 7:21 PM, "mkreyness" notifications@github.com escribió:

[2016-06-22 22:53] LeandroBraier commented on #314
Chequeados y todos bien. Gracias Marce.

[2016-06-23 12:10] FAAREIA commented on #329
en que parte lo agrego?

[2016-06-23 12:38] LeandroBraier commented on #329
Abajo de todo en letra chiquita está perfecto.
El jun. 23, 2016 9:10 AM, "Federico Arena" notifications@github.com
escribió:

[2016-06-23 12:56] FAAREIA commented on #329
Hecho

[2016-06-23 14:12] LeandroBraier commented on #329
Gracias Fede!!

[2016-06-23 14:12] #329 closed, assigned to FAAREIA

[2016-06-23 18:49] LeandroBraier opened #330 "Ajuste Home Web Parex Paraguay"
@FAAREIA tengo un pedido muy específico y simple para la Home de Paraguay. Necesito que subas el mismo destacado central de Klaukol Impermeable Potenciado que tenemos en la web de Argentina en la Web de Paraguay.

http://www.parexparaguay.com.py/

Puede ser para mañana tranquilo.

abrazo

[2016-06-23 18:54] LeandroBraier opened #331 "Backup Sitio Revear"
@FAAREIA necesitaría un nuevo backup de la web de Revear. Puede ser para la semana que viene tranquilo.

¿Me dirías un aproximado del peso del sitio? Es para ver cómo podemos alcanzarselo al cliente.

[2016-06-24 12:31] FAAREIA commented on #330
Hecho

[2016-06-24 12:41] FAAREIA commented on #331
El tema con esto es que hay que incluir archivos que estan linkeados desde el sitio anterior. Lo ideal para todos sería desvincularse completamente del sitio anterior, más limpio, más prolijo, menos problemas a futuro o ante un cambio, etc. Teniendo en cuenta que ya pasamos todos los colores, que queda para desvincular del sitio anterior?

Por otra parte me meti a ver un poco los archivos y habría

[2016-06-24 12:52] LeandroBraier commented on #331
Mmm, interesante ver estos temas. Hablemoslo antes de hacer el backup. Me parece bien y el backup no es urgente.

Si se pudiera no duplicar contenidos sería lo ideal por google. También me parece bien relevar qué contenidos quedan linkeados del sitio anterior y pasarlos al nuevo antes de hacer el backup.

[2016-06-24 12:52] LeandroBraier commented on #330
Gracias @FAAREIA !

[2016-06-24 12:52] #330 closed, assigned to FAAREIA

[2016-06-24 14:47] mkreyness commented on #331
El problema es que las paginas de productos (aunque parezcan iguales) si VIENE por la rama particular tiene los menues y links para seguir con cosas particulares, y si viene por la rama profesional, lo que corresponde a la profesional.
Entonces fisicamente no son iguales las paginas. El contenido interno de cada pagina NO esta duplicado (las fotos estan una sola vez, los colores/texturas una sola

[2016-06-24 15:22] LeandroBraier opened #332 "Trivia con Predicción de la Final del Domingo"
@mkreyness tengo una nueva trivia para predecir la final del domingo, con el juego creado para que si aciertan les sumemos 200 puntos. Como era el proceso? Te aviso el lunes así les sumás esos puntos a los que acertaron?

Aparte te consulto: no sé por qué en este template desapareció el botón de compartir:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=56

[2016-06-24 16:51] mkreyness commented on #332
Si dale, avisame el lunes quien gano el partido... Como vivo adentro de un tupper :)
El template que usa este juego (una trivia comun) no tiene previsto un boton de compartir, ademas que estaria compartiendo, si el juego es solo para usuarios ?
Los que tienen boton compartir son los videos o contenido embedded, que podrian funcionar fuera del sitio.

[2016-06-24 17:05] LeandroBraier commented on #332
Antes lo tenía creo. No te preocupes, dejalo así nomás.

El lunes te digo quien ganó, esperoq ue con alegría.

abrazo

[2016-06-24 17:12] LeandroBraier commented on #331
Entiendo. Entonces no veo problema. Solo nos queda emanciparnos del sitio viejo. Qué nos queda de ahí @mkreyness ?

[2016-06-24 17:24] mkreyness commented on #331
Todo lo que era del sitio viejo de Revear esta aislado en una carpeta que se puede no-backupear y listo. No la borré por si acaso (ya vimos que fue necesario rescatar los PDF de ahi). En teoria no ya deberia necesitarse nada de ahi .
Pero Revear no es un sitio TOTALMENTE separado del de Parex. La base de datos es una sola, los programas usan recursos en comun, los procesos automaticos corren todos

[2016-06-24 17:27] LeandroBraier commented on #331
Mejor todavía MK. Hagamoslo como la otra vez. Los contenidos del sitio pero
que no puedan hacerlo andar solo con eso.

2016-06-24 14:24 GMT-03:00 mkreyness notifications@github.com:

[2016-06-24 17:30] LeandroBraier opened #333 "Concurso Club de Colocadores por mail URGENTE"
@FAAREIA necesito que armes una adaptación simple de un mail que ya hiciste. Este que te pego acá:

<img width="734" alt="captura de pantalla 2016-06-24 a las 2 54 03 p m" src="https://cloud.githubusercontent.com/assets/6719872/16345405/1bc99348-3a18-11e6-8dff-77967dfa1ed8.png">

Solo tenés que cambiar la pregunta que está sobre fondo rojo por esta:

**¿Cuál es el adhesivo correcto de Klaukol para

[2016-06-24 17:35] mkreyness commented on #331
El punto de quiebre son las busquedas, porque llaman a programas, si no tienen la base de datos ni los programas, no pueden funcionar. Todo lo demas es suficientemente estatico como para andar.
Lo otro que no andaria es las llamadas ajax desde el calculador y la guia. La guia es totalmente dinamica, asi que no andaria nada en realidad.
@FAAREIA si lo vas a levantar entonces yo diria hacerlo con to

[2016-06-24 20:17] FAAREIA commented on #331
Ok, lo que migraría entonces es:
- ~~_beta~~
- ~~cgi-bin~~
- css
- ~~ex-js~~
- img
- inc
- js
- Mail
- media (Son los PDFs, lo que falta migrar y renombrar correctamente)
- novedades
- productos-para-particulares
- productos-para-profesionales
- tendencias
- ~~viejos~~

---

Cambiando de tema, tener el HTML duplicado es tener contenido duplicado. Hay dos opciones para mi:
1. Cuando entras a produc

[2016-06-24 20:20] LeandroBraier commented on #331
En posicionamiento puede ser, pero en información nos sirve saber si los
que vieron son profesionales o usuarios finales. Si se puede mantener la
duplicación y agregar el tag que decís mejor.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-06-24 17:17 GMT-03:00 Federico Arena notifications@github.com:

[2016-06-24 20:25] #333 closed, assigned to FAAREIA

[2016-06-24 20:54] mkreyness commented on #331
los templates NO estan duplicados, por lo tanto el tag tendria que ser una variable y setearse por programa.  Es dedicarle un cierto tiempo.

[2016-06-27 12:27] LeandroBraier commented on #332
Lamentablemente perdimos, MK. Ya despubliqué el tema, pero deberías sumarle los 200 puntos a los que respondieron Chile en la pregunta 3.

abrazo

[2016-06-27 12:29] FAAREIA commented on #331
Ok, tengan en cuenta que esto hay que aplicarlo y luego ver como reacciona google con urls duplicadas para el posicionamiento. Tengo entendido que todo el tráfico de una va directo a la otra, que sería la original.

[2016-06-27 13:02] mkreyness commented on #332
Lamentablemente para los vendedores, ninguno respondio Chile. De todos modos no hay pregunta 3, solo veo 1 y 2.

[2016-06-27 13:10] LeandroBraier commented on #332
Si, tal cual. Mala mia. Se ve que estas trivias son yeta. Vamos a dejar de hacer trivias y ganamos. Solo nos falta eso ; )

abrazo

[2016-06-27 13:10] #332 closed, assigned to LeandroBraier

[2016-06-27 13:15] LeandroBraier opened #334 "Pequeño cambio de imagen en producto Sitio Paraguay"
@FAAREIA necesito cambiar el thumb y la imagen de este producto del sitio de Paraguay.

Es Klaukol Impermeable Potenciado, que antes se llamaba Impermeable Fluido y lo cambié. El ID de producto es 85.

La imagen a colocar es esta:

![3d kl_impermeable_potenciado_25kg](https://cloud.githubusercontent.com/assets/6719872/16381262/0e866e86-3c52-11e6-96a7-b904d0def34d.jpg)

Me confirmás porfa cuando lo

[2016-06-27 13:51] mkreyness commented on #331
pero los urls son diferentes y el contenido es parcialmente diferente.

[2016-06-27 14:16] FAAREIA commented on #334
Esta corrompida la foto, ni la veo.
En el CMS se puede cargar la foto? Si es asi, pasame los accesos pls

[2016-06-27 14:25] LeandroBraier commented on #334
Ese es el problema. Sino ni te molestaba. No lo puedo subir desde el CMS.

A ver ahora si la sube bien a la imagen:

![klaukol-impermeable-potenciado-25-kg](https://cloud.githubusercontent.com/assets/6719872/16383221/9b99d1c0-3c5a-11e6-8c0e-33ec29b008da.jpg)

![klaukol-impermeable-potenciado-25-kg](https://cloud.githubusercontent.com/assets/6719872/16383222/9e432502-3c5a-11e6-828e-d0768bb93681.png

[2016-06-27 14:27] FAAREIA commented on #331
Recién entre a 1 producto y su contenido es igual para uno u otro usuario. Ahora si van descripciones diferentes, pdfs diferentes, imágenes del slideshow distintas, podría safar pero no veo eso.

Contenido duplicado: https://support.google.com/webmasters/answer/66359?hl=en
Canonical urls: https://support.google.com/webmasters/answer/139066?hl=en

Con la solución de la canonical url, todo el posici

[2016-06-27 14:31] LeandroBraier commented on #334
Algo estaba fallado en el archivo. Ya lo rexporté y lo resubí acá. Fijate porfa.

[2016-06-27 14:41] FAAREIA commented on #334
Hecho.
Copio a @mkreyness que me di cuenta que el páginado/filtros de los productos no funciona. Otra vez duplika imagino y el problema de un server compartido

[2016-06-27 14:44] LeandroBraier commented on #334
Muchas gracias Fede!! Perfecto eso. Avisenme si les puedo ayudar en algo con eso, escribiendo a Duplika o algo.

(Ya les aviso que estoy organizando la migración paulatina de los sitios a un hosting propio)

[2016-06-27 16:21] #334 closed, assigned to FAAREIA

[2016-06-27 16:21] LeandroBraier opened #335 "Paginado de Productos en Sitio Parex"
Cito al gran @FAAREIA cuando dijo:

[2016-06-27 16:52] mkreyness commented on #335
desde cuando pasa esto ?

[2016-06-27 16:55] mkreyness commented on #335
A mi me anda, probe con Parex y Klaukol. Probe de filtrar, probe de paginar, me anduvo todo.
Lo que si veo que el producto Parex Atermico sale sin thumbnail y con los textos con los acentos mal, pero los otros parecen estar bien.
Me pueden dar un ejemplo de lo que anda mal para probar ?

[2016-06-27 16:59] mkreyness commented on #331
LOS MENUES son todos diferentes, porque llevan a links diferentes. Hasta el link del menu principal lleva a OTRO menu principal.

[2016-06-27 17:05] FAAREIA commented on #335
No fuí específico porque pensé que pasaba en los 3 dominios.
En AR funciona bien, PY y UY no.
Ej: http://www.parexparaguay.com.py/cgi-bin/listaproductosbase.pl?site=2&marca=1&pagina=2

[2016-06-27 17:26] mkreyness commented on #335
estoy comparando todo entre AR y PY, ajuste algunas diferencias, pero igual da error. Voy a ver si se puede encontrar algo en un log en el CPanel y si no va a haber que consultar con Duplika

[2016-06-27 17:37] mkreyness commented on #335
listo, ya encontre la madre del borrego, deberia haber quedado andando todo, peguenle una mirada

[2016-06-27 17:48] FAAREIA commented on #335
Lo veo joya, revisé UY y PY

[2016-06-28 11:08] LeandroBraier commented on #335
Muchas gracias muchachos! Me olvidé de agradecerles ayer. Abrazo
El jun. 27, 2016 2:48 PM, "Federico Arena" notifications@github.com
escribió:

[2016-06-28 12:04] #335 closed, assigned to mkreyness

[2016-06-30 14:54] LeandroBraier commented on #331
@mkreyness y @FAAREIA más allá de la discusión SEO, que me llevo lo que pasaron y lo pienso y lo paso a otro ticket nuevo, cuando podemos tener listo el backup completo del sitio para enviar al cliente?

[2016-06-30 19:30] mkreyness commented on #331
@FAAREIA lo levantas vos ?

[2016-06-30 20:31] LeandroBraier opened #336 "Quitar cartel de Bienvenida Club de Colocadores"
@mkreyness necesito quitar el pop up con el texto del cartel de bienvenida que aparece cada vez que entrás al Club de Colocadores.

Me avisás porfa?

abrazo

[2016-06-30 20:50] mkreyness commented on #336
La bienvenida por suma de puntos del dia decis ? Pero el primer ingreso si lo dejo ?

[2016-06-30 21:28] LeandroBraier commented on #336
El tema es que menciona los puntos y en el club no hay puntos.

Si dice puntos hay que sacarle esa parte o directamente el cartel.
El jun. 30, 2016 5:55 PM, "mkreyness" notifications@github.com escribió:

[2016-06-30 21:33] mkreyness commented on #336
Ok, saco el cartel del todo entonces. En un rato.

[2016-06-30 22:36] mkreyness commented on #336
listo

[2016-06-30 22:48] LeandroBraier commented on #336
Gracias MK!!!

[2016-06-30 22:48] #336 closed, assigned to mkreyness

[2016-07-01 12:28] FAAREIA commented on #331
Si dale, reviso el ticket y lo hago. Va a ir sin base de datos obviamente

[2016-07-01 12:38] FAAREIA commented on #331
http://revear.com.ar/revear.zip

[2016-07-01 12:48] LeandroBraier commented on #331
Gracias @FAAREIA !!! abrazo grande

[2016-07-01 12:48] #331 closed, assigned to FAAREIA

[2016-07-01 13:26] LeandroBraier opened #337 "Newsletter Julio ParexKlaukol. 01/07"
Buen día @FAAREIA !

Te paso los contenidos para el news de Julio. Si llegás a maquetarlo hoy genial, dandole prioridad frente a FUCA y todo lo demás.

[NEWSLETTER JULIO 2016 FINAL.docx](https://github.com/LeandroBraier/Klaukol/files/343528/NEWSLETTER.JULIO.2016.FINAL.docx)

Sino, sería para el lunes a primera hora. Ya incluye imágenes, links y todo lo que necesitás.

abrazo

[2016-07-01 15:49] FAAREIA commented on #337
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-07/16-07.html
No lo pude probar pero la base está

[2016-07-01 16:05] LeandroBraier commented on #337
Está perfecto Fede!

Solo me faltó pasarte los copetes de las 2 primeras notas. Aquí van:

**Hogares a leña para ambientes modernos**

Conocé en esta nota una serie de hogares a leña modernos, que brindarán calor a tu hogar sin descuidar diseño y en línea con las nuevas tendencias.

**Cómo hacer una chimenea paso a paso**

Nada más alegre en un hogar o casa de fin de semana, como una chimenea bien

[2016-07-01 18:06] FAAREIA commented on #337
Hecho, fjate ahora

Abrazo

[2016-07-01 18:10] LeandroBraier commented on #337
Perfecto Fede!! Muchísimas gracias!

abrazo

[2016-07-01 19:47] FAAREIA commented on #337
Acordate que no esta listo para mandar, hay que pasar los estilos dentro de cada tag. Eso es un preview del mailing a enviar nomás, falta ese paso que te digo

[2016-07-01 20:08] LeandroBraier commented on #337
Ah, ok. Porfa dejalo listo para que meta en Mailchimp porfa. Ya está aprobado.

[2016-07-02 13:07] FAAREIA commented on #337
Hecho, ahi le puse todos los estilos inline.

Abrazo

[2016-07-02 13:13] LeandroBraier commented on #337
Gracias Fede! Abrazo y buen finde
El jul. 2, 2016 10:07 AM, "Federico Arena" notifications@github.com
escribió:

[2016-07-02 13:39] #337 closed, assigned to FAAREIA

[2016-07-04 13:09] LeandroBraier opened #338 "Consulta: backupear y dar de baja viejo sitio Revear"
Buen lunes @mkreyness !

Qué posibilidad tenemos de backupear y dar de baja el viejo sitio Revear.

Para que no sigan posicionados en Google algunos links de la web vieja que ya no se ven, como este:
http://www.revear.com.ar/novedades/revividor-colores-revear/

[2016-07-04 13:41] mkreyness commented on #338
en realidad eso es un engendro, porque usamos el mismo nombre (novedades) para guardar las nuevas y ahi estaban las viejas, que no se quitaron.
Por lo tanto esto YA ESTA en el backup que levanto Fede.
Esas cosas (que son pocas, solo dentro de "novedades"), si te parece bien, las borro a mano ya.

[2016-07-04 13:57] LeandroBraier commented on #338
Perfecto. Ahí chequeé y están en el backup de Fede tal cual.

Borralas a mano nomás. Gracias!

[2016-07-04 14:03] mkreyness commented on #338
y en realidad toda esa carpeta "novedades" esta mal, porque la correcta es "tendencias", que esta abierta por tipo de usuario.
La elimino y listo.

[2016-07-04 14:38] LeandroBraier commented on #338
Genial! Avisame cuando esté eliminada porfa. abrazo

[2016-07-04 14:40] mkreyness commented on #338
ya la eliminé cuando dije "la elimino y listo".

[2016-07-04 14:40] LeandroBraier commented on #338
jaja perfecto gracias!

[2016-07-04 14:40] #338 closed, assigned to mkreyness

[2016-07-04 14:50] LeandroBraier opened #339 "Pequeño ajuste de texto en Página LEED / ParexKlaukol"
@FAAREIA en esta página:

http://www.parexklaukol.com.ar/certificacion-leed.html

necesito que cambies dentro del cuadro de productos, donde dice "Klaukol Pastina Renovación" por "Klaukol Pastina Piezas Normales Fluida"

<img width="757" alt="captura de pantalla 2016-07-04 a las 12 14 13 p m" src="https://cloud.githubusercontent.com/assets/6719872/16564358/6f0b6d7a-41dd-11e6-8a68-ebd66327e701.png"

[2016-07-05 12:48] FAAREIA commented on #339
http://www.parexklaukol.com.ar/certificacion-leed.html

[2016-07-05 13:02] LeandroBraier commented on #339
Muchas gracias @FAAREIA ! abrazo

[2016-07-05 13:02] #339 closed, assigned to FAAREIA

[2016-07-06 15:43] LeandroBraier commented on #272
@FAAREIA tengo algo urgente. El cliente me dice que le siguen reclamando por la frase de "entrega".

Me fijo en este usuario y sigo viendo la frase que te pedí quitar:

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl?usuario=FabianRaffo&clave=parexklaukol179

Me cofirmás qué pasó? Necesito mostrarle al cliente un link donde no se vea la frase.

[2016-07-06 16:20] mkreyness commented on #272
Es un texto que esta fijo en el template, queres que lo saque ?

[2016-07-06 16:37] LeandroBraier commented on #272
Si, por favor Marce. Me había dicho Fede que lo había sacado y yo ya le
había dicho al cliente. Sacalo urgente porfa y confirmame cuando esté hecho
así lo pruebo.

abrazo

On Wed, Jul 6, 2016 at 1:20 PM, mkreyness notifications@github.com wrote:

[2016-07-06 16:48] mkreyness commented on #272
lo que pasa es que hablaban de una landing, y no se si habra ido al template. Ya lo saque, fijate.
Igual se ve raro ese ticket vacio ahi.

[2016-07-06 17:04] LeandroBraier commented on #272
SI, no te preocupes. Ahi me di cuenta por qué aparecia vacío, el regalo llegaba hasta el mes pasado. Ya lo puse que aplique hasta diciembre pero todavia no aplicó.

Es por el delay en el refresh de la página?

[2016-07-06 17:09] mkreyness commented on #272
no, la pagina no se regenera, es dinamica. Estas seguro que este tipo cumple en julio ?

[2016-07-06 17:29] LeandroBraier commented on #272
No, cumple en Junio este tipo en particular. Pero a los de Julio tampoco los veo.

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl?usuario=AbrahamMarioLokman&clave=Construyendo257

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl?usuario=RodolfoSergioBarro&clave=Rody123

Lo que necesitaría es que anden. No sé por qué no me aparece el mensaje. Me pasás un link donde a vos te ande?

[2016-07-06 18:43] mkreyness commented on #272
Pero vos tendras una bola de cristal para saber que esos tipos nacieron en julio, porque no tienen ninguna fecha de nacimiento cargada.

[2016-07-06 18:46] mkreyness commented on #272
Lokman esta cargado 2 veces. Una vez no tiene fecha (la que tiene el codigo que me pasaste en el URL), y la otra dice que nacio en abril.

[2016-07-06 18:47] mkreyness commented on #272
Rodolfo Barro tambien esta cargado dos veces, en una nunca nacio y en otra nacio en abril

[2016-07-06 18:48] mkreyness commented on #272
Esta lleno de gente duplicada, porque en una estan con un nombre del medio y en otra no, entonces se le generaron dos codigos diferentes, aunque tienen el mismo mail.

[2016-07-06 18:49] mkreyness commented on #272
Aca tenes a alguien que verdaderamente cumple en julio

http://www.parexklaukol.com.ar/cgi-bin/cumple.pl?usuario=LorenaBaritoz&clave=31071979

[2016-07-06 19:16] LeandroBraier commented on #272
Genial, me quedo más tranquilo por un lado. Por el lado de que a los tipos les están llegando bien los cumpleaños.

Ahora: esa doble base me preocupa un poco más. Yo cuando descargo del CMS esos usuarios me aparecen 1 sola vez. Recién rechequeé a RodolfoSergioBarrio y FabianRaffo.

De todas formas no es urgente ahora. Con lo que me pasaste me alcanza para responderle al cliente.

Muchas gracias!

[2016-07-06 19:16] #272 closed, assigned to FAAREIA

[2016-07-06 19:37] mkreyness commented on #272
Obvio el codigo esta una sola vez, pero si buscas solo por el apellido Barro (no Barrio) y el otro Lokman, vas a ver que estan dos veces, con distinto codigo.

[2016-07-12 12:17] LeandroBraier opened #340 "Bug Productos Revear"
@mkreyness fijate lo que pasa cuando hacés clic en "Línea Premium" o "Revestimientos texturados" de esta parte de la página de producto:

<img width="384" alt="captura de pantalla 2016-07-12 a las 9 40 52 a m" src="https://cloud.githubusercontent.com/assets/6719872/16766582/5c6cc94a-4811-11e6-86cf-5395bae0d7f3.png">

Te lleva a una lista .pl donde los productos dan error. Por favor resolvamos esto

[2016-07-12 15:19] LeandroBraier opened #341 "Metadata Revear"
@FAAREIA los datos que están saliendo en google para la nueva web son cualquiera.

Me pasás que necesitás así te lo paso redactado?

<img width="675" alt="captura de pantalla 2016-07-12 a las 12 43 10 p m" src="https://cloud.githubusercontent.com/assets/6719872/16772505/ee7d71c2-482a-11e6-9e92-c46c69f7ef67.png">

Es metadescripcion y qué más?

[2016-07-12 16:41] mkreyness commented on #340
a mi no me da ningun error, habra sido alguna de las gracias de Duplika, que se habra arreglado sola.

[2016-07-12 16:41] mkreyness commented on #340
AHHH cuando haces click en los productos que vienen en la lista, ok, ya entendi. Ahora veo.

[2016-07-12 16:44] mkreyness commented on #340
listo.

[2016-07-12 17:58] LeandroBraier commented on #340
Gracias Mk!
El jul. 12, 2016 1:44 PM, "mkreyness" notifications@github.com escribió:

[2016-07-14 01:05] LeandroBraier commented on #317
@FAAREIA esta campaña se reavivó con todo. Necesito para el viernes que le hagas algunos ajustes varios para dejarla lista para presentar al cliente. Cambió levemente el nombre de la campaña y algunos otros detalles.

1) Necesito que lo pases al estilo YPF como hicimos para Paty Chile. Header arriba con la estética de la campaña (Korol y demás) y debajo fondo pleno, puede ser blanco o gris, como e

[2016-07-14 15:16] FAAREIA commented on #341
Estuve buscando y no pude encontrarlo pero falta TODO el SEO del sitio.
Sería:
- Todos los meta description
- Todos las imagenes de 1200x630 para facebook. De cada productos y secciones en todas sus variables.

[2016-07-14 15:16] FAAREIA commented on #341
Hay que definir también que URL va a ser el oficial en google, si el producto profesional o el particular, asi se define el canonical.

[2016-07-14 15:20] LeandroBraier commented on #341
Que la oficial de GOogle sea la particular, eso ya te lo defino. En cuanto a metadescription cuánto caracteres máximo?

Las fotos te las armo.

abrazo

[2016-07-14 15:22] FAAREIA commented on #341
La metra descripción es el texto detalle que te muetra google debajo del link a la página. Se dice que con 160 caracteres te entra bien sin que te lo corte el buscador con un "..."
También he leido que aunque te lo corte, igual sirve para la indexación lo que no llega a leerse.

[2016-07-14 15:25] LeandroBraier commented on #341
Perfecto, gracias Fede!! Intento pasartelo en breve.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-07-14 12:22 GMT-03:00 Federico Arena notifications@github.com:

[2016-07-14 15:38] FAAREIA commented on #317
Para mañana no se llega. Yo diría que la semana que viene se presenta el nuevo diseño y luego se maqueta.

[2016-07-14 15:50] LeandroBraier commented on #317
Mmm, para mañana no llegás con el nuevo diseño al menos? Sin maquetación?

Así como el JPG que te subí acá arriba.

[2016-07-14 21:38] FAAREIA commented on #317
Se puede llegar pero no es garantía. El diseño a veces sale al toque y a veces cuesta. Además es como te dije en Paty, tengo que diseñar un sitio en base a un afiche. Paty tenía más recursos pero aca solo hay una textura o la imagen de la cancha y corol que va a ir en el encabezado.
También tené en cuenta que estamos en medio de lo de Paty y se coló lo de Vietur que espero no haya más cambios, si

[2016-07-14 22:23] LeandroBraier commented on #317
@FAAREIA solo para dejarlo asentado lo que hablamos por tel, acordate de pasarme mañana al mediodía hasta donde llegaste así vemos si necesitamos pedirle una mano al equipo de diseño.

abrazo grande y gracias!

[2016-07-15 16:00] FAAREIA commented on #317
Ahi le estuve dando al diseño, me faltó el header y el footer, pero eso con lo que hay se resuelve más fácil que todo el contenido.
El zip con el archivo photoshop bajenlo de http://benteveo.tv/busca-colocador.zip

![busca-colocador](https://cloud.githubusercontent.com/assets/6184969/16880336/1f4051a0-4a8b-11e6-9fe4-642da3e5b7a7.png)

[2016-07-15 16:08] LeandroBraier commented on #317
Quedó muy bueno Fede!!!! Solo que el rojo lo veo desteñido, no es el rojo
Klaukol no?

On Fri, Jul 15, 2016 at 1:00 PM, Federico Arena notifications@github.com
wrote:

[2016-07-15 17:05] LeandroBraier commented on #317
Confirmame entonces si llegas con el header para la tarde incluido y la corrección de color para la tarde.

También fijate que estén todos los puntos pedidos. Por ejemplo, el 7 no está:

7) Cambiar el botón de QUIERO RECIBIR a que diga: QUIERO INSCRIBIRME EN LA COMPETENCIA

abrazo

[2016-07-15 17:54] FAAREIA commented on #317
Hola Lea, para hoy ya no llego. Lo sigo el lunes en base a lo que les pasé o en base a lo que le retoquen.

[2016-07-15 18:04] LeandroBraier commented on #317
OK, retocamos nosotros entonces. Gracias!

[2016-07-18 12:39] FAAREIA commented on #317
Lea avisame o mandame si hay algo nuevo.
Abrazo

[2016-07-18 12:44] LeandroBraier commented on #317
Buen día @FAAREIA ! Mandamos el diseño el viernes y estamos esperando feedback. Apenas tengo respuesta te aviso, por ahora esperemos.

Seguí avanzando con FUCA nomás.

abrazo

[2016-07-19 00:42] LeandroBraier commented on #317
@FAAREIA te paso la landing final en PSD para que la maquetes. La necesitaríamos subida mañana aunque sea a última hora, llegás? (obvio no hace falta que esté responsive mañana)

https://www.wetransfer.com/downloads/661602727d522aafd41e8174fcae76aa20160718233408/99f86ba634154c76144fa3c94ba40bea20160718233408/c6cc63

Todo lo tenés en el PSD. Lo único que tenés que cambiar del psd es lo siguiente:

[2016-07-19 00:47] LeandroBraier opened #342 "Nueva dinámica de Subir Foto en Vendedores Parex"
@mkreyness necesito que crees una nueva dinámica de estas (ya hiciste un par, por ejemplo para fin de año:

http://www.parexklaukol.com.ar/cgi-bin/jugar.pl?id=27

usuario=LeandroBraier
clave=parex

Necesito una nueva para mañana que sirva para el Día del Amigo. Me confirmás si llegás porfa?

abrazo

[2016-07-19 00:56] mkreyness commented on #342
No hace falta desarrollar nada, ponele al juego tipo "UPLOAD", con eso ya funciona.

[2016-07-19 13:13] FAAREIA commented on #317
No se si llego para hoy, el encabezado hay que rehacerlo. Es una imagen fija de 1680px de ancho y me pusieron palabras en el extremo derecho. El encabezado tendría que ser de un ancho de 1104px y tener en cuenta que si el fondo es del ancho máximo del monitor, pensar qué imagen iria a lo ancho o si tenes una imagen de 1104px después le haces un fade a los costados para lograr ese ancho variable.

[2016-07-19 13:34] LeandroBraier commented on #317
Ok, si nosotros te resolvemos el header y te pasamos la imagen llegás?

[2016-07-19 13:34] LeandroBraier commented on #317
El texto iría dentro de la imagen, no hace falta que esté como texto.

[2016-07-19 13:38] FAAREIA commented on #317
El tema es que hay que meterlo como texto porque sino el encabezado se va a ver bien en 1104px de ancho y después en 768px 640px 480px y 320px se va a ver mal. Todo tiene que ser flexible, o poder reacomodarse.

[2016-07-19 13:38] FAAREIA commented on #317
Yo creo que si llego, si me pasan el footer también, mejor aún ^^

[2016-07-19 13:46] LeandroBraier commented on #317
Entendí lo del texto. Ok, entonces para mañana a la mañana podés tenerla entera?

[2016-07-19 13:46] FAAREIA commented on #317
Si, sin responsivo seguro

[2016-07-19 13:47] LeandroBraier commented on #317
Genial.

[2016-07-19 14:03] LeandroBraier commented on #317
Gracias Fede!

[2016-07-19 14:23] LeandroBraier commented on #317
![landing-header](https://cloud.githubusercontent.com/assets/6719872/16953361/194a3a20-4da3-11e6-81c7-176b0acd99e7.png)

@FAAREIA el diseñador me pasó el header sin texto en el tamaño que pediste por si te suma.

[2016-07-19 14:27] FAAREIA commented on #317
Esta mejor, pero en 1104px de ancho, corol no se ve. Que ponga unas guías asi sabe como diagrama la imagen. Acuerdense de pasarme el psd porque yo eso lo desarmo en capas.

[2016-07-19 15:09] LeandroBraier commented on #317
Ok, entiendo.Le pido el psd y vos lo terminás de ajustar?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Jul 19, 2016 at 11:27 AM, Federico Arena notifications@github.com
wrote:

[2016-07-19 15:11] FAAREIA commented on #317
si pedile, seguro achico el logo o pongo a corol de un lazo y a la chica del otro

[2016-07-19 16:23] LeandroBraier commented on #317
Aca va el PSD fede!

https://mega.nz/#!ZcBWDShB!zk48t3ut5huhmUcumDVQl5NI4kDGxRSSfeykUI9ljG8

[2016-07-19 18:10] LeandroBraier commented on #317
@FAAREIA frená un toque con esto que te vamos a mandar un PSD final corregido. Te aviso apenas lo tengo. Esto va a demorar la entrega no t e proecupes.

[2016-07-19 22:35] LeandroBraier commented on #317
@FAAREIA ahora si, ya lo resolvimos. Acá te paso el PSD integrando pedidos del usuario pero al mismo tiempo (quiero creer) resolviendo los problemas que teníamos con el header.

Fijate ahora: https://mega.nz/#F!3tlFBYzS!XGLaWXGpNe9I5byCZq5_aw

abrazo

[2016-07-20 12:13] FAAREIA commented on #317
Hola Lea, el header sigue estando gigante voy a tener que achicarlo. Con respecto al contenido, no veo cambios.

[2016-07-20 12:41] LeandroBraier commented on #317
La mayor parte del texto quedó fuera del header eso es un cambio no? No lo
ves a ese? En el header está solo la foto y el logo. Llegás a subirlo
maquetado no responsive para hoy a ultima hora?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Jul 20, 2016 at 9:13 AM, Federico Arena notifications@github.com
wrote:

[2016-07-20 12:42] LeandroBraier commented on #317
Recordá no pisar los formularios y demás que ya están funcionando en esa
URL ahora.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-07-20 9:41 GMT-03:00 Leandro Braier leandrobraier@gmail.com:

[2016-07-20 15:02] FAAREIA commented on #317
Fijate ahi lea:
www.parexklaukol.com.ar/busca-gran-colocador2/

Faltaría que me pases la meta-description y la foto de 1200x630 para facebook.

[2016-07-20 15:14] LeandroBraier commented on #317
Gracias @FAAREIA !

1) Falta el texto de abajo del header y antes del "Como participar":

<img width="692" alt="captura de pantalla 2016-07-20 a las 12 35 25 p m" src="https://cloud.githubusercontent.com/assets/6719872/16991717/eb4c117c-4e72-11e6-8a33-e71af564b352.png">

2) El logo debería estar más centrado en el header, no abajo de todo sino como en el psd y la captura que te pasé arriba.

3) Lo

[2016-07-20 15:19] FAAREIA commented on #317
PAsame el psd otra vez que creo que tengo otro, eso del logo nunca lo vi asi

[2016-07-20 15:34] LeandroBraier commented on #317
El link es este mismo:

https://mega.nz/#F!3tlFBYzS!XGLaWXGpNe9I5byCZq5_aw

Puede ser que no te lo había actualizado. Probalo ahora y dale F5. Debería estar actualizado y deberías ver esto:

<img width="1639" alt="captura de pantalla 2016-07-20 a las 12 59 09 p m" src="https://cloud.githubusercontent.com/assets/6719872/16992585/3b0d6a00-4e76-11e6-9421-2e5dbc123019.png">

[2016-07-20 15:37] FAAREIA commented on #317
El PSD no esta asi. Acordate que yo necesito separar 3 capas, Logo, actores y cancha.

[2016-07-20 15:44] FAAREIA commented on #317
http://www.parexklaukol.com.ar/busca-gran-colocador2/
Pregunta:
Lo de los finalistas, no sería ejor sacarlo si no va haber ningun por ahora? O es para que lo vea el cliente nomás?

[2016-07-20 15:58] LeandroBraier commented on #317
Era para que lo viera el cliente nomás lo de los finalistas. Por ahora
dejalo así que está bien. Lo demás lo veo bien, ahora le pido a diseño que
te pase bien el PSD. En un toque lo tenés.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Jul 20, 2016 at 12:44 PM, Federico Arena notifications@github.com
wrote:

[2016-07-20 19:02] LeandroBraier commented on #317
Acá está el nuevo PSD @FAAREIA ! Te paso solo lo que te faltaba. FIjate si lo podés agregar.

https://mega.nz/#F!bhlDgIjY!17tXRAu5-FSOcYBVElcuKw

No te olvides de poner el logo del Header más centrado, no donde está ahora, sobre el borde inferior de la imagen.

abrazo

[2016-07-20 20:36] LeandroBraier commented on #317
@FAAREIA llegamos a tenerla para hoy a la landing?

[2016-07-21 12:07] FAAREIA commented on #317
Hola Lea, tené en cuenta que yo le doy hasta el mediodía o hasta cumplir 4hs, después tengo otros compromisos y entregas.
Hoy lo tenemos, igualmente el .psd no está como en el png, el psd es el mismo que antes. Voy a ver las diferencias y lo voy a replicar

[2016-07-21 12:08] FAAREIA commented on #317
Lo que me faltaría es la textura esa en donde se apoya el texto, con esa imagen en grande, lo replico por completo

[2016-07-21 12:34] LeandroBraier commented on #317
@FAAREIA porfa esto terminalo hoy. No les voy a seguir pidiendo materiales a los chicos, buscale la vuelta para que quede bien igual sin la textura. Se las pedí mil veces, me pasan cosas intermedias y seguimos dando vueltas.

Porfa cerralo lo mejor posible con la diagramación esta aunque sea sin la textura. Hoy dale prioridad a eso y al Mailing Interno de PAty Chile (que le falta cambiar solo 2 pa

[2016-07-21 12:57] FAAREIA commented on #317
Job done. Dale F5

[2016-07-21 13:22] LeandroBraier commented on #317
Hermoso @FAAREIA !! Se lo muestro al equipo y te confirmo.

[2016-07-21 13:54] LeandroBraier commented on #317
@FAAREIA te pido los últimos ajustes y estamos:

1) Te paso el fondo de concreto posta para reemplazar ese. Te pido que lo hagas continuar hasta donde empiezan los finalistas.

https://www.wetransfer.com/downloads/f06e694cbfabde730439c6a2483c7a6c20160721140308/457de16e79f9370ffc63b15a1de9de0920160721140308/7a6af0

Además, dos pedidos que ya te había hecho y quedaron pendientes:

2) Cambiar el botó

[2016-07-21 15:48] LeandroBraier commented on #317
Por si te sirve acá pudimos armar el PSD completo con todo.

https://www.wetransfer.com/downloads/e51b8115d9fc59f92dbe52d466bd173e20160721142750/842b3db58152176febafe78470093df220160721142750/541d1e

[2016-07-21 17:20] FAAREIA commented on #317
Hecho

[2016-07-21 17:30] LeandroBraier commented on #317
Gracias @FAAREIA ! Te voy a estar pasando unos ajustes más que pidió el cliente pero cosas muy sencillas. Quedó muy bien. Si para mañana tenés estos ajustes finales estamos bien.

abrazo

[2016-07-21 21:36] FAAREIA commented on #317
http://www.klaukoltebusca.com.ar/
Subida

[2016-07-21 22:24] LeandroBraier commented on #317
Muchísimas gracias @FAAREIA ! Lo veo arriba. Sos un grosso.

Te paso acá los últimos cambios para mañana nomás:

1) Cambiar: ANOTATE EN TU CORRALÓN

x ANOTATE EN NUESTROS PUNTOS DE VENTA

2) Cambiar: Inscribite en tu corralón amigo.

x  Inscribite en tu comercio amigo.

3) Cambiar la fecha del próximo evento por 17/08. Quedaría así:

Rosario, provincia de Santa Fe 30/06 a las 18hs. en el Club Spor

[2016-07-21 22:58] LeandroBraier commented on #319
@FAAREIA el lunes necesito que subas el POP UP y el header. Te los paso acá ajustados con la nueva info de la campaña.

![pop up](https://cloud.githubusercontent.com/assets/6719872/17041594/67a2d048-4f7d-11e6-9a9f-f9b90b2319b3.png)

HEADER:

https://mega.nz/#F!5MID2QII!mn_eQnMUJC1v4lVSEWQRjQ

abrazo

[2016-07-22 13:08] FAAREIA commented on #317
Todo actualizado Lea, fijate ahora y dale F5.
http://www.klaukoltebusca.com.ar/

[2016-07-22 13:10] LeandroBraier commented on #317
Muchísimas gracias @FAAREIA ! Quedó muy muy bueno!!

Te voy a molestar más tarde una vez más solo para cambiar el embed del video. Gracias!

abrazo

[2016-07-22 14:36] LeandroBraier commented on #319
@FAAREIA si podés confirmame si podés dejar listo esto para subirlo el lunes estamos joya.

[2016-07-22 14:54] FAAREIA commented on #319
Todo preparado

[2016-07-22 14:54] FAAREIA commented on #317
Ahi le puse el OpenGraph al sitio + Google Analytics.
La foto que puse es la del pop-up que se va a mostrar en el home de parexklaukol.com.ar

[2016-07-22 15:00] LeandroBraier commented on #319
Genial @FAAREIA ! Gracias!

El lunes publicado directamente. Si llega a cambiar algo yo te aviso, sino ya publicalo nomás.

abrazo

[2016-07-22 15:11] LeandroBraier commented on #317
Muchas gracias Fede!!! Me había olvidado de pedirtelo.

[2016-07-22 17:16] LeandroBraier commented on #317
@FAAREIA consulta: falta hacer responsive esta landing no? Eso cuando lo tendrías?

[2016-07-22 17:23] FAAREIA commented on #317
Máximo 8hs más de trabajo

[2016-07-22 17:30] LeandroBraier commented on #317
Ok, entiendo. Con que esté para el miércoles o jueves a más tardar
responsive estamos bien?

On Fri, Jul 22, 2016 at 2:23 PM, Federico Arena notifications@github.com
wrote:

[2016-07-22 17:34] FAAREIA commented on #317
si perfecto

[2016-07-22 20:23] LeandroBraier commented on #317
@FAAREIA ya podés cambiar el video de la landing por el definitivo!!

`<iframe width="560" height="315" src="https://www.youtube.com/embed/1dj_4YI4MN4" frameborder="0" allowfullscreen></iframe>`

Con que esté el lunes estamos OK.

Además el cliente pidió linkear a la Guía de Corralones en la primera línea del "Cómo participar". Lo que necesito es que: donde dice:

**La inscripción es gratuita. Ins

[2016-07-25 12:19] #342 closed, assigned to mkreyness

[2016-07-25 12:21] LeandroBraier commented on #317
Buen día @FAAREIA ! Cómo estás?

Porfa avisame cuando hayas cambiado el embed y agregado esta frase con el link.

abrazo

[2016-07-25 12:22] #340 closed, assigned to mkreyness

[2016-07-25 12:28] LeandroBraier commented on #319
Buen día @FAAREIA ! Cómo estás? Porfa avisame cuando subas el pop up y el header nuevos.

abrazo

[2016-07-25 12:42] FAAREIA commented on #319
Job done

[2016-07-25 12:46] LeandroBraier commented on #319
Gracias @FAAREIA ! Genial!

[2016-07-25 12:46] #319 closed, assigned to FAAREIA

[2016-07-25 12:49] FAAREIA commented on #317
Ahi puse todo, en breve le cambio el color al link mientras voy avanzando con lo responsivo

[2016-07-25 12:52] LeandroBraier commented on #317
Excelente @FAAREIA ! Gracias!!

[2016-07-25 17:35] FAAREIA commented on #317
Ahi le terminé lo responsivo. Mañana le voy a pegar una mirada más pero estaría listo

[2016-07-25 17:39] LeandroBraier commented on #317
Excelente Fede!! Quedó muy bueno! muchas gracias!!

Seguís con FUCA no? Mañana te paso unas páginas de login y demás para el evento de En busca del Colocador Klaukol pero eso ya es con más tiempo.

abrazo y gracias!

[2016-07-25 17:39] #317 closed, assigned to FAAREIA

[2016-07-25 17:41] FAAREIA commented on #317
Si con FUCA

[2016-07-25 21:45] LeandroBraier commented on #314
@mkreyness estoy intentando poner un nuevo slide en la web de Revear y no me lo toma, puede ser?

<img width="1382" alt="captura de pantalla 2016-07-25 a las 7 10 48 p m" src="https://cloud.githubusercontent.com/assets/6719872/17118656/f3daee98-5297-11e6-9ef5-c6cf55cfec5c.png">

[2016-07-25 22:06] mkreyness commented on #314
El de texturas ?
Por que no pones mejor esto que es fijo ?
http://www.revear.com.ar/texturas-profesional.html

[2016-07-25 22:10] LeandroBraier commented on #314
jaja no, estoy hablando del Slides Home. Subí un nuevo slide y no aparece en la página.

[2016-07-25 22:13] mkreyness commented on #314
y otra vez se arruinaron todos los acentos, yo no se que tocan en Duplika que va para un lado, va para otro, lo que ahora sirve, mañana no sirve.
Ahora veo

[2016-07-25 22:15] mkreyness commented on #314
nos mudaron por enesima vez de server sin avisar parece.

[2016-07-25 22:15] LeandroBraier commented on #314
Perdón, yo soy el que estoy demorando la mudanza de server. Esta semana avanzo con el tema, disculpá.

[2016-07-25 22:20] mkreyness commented on #314
Lo que digo es que los tipos estos nos llevan de aca para alla sin avisar.
Igual no entiendo bien cual es el que decis que no te aparece. En la foto me mostras 3 pero 2 estan tildados profesional y uno que no.
Ese solo sale en el particular.

[2016-07-25 22:28] LeandroBraier commented on #314
Tenés razón MK! Perdón! No me había dado cuenta. Pero bueno, al menos encontraste ese error ; ) jeje

Igual prometo esta semana avanzo con la mudanza.

abrazo

[2016-07-25 22:32] mkreyness commented on #314
si ojo todavia no toque nada, sigue asi. En la parte web se ve todo normal ? No hay bichos raros en los acentos ?

[2016-07-25 22:33] LeandroBraier commented on #314
La verdad estoy viendo y no noto nada.

[2016-07-25 23:00] mkreyness commented on #314
ojo porque los slides que escribiste ultimos (ahora que normalice el resto) quedaron mal. Ahi los retipeé para que se vean bien en el CMS. Rechequea por favor que todo siga saliendo bien.

[2016-07-25 23:14] LeandroBraier commented on #314
Tal como decis, el slide nuevo no se ve bien en la web (en el CMS si)

<img width="1073" alt="captura de pantalla 2016-07-25 a las 8 38 39 p m" src="https://cloud.githubusercontent.com/assets/6719872/17120667/42d75552-52a4-11e6-981e-2af0c0613c83.png">

[2016-07-26 04:16] mkreyness commented on #314
yo lo veo bien ahora. Capaz cuando miraste todavia no se habia regenerado la pagina

[2016-07-26 12:23] LeandroBraier commented on #314
Yo también. Gracias @mkreyness !

[2016-07-27 23:42] LeandroBraier opened #343 "Newsletter Agosto ParexKlaukol. 05/08"
Buen día @FAAREIA !

Te paso los contenidos para el news de Agosto. Confirmame si llegás para mañana al mediodía o a la tarde ponele.

[Contenido Newsletter ParexKlaukol AGOSTO Corregida 25-7 con links.docx](https://github.com/LeandroBraier/Klaukol/files/387396/Contenido.Newsletter.ParexKlaukol.AGOSTO.Corregida.25-7.con.links.docx)

[Imagenes Newsletter AGOSTO.zip](https://github.com/LeandroBraier

[2016-07-28 14:51] FAAREIA commented on #343
http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-08/16-08.html
Estaba muy organizado, me llevó menos tiempo.
Chequealo todo, los links no anda ninguno y faltan fechas de últimas novedades. El texto de rubi lo achiqué porque no entraba.
Acordate que esta versión no es enviable.

[2016-07-28 15:02] LeandroBraier commented on #343
Muy bueno Fede!!

1) A las fechas que no tenés ponele 01/08

2) En la encuesta, la palabra "razón" le falta el tilde.

Los links no están publicados pero andan no te preocupes. Corregime esto porfa y lo mando a a aprobar. Gracias!

[2016-07-28 15:07] FAAREIA commented on #343
Ahi esta listo.
En la encuesta se pueden elegir varias opciones, no solo 1. Le puse asi porque imagino que puede haber varias causas por las que elegirian un porcellanato

[2016-07-28 15:19] LeandroBraier commented on #343
Genial Fede!

[2016-07-28 16:49] LeandroBraier opened #344 "Maquetación Sistema En busca del Gran Colocador Klaukol"
**1. Formulario de inscripción**

Nombre

Apellido

Teléfono/ Cel

Email

DNI

Domicilio

Ciudad

Provincia

Nombre del Corralón

(todos los campos tienen que estar completos para poder presionar el botón de INSCRIBIR)

**2. Login con número y testeo de DNI**

Ingresá tu número de participante

¿Cuáles son los 3 números faltantes en tu DNI?

**3. 3 tipos de trivias maquetadas, agregando el timer**

[2016-07-29 14:15] FAAREIA commented on #344
Espero que guste, va la primera!

![busca-colocador-evento](https://cloud.githubusercontent.com/assets/6184969/17251095/b55fac1a-557d-11e6-8e6f-fc8676e17e6d.png)

[2016-07-29 16:18] LeandroBraier commented on #344
Muy buena Fede!!! Adelante nomás! Está excelente.

[2016-07-29 17:44] FAAREIA commented on #344
Ahi van más, justo apagué y no se habían subido antes.
El post anterior lo borré porque aca repito la pantalla con un mini-ajuste.
En la patalla de los TOP 30, va a ser un televisor para el público o lo va a ver alguien que los va anunciando?

![Uploading Busca-Colocador-Evento.png…]()
![Uploading Busca-Colocador-Evento-2.png…]()
![busca-colocador-evento-3](https://cloud.githubusercontent.com/asse

[2016-07-29 18:11] LeandroBraier commented on #344
@FAAREIA están muy lindos, pero no están bien alineados para su uso. Me parece que no estás teniendo en cuenta para qué pantallas son.

La pantalla 1 que ya diseñaste es para ver en la laptop de recepción. Esa está perfecta salvo por el logo de ParexGroup. Va logo de Klaukol, no ParexGroup en toda la campaña.

Las pantallas 2 y 3 son para las pantallas touch tipo Siguit donde la gente responde pre

[2016-07-29 23:19] LeandroBraier opened #345 "Pequeños ajustes en Web ParexKlaukol 03/08"
@FAAREIA te paso para mediados de la semana que viene una serie de cambios sencillos en la página web de ParexKlaukol, una vez que termines las maquetaciones del sistema.

De esto como siempre mandame propuesta de diseño primero y una vez aprobado lo maquetamos.

1) Quieren que los telefonos de contacto figuren en la home.
Seria bueno alguna leyenda que diga "LLAMANOS PARA ASISTENCIA EN OBRA" y po

[2016-08-01 17:40] FAAREIA commented on #344
Algunas cosas:
- En la patalla de los TOP 30, va a ser un televisor para el público o lo va a ver alguien que los va anunciando?
- Fijate como quedó la pantalla del DNI. Me queda poco espacio para hacerla similar a un cajero.
- La pantalla de 3,2,1 manos a la llana va a ser asi: Aparece en grande el 3, se va achicando y desvaneciendo. Lo mismo con el 2 y 1 hasta llegar a la frase que aparece grand

[2016-08-01 18:11] LeandroBraier commented on #344
Muy bueno @FAAREIA ! Te respondo abajo los puntos que consultás. Las pantallas están OK salvo la del countdown. Te olvidaste que en esa misma pantalla tiene que haber un espacio donde se reproducen los videos de Klaukol mientras va pasando el tiempo. Lo demás está perfecto.

Tus consultas:

. En la pantalla de los TOP 30, va a ser un televisor para el público o lo va a ver alguien que los va anunc

[2016-08-02 16:40] FAAREIA commented on #344
http://benteveo.tv/klaukol-colocador-busca-evento/registrarse.html
http://benteveo.tv/klaukol-colocador-busca-evento/contador.html (a 1 pantalla por ahora, pero funciona por completo)

Pregunta:
El video que va al lado del contador, no conviene ponerlo aparte? No había habido problemas la vez pasada con eso de la doble pantalla?
Además, el video no se mantendría cuando se acaba el tiempo y aparece

[2016-08-02 21:49] LeandroBraier commented on #344
@FAAREIA mañana entonces avanzamos a partir de lo que hablamos por tel así @mkreyness y @valentinsabbath pueden avanzar. Yo les voy pasando el form de registro.

abrazo

[2016-08-02 21:58] LeandroBraier opened #346 "Programación Sistema En busca del colocador Klaukol"
@mkreyness y @valentinsabbath ya tenemos la primer maquetación para empezar a armar el sistema:

**1-** Login de registración

http://benteveo.tv/klaukol-colocador-busca-evento/registrarse.html

**2-** Login con número y testeo de DNI

**3-** 3 tipos de trivias maquetadas, agregando el timer

**4-** Ranking de Top 30 de usuarios, con scroll automático o manual, a elección

http://benteveo.tv/klauk

[2016-08-02 22:04] mkreyness commented on #346
Recibido. Esto es 99.99% tema mio, lo que tiene que hacer Valentin es armar todo el hardware e instalarle a cada raspi lo que necesita para funcionar.
Para llegar a tener todo para el lunes a las 10, necesito que todos los materiales esten listos mañana mismo.
A que te referis con "en la agencia" ? A "en la productora" ?

[2016-08-02 22:05] LeandroBraier commented on #346
jaja Perfecto! Perdón, ahora le decimos la agencia jeje. Fede me dijo que mañana tiene el resto de la maquetación, no te preocupes. abrazo

[2016-08-02 22:05] mkreyness commented on #346
@valentinsabbath necesito el server prendido y conectado todo el tiempo, mira que yo trabajo en horarios raros.

[2016-08-02 22:09] LeandroBraier opened #347 "Pequeño ajuste a Mailing de Cumpleaños Vendedores. 05/08"
@FAAREIA necesito un pequeño ajuste en este mailing.

http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html

Es reemplazar el paquete de regalo por el ticket de 1000 puntos directamente, como dice en la imagen:

![modificacion-mailing-cumpleanos-vendedores](https://cloud.githubusercontent.com/assets/6719872/17347064/4e0d6056-58e4-11e6-99b4-37bf6e0e7828.JPG)

Esto puede s

[2016-08-02 22:14] mkreyness commented on #346
@LeandroBraier veo dos cosas en la maqueta esta:
- el texto "con el apoyo de Rubi" se pisa con el boton "Registrar Usuario", no se si ustedes lo ven tambien.
- pregunta: ciudades veo que es un desplegable, le cargo la base de datos de ciudades por provincia que tenemos ya en algun lado ? (creo que VIETUR)

[2016-08-02 22:17] ghost commented on #346
Dale Marcelo lo hago a la noche que ahora no estoy en casa

El 2 ago. 2016 7:14 p. m., "mkreyness" notifications@github.com escribió:

[2016-08-02 22:17] mkreyness commented on #346
Y despues no me lo apagues !

[2016-08-02 22:22] LeandroBraier commented on #346
@mkreyness está ya maquetado para 1080 Full HD. Si lo ponés en pantalla completa lo vas a ver joya.

[2016-08-02 22:23] mkreyness commented on #346
pero la registracion se va a hacer en full HD ? Los monitores dan esa resolucion ?

[2016-08-02 22:24] LeandroBraier commented on #346
Es una notebook que usa la persona de que los registra. La ponemos a pantalla completa y listo.

[2016-08-02 22:28] mkreyness commented on #346
Y lo de las ciudades ? Uso lo de VIETUR ? O tendria mas sentido tener mas ciudades cercanas a la zona en que se va a hacer cada evento ? Siempre la idea es minimizar el tiempo de registracion.

[2016-08-02 23:00] LeandroBraier commented on #346
Usemos lo de VIE TUR mejor. Incluye todas las ciudades más importantes del
país. Si es alguna que no está se puede hacer que esa ciudad la completen a
mano?

On Tue, Aug 2, 2016 at 7:28 PM, mkreyness notifications@github.com wrote:

[2016-08-02 23:58] mkreyness commented on #346
Si obvio no es obligatorio elegir.

[2016-08-03 05:22] mkreyness commented on #346
la registracion ya quedo andando, con lo de las ciudades y todo.
Lastima que no puedas hacer andar el NeoRouter, @LeandroBraier
Aca estaria la pagina:
http://10.0.0.23/klaukol-colocador-busca-evento/registrarse.html

[2016-08-03 15:00] LeandroBraier opened #348 "Pequeño ajuste de texto en Web Revear. 08/08"
@FAAREIA esto es para el lunes tranqui.

En la página de Preguntas Frecuentes, cambiar la pregunta de QUÉ COLORES OFRECEN por esto:

¿QUÉ COLORES OFRECEN?
Poseemos una cartilla de colores stándar de REVEAR, la cual es aplicable a la mayoría de los productos que fabricamos. Por otra parte, podemos fabricar a pedido cualquier otro color, de una cartilla de más de 2700 colores. Este servicio también

[2016-08-03 17:47] FAAREIA commented on #344
Ahi van más avances, ya mañana empiezo con lo del login y a diseñar lo que falta.

http://benteveo.tv/klaukol-colocador-busca-evento/contador.html
http://benteveo.tv/klaukol-colocador-busca-evento/empieza.html
http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html

[2016-08-03 18:22] LeandroBraier commented on #344
Gracias @FAAREIA ! El tema es que ya estamos más ajustados de tiempos que cuando arrancamos. No pensé que te iba a llevar más de 3 días.

¿No tenés posibilidad de redoblar esfuerzos y terminarlo hoy? Te dejo libre mañana si querés, pero me pidió @mkreyness tener todo hoy para poder llegar con los tiempos.

[2016-08-03 18:24] LeandroBraier commented on #344
Necesitaría por lo menos tener hoy puntos 2 y 3 para que MK pueda avanzar bien.

[2016-08-03 18:25] LeandroBraier commented on #346
@mkreyness Fede me paso unas maquetaciones más, que te las sumé arriba en el listado, pero no tiene todavía las maquetaciones 2 y 3 que son entiendo las que más necesitás.

Ahi le insistí si puede redoblar esfuerzos para tenerlas para hoy, pero si las tenemos mañana nos complica mucho?

[2016-08-03 18:52] mkreyness commented on #346
Hago lo que se pueda ir haciendo, lo importante es que no se corte...

[2016-08-03 18:57] LeandroBraier commented on #346
jajajja Así es, no se cortará jamás jeje Gracias MK!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Aug 3, 2016 at 3:52 PM, mkreyness notifications@github.com wrote:

[2016-08-03 18:59] LeandroBraier commented on #346
@valentinsabbath vos también me confirmás reunión para el lunes a las 10 am? Así ya agendo.

[2016-08-03 19:01] ghost commented on #346
Confirmado!

El 3 ago. 2016 3:59 p. m., "LeandroBraier" notifications@github.com
escribió:

[2016-08-03 19:01] LeandroBraier commented on #346
Gracias Valen! Ya mandé el evento por google!

[2016-08-03 19:04] FAAREIA commented on #344
Hola Lea, pensá que 3 días son 12hs solamente. Y esto es diseño + maquetación.
Hoy puedo avanzar con el pt2 pero el 3 dudo llegar a maquetarlo.
Avisame
Abrazo

[2016-08-03 19:06] LeandroBraier commented on #344
Dale, si podés avanzar con punto 2 al menos nos ayuda. Gracias!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Aug 3, 2016 at 4:04 PM, Federico Arena notifications@github.com
wrote:

[2016-08-03 19:06] FAAREIA commented on #346
Recuerden que el diseño esta basado para una resolución full screen de 1920x1080. Cuando no se respete la resolución, lo que va a joder no es el ancho sino el alto ya que la idea es que no haya scroll.
Más allá de eso, en un caso de urgencia puede achicarse todo con el zoom del navegador o sino achicando el valor por defecto de la fuente del navegador, la cual es 16px de base.

[2016-08-03 21:47] FAAREIA commented on #344
http://benteveo.tv/klaukol-colocador-busca-evento/login-01.html
http://benteveo.tv/klaukol-colocador-busca-evento/login-02.html

Mañana le doy a las trivias

[2016-08-03 21:51] mkreyness commented on #344
hay una cosa que no entiendo, de donde saca el participante el numero que tiene que ingresar ?
En la registracion no le estamos mostrando ningun numero, ni hay un campo para ingresar uno.

[2016-08-03 21:55] LeandroBraier commented on #344
Gracias @FAAREIA ! Excelentes quedaron!

@mkreyness los números son igual que en Chile. REcordá que no se registran solos, los registra un "secretario" nuestro y le da el cartón con el número. Ese mismo número es el que debería ingresar en el formulario. Pensé que estaba pero se me pasó, tenés razón.

@FAAREIA mañana porfa agregalo así @mkreyness lo incorpora también.

abrazo

[2016-08-03 21:57] mkreyness commented on #344
A eso me referia.

[2016-08-04 01:29] mkreyness commented on #346
@LeandroBraier la numeracion de los items donde esta la lista de maquetas quedo rara, hay como 5 cosas llamadas "1", por favor cuando puedas corregilo como deba ser porque quedo confuso.

[2016-08-04 01:31] mkreyness commented on #346
Dudas: lo de "top 30", en cada pagina entran 8, se supone que tendriamos que ciclar automaticamente de una pagina a otra de las 4 para que todos se vean ? Porque no se si no quien va a "tocar los botones" si esto es algo en exhibicion autonoma.
Ademas como no se esta mostrando el numero de PUESTO EN EL RANKING, puede ser muy confuso (alguien puede aparecer al tope de la 4ta pagina y creer que esta

[2016-08-04 01:37] mkreyness commented on #346
Respecto de la pagina con contador que tiene que mostrar un conjunto de videos, esos videos supongo que los tendriamos que tener en forma local, puesto que no va a haber conexion a internet. Los tenes para pasarmelos ? O alguno de ejemplo aunque sea ? La idea es que corran en continuado uno tras otro siempre en el mismo orden ? En ese caso podria ser un unico video ? O @FAAREIA  vos tenes algo par

[2016-08-04 14:57] LeandroBraier commented on #346
Corregido lo de la puntuación MK!

TOP 30: Gracias por existir MK. No me había dado cuenta. Es crucial @FAAREIA que el top 30 tenga el número de puesto de cada uno además del puntaje. Yo pensé que eso iba en los espacio vacíos que quedaban en el medio, pero si no está hay que agregarlo porfa.

VIDEO EN PÁGINA CON CONTADOR: Tal cual, vamos a subir el video de forma local y va a ser uno largo con to

[2016-08-04 16:41] LeandroBraier commented on #343
@FAAREIA como va? Me pidieron los siguientes cambios en el news y ya salimos. El doc corregido es este:

[Contenido Newsletter ParexKlaukol AGOSTO Corregida 4-08 con links A MAQUETAR.docx](https://github.com/LeandroBraier/Klaukol/files/402135/Contenido.Newsletter.ParexKlaukol.AGOSTO.Corregida.4-08.con.links.A.MAQUETAR.docx)

Te detallo los ajustes para mayor claridad:

**1-** Hay que agregar lo de

[2016-08-04 19:33] LeandroBraier opened #349 "Ajustes en Calculador Revear. 08/08"
@mkreyness me pasan 2 errores del calculador de la web de Revear. Te fijás qué puede ser?
1.  Para 350Mts determina 1 tambor, 9 latas grades y 5 chicas... En realidad debería decir 2 tambores. Me dice el cliente que la cantidad es la misma y es más práctico decir 2 tambores que mostrar todos los tipos de unidades que trae el producto.

<img width="1158" alt="captura de pantalla 2016-08-04 a las 4

[2016-08-04 19:45] mkreyness commented on #349
O sea quieren que redondee a 2 tambores si anda por encima de 1.5 tambor por ejemplo ? Esta barbaro lo que dicen pero tienen que definir un criterio.
Donde pusiste "me dice que aparecen" queres decir "me dicen que NO aparecen" ?

[2016-08-04 19:50] LeandroBraier commented on #349
Tal cual las 2. Ahi agregué el NO.

Es que 1 tambor de 300 kg + 9 baldes de 30 kg + 5 envases de 6 kg equivale exacto a 2 tambores de 300. No es redondeo. Es exacto. No sé por qué no muestra 2 tambores directamente.

[2016-08-04 19:57] mkreyness commented on #349
Ese que la cuenta no da 600 y el 5to envase no se usa completo, pero lo trata de aproximar lo mejor que pueda.
Ponele que necesita 599 Kg, y eso lo forma con 300 + 9 x 30 + 4 x 6 + 5kg. Como no hay envase de 1kg, le suma 1 a la ultima unidad. Lo que no "sabe" es que entonces puede reconvertirse a 1 balde mas, y ahi 10 baldes a  un tambor.

[2016-08-04 20:17] mkreyness commented on #349
Si todos los envases son multiplos del envase mas chico, con redondear todo primero al entorno del mas chico se arregla (en este caso primero convierto 599 a 600 y listo), pero no se si en todos los casos todas las unidades posibles son multiplos entre si, ponele (exagerando) que viniera en baldes de 19 o bolsas de 13, y hacen falta 25. El sistema te ofreceria 19+13, cuando obviamente seria mucho

[2016-08-04 20:52] LeandroBraier commented on #349
Claro, lo que te quiero decir es que 2 tambores o la suma de esos distintos envases dan 600 kg igual. Entonces es lo mismo que le sobre un toque de un tambor o de un balde. Prefieren que sea más simple. Es solo eso.

No te preocupes por las matemáticas. Si igual va a sobrar, que sobre.

En cuanto a Revefloor y Revecret pudiste ver algo?

[2016-08-04 21:15] mkreyness commented on #349
Es lo de siempre, no tienen cargadas presentaciones. No es el TEXTO que figura en la solapa principal para mostrar en el catalogo de productos, es la SOLAPA Presentaciones donde hay que detallar los envases y contenidos.

[2016-08-04 21:36] LeandroBraier commented on #349
Perfecto. Ya te lo subo yo eso entonces.

Gracias MK!
El ago. 4, 2016 6:15 PM, "mkreyness" notifications@github.com escribió:

[2016-08-04 21:42] mkreyness commented on #346
El puntaje tampoco esta, definamos bien entonces que columnas van y en que orden, yo propongo:
- PUESTO
- PUNTAJE
- NOMBRE Y APELLIDO
- CORRALON

y no pondria el numero de participante, total con ver su nombre y el corralon en que trabaja es suficiente.

[2016-08-04 21:46] mkreyness commented on #346
Salvo esos detalles, yo estoy al dia con todo lo que podia hacer, necesito con urgencia la maquetacion de cuestionarios para trabajar en eso en el fin de semana.

[2016-08-04 21:53] LeandroBraier commented on #349
MK, ya agregué las presentaciones. De ambos son: 1 balde de 30 kg y 1 envase de 6 kg, pero lo importante es que si o si siempre hay que comprar los dos. Son componente A y componente B. No sirve uno sin el otro. Podrás incluir eso en la ecuación del calculador?

[2016-08-04 21:55] LeandroBraier commented on #344
@FAAREIA como venís con las maquetaciones faltantes?

Te paso en limpio los cambios que notó Marce que faltaban:

1) LOGIN DE REGISTRACIÓN: Falta el campo de número de participante.

4) RANKING 30: Faltan las columnas de posición y puntaje. MK dice de sacar el número de participante, pero si se puede dejarselo al final a la derecha. O sea que quedarían las siguientes columnas:

. PUESTO
. PUNTAJE

[2016-08-04 21:56] LeandroBraier commented on #346
Gracias MK! Ahi le pasé en limpio los pedidos a Fede y le pregunté como venimos con el resto.

[2016-08-04 22:10] mkreyness commented on #349
entonces son sub-productos combinados ? No tenemos eso previsto.

[2016-08-04 22:12] FAAREIA commented on #344
Ahi van dos pantallas más:

http://benteveo.tv/klaukol-colocador-busca-evento/trivia-texto-texto.html
http://benteveo.tv/klaukol-colocador-busca-evento/trivia-imagen-texto.html

Lo del login ok, aunque no sería mejor autogenerar el número? Digo porque si le van a dar un número, ya van a ser números fijos,
Lo del ranking me adelanté y lo subí sin número de participante. Mañana lo agrego y además te

[2016-08-04 22:17] mkreyness commented on #349
Ya esta arreglado lo del fraccionamiento, fijate que ahora 350m2 de Marble da 2 tambores de 300.

[2016-08-04 22:22] mkreyness commented on #344
Lo que quieren es entregar los numeros fisicamente, el tipo despues tiene que ingresarlo cuando participa, tiene que quedarse con algo fisico.
Faltaria alguna pantalla final que muestre los puntos que gano haciendo la trivia, no ?

[2016-08-04 22:32] LeandroBraier commented on #344
Exacto. Eso es un pop up aparte que le avisa cuántos puntos ganó y cuántos tiene hasta ahora.

[2016-08-04 22:32] LeandroBraier commented on #344
Gracias por los avances @FAAREIA !! Muy buenos!!

[2016-08-04 23:54] LeandroBraier commented on #349
Excelente MK. Con lo de Revefloor y Revecret no sé cómo solucionarlo. No podremos hacer que yo te digo cuánto de cada presentación tenés que usar por m2 y el calculador los cuente en paralelo?

[2016-08-05 00:30] mkreyness commented on #349
pero hay que modificar todo, el CMS y el programa calculador, cuando termine lo del evento Klaukol si queres me pongo con eso, pero ahora seria un suicidio.

[2016-08-05 11:47] LeandroBraier commented on #349
Ok. Si obvio.  Prioridad el evento.
El ago. 4, 2016 9:30 PM, "mkreyness" notifications@github.com escribió:

[2016-08-05 13:22] FAAREIA commented on #344
http://benteveo.tv/klaukol-colocador-busca-evento/trivia-imagen-imagen.html
http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html
http://benteveo.tv/klaukol-colocador-busca-evento/registrarse.html

En breve mando más

[2016-08-05 14:58] FAAREIA commented on #344
http://benteveo.tv/klaukol-colocador-busca-evento/contador.html
http://benteveo.tv/klaukol-colocador-busca-evento/empieza.html
http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html
http://benteveo.tv/klaukol-colocador-busca-evento/login-01.html
http://benteveo.tv/klaukol-colocador-busca-evento/login-02.html
http://benteveo.tv/klaukol-colocador-busca-evento/logo.html
http://benteveo.tv/k

[2016-08-05 16:23] LeandroBraier commented on #344
Buenisimo @FAAREIA muchas gracias!!

El logo en alta en PSD va acá: https://mega.nz/#F!2hMSVDQB!MsvPmlhtQQIvqz--qqZLMQ

Te paso lo que yo veo. @mkreyness si ves algo más avisá porfa, acá ya Fede terminó con todo.

FEEDBACK:

**http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html**

No es scrolleable? Necesitabamos que sea scrolleable, no paginable.

**http://benteveo.tv/klaukol-colocad

[2016-08-05 18:28] FAAREIA commented on #344
Ahi le agregué/corregí todo.

Con respecto a la ciudad, hay un campo oculto listo para que lo use marce.
Lo del contador de tiempo en cada trivia se lo dejo a marce que desconozco si es un tiempo por trivia o un tiempo general para todas.

[2016-08-05 19:35] mkreyness commented on #344
che pero estan modificando todas cosas sobre las que ya trabaje un monton, incluyendo el tema de las ciudades. Obviamente lo que estas viendo @LeandroBraier no es lo que yo estuve trabajando, sino las maquetas puras.

[2016-08-05 19:37] FAAREIA commented on #344
No hubo mucho cambio marce, más que nada agregados. Si lo de la ciudad ya lo tenías resuelto, usa lo que ya habías contemplado, no pasa nada.

[2016-08-05 20:08] LeandroBraier commented on #344
Gracias Fede!!

Yo estoy viendo las maquetas puras que pasó acá Fede.

En cuanto a los timers habíamos hablado ya: es un único timer de principio a fin de la sesión de 1 participante y se almacena la duración total de esa sesión como cifra a sumarle a la duración de las demás sesiones del mismo participante.

[2016-08-05 20:16] LeandroBraier commented on #343
@FAAREIA podrás mandarme esto hoy? Es lo único prioridad para hoy. Lo demás queda ya para la semana que viene, no hay problema.

[2016-08-05 20:21] mkreyness commented on #344
En definitiva cada juego que hace anoto cuanto tiempo paso desde que se le presentó la pregunta hasta que la contestó (bien o mal) y asi como sumo el puntaje, sumo el tiempo. El tiempo lo uso para desempatar entre gente que tenga igual puntaje.

[2016-08-05 20:31] LeandroBraier commented on #344
Exacto. Es asi. Pero el jugador debe poder visualizar cuanto tiempo va contando.

[2016-08-05 21:00] mkreyness commented on #344
Si obvio, pero eso tiene que ser el ACUMULADO que lleva o el del juego que esta haciendo ?

[2016-08-05 21:01] mkreyness commented on #344
Otra cosa: ya tenes las preguntas/respuestas ? Pasame algunas asi las cargo en el CMS y voy viendo como se porta todo.

[2016-08-05 21:06] LeandroBraier commented on #344
El tiempo que ve el jugador es el de la sesión actual, NO el acumulado. El acumulado solo aparece en caso de empate, con lo cual estoy pensando que habría que agregarlo a la tabla del TOP 30 no?

En cuanto a preguntas y respuestas todavía el cliente no nos pasó nada. Tomá de referencia las preguntas de la última trivia de Refractario para hacer las pruebas: http://www.parexklaukol.com.ar/cgi-bin/j

[2016-08-05 21:13] mkreyness commented on #344
No se si ponerlo en el top 30, porque salvo en caso de empate, puede confundir. Por ej, un tipo puede estar primero con 100 puntos pero mucho tiempo (no se, 1 hora) y otro segundo con 101 puntos y muy poco tiempo (ponele, 10 minutos), y se va a prestar a discusion.

Si, pasame ejemplos utiles de todo.

El imagen-imagen yo lo veo mal, se superpone el logo con el texto de la pregunta, y no veo donde

[2016-08-05 21:18] LeandroBraier commented on #344
El imagen-imagen no va. Ya se lo aclaré a Fede y me dijo que lo había
corregido. Las 3 variantes que tenemos en las comunidades son:

_texto-texto_

_imagen-texto_

_texto-imagen_

2016-08-05 18:13 GMT-03:00 mkreyness notifications@github.com:

[2016-08-05 22:28] LeandroBraier commented on #346
@mkreyness para video de muestra (basta un botón) para la pantalla del countdown te paso este video:

ssyoutube.com/watch?v=1dj_4YI4MN4

La semana que viene recién vamos a tener el reel completo con todos los videos, por eso prefiero mandarte un videito solo corto para no demorar tiempos en el servidor y demás.

Si se te llega a caer el Neorouter el fin de semana y Valen no lo puede arreglar avisa

[2016-08-05 22:32] mkreyness commented on #346
pero no tenes el .mp4 ? Youtube no me sirve.

[2016-08-05 22:36] LeandroBraier commented on #346
Mirá el link. Te permite descargar el MP4 de ahi directamente. EN la resolucion que quieras (magia!)

[2016-08-05 22:38] mkreyness commented on #346
ahhh, y yo que creia que el "ss" era un error de tipeo. Ok.

[2016-08-05 22:40] LeandroBraier commented on #346
jajaja magia de viernes

[2016-08-07 23:27] mkreyness commented on #344
Aca hay algo que falta: cuando se clickea la opcion elegida, no hay ningun feedback, con lo cual el tipo no sabe si se lo tomo o no:
http://benteveo.tv/klaukol-colocador-busca-evento/trivia-texto-imagen.html

[2016-08-08 03:27] ghost commented on #346
Buenas!
En registración ahora me doy cuenta, es pantalla táctil, sin teclado.
Estaría bueno que el maqueteado tenga un pad numérico.
No conviene poner el teclado en pantalla porque es horrible, tapa parte de la pantalla  y solo se va a usar en la registracion

[2016-08-08 03:35] mkreyness commented on #346
A mi me dijeron que era una notebook para registracion.

[2016-08-08 03:37] ghost commented on #346
Perdón, aca:
http://10.0.0.23/klk2/login-01.html

[2016-08-08 03:42] mkreyness commented on #346
Tenes razon, pero no uses esos links "klk". Son backups parciales que hago cada vez que Fede me manda una nueva version.

El oficial es siempre este path:
http://10.0.0.23/klaukol-colocador-busca-evento/login-01.html

[2016-08-08 04:34] ghost commented on #346
quise registar un usuario y me dio "internal server error"

[2016-08-08 04:42] ghost commented on #346
desde aca
http://10.0.0.23/klaukol-colocador-busca-evento/registrarse.html

[2016-08-08 11:14] LeandroBraier commented on #346
Tenes razón Valen habria que agregar el pad. Yo estaba pensando que habia
teclado en pantalla pero no es una tablet, es una pantalla tactil como vos
decis.
El ago. 8, 2016 1:42 AM, "valentinsabbath" notifications@github.com
escribió:

[2016-08-08 11:51] mkreyness commented on #346
ya solucione lo que daba el internal. El campo nuevo de numero de participante no tenia nombre en la maqueta nueva. Gracias.

[2016-08-08 13:23] FAAREIA commented on #344
Hecho.

[2016-08-08 20:51] mkreyness commented on #346
Anoto aca cosas que tengo que solucionar yo, antes de que me las olvide. Por favor agregar @LeandroBraier si tenes algo mas:
- en el tema que habia dos preguntas siempre volvia a preguntar la misma en vez de pasar a la segunda
- en el tema corregir para que al terminar vuelva al login
- guardar en la base de datos info general del evento (provincia - localidad para poner de default) SI, OK.
- incl

[2016-08-09 11:15] LeandroBraier commented on #346
Excelente MK! Al final ayer a la tarde no te vi en Skype y no pudimos repasar. Con fede ya repasamos. Acá te sumé en tu lista lo que me pareció que te faltaba y te confirmé lo que me consultabas. Avisame si está todo ahora sí.

abrazo

[2016-08-09 11:26] mkreyness commented on #346
Que raro, estuve conectado al skype del iPhone de 4:30 a 5:30 aprox y pense que capaz te engancharon en otra reunion y vos no pudiste.
Bueno yo ya estuve trabajando anoche con el cambio de logica, y para el resto de cosas dependo mucho de las maquetas modificadas. Ya vi lo que agregaste en la lista, perfecto.

[2016-08-09 12:08] LeandroBraier commented on #346
A esa hora nos conectamos, qué lástima. Yo te veía como desconectado. Salvo que tenga otro usuario. Pasame tu usuario por las dudas.

Perfecto entonces, avanzá todo lo que puedas. Me dijo Fede que hoy si o si te entrega las cosas rápidas, es decir, casi todo, salvo el panel de control o el ranking. Todo lo que es para las raspis lo entrega seguro.

abrazo

[2016-08-09 12:15] mkreyness commented on #346
Mi usuario de skype es mkreyness. A mi me figura que estoy online, fijate si me ves (igual ahora estoy por salir en 5 min asi que se me va a desconectar del wifi)

[2016-08-09 12:23] LeandroBraier commented on #343
@FAAREIA te paso la imagen lista para el news. Decime si queda bien o si te parece necesario hacerle algo más. Tengo al equipo de diseño a full y lo resolví yo, pero quizá se puede mejorar.

![2016-08-final](https://cloud.githubusercontent.com/assets/6719872/17516105/d40a0226-5e12-11e6-8d80-fbe6444dfa7b.png)

[2016-08-09 18:03] FAAREIA commented on #343
Fijate ahi Lea:
www.parexklaukol.com.ar/_mailing/parexklaukol/16-08/16-08.html

[2016-08-09 18:13] LeandroBraier commented on #343
Muchas gracias Fede! Te pido 2 ajustecitos nomás:

1) Cambiar textos de parte de Potenciados:

Arranca “Klaukol en busca del Colocador Klaukol”
Klaukol comienza en Agosto el primer desafío nacional de colocadores en la que todos ganan: colocadores, vendedores y puntos de venta. ¿El premio? Un viaje a Barcelona para ver jugar al nº1 del mundo. Enterate más en www.klaukoltebusca.com.ar

2) Falte el

[2016-08-09 18:14] FAAREIA commented on #344
Avances para marce: @mkreyness
https://github.com/FAAREIA/Busca/commit/b2e8219ead4eaba859bd24b7503b113c7aeaafa3

[2016-08-09 18:17] LeandroBraier commented on #344
Gracias Fede!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Aug 9, 2016 at 3:14 PM, Federico Arena notifications@github.com
wrote:

[2016-08-09 18:21] FAAREIA commented on #343
Ahi esta listo. Probalo todo igual por las dudas

[2016-08-09 18:59] LeandroBraier commented on #343
@FAAREIA ahi repasé los links. Algunos no funcionaban por temas del cms que ya solucioné.

Pero hay dos que tienen el link mal puesto, o por error del word o temas tecnicos de la url que me hicieron que tenga que cambiarla:

¿Qué se espera para el segundo semestre y qué planifican las empresas?

http://www.parexklaukol.com.ar/novedades/¿que-se-espera-para-el-segundo-semestre-y-que-planifican-las-e

[2016-08-09 20:05] FAAREIA commented on #343
Fijate ahi lea
Abrazo

[2016-08-09 20:12] LeandroBraier commented on #343
Fede querido, me quiero matar. El primer link sigue sin funcionar y ahora tampoco en la página. Es algo del CMS que no entiendo.

Acá lo corregí y me aseguré de que ahora funcione bien.

http://www.parexklaukol.com.ar/novedades/que-se-espera-para-el-segundo-semestre.html

Porfa actualizalo y con eso ya estamos. Ya lo mandé igualmente.

abrazo y muchísimas gracias por la paciencia!

[2016-08-09 20:15] FAAREIA commented on #343
Fijate ahora, seguro era el caracter "¿" el que jodia

[2016-08-09 20:16] LeandroBraier commented on #343
Impecable Fede!!! Muchísimas muchísimas gracias!!! Ya quedó joya.

abrazo grande

[2016-08-09 21:08] LeandroBraier commented on #346
Perdón MK. No te pude responder antes. Como viene todo? Como viste la maquetación de Fede?

[2016-08-09 21:13] LeandroBraier commented on #343
@FAAREIA consulto por las dudas. Ya está listo para copiar el código fuente y usar en Mailchimp no?

[2016-08-09 21:18] mkreyness commented on #346
ya aplique todo lo que me pasó Fede, lo unico que me queda pendiente es tomar el "area code" y pegarselo al celular por delante, salvo que sea necesario guardarlo por separado ?

Esta noche (que supongo que no va a haber nuevas maquetas todavia) voy a trabajar con:
- datos generales del evento (provincia y localidad default)
- autocomplete de corralones de la provincia vigente
- aplicar hora de co

[2016-08-09 21:21] LeandroBraier commented on #346
Perfecto MK! Gracias!! @FAAREIA está a pleno solo con esto y dando prioridad a lo que es para las raspis así que lo vas a tener en breve.

abrazo y gracias!

[2016-08-09 21:23] mkreyness commented on #346
que opinas de lo del area code, la guardo por separado o lo pego todo junto ?

[2016-08-09 21:37] LeandroBraier commented on #346
Pegalo todo junto nomas. Es mas facil guardarlo después.
El ago. 9, 2016 6:23 PM, "mkreyness" notifications@github.com escribió:

[2016-08-10 13:44] mkreyness commented on #346
Ya esta andando todo eso que dije, pero tengo un pedido para @FAAREIA : como ahora despues de contestar la pregunta general te saca automaticamente al login, no hay oportunidad de mostrarle los puntos (en realidad siempre paso eso al responder la ultima pregunta). Habria que agregar el cartel redondo de los puntos en la pantalla de login como un div oculto para poder mostrarle eventualmente ahi al

[2016-08-10 14:13] LeandroBraier commented on #346
Perfecto MK! Consulta: ese cartel de puntos sumados le dice también si
respondió correctamente o no, verdad?

2016-08-10 10:44 GMT-03:00 mkreyness notifications@github.com:

[2016-08-10 14:45] mkreyness commented on #346
claro, muestra el acumulado, no depende de la ultima respuesta

[2016-08-10 14:48] LeandroBraier commented on #346
A lo que voy es, en terminos de usabilidad, no conviene decir si fue
correcta o incorrecta? Es mucho lio agregad ponele solo es palabra?
El ago. 10, 2016 11:45 AM, "mkreyness" notifications@github.com escribió:

[2016-08-10 15:11] mkreyness commented on #346
Que pondriamos en caso de que este mal ? "INCORRECTO, seguis teniendo xxx puntos" ?
Y si esta bien "CORRECTO, ahora tenes xxx puntos" ?

[2016-08-10 15:29] LeandroBraier commented on #346
Si, me parece bien así Marce. Es bien claro para los participantes.

¿Se puede hacer sobre el pop up actual o le pido a Fede la remaquetación de
eso?

On Wed, Aug 10, 2016 at 12:11 PM, mkreyness notifications@github.com
wrote:

[2016-08-10 15:33] mkreyness commented on #346
Lo puedo manejar yo, dejalo que termine el resto de cosas.

[2016-08-10 15:34] mkreyness commented on #346
Pero lo que si necesito es asegurarme que ese popup funcione bien en la pagina de login, porque se va a terminar siempre mostrando ahi despues de CADA pregunta general, y de terminar la tira de preguntas de un tema especifico.

[2016-08-10 15:34] LeandroBraier commented on #346
Dale, genial. Genio MK!!!!

On Wed, Aug 10, 2016 at 12:33 PM, mkreyness notifications@github.com
wrote:

[2016-08-10 15:35] LeandroBraier commented on #346
Ok, esperamos respuesta de @FAAREIA respecto del pop up en la página de login.

[2016-08-10 17:29] FAAREIA commented on #343
Si todo listo

[2016-08-10 18:25] FAAREIA commented on #344
@mkreyness
https://github.com/FAAREIA/Busca/commits/master (los últimos 2 commits)
Ya estaría todo lo hablado en la reunion

http://benteveo.tv/klaukol-colocador-busca-evento/contador.html
http://benteveo.tv/klaukol-colocador-busca-evento/contador-video.html
http://benteveo.tv/klaukol-colocador-busca-evento/empieza.html
http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html
http://bentev

[2016-08-10 18:33] FAAREIA commented on #344
Perdón, me faltó la pantalla anunciando al ganador. Mañana ya la tengo

[2016-08-10 20:25] LeandroBraier commented on #344
Gracias fede!

Aprovecho a darte una devolución para algunos ajustes:

http://benteveo.tv/klaukol-colocador-busca-evento/contador-video.html

El logo de Klaukol pisa el video. No debería aparecer así.

http://benteveo.tv/klaukol-colocador-busca-evento/jugadores.html

Quitá las figuras de Korol e Ivana que quedan aplastadas.

Agregá un cartel en algún lado que aclare TOP 30 COLOCADORES EN JUEGO. Si

[2016-08-10 22:58] mkreyness commented on #344
Del countdown me ocupo yo @LeandroBraier, no lo vas a ver en la maqueta pero si en el real. Ademas empieza en 40, no en 30.

[2016-08-10 22:59] LeandroBraier commented on #344
Tal cual. Gracias MK!

On Wed, Aug 10, 2016 at 7:58 PM, mkreyness notifications@github.com wrote:

[2016-08-11 13:28] FAAREIA commented on #344
Todo actualizado.
Sume la pantalla del ganador: http://benteveo.tv/klaukol-colocador-busca-evento/ganador.html
- Guarda que estas viendo las pantallas en una resolución más chica de 1920x1080, lo cual hace que el contenido pise a corol e ivana o que se vaya fuera de pantalla capas.
- Todo el login + la trivia esta en 1366x768
- Para ver la pantalla en la resolución que quieras, en firefox en windo

[2016-08-11 13:29] LeandroBraier commented on #344
Muchas gracias Fede! Avancemos MK. Avisame si necesitas algo.  Hoy estoy en
la agencia todo el dia.
El ago. 11, 2016 10:28 AM, "Federico Arena" notifications@github.com
escribió:

[2016-08-11 13:44] mkreyness commented on #344
Buenismo que estes en la oficina porque asi podes mirar las cosas reales por el IP 192.168.2.115
Te aviso cuando este todo aplicado.
@FAAREIA agregaste a la login-01 el tema de que muestre el redondel con los puntos acumulados ? Porque es donde caigo despues de cada juego y al hacer el fadeout ya tiene que quedar el login.

[2016-08-11 14:01] FAAREIA commented on #344
Ahi lo hago, me había olvidado :-1:

[2016-08-11 14:09] mkreyness commented on #344
otras cosas:
- el backspace no me esta llevando a la pantalla anterior, Chrome me dice que tengo que hacer Alt +[flechita izquierda], funciona bien, pero no tengo idea que navegador van a usar en la notebook, ni como seria eso en los otros navegadores.
- En el menu tambien faltaria el boton para mostrar el ganador, no ? Lo que llevaria al ganador.html

[2016-08-11 14:20] FAAREIA commented on #344
https://github.com/FAAREIA/Busca/commit/b51a40b1177c09c787f54a3caefb274e08bb3283
Ahi agregué lo del login + el link a la pantalla del ganador.

Con respecto a el volver del navegador, alt + flecha-izquierda te lleva a la página anterior en Firefox, IE y Chrome, tendrían que usar cualquiera de esos 3 para asegurarse eso. El safari debe tener el mismo comportamiento seguro.

[2016-08-11 14:28] LeandroBraier opened #350 "PArex Uruguay Caido"
@mkreyness te fijás qué pasó?

Probablemente tema de IP de Duplika de nuevo. Decime nomás el nuevo ip si es así y les pido que redireccione.

[2016-08-11 14:41] mkreyness commented on #350
En este momento y si no sopla mucho el viento, el IP de parexklaukol.com.ar (y por lo tanto el que tienen que ponerle a UY y PY) es  67.227.178.197

[2016-08-11 14:42] mkreyness commented on #350
Paraguay lo tiene bien, o ya les pasamos este dato, o que se avivaron por su cuenta.

[2016-08-11 15:09] LeandroBraier commented on #344
CLaro, el backspace es en Chrome Mac. Si usamos lacompu de Eze estamos
salvados.

2016-08-11 11:20 GMT-03:00 Federico Arena notifications@github.com:

[2016-08-11 15:32] FAAREIA commented on #344
https://github.com/FAAREIA/Busca/commit/64cc04695711bc483496b4b677ba25fce15814e7
Último cambio de frase nomás.

Recuerden que no importa el navegador, tiene una forma de volver a la página anterior. Alt + flecha-izquierda debe ser algo universal en todos los navegadores, sino es sentarse y ver como es, se resuelve en 1m

[2016-08-11 15:34] LeandroBraier commented on #350
Gracias @mkreyness ! Ahi les escribí. abrazo

[2016-08-11 15:52] FAAREIA commented on #347
Si les das F5 ya se puede ver:
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html

Abrazo

[2016-08-11 16:01] LeandroBraier commented on #347
Gracias Fede!

Me parece que no se entiende manteniendo ambas cosas. Quitá el paquete de regalo cerrado de la imagen y dentro del rótulo azul poné "TE REGALAMOS PARA ESTE MES:", de forma que ese mensaje quede arriba del ticket de 1000 PUNTOS EXTRA.

Abajo del ticket podés poner el paquete abierto si queda bien, sino con eso estamos.

abrazo

[2016-08-11 16:30] LeandroBraier commented on #350
@mkreyness Marcos de Parex Uruguay me responde esto a mi pedido de que usen los DNS:

Esimtado, no hay problema, si necesito me matengas estos registros para seguir funcionando con el correo, avisame cuando lo tenas armado y te delgo a estos dns.
Un abrazo,

mail.parexuruguay.com.uy.    14400    IN    A    67.23.226.189

autoconfig.parexuruguay.com.uy.    14400    IN    A    67.23.226.189

autodis

[2016-08-11 16:46] mkreyness commented on #350
Nada de eso depende de nosotros. Nosotros malamente nos enteramos de que Duplika cambio un IP y se lo avisamos porque ELLOS manejan todo eso. No tenemos ninguna forma de poner ni sacar nada de lo que dice.

[2016-08-11 16:49] mkreyness commented on #350
Para decirtelo de otra manera, el dominio parexuruguay.com.uy NO ESTA DELEGADO a Duplika.
Solo esta APUNTADO por quien lo tenga delegado.
Fijate que si no fuera asi, no se caeria cada vez que cambia de IP, porque Duplika lo podria ajustar por su cuenta como hace con parexklaukol.com.ar (que SI esta delegado a Duplika).

[2016-08-11 16:57] mkreyness commented on #344
Lean te paso algunos URLs por si queres ir viendo, yo por las proximas 2 horas seguro no voy a tocar nada, puede haber algunas cosas que requieran algun ajuste, pero sobre todo seria bueno si cargaras temas/preguntas (y  si fueran las reales mucho mejor).
A nivel participantes y puntos esta practicamente todo vacio porque estuve probando el boton de RESET en el CMS y eso me limpia todo.

CMS:
(sie

[2016-08-11 17:00] LeandroBraier commented on #350
Sisi, entiendo eso. Entiendo entonces que no podemos hacer lo que pide porque no tenemos control sobre el dominio y que eso lo tiene que resolver la gente de Parex.

Ahora: si tuvieramos delegado por dns el dominio a Duplika, ¿SI tendríamos control sobre estos temas o tampoco?

[2016-08-11 17:38] mkreyness commented on #350
No se si la gente de Parex, probablemente el proveedor uruguayo donde esta delegado el dominio.
Si estuviera el dominio delegado a Duplika podemos hacer las cosas que permite hacer el CPanel de Duplika, siempre es mejor pasarle a ellos porque el CPanel es limitado.

[2016-08-11 17:38] mkreyness commented on #350
"ellos" me refiero a los tecnicos de Duplika.

[2016-08-11 17:42] LeandroBraier commented on #350
pero entonces, en caso de hacer esto, tendríamos que alojar todas sus casillas de mail ponele? LEs regalaríamos nuestro hosting? O es solo delegar a hostings que ellos tienen para esas cosas?

[2016-08-11 18:12] mkreyness commented on #350
No, el tema siempre es asi: vos registras un dominio en la autoridad competente, ponele en este caso nic.uy. Ahi estas obligado a ponerle los DNS a tu dominio, y ellos (el NIC) lo almacena en lo que se llama los ROOT servers. Esos DNS son la direccion de un servidor (llamemoslo ZONE server) donde corre un programa que CONTESTA PREGUNTAS, segun un protocolo. Las respuestas a las preguntas surgen de

[2016-08-11 18:14] mkreyness commented on #350
web, mail, y cualquier otro servicio puede estar en servidores separados, con IP separados, en hosting separados, siempre y cuando TODOS los cambios se le comuniquen al que maneja el zone file.

[2016-08-11 18:21] LeandroBraier commented on #350
Muchas gracias por la explicación MK!

Entonces le digo a esta persona que no podemos hacer eso porque no tenemos control del zone file. Que tendrían que pedirle eso al que maneje el zone file del dominio.

Confirmame si es correcto nomas y lo mando.

abrazo

[2016-08-11 18:33] mkreyness commented on #350
Si pero lo de "zone file" es algo muy interno de como se llama, es mejor que le digas que eso lo tiene que hacer quien tenga control del "DNS autoritativo".

[2016-08-11 18:34] LeandroBraier commented on #350
Perfecto. Con eso les respondo. Gracias!!

[2016-08-12 11:59] #350 closed, assigned to mkreyness

[2016-08-12 12:00] LeandroBraier commented on #344
Gracias MK!!! Hoy estoy de vuelta en la agencia y los estoy subiendo siguiendo estas indicaciones.

[2016-08-12 12:05] mkreyness commented on #344
la parte de videos no la estoy manejando por CMS, cuando esten los que tengan que ir me los pasas y yo reemplazo lo que hay. El formato del video suelto (que se accederia con boton desde el menu) no se si esta bien, porque tiene algo de background que en mi caso que tengo monitor de 1920 x 1200 se ve parte debajo. Probablemente en 1920 x 1080 no, pero mejor chequealo.

[2016-08-12 12:06] LeandroBraier commented on #344
Dale, lo chequeo Marce. Gracias!

[2016-08-12 12:23] FAAREIA commented on #347
Ahi lo ajusté:
http://www.parexklaukol.com.ar/_mailing/vendedores-cumple/vendedores-cumple.html

[2016-08-12 12:35] LeandroBraier commented on #347
Perfecto @FAAREIA ! Gracias!

A producción directo nomás.

abrazo

[2016-08-12 12:35] #347 closed, assigned to FAAREIA

[2016-08-12 14:47] LeandroBraier opened #351 "Ingresar no suma Puntos en Vendedores"
@mkreyness cuando puedas te fijás esto? Un usuario escribió quejándose de que no suma puntos por ingresar. Entonces la persona que administra hoy comunidades entró a Juegos y vio que no estaba, entonces lo creó. Eso me resulta raro porque siempre existió ese juego. Te fijás qué puede estar pasando que no funciona hoy?

<img width="1403" alt="captura de pantalla 2016-08-12 a las 12 12 28 p m" src="

[2016-08-12 15:09] LeandroBraier commented on #343
@FAAREIA pequeños ajustes y ya queda:

1) Cambiar texto de "Arranca “Klaukol en busca del Colocador Klaukol”
por el siguiente:
**Klaukol comienza en Agosto el primer desafío nacional de colocadores. ¿El premio? Un viaje a Barcelona para ver jugar al nº1 del mundo. Enterate más en www.klaukoltebusca.com.ar**

2) Cambiar la Cortadora XN y reemplazar por el Tile Level. A la imagen del Tile Level quit

[2016-08-12 16:42] mkreyness commented on #351
No entiendo, como va a crear el juego "puntos por ingresar", eso es de uso interno del sistema, tiene un id FIJO. Si lo borraron, hicieron flor de desastre el ID del nuevo que haya puesto no sirve para nada porque los programas no lo conocen.

[2016-08-12 16:49] mkreyness commented on #351
Si tal cual borraron el juego de ID =3,  y crearon uno de ID=131 que no sirve para nada, que esperaban que el sistema interpretara la descripcion y supiera que hacer ?
Ahi le cambie el ID  a 3 y le puse como tipo "Actividad" (al que crearon no le pusieron nada).
Pero hay que cortarle los dedos a quien hizo esto, fue un acto criminal !
Le puse los 5 puntos a c/u de los 4 que entraron hoy.... Pero e

[2016-08-12 16:52] LeandroBraier commented on #351
Muchísimas gracias MK!! Lo debe haber borrado esta persona sin querer. Para evitar que vuelva a ocurrir si podés pasame un usuario de admin que no pueda borrar cosas y se lo paso.

Está perfecto todo esto que me decís que hacés. Simplemente si llega a llegar queja de algún usuario le explicamos y se los sumo yo a mano, no te preocupes.

Cuando puedas tranqui pasame ese usuario nomás.

abrazo y gra

[2016-08-12 16:58] mkreyness commented on #351
no hace falta un usuario, deshabilito el boton eliminar de esa pantalla de juegos y listo. De ultima si algo no se usa se puede dejar no publicado. En un rato lo deshabilito.

[2016-08-12 16:58] LeandroBraier commented on #351
Perfecto MK! Gracias! Mejor aun.

[2016-08-12 16:59] mkreyness commented on #351
Listo. Que lindo que es mi CMS :)

[2016-08-12 17:07] LeandroBraier commented on #351
jajajjaja Cada dia canta mejor

On Fri, Aug 12, 2016 at 1:59 PM, mkreyness notifications@github.com wrote:

[2016-08-12 22:13] LeandroBraier commented on #344
@mkreyness

1) hubo un pequeño (muy pequeño) cambio de último momento: los clasificados son 25, no 30. Podemos cambiar eso?

Tené en cuenta cambiar en la página del ranking que donde dice TOP 30 diga TOP 25 también.

2) No te olvides de hacer un export completo como el que hablamos.

3) Lo de subir videos por CMS, cómo es? Como los copio al servidor? Si los subo por CMS se copian solos? Conviene u

[2016-08-12 22:28] mkreyness commented on #344
1) no hay problema
2) completo con las respuestas a cada pregunta ?
3) Vas a poder hacer upload como cualquier imagen, pero todavia no lo tengo listo
4) El cartel es el mismo que se muestra con cualquier error, no tiene previsto que se vaya, pero puedo hacer que se vaya, no hay problema. Si, entiendo que si viene un tipo y lee eso piensa que es para el.
5) Puedo hacer uno que no dependa de un hora

[2016-08-12 22:35] mkreyness commented on #344
1) y 4) hechos

[2016-08-12 22:52] mkreyness commented on #344
6) arreglado, el problema fue probar con un unico participante. Nunca registraba mi falta respuesta porque otro ya la habia contestado.

[2016-08-12 23:04] LeandroBraier commented on #344
Gracias MK!

2) Si, sumá las respuestas si podés.

5) Cuando termina el tiempo vuelve a LOGO.

abrazo

[2016-08-13 14:44] mkreyness commented on #344
2) puse todo en un menu "Exportacion", esta abierto en 3:
- colocadores, con el puntaje total
- actividad por colocador, con el puntaje por juego
- respuestas, con el detalle de cada respuesta dada para cada pregunta

5) Listo. Igual no se, me parece que tendrian que tener alguna forma comoda de regular el tiempo, porque cada vez que entras empieza de nuevo 15 minutos.
Faltaria definir que hace el

[2016-08-13 15:00] LeandroBraier commented on #344
jajajaj Muchas gracias @mkreyness ! El martes a la mañana vamos a testear todo final por las dudas, pero es más que nada una prueba de hardware.

2) perfecto así. AHora no estoy en la agencia y no puedo probar el export pero está perfecto así. En el primero, el de los colocadores, se incluyen todos los datos ingresados por formulario no?

5) No hay problema con que cada vez que entres diga eso. Lo

[2016-08-13 15:17] mkreyness commented on #344
2) asi es
3) si, por supuesto. Lo unico siempre tene en cuenta que tienen que ser .mp4 porque si no no andan en HTML
5) Frase cambiada

[2016-08-13 15:21] LeandroBraier commented on #344
Excelente! Gracias MK!!

Buen finde!

On Sat, Aug 13, 2016 at 12:17 PM, mkreyness notifications@github.com
wrote:

[2016-08-13 16:13] mkreyness commented on #344
igualmente

[2016-08-16 12:20] LeandroBraier commented on #344
Buen día @mkreyness ! Como va?

Estoy subiendo los videos al CMS y se suben bien. Lo que no sé es como hacer que queden vinculados al menú. Por ejemplo, en los botones Juego 1 y Juego 2 me aparece el countdown de 15 minutos (que es solo del Juego 2). Lo que debería aparecer al linkear: En "Juego 1" el Video del Juego 1, en "Juego 2" el video del Juego 2 y el botón para el countdown de 15 minutos (

[2016-08-16 13:20] FAAREIA commented on #343
Fijate ahora lea:

http://www.parexklaukol.com.ar/_mailing/parexklaukol/16-08/16-08.html
Probalo todo
Abrazo

[2016-08-16 14:02] LeandroBraier commented on #343
Gracias @FAAREIA ! Revisé todos los links:

Las últimas novedades tienen 3 ajustes:

1- El link está mal. Debe ser este: http://www.parexklaukol.com.ar/novedades/que-se-espera-para-el-segundo-semestre.html

2- Cambiar Fecha de Casa FOA a 09-09

3- El link de Tendiez no anda. Lo ajusté, usá este:

http://www.parexklaukol.com.ar/novedades/4to-encuentro-tendiez-2016-cordoba.html

Con eso envío. Graci

[2016-08-16 15:07] mkreyness commented on #344
"Juegos" y "Videos" son dos cosas distintas.
Video 1, 2 y 3 muestra videos sin countdown. ESOS son los del CMS.

"Juego 1" y "Juego 2" tienen countdowns SIN video, fue justamente una cosa que te pregunte varias veces, ya que no esta maquetado, si necesitas algo que sea COUNTDOWN + VIDEO hay que hacerlo.

No hay problema en hacerlo, copiandolo del "contador con video" pero estamos medio jugados de

[2016-08-16 15:08] mkreyness commented on #344
Asi como el video del "contador con video" tiene nombre fijo (loop.mp4), a estos dos de juegos deberiamos ponerle nombres fijos (juego1.mp4 y juego2.mp4) porque no llego a hacerlo variable.

[2016-08-16 15:14] LeandroBraier commented on #344
Hagamoslo simple MK. No llegamos a maquetar nada. A las 14 hs se llevan los equipos al depósito.

1) Llegás a agregar un segundo botón en **logo.pl** que diga Instructivo Juego 1 e Instructivo Juego 2?

2) Otra consulta: ¿me habías dicho que los 15 minutos de countdown se podían modificar desde el CMS, verdad? Porque eso es posible que cambie y lo tenga que ajustar directamente desde el evento, al

[2016-08-16 15:19] mkreyness commented on #344
1) Si, aunque no se si caben, pero de todos modos, a donde tendria que apuntarlos ? Serian mas videos ?
En tal caso decime que numeros les pondrias (no ids, sino el dato "numero" que tiene cada video.
2) No, los 15 minutos estan fijos, tampoco llego a tocarlo. Lo que puedo hacerte es botones de distinta duracion (ej, que el "juego 1" sean 15, y que el "juego 2" sean 10.
3) El principal se toca des

[2016-08-16 15:25] mkreyness commented on #344
fijate ahi puse los botones, yo estoy ahora con un monitor chico y me wrappea a 2 renglones, pero no se como se veria en 1920x1080. Capaz haya que abreviar "Instructivo".
Decime a donde apuntarlos.

[2016-08-16 15:40] LeandroBraier commented on #344
Se ve en 2 renglones también Mejor acortá a Inst Juego 1 e Inst Juego 2.

Quedaría así:

BOTONES
Inst Juego 1 lleva a ID 3
Inst Juego 2 lleva a ID 4
Video 2 llevalo a ID 5
Video 3 llevalo a ID 6

Hice que el campo de "números" coincidan con los ID para no confundirte.

COUNTDOWNS
Lo de los countdown haceme el countdown de 15 para el Juego 1 y un countdown de 10 para el Juego 2. Con eso zafamos por

[2016-08-16 15:41] mkreyness commented on #344
Ya no, porque me apagaron la PC

[2016-08-16 15:45] mkreyness commented on #344
Puedo hacer los cambios sobre un backup que tengo y mandarselo a Valentin para que lo ponga cuando instalen, aunque esto de toquetear a ultimo momento me da muy mala espina...

[2016-08-16 15:55] LeandroBraier commented on #344
Dale, hagamos asi. Mandaselo por mail a Valentin explicandole como
instalarlo. Copiame a mi en el mail porfa.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-08-16 12:45 GMT-03:00 mkreyness notifications@github.com:

[2016-08-16 15:55] mkreyness commented on #344
Ok, lo hago en un rato.

[2016-08-16 15:57] LeandroBraier commented on #344
Dale, muchas gracias MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Aug 16, 2016 at 12:55 PM, mkreyness notifications@github.com
wrote:

[2016-08-16 16:09] mkreyness commented on #344
Ya tengo estos cambios listos como para pasarlos apenas me avises que esta encendida:

Video 1 => nro 1
Video 2 => nro 5
Video 3 => nro 6
Inst Juego 1 => nro 3
Juego 1 => contador 15 min
Inst Juego 2 => nro 4
Juego 2 => contador 10 min

No se si ya cargaste (espero que si porque si no se te va a complicar) la version definitiva del loop.mp4, que es el que se ve en el boton "Cuenta regresiva 2".
Si

[2016-08-16 16:38] LeandroBraier commented on #344
Aun no lo cargué al loop. Lo voy a subir cuando conecte para vos también.

On Tue, Aug 16, 2016 at 1:09 PM, mkreyness notifications@github.com wrote:

[2016-08-16 17:32] LeandroBraier commented on #344
Nos queda pendiente:

1) Subir los cambios en los botones ajustados.

2) Quitar de obligatorio el campo corralón, ajustando el texto de github para que no se vea (ojo que en blanco sí se ve porque el fondo no es blanco)

3) El mensaje amarillo que dice "Volvé a jugar a los 5 minutos" o "No podés volver a jugar en esta pantalla" deberían durar 30 segundos más, se puede?

[2016-08-16 17:38] mkreyness commented on #344
2) "en blanco" quiero decir "vacio". No importa de que color sea algo vacio, no se va a ver.

Avisame apenas se supone que este reconectado, por ahora no aparece.

[2016-08-16 17:39] mkreyness commented on #344
3) Si, pero el campo es el mismo que se usa para todo tipo de error, por ejemplo, numero invalido o DNI incorrecto. No importa ?

[2016-08-16 17:39] mkreyness commented on #344
ahi lo veo !

[2016-08-17 01:37] FAAREIA commented on #343
Fijate ahora lea.
Abrazo

[2016-08-17 02:28] #343 closed, assigned to FAAREIA

[2016-08-18 12:16] FAAREIA commented on #348
Hecho

[2016-08-18 12:51] LeandroBraier commented on #348
Gracias @FAAREIA !

[2016-08-18 12:51] #348 closed, assigned to FAAREIA

[2016-08-18 13:35] LeandroBraier commented on #349
@mkreyness hablé con el cliente. Para resolver esto me dijeron que simplemente pongamos al Revefloor el rendimiento de 3 kg / m2, y revecret de 4 kg m2. Ya lo puse y aparecen en el calculador así que todo en orden. CIerro el ticket. abrazo

[2016-08-18 13:35] #349 closed, assigned to mkreyness

[2016-08-18 13:36] #351 closed, assigned to mkreyness

[2016-08-18 13:48] LeandroBraier commented on #346
@mkreyness salió todo muy bien en el evento!! La verdad que el sistema funcionó excelente. Solo surgen algunos ajustecitos a optimizar para el próximo evento será en 3 semanas pero estos cambios pueden estar para el jueves que viene, todo bien.

1) Que en el DNI se puedan ingresar 7 cifras, no solo 8 (tuvimos un problema con 1 participante quizá un poco viejo)

2) La registración al presionar el b

[2016-08-18 14:25] mkreyness commented on #346
1) yo no estoy haciendo ninguna validacion de la cantidad de digitos, capaz hay alguna mascara por CSS que obligue a ingresar 8 ? Pero eso con agregar un 0 delante al tipear se salva. Es mejor eso que capaz comerse un digito por error
2) Pero mira que no hace NADA, un misero insert en la base de participantes, mucho mas simple por ejemplo que contestar una pregunta de cuestionario, que graba una t

[2016-08-18 14:58] LeandroBraier commented on #346
1) Basado en la experiencia, prefiero que falte un dígito jeje

2) Lo sé, por eso me resulta tan extraño que tarde tanto y a Valen también. Investiguemos para optimizar.

3) Probemos porfa. No habría streaming. Es música de fono como un track en mp3 que dura igual que el countdown.

4) No me accede a las páginas directamente. No las carga nunca. Probamos con el registrarse y con el CMS.

6) No pod

[2016-08-18 15:00] LeandroBraier opened #352 "Usuarios de Rosario a sumar a Club de Colocadores"
@mkreyness te paso la base completa de pre + inscriptos en el evento mismo, revisada y limpia. Aun así puede ser que haya usuarios ya registrados con el mismo mail o sin mail. Lo que necesito es que los inscribas a todos por sistema (para evitar hacerlo 1 x 1) y me avises, así le mando mailing de bienvenida a los que tengo el mail.

[Base de Participantes Inscriptos en el Evento en Rosario a sumar

[2016-08-18 15:07] mkreyness commented on #352
y que hago con los que haya "registrados con el mismo mail o sin mail", los cargo igual ?

[2016-08-18 15:13] LeandroBraier commented on #352
Si podés hacerlo automáticamente, no los cargues y pasame cuales son. Si es algo manual avisame, te los filtro yo y te mando el excel de vuelta.

[2016-08-18 15:22] mkreyness commented on #352
igual por lo que veo son solo 13 tipos los que dieron un email.
Mucho mailing de bienvenida no vas a poder mandar.

[2016-08-18 15:30] LeandroBraier commented on #352
Tal cual. Pero si no los mando me retan jeje

On Thu, Aug 18, 2016 at 12:22 PM, mkreyness notifications@github.com
wrote:

[2016-08-18 15:36] mkreyness commented on #352
Apenas yo los cargue esos 13 se van a mandar solos. El problema es que todo el resto va a quedar en un estado desactivado, no importa ?

[2016-08-18 15:40] mkreyness commented on #346
1) ok cuando pueda acceder investigo que hace que no te deje ingresar menos, seguro que es una mascara del CSS de lo cual no tengo idea, pero le preguntare a Fede.
2) Y con los cuestionarios entonces NO tardaba ? Para mi es un problema de conexion de esa notebook, probaron desde otro lado, por ejemplo, desde el propio server ? Porque si el server es el mismo y la red es la misma y lo que cambia es

[2016-08-18 15:45] LeandroBraier commented on #352
Mejor aun! Genial!

El resto que queden como no confirmados o un estado que, sin mail, les
permite si tienen el usuario entrar. Puede ser?

On Thu, Aug 18, 2016 at 12:36 PM, mkreyness notifications@github.com
wrote:

[2016-08-18 16:22] mkreyness commented on #352
puedo cargar los que no tienen mail directamente en ese estado.
Ahora subo todo.

[2016-08-18 16:33] mkreyness commented on #352
listo, hubo 4 o 5 que dieron que el DNI ya estaba cargado, y un par de esos eran de los pocos que tenian email.

[2016-08-18 16:54] LeandroBraier commented on #346
1) Ok

2) Como te decía: usamos 4 máquinas distintas, mi celu y otra notebook
conectada por ethernet al lado del servidor. En todas demoraba lo mismo.
Por eso suponemos que es algo del sistema.

4) Yo nunca usé el CMS con el safari pero investiguenlo. En la práctica no
pudimos acceder desde celus ni desde compus que no sea desde el chrome.

2016-08-18 12:40 GMT-03:00 mkreyness notifications@github

[2016-08-18 16:55] LeandroBraier commented on #352
Gracias MK! No problem. Esos con DNI repetido no se generaron entonces?

On Thu, Aug 18, 2016 at 1:33 PM, mkreyness notifications@github.com wrote:

[2016-08-18 18:51] ghost commented on #346
Por momentos la red andaba lenta también desde el punto de vista
raspi-server. Tardaban en validar los dni inclusive tuve que reiniciar 2 de
ellas porque la página se colgó al validar el dni.
Marce habia un ping con una latencia de 400 ms entre mi notebook con
debian, el router y el server. Inclusive se llego a latencias mayores. Será
el router el lento?
No hice tests de la red sin router pero no

[2016-08-18 18:56] mkreyness commented on #346
Es un desastre ese router o el cableado entonces, si yo pingueo mi routercito D-LINK 600 desde mi PC que tiene ya unos años, me da siempre < 1ms, o sea algo tan chico que es inmedible. Lo que vos decis es  400 o mas veces ese tiempo.
El server no es, porque mientras estabamos por Neorouter andaba todo perfecto.

[2016-08-18 19:22] ghost commented on #346
El router estaba como server dhcp para las máquinas que se conectaban por wifi. Para la próxima lo dejo directamente como access point y que esas máquinas se conecten con ip fija.
Por otro lado en la red está el switch de 16 bocas. Que no creo que sea un problema.
Hablando del cableado, conecté al server, al router y a mi pc con los cables clase 6 que usamos para paty chile en verano y en invierno

[2016-08-18 19:32] mkreyness commented on #346
Aparentemente no seria el switch, porque tambien les pasaba por wifi, no ?
Yo de lo que mas desconfio es del router.

[2016-08-18 19:34] ghost commented on #346
Para descartar el factor router voy a ir a la oficina y probar con el nisuta y listo

[2016-08-18 19:51] LeandroBraier commented on #264
@mkreyness como andás? Reactivo este tema porque tenemos avances de la app de Klaukol y necesitamos configurar este server que tenemos habilitado en Digital Ocean. Confirmame si tenés el acceso. Los datos que tengo son estos:

https://cloud.digitalocean.com/login
info@benteveo.tv
6c3cfc8be6682ccb

Te digo lo que me piden los desarrolladores: cuando hablamos de un server, hablamos de un servicio RE

[2016-08-18 19:53] LeandroBraier commented on #346
Mañana estamos en la produ Valen si querés venirte y lo probamos. De
cualquier forma igual dejamos ya conectado el servidor para que MK siga
investigando. Gracias a los dos!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-08-18 16:34 GMT-03:00 valentinsabbath notifications@github.com:

[2016-08-18 19:59] mkreyness commented on #264
me rechaza el login con esos datos, no se que mirar.
Ese server es "nuestro" ? No entiendo bien.
Si se puede o no implementar algo en ese server, depende de lo que el server nos deje hacer (por ejemplo, si fuera el de Guilleron, donde no se pueden correr scripts, seguro que no).
La verdad que ni me acuerdo de que se trata esto, necesitan acceder a una base de datos PROPIA DEL APP ? No entiendo por

[2016-08-18 20:04] LeandroBraier commented on #264
Tenés razón, cambió la password MS.

probá con esta:

TkP-2gw-Vuv-t2Y

[2016-08-18 20:10] mkreyness commented on #264
Si ahi pude entrar, y abrir una consola del "droplet" ParexApp, pero no se que user/password poner ahi. Obviamente probe con los mismos, pero no funca.

[2016-08-18 20:28] LeandroBraier commented on #264
Probá con estas:

root@159.203.149.125,

pass: bl4cks4bb4th

(yo no entiendo del tema, pero me guío por mails viejos y mi intuición)

[2016-08-18 20:34] mkreyness commented on #264
tampoco

[2016-08-18 20:35] LeandroBraier commented on #264
Recurro a @valentinsabbath que estuvo seteando eso hace ya más de un mes. Te acordás Valen como entrar al droplet de la app de Parex en Digital Ocean?

[2016-08-18 20:43] ghost commented on #346
Oka mañana me paso!

[2016-08-18 21:05] ghost commented on #264
Ese server es nuestro pero lo usan esos desarrolladores
El acceso es root@104.236.206.14 (ip dinamica)
El pass era bl4cks4bb4th pero no se por qué no anda, quizás lo cambiaron ellos.

[2016-08-18 21:07] ghost commented on #264
Igualmente para qué queremos entrar al server que están usando los de la app.
Capaz que lo que necesitan es un servidor de mayores prestaciones o un dominio

[2016-08-18 21:12] LeandroBraier commented on #264
jajaja Parece un teléfono descompuesto. Aclaro por las dudas:

Los de la app no tienen server. Están desarrollando la app y NECESITAN un server. Nosotros contratamos ese y creamos ese mismo Droplet. Cuando ellos entraron, me dijeron que no estaba preparado para lo que ellos necesitan, que es:

**Cuando hablamos de un server, hablamos de un servicio REST, donde la app puede realizar consultas, envi

[2016-08-18 21:15] mkreyness commented on #264
O sea, en vez de decirte "no tenemos la menor idea de como hacerlo" te dicen "esto es lo que NECESITAMOS" ?
Ellos deberian HACERLO, no PEDIRLO.

[2016-08-18 21:16] LeandroBraier commented on #264
Lo que me dijo es que otros proveedores se lo setearon MK. Puede ser lo que vos decís, o que en su presupuesto no incluyeron setear ese server.

Nosotros no sabemos cómo hacerlo entonces?

[2016-08-18 21:17] mkreyness commented on #264
No se QUE hacer, por supuesto si se COMO hacerlo, pero como yo no tengo la menor idea de lo que hace o necesita su app, no PUEDO hacerlo.

[2016-08-18 21:17] mkreyness commented on #264
Es ridiculo que pateen la pelota afuera.

[2016-08-18 21:18] mkreyness commented on #264
o sea, les diste un server pelado, y no saben que hacer con el.

[2016-08-18 21:18] ghost commented on #264
Hace rato que tienen ese server

[2016-08-18 21:18] ghost commented on #264
Hace como 3 meses

[2016-08-18 21:19] mkreyness commented on #264
yo sugeri en su momento que se les de un server separado para que no me rompan las cosas del server de Klaukol

[2016-08-18 21:19] mkreyness commented on #264
Pero si tengo que hacerlo yo, lo hago en el de Klaukol directamente.

[2016-08-18 21:22] LeandroBraier commented on #264
Te entiendo MK, pero comparto lo que dijiste antes.

Van a tener acceso al server de Klaukol (lo cual no conviene desde tema seguridad), que además de por sí lo vamos a mudar proximamente a nuestro server de Amazon propio.

Porfa, ¿no podrán setearlo vos o Valen en este servidor? No tiene que ser ya pero resolvamoslo de una vez. Hace meses que estamos dando vuelta con esto, seguro ya perdimos más

[2016-08-18 21:22] mkreyness commented on #264
Setear QUE COSA !
1) no puedo entrar a ver que hay
2) no se que quieren.

[2016-08-18 21:23] mkreyness commented on #264
No se puede hacer algo "generico", hay que hacer algo ESPECIFICO de las necesidades de ellos, las conocen ellos, no yo.

[2016-08-18 21:23] mkreyness commented on #264
Es como si vinieras y me dijeras "me haces un server para el sistema" y yo te digo "que sistema", y vos me decis "uno que yo tengo, dale, seteame el server para que conteste lo que yo quiera cuando quiera"

[2016-08-18 21:25] mkreyness commented on #264
Si ellos solo van a usar los servicios que yo implemente (cuando sepa que necesitan), no van a tener acceso al servidor, van a ser usuarios de paginas web, como cualquiera, salvo que esa paginas van a tener contenido de datos (json).